{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Data Operations in Zoho Analytics — covering row operations, import/export workflows, and datasource sync/connectivity."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Row Operations",
      "description": "APIs for adding, updating, and deleting rows in a view."
    },
    {
      "name": "Data Import (Synchronous)",
      "description": "APIs for importing data directly into new or existing tables."
    },
    {
      "name": "Data Import (Asynchronous)",
      "description": "APIs for creating and monitoring asynchronous import jobs and batch imports."
    },
    {
      "name": "Data Export (Synchronous)",
      "description": "APIs for exporting view data directly."
    },
    {
      "name": "Data Export (Asynchronous)",
      "description": "APIs for creating export jobs and downloading generated exports."
    },
    {
      "name": "Data Sync & Connectivity",
      "description": "APIs for import history, datasource sync/refetch, datasource updates, and listing datasources."
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/rows": {
      "post": {
        "tags": [
          "Row Operations"
        ],
        "summary": "Add Row",
        "description": "Adds a single row to the specified table.",
        "operationId": "addRow",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID (can be obtained using Get Organizations API)."
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AddRowConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "addRow": {
                  "description": "Writes a single row using the column name and value pairs sent in columns.",
                  "summary": "Add a row",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Region": "East",
                        "Sales": "1000"
                      }
                    }
                  }
                },
                "addDateRow": {
                  "description": "Writes a row containing date columns, declaring the format of each date column separately.",
                  "summary": "Add dated row",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Region": "East",
                        "Sales": "1000",
                        "Order Date": "01-Jan-2026",
                        "Ship Date": "15/01/2026"
                      },
                      "columnDateFormat": {
                        "Order Date": "dd-MMM-yyyy",
                        "Ship Date": "dd/MM/yyyy"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRowResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Add row",
                      "data": {
                        "addedColumns": {
                          "region": "East",
                          "Sales": "1000"
                        },
                        "invalidColumns": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "Row Operations"
        ],
        "summary": "Update Rows",
        "description": "Updates rows in the specified table.",
        "operationId": "updateRows",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID (can be obtained using Get Organizations API)."
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateRowsConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "updateMatching": {
                  "description": "Updates only the rows that satisfy the criteria.",
                  "summary": "Update matching rows",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Sales": "2000"
                      },
                      "criteria": "\"SalesTable\".\"Region\"='East'"
                    }
                  }
                },
                "updateAll": {
                  "description": "Updates every row in the table. criteria must not be sent along with updateAllRows.",
                  "summary": "Update all rows",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Sales": "2000"
                      },
                      "updateAllRows": true
                    }
                  }
                },
                "upsertRow": {
                  "description": "Updates the rows matching the criteria, and adds a new row when nothing matches.",
                  "summary": "Update or add",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Region": "East",
                        "Sales": "2000"
                      },
                      "criteria": "\"SalesTable\".\"Region\"='East'",
                      "addIfNotExist": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.update"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRowsResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Update row",
                      "data": {
                        "updatedColumns": {
                          "Region": "East",
                          "Sales": "1000"
                        },
                        "updatedRows": 27,
                        "invalidColumns": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Row Operations"
        ],
        "summary": "Delete Row",
        "operationId": "deleteRows",
        "description": "Deletes rows from the specified table. Note: While OpenAPI generally discourages request bodies for DELETE operations, this API supports it for detailed filtering.",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID (can be obtained using Get Organizations API)."
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeleteRowsConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "deleteMatching": {
                  "description": "Deletes only the rows that satisfy the criteria.",
                  "summary": "Delete matching rows",
                  "value": {
                    "CONFIG": {
                      "criteria": "\"SalesTable\".\"Region\"='East'"
                    }
                  }
                },
                "deleteAll": {
                  "description": "Deletes every row in the table. criteria must not be sent along with deleteAllRows.",
                  "summary": "Delete all rows",
                  "value": {
                    "CONFIG": {
                      "deleteAllRows": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.delete"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRowsResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Delete row",
                      "data": {
                        "deletedRows": 27
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/data": {
      "post": {
        "tags": [
          "Data Import (Synchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Import Data into a New Table",
        "description": "Use the Bulk APIs to create a new table and import data into it synchronously. ",
        "operationId": "importDataNewTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with either FILE or DATA - exactly one of the two.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be imported. Maximum allowed file size is 20 MB. Send either FILE or DATA, not both."
                  },
                  "DATA": {
                    "type": "string",
                    "description": "The raw string to be imported, in the format declared by fileType in CONFIG. Send either FILE or DATA, not both."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/ImportConfigNewTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "DATA": {
                  "contentType": "text/plain"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "fileImport": {
                  "description": "File upload. The FILE part carries the file contents; the value shown here is a placeholder for the uploaded file.",
                  "summary": "Import using FILE",
                  "value": {
                    "FILE": "@/path/to/Sales.csv",
                    "CONFIG": {
                      "tableName": "Sales",
                      "fileType": "csv",
                      "autoIdentify": true
                    }
                  }
                },
                "dataImport": {
                  "description": "Raw data import. The data is sent inline as a string, with no file upload.",
                  "summary": "Import using DATA",
                  "value": {
                    "DATA": "[{\"Region\":\"East\",\"Sales\":\"1000\"},{\"Region\":\"West\",\"Sales\":\"2000\"}]",
                    "CONFIG": {
                      "tableName": "Sales",
                      "fileType": "json",
                      "autoIdentify": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful import data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Import data",
                      "data": {
                        "viewId": "1767024000003153002",
                        "importSummary": {
                          "importType": "APPEND",
                          "totalColumnCount": 7,
                          "selectedColumnCount": 7,
                          "totalRowCount": 101,
                          "successRowCount": 101,
                          "warnings": 0,
                          "importOperation": "created"
                        },
                        "columnDetails": {
                          "Date": "Date",
                          "Region": "Plain Text",
                          "Product Category": "Plain Text",
                          "Product": "Plain Text",
                          "Customer Name": "Plain Text",
                          "Sales": "Currency",
                          "Cost": "Currency"
                        },
                        "importErrors": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/data": {
      "post": {
        "tags": [
          "Data Import (Synchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Import Data into an Existing Table",
        "description": "Use Bulk APIs to import data into an existing specified table synchronously.",
        "operationId": "importDataExistingTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with either FILE or DATA - exactly one of the two.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be imported. Maximum allowed file size is 20 MB. Send either FILE or DATA, not both."
                  },
                  "DATA": {
                    "type": "string",
                    "description": "The raw string to be imported, in the format declared by fileType in CONFIG. Send either FILE or DATA, not both."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/ImportConfigExistingTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "DATA": {
                  "contentType": "text/plain"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "fileImport": {
                  "description": "File upload using the updateadd import type. Rows whose matchingColumns values match an existing row are updated; the rest are appended.",
                  "summary": "Import using FILE",
                  "value": {
                    "FILE": "@/path/to/Sales.csv",
                    "CONFIG": {
                      "importType": "updateadd",
                      "fileType": "csv",
                      "autoIdentify": true,
                      "matchingColumns": [
                        "Region",
                        "Product"
                      ]
                    }
                  }
                },
                "dataImport": {
                  "description": "Raw data import using the updateadd import type. The data is sent inline as a string, with no file upload.",
                  "summary": "Import using DATA",
                  "value": {
                    "DATA": "[{\"Region\":\"East\",\"Sales\":\"1000\"},{\"Region\":\"West\",\"Sales\":\"2000\"}]",
                    "CONFIG": {
                      "importType": "updateadd",
                      "fileType": "json",
                      "autoIdentify": true,
                      "matchingColumns": [
                        "Region",
                        "Product"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful import data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExistImportSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Import data",
                      "data": {
                        "viewId": "1767024000003153002",
                        "importSummary": {
                          "importType": "APPEND",
                          "totalColumnCount": 7,
                          "selectedColumnCount": 7,
                          "totalRowCount": 101,
                          "successRowCount": 101,
                          "warnings": 0,
                          "importOperation": "updated"
                        },
                        "columnDetails": {
                          "Date": "Date",
                          "Region": "Plain Text",
                          "Product Category": "Plain Text",
                          "Product": "Plain Text",
                          "Customer Name": "Plain Text",
                          "Sales": "Currency",
                          "Cost": "Currency"
                        },
                        "importErrors": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Data Export (Synchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.read"
            ]
          }
        ],
        "summary": "Export Data from a View",
        "description": "Use Bulk APIs to export data from the specified view synchronously.\n\nNote: Export Data API is restricted for certain resources (given below). For these cases, use the Asynchronous Export APIs instead:\n\n  - Tables having more than one million rows.\n  - Tables and Views from live connect workspaces.\n  - Dashboard and QueryTable view types.",
        "operationId": "exportDataView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "in": "query",
            "name": "CONFIG",
            "schema": {
              "$ref": "#/components/schemas/ExportConfig"
            },
            "examples": {
              "filteredExport": {
                "description": "Exports only the rows matching the criteria as a CSV file.",
                "summary": "Export using criteria",
                "value": {
                  "responseFormat": "csv",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "delimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "protectedExport": {
                "description": "Exports the selected columns into a password protected CSV file. Shows every attribute the CONFIG accepts; only the mandatory ones need to be sent.",
                "summary": "Export with password",
                "value": {
                  "responseFormat": "csv",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "password": "Zoho@123",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "showHiddenCols": false,
                  "showPersonalCols": false,
                  "validateSystemTags": true,
                  "delimiter": 0,
                  "recordDelimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "jsonExport": {
                "description": "Exports the data as a JSON file with each row returned as column name and value pairs.",
                "summary": "Export as JSON",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "json",
                  "keyValueFormat": true
                }
              },
              "xmlExport": {
                "description": "Exports the data as an XML file. Set keyValueFormat to true to return each row as column name and value pairs.",
                "summary": "Export as XML",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "xml",
                  "keyValueFormat": false
                }
              },
              "xlsExport": {
                "description": "Exports the selected columns into an Excel workbook.",
                "summary": "Export as XLS",
                "value": {
                  "responseFormat": "xls",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "includeHeader": true,
                  "includeRowNums": true
                }
              },
              "pdfExport": {
                "description": "Exports the data as a PDF file using the PDF specific page setup attributes.",
                "summary": "Export as PDF",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "pdf",
                  "paperSize": 4,
                  "paperStyle": "Portrait",
                  "showTitle": 0,
                  "exportLanguage": 0
                }
              },
              "htmlExport": {
                "description": "Exports the data as an HTML file with the title and description placed at the top.",
                "summary": "Export as HTML",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "html",
                  "includeTitle": 0,
                  "includeDesc": 0
                }
              },
              "imageExport": {
                "description": "Exports the view as an image of the given dimensions and format.",
                "summary": "Export as image",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "image",
                  "imageFormat": "png",
                  "width": 500,
                  "height": 400,
                  "legend": true
                }
              }
            },
            "description": "JSONObject with configuration to export data from the specified view. (Refer `ExportConfig` schema). Optional - when it is not sent the whole view is exported as csv with the default settings. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful export data response. The content type will vary based on `responseFormat` in CONFIG.",
            "content": {
              "text/csv": {},
              "application/json": {},
              "application/xml": {},
              "application/vnd.ms-excel": {},
              "application/pdf": {},
              "text/html": {},
              "image/png": {},
              "image/jpeg": {}
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/data": {
      "post": {
        "tags": [
          "Data Import (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Create Import Job for a New Table",
        "description": "Create an import job to import data into a new table asynchronously. Max allowed file size is 100 MB.\n\nWorkflow of Asynchronous Import API:\n\n1. Create Import Job:\n   - Initiate the import by calling the Create Import Job API.\n   - A unique JOBID will be returned in the response, which serves as the reference for tracking the import job.\n\n2. Check Job Status:\n   - Use the Get Import Job Details API to monitor the status of the import job.\n   - The JOBID must be used in the request to check the status periodically (e.g., every 10 seconds).\n   - The response will include a JOBCODE, which indicates the current state of the job.\n\nHandling Import Job Status Based on JOBCODE:\n  - If the JOBCODE is 1001 or 1002, wait for a few seconds and repeat the status check loop.\n  - If the JOBCODE is 1003, stop the status check and inspect the error message for details.\n  - If the JOBCODE is 1005, verify the validity of the JOBID and terminate the status check.\n  - If the JOBCODE is 1004, the job is complete, and the import summary will be returned.\n\nLimitations:\n  - The import job summary is retained only for one hour after job completion.\n  - A maximum of 5 simultaneous import jobs is allowed per organization.\n  - A maximum file size of 100 MB can be imported.",
        "operationId": "createImportJobNewTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with FILE.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "FILE",
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be imported. Format should be multipart/form-data. Maximum allowed file size is 100 MB."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/BulkImportConfigNewTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "csvImport": {
                  "description": "File upload. The FILE part carries the file contents; the value shown here is a placeholder for the uploaded file.",
                  "summary": "CSV file import",
                  "value": {
                    "FILE": "@/path/to/Sales.csv",
                    "CONFIG": {
                      "tableName": "Sales",
                      "fileType": "csv",
                      "autoIdentify": true
                    }
                  }
                },
                "jsonImport": {
                  "description": "File upload. The FILE part carries the file contents; the value shown here is a placeholder for the uploaded file.",
                  "summary": "JSON file import",
                  "value": {
                    "FILE": "@/path/to/Sales.json",
                    "CONFIG": {
                      "tableName": "Sales",
                      "fileType": "json",
                      "autoIdentify": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful import job creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobCreationResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk import job",
                      "data": {
                        "jobId": "1767024000003153087"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Data Export (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.read"
            ]
          }
        ],
        "summary": "Create Export Job using SQL Query",
        "description": "Create an export job using an SQL SELECT statement to initiate data export asynchronously.\n\nWorkflow:\n1. Create Export Job:\n  - Call the Create Export Job API.\n  - Receive a unique JOBID to track the export status.\n\n2. Check Export Job Status:\n  - Use the JOBID with the Get Export Job Details API.\n  - Poll every few seconds to get the current JOBCODE.\n\n   JOBCODEs and Meaning:\n   - 1001: JOB NOT INITIATED\n     → Export job acknowledged but not started. Retry after a short delay.\n   - 1002: JOB IN PROGRESS\n     → Export is currently being processed. Continue polling.\n   - 1003: ERROR OCCURRED\n     → An error occurred. Stop polling and investigate the error.\n   - 1004: JOB COMPLETED\n     → Export process completed. Proceed to download.\n   - 1005: JOB NOT FOUND\n     → Provided JOBID is invalid. Stop polling and verify the JOBID.\n\n3. Download Exported Data:\n  - Once JOBCODE is 1004, use the Download Exported Data API to download the exported file.\n\nLimitations:\n- Exported file will be available only for 1 hour after job completion.\n- Maximum 5 concurrent export jobs are allowed per organization.",
        "operationId": "createExportJobSQLQuery",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "in": "query",
            "name": "CONFIG",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExportJobConfigSQLQuery"
            },
            "examples": {
              "filteredExport": {
                "description": "Runs the SQL SELECT statement and exports the result as a CSV file.",
                "summary": "Export query result",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "csv",
                  "delimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "tableFilteredExport": {
                "description": "Applies one filter expression per table referenced by the query.",
                "summary": "Export using per-table criteria",
                "value": {
                  "sqlQuery": "SELECT \"Sales\".\"Region\", \"Sales\".\"Amount\" FROM \"Sales\" JOIN \"Targets\" ON \"Sales\".\"Region\" = \"Targets\".\"Region\"",
                  "responseFormat": "csv",
                  "tableCriteriaList": [
                    {
                      "viewId": "466206000000072000",
                      "criteria": "\"Region\"='East'"
                    },
                    {
                      "viewId": "466206000000072500",
                      "criteria": "\"Quota\">100000"
                    }
                  ]
                }
              },
              "protectedExport": {
                "description": "Exports the selected columns into a password protected CSV file. Shows every attribute the CONFIG accepts; only the mandatory ones need to be sent.",
                "summary": "Export with password",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "csv",
                  "password": "Zoho@123",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "showHiddenCols": false,
                  "showPersonalCols": false,
                  "callbackUrl": "https://www.example.com/exportcallback",
                  "validateSystemTags": true,
                  "delimiter": 0,
                  "recordDelimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "jsonExport": {
                "description": "Exports the data as a JSON file with each row returned as column name and value pairs.",
                "summary": "Export as JSON",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "json",
                  "keyValueFormat": true
                }
              },
              "xmlExport": {
                "description": "Exports the data as an XML file. Set keyValueFormat to true to return each row as column name and value pairs.",
                "summary": "Export as XML",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "xml",
                  "keyValueFormat": false
                }
              },
              "xlsExport": {
                "description": "Exports the selected columns into an Excel workbook.",
                "summary": "Export as XLS",
                "value": {
                  "responseFormat": "xls",
                  "sqlQuery": "SELECT \"Region\", \"Sales\" FROM \"SalesTable\"",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "includeHeader": true,
                  "includeRowNums": true
                }
              },
              "pdfExport": {
                "description": "Exports the data as a PDF file using the PDF specific page setup attributes.",
                "summary": "Export as PDF",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "pdf",
                  "paperSize": 4,
                  "paperStyle": "Portrait",
                  "showTitle": 0,
                  "exportLanguage": 0
                }
              },
              "htmlExport": {
                "description": "Exports the data as an HTML file with the title and description placed at the top.",
                "summary": "Export as HTML",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "html",
                  "includeTitle": 0,
                  "includeDesc": 0
                }
              }
            },
            "description": "JSONObject with configuration to create an export job using an SQL SELECT statement. (Refer `ExportJobConfigSQLQuery` schema). As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful bulk export response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobCreationResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk export job",
                      "data": {
                        "jobId": "1767024000008787011"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/views/{view-id}/data": {
      "post": {
        "tags": [
          "Data Import (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Create Import Job for an Existing Table",
        "description": "Create an import job to import data into a specified existing table asynchronously. Max allowed file size is 100 MB. \n\nWorkflow of Asynchronous Import API:\n\n1. Create Import Job:\n   - Initiate the import by calling the Create Import Job API.\n   - A unique JOBID will be returned in the response, which serves as the reference for tracking the import job.\n\n2. Check Job Status:\n   - Use the Get Import Job Details API to monitor the status of the import job.\n   - The JOBID must be used in the request to check the status periodically (e.g., every 10 seconds).\n   - The response will include a JOBCODE, which indicates the current state of the job.\n\nHandling Import Job Status Based on JOBCODE:\n  - If the JOBCODE is 1001 or 1002, wait for a few seconds and repeat the status check loop.\n  - If the JOBCODE is 1003, stop the status check and inspect the error message for details.\n  - If the JOBCODE is 1005, verify the validity of the JOBID and terminate the status check.\n  - If the JOBCODE is 1004, the job is complete, and the import summary will be returned.\n\nLimitations:\n  - The import job summary is retained only for one hour after job completion.\n  - A maximum of 5 simultaneous import jobs is allowed per organization.\n  - A maximum file size of 100 MB can be imported.",
        "operationId": "createImportJobExistingTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with FILE.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "FILE",
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be imported. Format should be multipart/form-data. Maximum allowed file size is 100 MB."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/BulkImportConfigExistingTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "appendImport": {
                  "description": "Appends every row in the uploaded file to the table.",
                  "summary": "Append import",
                  "value": {
                    "FILE": "@/path/to/Sales.csv",
                    "CONFIG": {
                      "importType": "append",
                      "fileType": "csv",
                      "autoIdentify": true
                    }
                  }
                },
                "updateAddImport": {
                  "description": "Rows whose matchingColumns values match an existing row are updated; the remaining rows are appended as new rows. matchingColumns is mandatory for this import type.",
                  "summary": "Update add import",
                  "value": {
                    "FILE": "@/path/to/Sales.json",
                    "CONFIG": {
                      "importType": "updateadd",
                      "fileType": "json",
                      "autoIdentify": true,
                      "matchingColumns": [
                        "Region",
                        "Product"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful import job creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobCreationResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk import job",
                      "data": {
                        "jobId": "1767024000003153087"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Data Export (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.read"
            ]
          }
        ],
        "summary": "Create Export Job using View ID",
        "description": "Create an export job to initiate data export for the mentioned view asynchronously. \n\nWorkflow:\n1. Create Export Job:\n  - Call the Create Export Job API.\n  - Receive a unique JOBID to track the export status.\n\n2. Check Export Job Status:\n  - Use the JOBID with the Get Export Job Details API.\n  - Poll every few seconds to get the current JOBCODE.\n\n   JOBCODEs and Meaning:\n   - 1001: JOB NOT INITIATED\n     → Export job acknowledged but not started. Retry after a short delay.\n   - 1002: JOB IN PROGRESS\n     → Export is currently being processed. Continue polling.\n   - 1003: ERROR OCCURRED\n     → An error occurred. Stop polling and investigate the error.\n   - 1004: JOB COMPLETED\n     → Export process completed. Proceed to download.\n   - 1005: JOB NOT FOUND\n     → Provided JOBID is invalid. Stop polling and verify the JOBID.\n\n3. Download Exported Data:\n  - Once JOBCODE is 1004, use the Download Exported Data API to download the exported file.\n\nLimitations:\n- Exported file will be available only for 1 hour after job completion.\n- Maximum 5 concurrent export jobs are allowed per organization.",
        "operationId": "createExportJobViewId",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "in": "query",
            "name": "CONFIG",
            "schema": {
              "$ref": "#/components/schemas/ExportJobConfigViewId"
            },
            "examples": {
              "filteredExport": {
                "description": "Exports only the rows matching the criteria as a CSV file.",
                "summary": "Export using criteria",
                "value": {
                  "responseFormat": "csv",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "delimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "protectedExport": {
                "description": "Exports the selected columns into a password protected CSV file. Shows every attribute the CONFIG accepts; only the mandatory ones need to be sent.",
                "summary": "Export with password",
                "value": {
                  "responseFormat": "csv",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "password": "Zoho@123",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "showHiddenCols": false,
                  "showPersonalCols": false,
                  "generateTOC": false,
                  "dashboardLayout": 1,
                  "callbackUrl": "https://www.example.com/exportcallback",
                  "validateSystemTags": true,
                  "delimiter": 0,
                  "recordDelimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "jsonExport": {
                "description": "Exports the data as a JSON file with each row returned as column name and value pairs.",
                "summary": "Export as JSON",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "json",
                  "keyValueFormat": true
                }
              },
              "xmlExport": {
                "description": "Exports the data as an XML file. Set keyValueFormat to true to return each row as column name and value pairs.",
                "summary": "Export as XML",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "xml",
                  "keyValueFormat": false
                }
              },
              "xlsExport": {
                "description": "Exports the selected columns into an Excel workbook.",
                "summary": "Export as XLS",
                "value": {
                  "responseFormat": "xls",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "includeHeader": true,
                  "includeRowNums": true
                }
              },
              "pdfExport": {
                "description": "Exports the data as a PDF file using the PDF specific page setup attributes.",
                "summary": "Export as PDF",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "pdf",
                  "paperSize": 4,
                  "paperStyle": "Portrait",
                  "showTitle": 0,
                  "exportLanguage": 0
                }
              },
              "htmlExport": {
                "description": "Exports the data as an HTML file with the title and description placed at the top.",
                "summary": "Export as HTML",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "html",
                  "includeTitle": 0,
                  "includeDesc": 0
                }
              },
              "imageExport": {
                "description": "Exports the view as an image of the given dimensions and format.",
                "summary": "Export as image",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "image",
                  "imageFormat": "png",
                  "width": 500,
                  "height": 400,
                  "legend": true
                }
              }
            },
            "description": "JSONObject with configuration to initiate an export job for the specified view. (Refer `ExportJobConfigViewId` schema). As this is a GET request, the value must be stringified and URL encoded before it is sent. Optional - when it is not sent, a csv export of the whole view is queued with the default settings.",
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful export job creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobCreationResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk export job",
                      "data": {
                        "jobId": "1767024000008787011"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/data/batch": {
      "post": {
        "tags": [
          "Data Import (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Batch Import Data into New Table",
        "description": "Initiate an import job to create a new table and import data in batches into the created table.\n\n The Batch Import API allows you to upload large amounts of data in batches. A large data file is split into small batches, each batch not exceeding 100 MB, and imported using batch import. Alternatively, you can also use Zoho Analytics SDKs to simplify the batching process.\n\nTo import large amounts of data using Batch Import, follow the steps below:\n\n- Split the large CSV file into batches (each batch not exceeding 100MB) and upload the first batch using the Batch Import API's {\"batchKey\":\"start\"} attribute.\n- The server will generate a unique job ID and batch key for the import job and send them to the user in the response.\n- Use the received batch key to submit the subsequent batches to the Batch Import API.\n- Mark the end of the upload by adding {\"isLastBatch\":true} to the final batch.\n\nYou can check the import job status using the 'Get Import Job Details' API with the jobId received in the response.\n\nNotes:\n- After the first batch is imported, scheduled import of the remaining batches begins automatically.\n- For 'Append' and 'UpdateAdd' import types, each batch is committed individually.\n- For 'TruncateAdd', data is committed only after the final batch is uploaded.\n- Batch order is preserved throughout.\n- An import summary is stored upon job completion or failure.",
        "operationId": "batchImportNewTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with FILE.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "FILE",
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The batch file to be imported. Format should be multipart/form-data. Maximum allowed size per batch is 100 MB."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/BatchImportConfigNewTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "firstBatch": {
                  "description": "Opens the batch import job. batchKey must be \"start\"; the response returns the batchKey to use for every following batch.",
                  "summary": "First batch",
                  "value": {
                    "FILE": "@/path/to/Sales_batch1.csv",
                    "CONFIG": {
                      "batchKey": "start",
                      "isLastBatch": false,
                      "tableName": "SalesTable",
                      "autoIdentify": true,
                      "onError": "setcolumnempty"
                    }
                  }
                },
                "followUpBatch": {
                  "description": "Uploads an intermediate batch using the batchKey returned by the first call.",
                  "summary": "Follow up batch",
                  "value": {
                    "FILE": "@/path/to/Sales_batch2.csv",
                    "CONFIG": {
                      "batchKey": "1694703482470_1767024000008426012_SalesTable",
                      "isLastBatch": false,
                      "tableName": "SalesTable",
                      "autoIdentify": true,
                      "onError": "setcolumnempty"
                    }
                  }
                },
                "lastBatch": {
                  "description": "Uploads the final batch and closes the job. isLastBatch must be true.",
                  "summary": "Last batch",
                  "value": {
                    "FILE": "@/path/to/Sales_batch3.csv",
                    "CONFIG": {
                      "batchKey": "1694703482470_1767024000008426012_SalesTable",
                      "isLastBatch": true,
                      "tableName": "SalesTable",
                      "autoIdentify": true,
                      "onError": "setcolumnempty"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful batch import response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchImportSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk import job",
                      "data": {
                        "batchKey": "1694703482470_1767024000008426012_SalesTable",
                        "jobId": "1767024000008787011"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/views/{view-id}/data/batch": {
      "post": {
        "tags": [
          "Data Import (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Batch Import Data into Existing Table",
        "description": "Initiate an import job to import data present in multiple batch files into the specified existing table.\n\n The Batch Import API allows you to upload large amounts of data in batches. A large data file is split into small batches, each batch not exceeding 100 MB, and imported using batch import. Alternatively, you can also use Zoho Analytics SDKs to simplify the batching process.\n\nTo import large amounts of data using Batch Import, follow the steps below:\n\n- Split the large CSV file into batches (each batch not exceeding 100MB) and upload the first batch using the Batch Import API's {\"batchKey\":\"start\"} attribute.\n- The server will generate a unique job ID and batch key for the import job and send them to the user in the response.\n- Use the received batch key to submit the subsequent batches to the Batch Import API.\n- Mark the end of the upload by adding {\"isLastBatch\":true} to the final batch.\n\nYou can check the import job status using the 'Get Import Job Details' API with the jobId received in the response.\n\nNotes:\n- After the first batch is imported, scheduled import of the remaining batches begins automatically.\n- For 'Append' and 'UpdateAdd' import types, each batch is committed individually.\n- For 'TruncateAdd', data is committed only after the final batch is uploaded.\n- Batch order is preserved throughout.\n- An import summary is stored upon job completion or failure.",
        "operationId": "batchImportExistingTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with FILE.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "FILE",
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The batch file to be imported. Format should be multipart/form-data. Maximum allowed size per batch is 100 MB."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/BatchImportConfigExistingTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "firstBatch": {
                  "description": "Opens the batch import job using the updateadd import type. batchKey must be \"start\"; the response returns the batchKey to use for every following batch.",
                  "summary": "First batch",
                  "value": {
                    "FILE": "@/path/to/Sales_batch1.csv",
                    "CONFIG": {
                      "batchKey": "start",
                      "isLastBatch": false,
                      "importType": "updateadd",
                      "autoIdentify": true,
                      "matchingColumns": [
                        "Region",
                        "Product"
                      ],
                      "onError": "setcolumnempty"
                    }
                  }
                },
                "followUpBatch": {
                  "description": "Uploads an intermediate batch using the batchKey returned by the first call. Every batch repeats the same import configuration.",
                  "summary": "Follow up batch",
                  "value": {
                    "FILE": "@/path/to/Sales_batch2.csv",
                    "CONFIG": {
                      "batchKey": "1694703482470_1767024000008426012_SalesTable",
                      "isLastBatch": false,
                      "importType": "updateadd",
                      "autoIdentify": true,
                      "matchingColumns": [
                        "Region",
                        "Product"
                      ],
                      "onError": "setcolumnempty"
                    }
                  }
                },
                "lastBatch": {
                  "description": "Uploads the final batch and closes the job. isLastBatch must be true.",
                  "summary": "Last batch",
                  "value": {
                    "FILE": "@/path/to/Sales_batch3.csv",
                    "CONFIG": {
                      "batchKey": "1694703482470_1767024000008426012_SalesTable",
                      "isLastBatch": true,
                      "importType": "updateadd",
                      "autoIdentify": true,
                      "matchingColumns": [
                        "Region",
                        "Product"
                      ],
                      "onError": "setcolumnempty"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful batch import response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchImportSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk import job",
                      "data": {
                        "batchKey": "1694703618038_1767024000008742002",
                        "jobId": "1767024000008787011"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/importjobs/{job-id}": {
      "get": {
        "tags": [
          "Data Import (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Get Import Job Details",
        "description": "Check the status of the specified import job periodically. Upon job completion the system notifies the user in the callback URL, if one was provided in the import job's CONFIG.\n\nJob codes returned in the response:\n  - 1001 - JOB NOT INITIATED: wait for a few seconds and repeat the status check.\n  - 1002 - JOB IN PROGRESS: wait for a few seconds and repeat the status check.\n  - 1003 - ERROR OCCURRED: stop the status check and inspect the error message for details.\n  - 1004 - JOB COMPLETED: the job is complete and the import summary is returned.\n  - 1005 - JOB NOT FOUND: verify the validity of the job ID and terminate the status check.\n\nNote: the import job summary is retained only for one hour after job completion.",
        "operationId": "getImportJobDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/job-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with import job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobDetailsResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Fetch import job info",
                      "data": {
                        "jobId": "1767024000003153087",
                        "jobCode": "1004",
                        "jobStatus": "JOB COMPLETED",
                        "jobInfo": {
                          "viewId": "1767024000003154002",
                          "importSummary": {
                            "importType": "APPEND",
                            "totalColumnCount": 7,
                            "selectedColumnCount": 7,
                            "totalRowCount": 755,
                            "successRowCount": 755,
                            "warnings": 0,
                            "importOperation": "created"
                          },
                          "columnDetails": {
                            "Date": "Date",
                            "Region": "Plain Text",
                            "Product Category": "Plain Text",
                            "Product": "Plain Text",
                            "Customer Name": "Plain Text",
                            "Sales": "Currency",
                            "Cost": "Currency"
                          },
                          "importErrors": ""
                        },
                        "expiryTime": "1623764592309"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/exportjobs/{job-id}": {
      "get": {
        "tags": [
          "Data Export (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.read"
            ]
          }
        ],
        "summary": "Get Export Job Details",
        "description": "Returns details of the specified asynchronous export job. The HTTP status reports the request, not the job - a failed job is returned as 200 with jobCode 1003. downloadUrl and expiryTime are present only when jobCode is 1004. Only the user who created the job may poll it.",
        "operationId": "getExportJobDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/job-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with export job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobDetailsResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Fetch export job info",
                      "data": {
                        "jobId": "35130000001391001",
                        "jobCode": "1004",
                        "jobStatus": "JOB COMPLETED",
                        "downloadUrl": "https://analyticsapi.zoho.com/restapi/v2/bulk/workspaces/35130000001242001/exportjobs/35130000001391001/data",
                        "expiryTime": "1623765872891"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/exportjobs/{job-id}/data": {
      "get": {
        "tags": [
          "Data Export (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.read"
            ]
          }
        ],
        "summary": "Download Exported Data",
        "description": "Download the file produced by a completed asynchronous export job. The job must have reached jobCode 1004; calling earlier fails with 8121 (queued) or 8122 (running), and 8123 if the job failed. Only the user who created the job may download it.\n\n**Notes**\n\n> Note:\n>\n> The exported file is available only for one hour after the export job completes.",
        "operationId": "downloadExportedData",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/job-id"
          }
        ],
        "responses": {
          "200": {
            "description": "The exported file. The content type follows the responseFormat of the job. application/zip is returned when the export was password protected, when a dashboard was exported as html, or when a multi-tab dashboard was exported as pdf. No Content-Disposition header is sent.",
            "content": {
              "text/csv": {},
              "application/json": {},
              "application/xml": {},
              "application/vnd.ms-excel": {},
              "application/pdf": {},
              "text/html": {},
              "image/png": {},
              "image/jpeg": {},
              "application/zip": {}
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/importdetails": {
      "get": {
        "tags": [
          "Data Sync & Connectivity"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "summary": "Get Last Import Details",
        "description": "Returns the details of the most recent load into the specified view, whatever performed it - a datasource sync, a refetch, or an import API call. Returns 200 with an empty data object when the view has never been loaded. Not available through a Client Portal or White Label domain.",
        "operationId": "getLastImportDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Last import details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLastImportDetailsResponse"
                },
                "examples": {
                  "importDetails": {
                    "description": "Details of the most recent import performed on the view.",
                    "summary": "Last import details",
                    "value": {
                      "status": "success",
                      "summary": "Fetch last import details",
                      "data": {
                        "viewName": "SampleSales",
                        "lastImportTime": "18 October, 2021 11:02:41 AM GMT",
                        "lastImportStatus": "Success",
                        "columns": {
                          "total": "7",
                          "success": "7"
                        },
                        "rows": {
                          "total": "755",
                          "success": "755",
                          "warning": "0",
                          "failed": "0"
                        },
                        "importErrors": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/sync": {
      "post": {
        "tags": [
          "Data Sync & Connectivity"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.create"
            ]
          }
        ],
        "summary": "Refetch Data",
        "description": "Sync data from the available datasource for the specified view - one table only. Returns 204 once the refetch has been started; the outcome is read from Get Last Import Details. A table with no datasource behind it fails with 18056. Consumes the daily manual sync quota. Not available through a Client Portal or White Label domain.",
        "operationId": "refetchDatasource",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Refetch initiated successfully"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RefetchDataConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "refetchWithCredentials": {
                  "description": "Refetches the data by passing the datasource credentials.",
                  "summary": "Refetch with credentials",
                  "value": {
                    "CONFIG": {
                      "userName": "john@zylker.com",
                      "password": "Zoho@123"
                    }
                  }
                },
                "refetchStoredCredentials": {
                  "description": "Refetches the data using the credentials already saved for the datasource. CONFIG is not sent.",
                  "summary": "Refetch stored credentials",
                  "value": {}
                }
              }
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/datasources/{datasource-id}/sync": {
      "post": {
        "tags": [
          "Data Sync & Connectivity"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.create"
            ]
          }
        ],
        "summary": "Sync Data",
        "description": "Initiate an immediate data sync for the specified datasource - every table it feeds. Returns 204 once the sync has been started; it does not wait for completion, and the outcome is read from Get Last Import Details. Consumes the daily manual sync quota reported as syncUsed / totalSyncAllowed by Get Datasources. Not available through a Client Portal or White Label domain.",
        "operationId": "syncDatasource",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/datasource-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Sync initiated successfully"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/SyncDataConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "syncWithCredentials": {
                  "description": "Initiates a sync by passing the datasource credentials.",
                  "summary": "Sync with credentials",
                  "value": {
                    "CONFIG": {
                      "userName": "john@zylker.com",
                      "password": "Zoho@123"
                    }
                  }
                },
                "syncSpecificInterval": {
                  "description": "Initiates a sync for a specific sync interval when multiple intervals are configured for the datasource.",
                  "summary": "Sync one interval",
                  "value": {
                    "CONFIG": {
                      "userName": "john@zylker.com",
                      "password": "Zoho@123",
                      "syncIntervalId": "100003000000032134"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/datasources/{datasource-id}": {
      "put": {
        "tags": [
          "Data Sync & Connectivity"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.update"
            ]
          }
        ],
        "summary": "Update Datasource Connection",
        "description": "Update the connection details of the specified database datasource. This is a full replace - omitted attributes are reset rather than preserved. Applies only to database style datasources; file, web, cloud storage, integration connector, snapshot and local drive datasources are rejected with 18061. A 204 means the details were stored, not that they were tested. Not available through a Client Portal or White Label domain.",
        "operationId": "updateDatasourceConnection",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/datasource-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DatasourceConnectionConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "updateCredentials": {
                  "description": "Updates the login credentials of an Amazon RDS MySQL connection.",
                  "summary": "Update credentials",
                  "value": {
                    "CONFIG": {
                      "serviceName": "AMAZON RDS",
                      "databaseType": "MYSQL",
                      "hostName": "zylker.abcdef.us-east-1.rds.amazonaws.com",
                      "port": 3306,
                      "userName": "zylkeradmin",
                      "password": "Zoho@123",
                      "cloudDatabaseName": "sales_db",
                      "useSSL": true
                    }
                  }
                },
                "updateSnowflake": {
                  "description": "Updates a Snowflake connection, where hostName carries the full account name and warehouseName is mandatory.",
                  "summary": "Update Snowflake connection",
                  "value": {
                    "CONFIG": {
                      "serviceName": "SNOWFLAKE",
                      "hostName": "zylker-account.snowflakecomputing.com",
                      "userName": "zylkeradmin",
                      "password": "Zoho@123",
                      "warehouseName": "COMPUTE_WH",
                      "cloudDatabaseName": "SALES_DB"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Datasource connection updated successfully"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/datasources": {
      "get": {
        "tags": [
          "Data Sync & Connectivity"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "summary": "Get Datasources",
        "description": "Returns the list of datasources for the specified workspace, the tables each one feeds, and the state of their last sync. This is the only API that returns datasourceId, syncIntervalId and the datasource-to-view mapping. The entry shape varies by source family, so test for the presence of a field rather than assuming a fixed schema. Not available through a Client Portal or White Label domain.",
        "operationId": "getDatasources",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Datasources fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasourcesResponse"
                },
                "examples": {
                  "singleInterval": {
                    "description": "A datasource with one sync schedule. The sync details sit directly on the datasource.",
                    "summary": "Single sync interval",
                    "value": {
                      "status": "success",
                      "summary": "Fetch Datasources",
                      "data": {
                        "dataSources": [
                          {
                            "datasourceName": "Amazon RDS MySQL",
                            "datasourceId": "100003000000032016",
                            "source": "relmodel",
                            "lastDataSyncStatus": "Not Applicable",
                            "lastDataSyncTime": "03 August, 2024 03:39:16 PM IST",
                            "schedule": "Every 15 Minutes",
                            "nextScheduleTime": "03 August, 2024 03:52:56 PM IST",
                            "syncUsed": "0",
                            "totalSyncAllowed": "5",
                            "syncIntervalId": "100003000000032134",
                            "tableDetails": [
                              {
                                "viewName": "Check_3",
                                "viewId": "100003000000032019",
                                "sourceName": "Check_3",
                                "lastSyncTime": "03 August, 2024 03:39:13 PM IST",
                                "syncStatus": "Success"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "multipleIntervals": {
                    "description": "A datasource with more than one sync schedule. The sync details move into the syncIntervals array, each with its own syncIntervalId.",
                    "summary": "Multiple sync intervals",
                    "value": {
                      "status": "success",
                      "summary": "Fetch Datasources",
                      "data": {
                        "dataSources": [
                          {
                            "datasourceName": "Amazon RDS MySQL",
                            "datasourceId": "100003000000032016",
                            "source": "relmodel",
                            "totalSyncAllowed": "5",
                            "syncIntervals": [
                              {
                                "syncIntervalId": "100003000000032134",
                                "lastDataSyncStatus": "Success",
                                "lastDataSyncTime": "03 August, 2024 03:39:16 PM IST",
                                "schedule": "Every 15 Minutes",
                                "nextScheduleTime": "03 August, 2024 03:52:56 PM IST",
                                "syncUsed": "0",
                                "tableDetails": [
                                  {
                                    "viewName": "Check_3",
                                    "viewId": "100003000000032019",
                                    "sourceName": "Check_3",
                                    "lastSyncTime": "03 August, 2024 03:39:13 PM IST",
                                    "syncStatus": "Success"
                                  }
                                ]
                              },
                              {
                                "syncIntervalId": "100003000000032140",
                                "lastDataSyncStatus": "Success",
                                "lastDataSyncTime": "03 August, 2024 02:00:11 AM IST",
                                "schedule": "Every Day",
                                "nextScheduleTime": "04 August, 2024 02:00:00 AM IST",
                                "syncUsed": "1",
                                "tableDetails": [
                                  {
                                    "viewName": "Orders",
                                    "viewId": "100003000000032022",
                                    "sourceName": "Orders",
                                    "lastSyncTime": "03 August, 2024 02:00:08 AM IST",
                                    "syncStatus": "Success"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "datasource-id": {
        "name": "datasource-id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ID of the datasource."
      },
      "job-id": {
        "name": "job-id",
        "in": "path",
        "description": "The unique identifier of the import/export job.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "org-id": {
        "name": "ZANALYTICS-ORGID",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Organization ID (can be obtained using Get Organizations API)."
      },
      "view-id": {
        "name": "view-id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ID of the view."
      },
      "workspace-id": {
        "name": "workspace-id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ID of the workspace."
      }
    },
    "securitySchemes": {
      "iam-oauth2-schema": {
        "type": "oauth2",
        "description": "Authentication is based on OAuth2 flow",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
            "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
            "scopes": {
              "ZohoAnalytics.data.create": "Create or import data",
              "ZohoAnalytics.data.update": "Update rows and datasource connections",
              "ZohoAnalytics.data.delete": "Delete rows",
              "ZohoAnalytics.data.read": "Read data exports and import/export job details",
              "ZohoAnalytics.metadata.read": "Read metadata like import details and datasources"
            }
          }
        }
      }
    },
    "schemas": {
      "AddRowConfig": {
[...]
