{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Data Modeling & Schema in Zoho Analytics — covering tables, schema, columns, lookups, query tables, formulas, and workspace variables."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Table & Schema",
      "description": "APIs for creating tables and fetching table metadata."
    },
    {
      "name": "Columns",
      "description": "APIs for adding, renaming, reordering, showing, hiding, deleting, and sorting columns."
    },
    {
      "name": "Lookups & Relationships",
      "description": "APIs for adding and removing lookup relationships."
    },
    {
      "name": "Query Tables",
      "description": "APIs for creating, editing, and retrieving query table details."
    },
    {
      "name": "Formula Columns",
      "description": "APIs for managing custom formula columns and copying formulas."
    },
    {
      "name": "Aggregate Formulas",
      "description": "APIs for managing aggregate formulas and retrieving values and dependents."
    },
    {
      "name": "Workspace Variables",
      "description": "APIs for creating, updating, deleting, and retrieving workspace variables."
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/tables": {
      "post": {
        "tags": [
          "Table & Schema"
        ],
        "summary": "Create Table",
        "description": "Creates a new table in the specified workspace. The structure of the table - its columns, their data types and any lookup relationships - is defined entirely through the CONFIG parameter at creation time.\n\nThe response returns only the view ID of the new table. Use the Get Table Metadata API to inspect the column schema of the table that was created.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7111 | A table or view with the same name already exists in the workspace. | Use a TABLENAME that is unique within the workspace. |\n| 7125 | The specified data type is not compatible with the configuration of the column. | Verify the DATATYPE value and the associated format settings. |\n| 7126 | A column name is empty or missing. | Provide a non-empty COLUMNNAME for every column in the COLUMNS array. |\n| 7127 | A column name exceeds the maximum allowed length. | Keep every COLUMNNAME value within 1000 characters. |\n| 7128 | Duplicate column names were found in the COLUMNS array. | Ensure that every COLUMNNAME value is unique within the table definition. |\n| 7143 | A DEFAULT value was provided for an AUTO_NUMBER column. | Remove the DEFAULT key from AUTO_NUMBER column definitions. |\n| 7144 | The specified FOLDERNAME does not exist in this workspace. | Use the Get Folder List API to verify the exact folder display name before calling this API. |\n| 7146 | The DATATYPE value is not a recognised data type. | Use one of the values listed in the DATATYPE attribute. |\n| 7183 | The data type of the lookup column is incompatible with the data type of the referenced column. | Ensure that both columns use compatible data types. |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Create Table permission on the workspace. |\n| 7379 | A lookup column cannot refer to a column within the same table. | Set LOOKUPCOLUMN.TABLENAME to a different existing table, not the table being created. |\n| 7395 | The column specified in LOOKUPCOLUMN.COLUMNNAME does not exist in the referenced table. | Verify the column name using the Get Table Metadata API on the referenced table. |\n| 7413 | TABLENAME is missing or null. | Ensure that the tableDesign.TABLENAME key is present and non-empty. |\n| 7478 | The number of columns exceeds the maximum allowed for a table. | Reduce the number of entries in the COLUMNS array. |",
        "operationId": "createTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateTableConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "simpleTable": {
                  "description": "Creates a table with basic text, date, currency and number columns in the default folder.",
                  "summary": "Simple table",
                  "value": {
                    "CONFIG": {
                      "tableDesign": {
                        "TABLENAME": "Sales Data",
                        "TABLEDESCRIPTION": "Monthly sales records",
                        "COLUMNS": [
                          {
                            "COLUMNNAME": "Region",
                            "DATATYPE": "PLAIN"
                          },
                          {
                            "COLUMNNAME": "Order Date",
                            "DATATYPE": "DATE_AS_DATE"
                          },
                          {
                            "COLUMNNAME": "Product",
                            "DATATYPE": "PLAIN"
                          },
                          {
                            "COLUMNNAME": "Sales Amount",
                            "DATATYPE": "CURRENCY"
                          },
                          {
                            "COLUMNNAME": "Units Sold",
                            "DATATYPE": "NUMBER"
                          }
                        ]
                      }
                    }
                  }
                },
                "lookupTable": {
                  "description": "Creates a table inside a named folder whose first column looks up a column of an existing parent table, and hides one column.",
                  "summary": "Lookup table",
                  "value": {
                    "CONFIG": {
                      "tableDesign": {
                        "TABLENAME": "Order Details",
                        "TABLEDESCRIPTION": "Line items for each order",
                        "FOLDERNAME": "Sales Analysis",
                        "COLUMNS": [
                          {
                            "COLUMNNAME": "Order ID",
                            "DATATYPE": "PLAIN",
                            "LOOKUPCOLUMN": {
                              "TABLENAME": "Orders",
                              "COLUMNNAME": "Order ID"
                            }
                          },
                          {
                            "COLUMNNAME": "Product Name",
                            "DATATYPE": "PLAIN"
                          },
                          {
                            "COLUMNNAME": "Quantity",
                            "DATATYPE": "POSITIVE_NUMBER"
                          },
                          {
                            "COLUMNNAME": "Unit Price",
                            "DATATYPE": "CURRENCY"
                          },
                          {
                            "COLUMNNAME": "Notes",
                            "DATATYPE": "MULTI_LINE",
                            "ISHIDE": true
                          }
                        ]
                      }
                    }
                  }
                },
                "mandatoryPiiTable": {
                  "description": "Creates a table with an auto number key, mandatory columns, PII markers and a default value.",
                  "summary": "Mandatory PII columns",
                  "value": {
                    "CONFIG": {
                      "tableDesign": {
                        "TABLENAME": "Customer Registry",
                        "TABLEDESCRIPTION": "Customer master records",
                        "COLUMNS": [
                          {
                            "COLUMNNAME": "Customer ID",
                            "DATATYPE": "AUTO_NUMBER"
                          },
                          {
                            "COLUMNNAME": "Full Name",
                            "DATATYPE": "PLAIN",
                            "MANDATORY": "true"
                          },
                          {
                            "COLUMNNAME": "Email",
                            "DATATYPE": "EMAIL",
                            "MANDATORY": "true",
                            "PII": true
                          },
                          {
                            "COLUMNNAME": "Phone",
                            "DATATYPE": "PLAIN",
                            "PII": true
                          },
                          {
                            "COLUMNNAME": "Signup Date",
                            "DATATYPE": "DATE_AS_DATE",
                            "DEFAULT": "01 Jan, 2024"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Table created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTableResponse"
                },
                "examples": {
                  "tableCreated": {
                    "description": "The view ID of the newly created table is returned.",
                    "summary": "Table created",
                    "value": {
                      "status": "success",
                      "summary": "Table has been created successfully.",
                      "data": {
                        "viewId": "7617000071955020"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/metadata": {
      "get": {
        "tags": [
          "Table & Schema"
        ],
        "summary": "Get Table Metadata",
        "description": "Returns the complete column schema of the specified table, including column names, data types, descriptions, lookup relationships, formula expressions and formatting details.\n\nOnly the columns that the calling user has been granted access to are included in the response.\n\n**Notes**\n\n> Note:\n>\n> - The columns array reflects only the subset of columns that the caller has access to. A Workspace Admin or a user with full Design Modify permission sees every column, while a user with restricted view-level sharing sees only the shared columns. A short column list therefore does not necessarily mean that the table has few columns.\n> - This API works only on tables. Calling it with the view ID of a report, chart or dashboard returns error 7397. Use the Get View List API to confirm the view type beforehand.\n> - pkTableName, pkColumnName, formulaDisplayName, defaultValue and columnDesc are present in every column object and are returned as empty strings when they do not apply. A non-empty pkTableName identifies a lookup column and a non-empty formulaDisplayName identifies a formula column.\n> - dateFormat, durationFormat, timeFormat, currencyFormat, thousandSeparator, decimalSeparator and decimalPlaces are returned only for the column types to which they apply and are absent otherwise.\n> - columnId is a numeric identifier internally but is serialized as a quoted string.\n> - Columns are returned in ascending order of columnIndex, which matches the order shown in the Zoho Analytics interface.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7105 | The specified view does not exist. | Verify the view-id using the Get View List API. |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the specified view. |\n| 7319 | The specified view ID does not belong to the given workspace. | Confirm that the view-id belongs to the workspace identified by workspace-id. |\n| 7397 | The specified view is not a table. | This API returns metadata only for tables. Use the Get View List API to confirm the view type before calling. |",
        "operationId": "getTableMetadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Table metadata retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTableMetadataResponse"
                },
                "examples": {
                  "basicColumns": {
                    "description": "A table with text, date and currency columns, showing the type-specific formatting keys.",
                    "summary": "Basic columns",
                    "value": {
                      "status": "success",
                      "summary": "Get table metadata",
                      "data": {
                        "columns": [
                          {
                            "columnId": "7617000000508026",
                            "columnName": "Region",
                            "dataType": "PLAIN",
                            "dataTypeId": 1,
                            "dataTypeName": "Plain Text",
                            "columnIndex": 1,
                            "columnDesc": "",
                            "columnMaxSize": 253,
                            "isNullable": true,
                            "defaultValue": "",
                            "pkTableName": "",
                            "pkColumnName": "",
                            "formulaDisplayName": "",
                            "isHidden": false,
                            "sortedOrder": 0,
                            "sortedIndex": -1
                          },
                          {
                            "columnId": "7617000000508025",
                            "columnName": "Order Date",
                            "dataType": "DATE_AS_DATE",
                            "dataTypeId": 22,
                            "dataTypeName": "Date",
                            "columnIndex": 2,
                            "columnDesc": "",
                            "columnMaxSize": 19,
                            "isNullable": true,
                            "defaultValue": "",
                            "pkTableName": "",
                            "pkColumnName": "",
                            "formulaDisplayName": "",
                            "dateFormat": "dd MMM, yyyy HH:mm:ss",
                            "isHidden": false,
                            "sortedOrder": 0,
                            "sortedIndex": -1
                          },
                          {
                            "columnId": "7617000000508030",
                            "columnName": "Sales Amount",
                            "dataType": "CURRENCY",
                            "dataTypeId": 7,
                            "dataTypeName": "Currency",
                            "columnIndex": 3,
                            "columnDesc": "",
                            "columnMaxSize": 19,
                            "isNullable": true,
                            "defaultValue": "",
                            "pkTableName": "",
                            "pkColumnName": "",
                            "formulaDisplayName": "",
                            "currencyFormat": "en;US;",
                            "thousandSeparator": ",",
                            "decimalSeparator": ".",
                            "decimalPlaces": 2,
                            "isHidden": false,
                            "sortedOrder": 0,
                            "sortedIndex": -1
                          }
                        ]
                      }
                    }
                  },
                  "lookupColumn": {
                    "description": "A table whose first column is a lookup, showing pkTableName and pkColumnName populated.",
                    "summary": "Lookup column",
                    "value": {
                      "status": "success",
                      "summary": "Get table metadata",
                      "data": {
                        "columns": [
                          {
                            "columnId": "7617000071955021",
                            "columnName": "Order ID",
                            "dataType": "PLAIN",
                            "dataTypeId": 1,
                            "dataTypeName": "Plain Text",
                            "columnIndex": 1,
                            "columnDesc": "",
                            "columnMaxSize": 100,
                            "isNullable": true,
                            "defaultValue": "",
                            "pkTableName": "Orders",
                            "pkColumnName": "Order ID",
                            "formulaDisplayName": "",
                            "isHidden": false,
                            "sortedOrder": 0,
                            "sortedIndex": -1
                          },
                          {
                            "columnId": "7617000071955022",
                            "columnName": "Product Name",
                            "dataType": "PLAIN",
                            "dataTypeId": 1,
                            "dataTypeName": "Plain Text",
                            "columnIndex": 2,
                            "columnDesc": "",
                            "columnMaxSize": 100,
                            "isNullable": true,
                            "defaultValue": "",
                            "pkTableName": "",
                            "pkColumnName": "",
                            "formulaDisplayName": "",
                            "isHidden": false,
                            "sortedOrder": 0,
                            "sortedIndex": -1
                          }
                        ]
                      }
                    }
                  },
                  "formulaColumn": {
                    "description": "A table with a formula column, showing the expression in formulaDisplayName.",
                    "summary": "Formula column",
                    "value": {
                      "status": "success",
                      "summary": "Get table metadata",
                      "data": {
                        "columns": [
                          {
                            "columnId": "7617000000508030",
                            "columnName": "Sales",
                            "dataType": "CURRENCY",
                            "dataTypeId": 7,
                            "dataTypeName": "Currency",
                            "columnIndex": 1,
                            "columnDesc": "",
                            "columnMaxSize": 19,
                            "isNullable": true,
                            "defaultValue": "",
                            "pkTableName": "",
                            "pkColumnName": "",
                            "formulaDisplayName": "",
                            "currencyFormat": "en;US;",
                            "thousandSeparator": ",",
                            "decimalSeparator": ".",
                            "decimalPlaces": 2,
                            "isHidden": false,
                            "sortedOrder": 0,
                            "sortedIndex": -1
                          },
                          {
                            "columnId": "7617000000508032",
                            "columnName": "Profit",
                            "dataType": "CURRENCY",
                            "dataTypeId": 7,
                            "dataTypeName": "Currency",
                            "columnIndex": 3,
                            "columnDesc": "",
                            "columnMaxSize": 19,
                            "isNullable": true,
                            "defaultValue": "",
                            "pkTableName": "",
                            "pkColumnName": "",
                            "formulaDisplayName": "\"Sales\" - \"Cost\"",
                            "currencyFormat": "en;US;",
                            "thousandSeparator": ",",
                            "decimalSeparator": ".",
                            "decimalPlaces": 2,
                            "isHidden": false,
                            "sortedOrder": 0,
                            "sortedIndex": -1
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns": {
      "post": {
        "tags": [
          "Columns"
        ],
        "summary": "Add Column",
        "description": "Adds one or more columns to an existing table. The API supports two modes in a single endpoint.\n\n- **Single-column mode** - `columnName` and `dataType` are sent at the top level of CONFIG. The ID of the new column is returned.\n- **Bulk mode** - a `columns` array holding several column definitions is sent. Every column is added in one request and individual column IDs are not returned.\n\nThe mode is selected from the payload: when a `columns` key is present, bulk mode is used regardless of whether `columnName` is also sent.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7089 | All the columns of the table cannot be hidden at the same time. | Ensure that at least one column of the table remains visible. |\n| 7092 | A DDL lock is active because an import or a schema operation is in progress on the table. | Wait for the current import or schema operation to complete and then retry. |\n| 7111 | A view with the same name already exists. | Use a name that is unique within the workspace. |\n| 7125 | The data type is not compatible with the configuration of the column. | Verify the dataType value. |\n| 7146 | The dataType value is not recognised. | Use one of the values listed in the dataType attribute. |\n| 7157 | A column with the same name already exists in the table. | Use a columnName that is unique within the table. |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the workspace. |\n| 7397 | The specified view is not a table. | This API operates only on tables. Verify the view type using the Get View List API. |\n| 7439 | The view ID provided is not a table. | Provide the view ID of a table, not of a report or a dashboard. |\n| 8173 | The number of columns sent in bulk mode exceeds the allowed limit. | Reduce the number of columns per request or split the request into several calls. |",
        "operationId": "addColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AddColumnConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleColumn": {
                  "description": "Adds one plain text column to the table.",
                  "summary": "Single column",
                  "value": {
                    "CONFIG": {
                      "columnName": "Customer Segment",
                      "dataType": "PLAIN"
                    }
                  }
                },
                "singlePiiColumn": {
                  "description": "Adds one currency column that is marked as holding personally identifiable information.",
                  "summary": "PII column",
                  "value": {
                    "CONFIG": {
                      "columnName": "Annual Salary",
                      "dataType": "CURRENCY",
                      "isPIIColumn": true
                    }
                  }
                },
                "bulkColumns": {
                  "description": "Adds several columns of different data types in a single request.",
                  "summary": "Bulk columns",
                  "value": {
                    "CONFIG": {
                      "columns": [
                        {
                          "columnName": "Discount (%)",
                          "dataType": "PERCENT"
                        },
                        {
                          "columnName": "Delivery Date",
                          "dataType": "DATE_AS_DATE"
                        },
                        {
                          "columnName": "Notes",
                          "dataType": "MULTI_LINE",
                          "isMandatory": false
                        }
                      ]
                    }
                  }
                },
                "bulkMandatoryColumns": {
                  "description": "Adds mandatory columns in bulk, each carrying the default value that becomes mandatory alongside isMandatory.",
                  "summary": "Bulk mandatory columns",
                  "value": {
                    "CONFIG": {
                      "columns": [
                        {
                          "columnName": "Status",
                          "dataType": "PLAIN",
                          "isMandatory": true,
                          "default": "Pending"
                        },
                        {
                          "columnName": "Priority",
                          "dataType": "PLAIN",
                          "isMandatory": true,
                          "default": "Normal"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Column added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddColumnResponse"
                },
                "examples": {
                  "singleModeResult": {
                    "description": "In single-column mode the ID of the new column is returned in the data key.",
                    "summary": "Single mode",
                    "value": {
                      "status": "success",
                      "summary": "Column added successfully.",
                      "data": {
                        "columnId": "7617000071955030"
                      }
                    }
                  },
                  "bulkModeResult": {
                    "description": "In bulk mode only the status and the summary are returned, without any column IDs.",
                    "summary": "Bulk mode",
                    "value": {
                      "status": "success",
                      "summary": "Column added successfully."
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/{column-id}": {
      "put": {
        "tags": [
          "Columns"
        ],
        "summary": "Rename Column",
        "description": "Renames the specified column of a table. The column is identified by its column ID in the request URL.\n\nEvery view, formula and report that refers to the column is updated automatically to use the new name.\n\n**Notes**\n\n> Note:\n>\n> - This API returns HTTP 204 No Content with no response body on success. There is no status or summary key to parse - treat the HTTP status code as the sole success indicator.\n> - The rename propagates automatically. Reports, charts, pivot tables and formula columns that refer to this column are updated to use the new name, so no manual update of the dependent views is needed.\n> - Renaming a column to its existing name succeeds without an error.\n> - The request is rejected with error 7092 when the table is locked by an in-progress import.\n> - Columns of a snapshot table cannot be renamed and return error 7164.\n> - An unknown column ID returns error 7107. Verify the column-id using the Get Table Metadata API.\n> - Although a rename is safe because every reference is updated, calling the Get Column Dependents API first is good practice before a bulk rename.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | A DDL lock is active on the table. | Wait for the in-progress operation to complete and then retry. |\n| 7107 | The specified column does not exist in the table. | Verify the column-id using the Get Table Metadata API. |\n| 7111 | A column with the new name already exists in the table. | Use a column name that is unique within the table. |\n| 7157 | The column name already exists. | Use a columnName that is unique within the table. |\n| 7164 | The table is a snapshot table and its columns cannot be renamed. | Snapshot tables are read-only with respect to their schema. Create a new table when schema changes are needed. |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the workspace. |\n| 7439 | The specified view is not a table. | Provide the view ID of a table. |",
        "operationId": "renameColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "$ref": "#/components/parameters/column-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RenameColumnConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "columnRename": {
                  "description": "Sets a new display name for the column identified in the request URL.",
                  "summary": "Rename column",
                  "value": {
                    "CONFIG": {
                      "columnName": "Geographic Region"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Column renamed successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Columns"
        ],
        "summary": "Delete Column",
        "description": "Permanently deletes a column from the specified table.\n\nBy default the deletion is blocked when any dependent view, report, chart or formula refers to the column. Set `deleteDependentViews` to true to delete those dependents along with the column.\n\n**Notes**\n\n> Note:\n>\n> - This API returns HTTP 204 No Content with no response body on success. There is no status or summary key to parse - treat the HTTP status code as the sole success indicator.\n> - Call the Get Column Dependents API before deleting. The views, custom formulas and aggregate formulas it lists determine whether a safe deletion or a cascade deletion is appropriate.\n> - Setting deleteDependentViews to true is irreversible. Every dependent view, report, chart, pivot table, query table and formula column is permanently deleted along with the column.\n> - The request is rejected with error 7092 when the table is locked by an in-progress import.\n> - An unknown column ID returns error 7107.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | A DDL lock is active on the table. | Wait for the in-progress operation to complete and then retry. |\n| 7107 | The specified column does not exist in the table. | Verify the column-id using the Get Table Metadata API. |\n| 7277 | The column has dependent views and the deletion has been blocked. | Call the Get Column Dependents API to identify them, then either delete them first or set deleteDependentViews to true to delete them along with the column. |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the workspace. |\n| 7439 | The specified view is not a table. | Provide the view ID of a table. |",
        "operationId": "deleteColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "$ref": "#/components/parameters/column-id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeleteColumnConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "safeDelete": {
                  "description": "Deletes the column only when no dependent view refers to it. The request is blocked with error 7277 when dependents exist.",
                  "summary": "Safe delete",
                  "value": {
                    "CONFIG": {}
                  }
                },
                "cascadeDelete": {
                  "description": "Deletes the column together with every dependent view, report, chart, pivot table and formula that refers to it.",
                  "summary": "Cascade delete",
                  "value": {
                    "CONFIG": {
                      "deleteDependentViews": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.delete"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Column deleted successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/reorder": {
      "put": {
        "tags": [
          "Columns"
        ],
        "summary": "Reorder Columns",
        "description": "Changes the display order of the columns of the specified table. The complete set of non-system column IDs must be sent in the wanted order, because this API does not support reordering a subset of the columns.\n\nThis API is not available in white label or client portal contexts and can be called only through the standard host.\n\n**Notes**\n\n> Note:\n>\n> - This API returns HTTP 204 No Content with no response body on success. There is no status or summary key to parse - treat the HTTP status code as the sole success indicator.\n> - The full column set is required on every call. Unlike the Hide Columns and Show Columns APIs, this one rejects a partial list with error 8179, so a column cannot be moved without also listing every other column in its existing position.\n> - System columns, such as the row ID and the audit columns, are excluded from the required set and cannot be reordered.\n> - The order of the array defines the display order. The position of each ID becomes the new left-to-right position of that column.\n> - Column IDs must be sent as quoted strings, not as integers.\n> - A duplicate ID is de-duplicated and only its first occurrence is used, so the array is treated as an ordered set.\n> - A column ID that is not present in the table returns error 8180.\n> - This API is disabled for white label portal contexts. Calls made through a custom portal domain fail.\n> - Obtain the column IDs from the Get Table Metadata API, excluding the system columns, and call it again afterwards to confirm the new column positions.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the view. |\n| 7319 | The view ID does not belong to the specified workspace. | Confirm that the view-id is correct. |\n| 8179 | One or more non-system columns are missing from the columns array. | Include every non-system column ID of the table in the array, not only the ones being moved. |\n| 8180 | One or more column IDs in the columns array do not belong to this view. | Verify every column ID using the Get Table Metadata API. |",
        "operationId": "reorderColumns",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ReorderColumnsConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "reorderAllColumns": {
                  "description": "Sends the complete ordered set of column IDs of a three-column table, moving the third column to the front.",
                  "summary": "Reorder columns",
                  "value": {
                    "CONFIG": {
                      "columns": [
                        "7617000000508027",
                        "7617000000508025",
                        "7617000000508026"
                      ]
                    }
                  }
                },
                "moveLastToFirst": {
                  "description": "Moves the last column of a four-column table to the first position, with every other column resent in its existing order.",
                  "summary": "Move last column",
                  "value": {
                    "CONFIG": {
                      "columns": [
                        "7617000000508028",
                        "7617000000508025",
                        "7617000000508026",
                        "7617000000508027"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Column order updated successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/hide": {
      "put": {
        "tags": [
          "Columns"
        ],
        "summary": "Hide Columns",
        "description": "Hides one or more columns of the specified table. Hidden columns are not visible to users viewing the table but are retained in the schema and can be made visible again using the Show Columns API.\n\nAt least one column must remain visible at all times.\n\n**Notes**\n\n> Note:\n>\n> - This API returns HTTP 204 No Content with no response body on success. There is no status or summary key to parse - treat the HTTP status code as the sole success indicator.\n> - At least one column must remain visible. When every currently visible column is listed in columnIds, the operation is rejected with error 7089.\n> - Column IDs must be sent as quoted strings inside the JSON array, not as integers.\n> - Hiding a column that is already hidden is silently ignored. Only the columns that change from visible to hidden are updated.\n> - Hidden columns are not deleted. They remain in the schema, continue to take part in formulas and reports, and can be revealed again using the Show Columns API.\n> - Obtain the column IDs from the Get Table Metadata API, using the isHidden key to identify the columns that are currently visible.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7089 | Hiding these columns would leave no visible column in the table. | Ensure that at least one column is left out of the columnIds array. |\n| 7107 | One or more of the column IDs do not exist in the table. | Verify every ID using the Get Table Metadata API. |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the view. |\n| 7397 | The specified view is not a table. | This API works only on tables. |",
        "operationId": "hideColumns",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/HideShowColumnConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "hideSingleColumn": {
                  "description": "Hides a single column of the table.",
                  "summary": "Hide one",
                  "value": {
                    "CONFIG": {
                      "columnIds": [
                        "7617000000508026"
                      ]
                    }
                  }
                },
                "hideMultipleColumns": {
                  "description": "Hides several columns of the table in one request.",
                  "summary": "Hide several",
                  "value": {
                    "CONFIG": {
                      "columnIds": [
                        "7617000000508026",
                        "7617000000508027",
                        "7617000000508028"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Columns hidden successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/show": {
      "put": {
        "tags": [
          "Columns"
        ],
        "summary": "Show Columns",
        "description": "Makes one or more previously hidden columns visible again in the specified table.\n\n**Notes**\n\n> Note:\n>\n> - This API returns HTTP 204 No Content with no response body on success. There is no status or summary key to parse - treat the HTTP status code as the sole success indicator.\n> - Showing a column that is already visible is silently ignored. Only the columns that change from hidden to visible are updated.\n> - Column IDs must be sent as quoted strings inside the JSON array, not as integers.\n> - There is no minimum or maximum visible column count for this API. The one-visible-column constraint applies only to the Hide Columns API.\n> - Obtain the column IDs from the Get Table Metadata API, using the isHidden key to identify the columns that are currently hidden.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7107 | One or more of the column IDs do not exist in the table. | Verify every ID using the Get Table Metadata API. |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the view. |\n| 7397 | The specified view is not a table. | This API works only on tables. |",
        "operationId": "showColumns",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/HideShowColumnConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "showSingleColumn": {
                  "description": "Makes a single hidden column visible again.",
                  "summary": "Show one",
                  "value": {
                    "CONFIG": {
                      "columnIds": [
                        "7617000000508026"
                      ]
                    }
                  }
                },
                "showMultipleColumns": {
                  "description": "Makes several hidden columns visible in one request.",
                  "summary": "Show several",
                  "value": {
                    "CONFIG": {
                      "columnIds": [
                        "7617000000508026",
                        "7617000000508027"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Columns shown successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/{column-id}/dependents": {
      "get": {
        "tags": [
          "Columns"
        ],
        "summary": "Get Column Dependents",
        "description": "Returns every view, custom formula column and aggregate formula that depends on the specified column.\n\nCall this API before deleting or renaming a column to understand the full impact of the change.\n\n**Notes**\n\n> Note:\n>\n> - Call this API before any destructive column operation. When views or customFormulas are non-empty, setting deleteDependentViews to true in the Delete Column API permanently removes all of those objects.\n> - Unlike the other column APIs, which also accept a user with Design Modify permission, this API requires full Workspace Admin access.\n> - The views array can list the same view more than once when the column is used in several ways within that view, for example as both a filter and a display column of a query table.\n> - Obtain the view-id from the Get View List API and the column-id from the Get Table Metadata API.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7107 | The specified column does not exist in the table. | Verify the column-id using the Get Table Metadata API. |\n| 7301 | The user does not have permission to perform this action. | Only Workspace Admins can call this API. |\n| 7319 | The view ID does not belong to the specified workspace. | Confirm that the view-id belongs to the workspace identified by workspace-id. |",
        "operationId": "getColumnDependents",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "$ref": "#/components/parameters/column-id"
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Column dependents retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetColumnDependentsResponse"
                },
                "examples": {
                  "withDependents": {
                    "description": "The column is used by several views and by one custom formula column.",
                    "summary": "With dependents",
                    "value": {
                      "status": "success",
                      "summary": "Get column dependents",
                      "data": {
                        "views": [
                          {
                            "viewId": "221641000006857125",
                            "viewName": "Monthly Sales QT",
                            "viewTypeId": 6,
                            "reportType": "QueryTable"
                          },
                          {
                            "viewId": "221641000006856603",
                            "viewName": "Sales Tabular View",
                            "viewTypeId": 1,
                            "reportType": "Report"
                          },
                          {
                            "viewId": "221641000006856594",
                            "viewName": "Sales by Region",
                            "viewTypeId": 2,
                            "reportType": "Chart"
                          },
                          {
                            "viewId": "221641000006856601",
                            "viewName": "Sales Pivot",
                            "viewTypeId": 3,
                            "reportType": "PivotView"
                          }
                        ],
                        "customFormulas": [
                          {
                            "columnId": "221641000006856615",
                            "columnName": "Profit Margin"
                          }
                        ],
                        "aggregateFormulas": []
                      }
                    }
                  },
                  "noDependents": {
                    "description": "Nothing refers to the column, so it can be deleted without any cascade.",
                    "summary": "No dependents",
                    "value": {
                      "status": "success",
                      "summary": "Get column dependents",
                      "data": {
                        "views": [],
                        "customFormulas": [],
                        "aggregateFormulas": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/data/sort": {
      "put": {
        "tags": [
          "Columns"
        ],
        "summary": "Sort Data by Columns",
        "description": "Sets the default sort order for the rows of the specified table. The API supports two modes.\n\n- **Set sort** - a `columns` array of column IDs and a `sortOrder` are sent to sort the rows by those columns.\n- **Reset sort** - `resetSort` is set to true to clear every sort setting on the table.\n\nThis API is not available in white label or client portal contexts and can be called only through the standard host.\n\n**Notes**\n\n> Note:\n>\n> - This API returns HTTP 204 No Content with no response body on success. There is no status or summary key to parse - treat the HTTP status code as the sole success indicator.\n> - This API is disabled for white label portal contexts. Calls made through a custom portal domain fail.\n> - The sortOrder value applies uniformly to every column in the columns array. Sorting different columns in different directions is not supported through this API - use a report or a query table configuration instead.\n> - The order of the columns array defines the sort priority. The first column ID is the primary sort key and the remaining IDs are the secondary and tertiary keys.\n> - Column IDs must be sent as quoted strings, not as integers.\n> - Sending resetSort together with sortOrder or columns returns error 8182 and no change is made. After a reset, every column reports sortedOrder as 0 and sortedIndex as -1.\n> - A column ID that is not present in the table returns error 8180.\n> - Use the Get Table Metadata API afterwards to confirm the sortedOrder and sortedIndex values of the affected columns.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the view. |\n| 7319 | The view ID does not belong to the specified workspace. | Confirm that the view-id is correct. |\n| 8119 | Invalid value for sortOrder. | Send 1 for ascending or 2 for descending. No other value is accepted. |\n| 8180 | One or more column IDs in the columns array do not belong to this view. | Verify every column ID using the Get Table Metadata API. |\n| 8182 | resetSort and sortOrder cannot be used together. | Send either resetSort set to true on its own, or columns together with sortOrder without resetSort. |",
        "operationId": "sortDataByColumns",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/SortDataByColumnsConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleColumnAscending": {
                  "description": "Sorts the rows of the table by a single column in ascending order.",
                  "summary": "Sort ascending",
                  "value": {
                    "CONFIG": {
                      "columns": [
                        "7617000000508025"
                      ],
                      "sortOrder": 1
                    }
                  }
                },
                "multiColumnDescending": {
                  "description": "Sorts the rows by two columns in descending order. The first column ID is the primary sort key.",
                  "summary": "Multi column sort",
                  "value": {
                    "CONFIG": {
                      "columns": [
                        "7617000000508025",
                        "7617000000508026"
                      ],
                      "sortOrder": 2
                    }
                  }
                },
                "resetSort": {
                  "description": "Clears every sort setting that is currently applied to the table.",
                  "summary": "Reset sort",
                  "value": {
                    "CONFIG": {
                      "resetSort": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Sort order applied successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/{column-id}/lookup": {
      "post": {
        "tags": [
          "Lookups & Relationships"
        ],
        "summary": "Add Lookup",
        "description": "Creates a lookup relationship from the specified child column to a column in a reference table. A lookup links two tables of a workspace through a shared column, in the same way that a foreign key constraint links two relational tables.\n\nThe child column identified by `column-id` in the request URL is the many side of the relationship, and `referenceColumnId` in the reference table is the one, or unique key, side. Once the relationship exists, multi-table reports, pivot tables and query tables can pull data from both tables without a manual join, and the relationship becomes visible in the Schema View of the workspace.\n\n**Notes**\n\n> Note:\n>\n> - This API returns HTTP 204 No Content with no response body on success. There is no status or summary key to parse - treat the HTTP status code as the sole success indicator.\n> - Lookups can be created only between tables. A report, chart, pivot table, query table or dashboard cannot be used as the child view or as the reference view, and both tables must belong to the same workspace.\n> - A child column can take part in exactly one lookup relationship. To point the lookup at a different target, call the Remove Lookup API on the column first and then add the new relationship.\n> - The uniqueness of the reference column is validated before the relationship is created, and duplicate values return error 7509. Uniqueness is checked only at creation time - it is not enforced for rows inserted into the reference table afterwards.\n> - For GEO and GEO_NUM columns, the geo role level must match between the child and the reference column, such as country to country or city to city. A mismatch returns error 7183.\n> - An AUTO_NUMBER column cannot be used as the reference column.\n> - referenceViewId and referenceColumnId are sent as unquoted numbers, unlike the column ID arrays of the Hide Columns and Show Columns APIs, which are sent as strings.\n> - Adding a lookup has no effect on existing reports. It is the removal of a lookup that can break reports spanning the two tables.\n> - Resolve the IDs in this order: Get View List for the child view-id and for referenceViewId, then Get Table Metadata on each table for column-id and referenceColumnId.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7107 | The specified child column does not exist in the child table. | Verify the column-id using the Get Table Metadata API on the child view. |\n| 7166 | The child column is itself a lookup-derived column, and a lookup on a lookup is not allowed. | Use a regular base column of the child table, not a column pulled in from a parent table through an existing lookup. |\n| 7183 | The child column and the reference column have incompatible data types. | Ensure that both columns share a compatible data type. For GEO columns the geo role level must match as well. |\n| 7184 | Adding this lookup would create a circular relationship chain across tables. | Review the existing relationships and choose a reference table that does not already refer to the child table, either directly or transitively. |\n| 7280 | A lookup relationship already exists on this child column. | Remove the existing lookup using the Remove Lookup API and then add the new one. |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the workspace. |\n| 7319 | The reference table does not belong to the same workspace as the child table. | Both tables must belong to the workspace identified by workspace-id. |\n| 7377 | An identical lookup relationship between the same child column and the same reference column is already defined. | No action is needed because the relationship already exists. |\n| 7379 | The reference table is the same as the child table, and a self-referential lookup is not allowed. | Provide a referenceViewId that is different from the view-id in the request URL. |\n| 7509 | The reference column holds duplicate values and cannot serve as the reference side. | Choose a column in the reference table that holds unique values, or de-duplicate the data of the reference column first. |",
        "operationId": "addLookup",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "$ref": "#/components/parameters/column-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AddLookupConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "customerLookup": {
                  "description": "Links the Customer ID column of the Order Details table to the unique Customer ID column of the Customers table.",
                  "summary": "Customer lookup",
                  "value": {
                    "CONFIG": {
                      "referenceViewId": 7617000000509100,
                      "referenceColumnId": 7617000000509105
                    }
                  }
                },
                "productLookup": {
                  "description": "Links the Product Code column of the Sales table to the unique Product Code column of the Products table.",
                  "summary": "Product lookup",
                  "value": {
                    "CONFIG": {
                      "referenceViewId": 7617000000512000,
                      "referenceColumnId": 7617000000512005
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Lookup added successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Lookups & Relationships"
        ],
        "summary": "Remove Lookup",
        "description": "Removes the existing lookup relationship from the specified child column. Once it is removed, the child column no longer refers to the parent table and multi-table views spanning the two tables may break.\n\nBy default the removal is blocked when any report, chart, pivot table or query table depends on the relationship. Set `deleteDependentViews` to true to delete those views along with the relationship.\n\n**Notes**\n\n> Note:\n>\n> - This API returns HTTP 204 No Content with no response body on success. There is no status or summary key to parse - treat the HTTP status code as the sole success indicator.\n> - Call the Get Column Dependents API on the child column before removing the relationship, to discover which views join across it. That list determines whether a safe removal or a cascading removal is appropriate.\n> - Setting deleteDependentViews to true is irreversible. Every multi-table report, chart, pivot table and query table built across the two tables through this lookup is permanently deleted and cannot be recovered.\n> - This API is not idempotent. When no lookup is defined on the column at the time of the call, error 7378 is returned rather than a silent success.\n> - A column holds at most one lookup, but when the internal model has recorded several relation IDs for the same column, for example after a migration, all of them are removed in a single atomic transaction.\n> - After a successful removal, the relationship line between the two tables disappears from the Schema View of the workspace.\n> - Resolve the IDs in this order: Get View List for the view-id, Get Table Metadata for the column-id, then Get Column Dependents to assess the impact.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7107 | The specified child column does not exist in the child table. | Verify the column-id using the Get Table Metadata API. |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the workspace. |\n| 7319 | The child table does not belong to the specified workspace. | Confirm that the view-id is a table within the workspace identified by workspace-id. |\n| 7367 | The lookup is used by one or more dependent views and the removal has been blocked. | Call the Get Column Dependents API to identify the dependent views, then either delete them first or set deleteDependentViews to true to remove them along with the relationship. |\n| 7378 | No lookup relationship is defined on this column. | Verify the column-id and the view-id. The lookup may have been removed already. |",
        "operationId": "removeLookup",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "$ref": "#/components/parameters/column-id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RemoveLookupConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "safeRemove": {
                  "description": "Removes the relationship only when no view depends on it. The request is blocked with error 7367 when dependent views exist.",
                  "summary": "Safe removal",
                  "value": {
                    "CONFIG": {}
                  }
                },
                "cascadeRemove": {
                  "description": "Removes the relationship together with every report, chart, pivot table and query table that joins the two tables through it.",
                  "summary": "Cascade removal",
                  "value": {
                    "CONFIG": {
                      "deleteDependentViews": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Lookup removed successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/querytables": {
      "get": {
        "tags": [
          "Query Tables"
        ],
        "summary": "Get Query Tables",
        "description": "Returns the list of query tables in the specified workspace. The list can be filtered by name or by creator, sorted, and paginated through the CONFIG parameter.\n\nThe view IDs returned by this API are the entry point for the Edit Query Table and the Get Query Table Details APIs.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Create Query Table permission on the workspace. |\n| 8119 | Invalid value for sortedColumn or sortedOrder. | Send a value between 0 and 2 for sortedColumn and 0 or 1 for sortedOrder. |",
        "operationId": "getQueryTables",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "description": "Configuration that filters, paginates and sorts the list of query tables. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "schema": {
              "$ref": "#/components/schemas/GetQueryTablesConfig"
            },
            "style": "form",
            "explode": false,
            "examples": {
              "keywordSearch": {
                "description": "Lists the query tables whose name holds the keyword, sorted by the last modified time in descending order.",
                "summary": "Keyword search",
                "value": {
                  "keyword": "Sales",
                  "sortedColumn": 2,
                  "sortedOrder": 1
                }
              },
              "paginatedList": {
                "description": "Returns the second page of the list, with ten records per page.",
                "summary": "Paginated list",
                "value": {
                  "startIndex": 11,
                  "noOfResult": 10
                }
              },
              "createdByUser": {
                "description": "Lists only the query tables created by the specified Zoho user.",
                "summary": "Creator filter",
                "value": {
                  "criteriaZuid": 60040396055
                }
              }
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Query tables retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQueryTablesResponse"
                },
                "examples": {
                  "queryTableList": {
                    "description": "Two query tables of the workspace, with their folder, ownership and modification details.",
                    "summary": "Query table list",
                    "value": {
                      "status": "success",
                      "summary": "Get query tables",
                      "data": {
                        "queryTables": [
                          {
                            "viewId": "20868000000040794",
                            "viewName": "Multi_Table",
                            "viewDesc": "",
                            "viewType": "QueryTable",
                            "parentViewId": "",
                            "folderId": "20868000000041715",
                            "createdTime": "1781069354934",
                            "createdBy": "sales.admin@zylker.com",
                            "lastModifiedTime": "1781069400680",
                            "lastModifiedBy": "sales.admin@zylker.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "20868000000040672",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "20868000000040782",
                            "viewName": "Regional_Sales_QT",
                            "viewDesc": "",
                            "viewType": "QueryTable",
                            "parentViewId": "",
                            "folderId": "20868000000041715",
                            "createdTime": "1781069354934",
                            "createdBy": "sales.admin@zylker.com",
                            "lastModifiedTime": "1781069417733",
                            "lastModifiedBy": "sales.admin@zylker.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "20868000000040672",
                            "orgId": "700000123456"
                          }
                        ]
                      }
                    }
                  },
                  "emptyList": {
                    "description": "No query table matched the filter that was sent, or the workspace holds none.",
                    "summary": "Empty list",
                    "value": {
                      "status": "success",
                      "summary": "Get query tables",
                      "data": {
                        "queryTables": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Query Tables"
        ],
        "summary": "Create Query Table",
        "description": "Creates a query table by running a SQL SELECT statement against the existing tables and views of the workspace. A query table is a view whose data is computed by executing the statement at query time rather than by storing imported data, which allows joining, aggregating and transforming data from several tables using standard SQL.\n\nThe columns of the query table and their data types are derived from the SELECT clause and cannot be configured separately. The response returns only the view ID of the new query table.\n\n**Rate limit**\n\n- Up to 7 requests per 60 seconds. Exceeding this blocks further calls for 300 seconds.\n\n**Notes**\n\n> Note:\n>\n> - The SQL statement is parsed and validated synchronously at creation time. Syntax errors, unknown tables or columns and unsupported constructs are rejected before the query table is created, and there is no separate draft or asynchronous validation step.\n> - Every table or view named in the FROM and JOIN clauses must already exist in the same workspace and must be referred to by its display name.\n> - queryTableName must be unique within the workspace. A duplicate query table or view name is rejected.\n> - The response returns only viewId. Call the Get Query Table Details API afterwards to retrieve the derived column list and data types, because they are inferred from the SELECT clause rather than specified by the caller.\n> - A query table whose source is a spatial file type is not supported and returns error 7399.\n> - When the same SQL query is submitted concurrently, for example because of a network retry, the second request may be delayed or rejected to avoid creating a duplicate query table.\n> - This API is throttled at 7 requests per user per minute, with a five-minute lockout when the limit is breached, and at 15 requests per minute across the service. Space out bulk creation calls accordingly.\n> - Obtain folderId from the Get Folder List API and the source table names from the Get View List API.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Create Query Table permission on the workspace. |\n| 7399 | The query refers to a spatial file-based table, which is not supported for query tables. | Remove the reference to the spatial table from the SQL query. |\n| 7400 | Query tables are not allowed for this workspace. | Contact your administrator, because this is a workspace-level restriction. |\n| 7401 | The SQL statement is not a valid or allowed SQL construct. | Review the SQL for unsupported syntax. Only SELECT queries are permitted, not DDL or DML statements. |\n| 7402 | The SQL statement is invalid. | Verify the SQL syntax and the names of the referenced objects. |\n| 7403 | Parsing of the SQL query failed. | Check for typos, mismatched parentheses or unsupported SQL grammar. |\n| 7404 | Conversion of the SQL query to the internal execution engine failed. | Simplify the query or check it for unsupported functions and constructs. |\n| 7407 | An invalid column was referred to in the SELECT clause. | Verify that every column named in the SELECT clause exists in the source tables. |\n| 7408 | An invalid column was referred to elsewhere in the query, such as in the WHERE or GROUP BY clause. | Verify every column name used in the query. |\n| 7409 | An unknown table was referred to in the query. | Verify that the table or view name matches the display name of an existing view in the workspace. The match is case-sensitive. |\n| 7413 | The number of arguments passed to a SQL function does not match its expected signature. | Check the expected argument count of the function. |\n| 7421 | A general SQL parse error occurred. | Review the query for syntax errors near the reported location. |\n| 7433 | Duplicate column names were detected in the SELECT clause after aliasing. | Use unique AS aliases for columns that share a name across different tables. |\n| 7447 | The result of the query would exceed the allowed row or column limit. | Add a WHERE clause or reduce the number of selected columns to bring the result within the limits. |",
        "operationId": "createQueryTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateQueryTableConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "joinQuery": {
                  "description": "Creates a query table from an inner join across two source tables of the workspace.",
                  "summary": "Join query",
                  "value": {
                    "CONFIG": {
                      "queryTableName": "Employee_Department",
                      "sqlQuery": "SELECT E.FirstName, E.LastName, D.DepartmentName FROM Employee E INNER JOIN Department D ON E.DepartmentID = D.DepartmentID"
                    }
                  }
                },
                "aggregateQuery": {
                  "description": "Creates an aggregating query table in a specific folder, with a description.",
                  "summary": "Aggregate query",
                  "value": {
                    "CONFIG": {
                      "queryTableName": "Monthly_Sales_Summary",
                      "sqlQuery": "SELECT Region, SUM(SalesAmount) AS TotalSales FROM Sales GROUP BY Region",
                      "description": "Aggregated monthly sales totals by region",
                      "folderId": 20868000000041715
                    }
                  }
                },
                "filteredQuery": {
                  "description": "Creates a query table that exposes only the completed orders of a source table.",
                  "summary": "Filtered query",
                  "value": {
                    "CONFIG": {
                      "queryTableName": "Client_Order_View",
                      "sqlQuery": "SELECT OrderID, OrderDate, Amount FROM Orders WHERE Status = 'Completed'"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Query table created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQueryTableResponse"
                },
                "examples": {
                  "queryTableCreated": {
                    "description": "The view ID of the newly created query table is returned.",
                    "summary": "Query table created",
                    "value": {
                      "status": "success",
                      "summary": "Query table has been created successfully.",
                      "data": {
                        "viewId": "7617000099626164"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/querytables/{querytable-id}": {
      "put": {
        "tags": [
          "Query Tables"
        ],
        "summary": "Edit Query Table",
        "description": "Updates the SQL definition of an existing query table and, optionally, moves it to another folder. The data of the query table is recomputed from the new SQL statement.\n\nThe new statement replaces the existing one entirely - there is no partial update of individual clauses. The display name and the description of a query table cannot be changed through this API.\n\n**Rate limit**\n\n- Up to 7 requests per 60 seconds. Exceeding this blocks further calls for 300 seconds.\n\n**Notes**\n\n> Note:\n>\n> - This API returns HTTP 204 No Content with no response body on success. There is no status or summary key to parse - treat the HTTP status code as the sole success indicator.\n> - sqlQuery is mandatory even when the intent is only to move the query table to another folder. Fetch the current statement using the Get Query Table Details API and resend it unchanged in that case.\n> - The new statement replaces the previous one completely. There is no partial or incremental update of individual clauses.\n> - When the new statement selects a different set of columns, whether added, removed, renamed or retyped, the column list of the query table is recomputed and any report or dashboard built on a removed or renamed column breaks. Inspect the current schema through Get Query Table Details before making structural changes.\n> - The request is rejected with error 7429 when another schema-changing operation is already in progress on the query table.\n> - This API cannot rename the query table or change its description. Only the SQL statement and the folder can be updated here.\n> - This API is throttled at 7 requests per user per minute, with a five-minute lockout when the limit is breached, and at 15 requests per minute across the service.\n> - Call the Get Query Table Details API afterwards to confirm the updated column schema.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the query table. |\n| 7319 | The query table does not belong to the specified workspace. | Confirm that the querytable-id belongs to the workspace identified by workspace-id. |\n| 7401 | The SQL statement is not a valid or allowed SQL construct. | Only SELECT queries are permitted. |\n| 7402 | The SQL statement is invalid. | Verify the SQL syntax and the names of the referenced objects. |\n| 7403 | Parsing of the SQL query failed. | Check for typos or unsupported SQL grammar. |\n| 7404 | Conversion of the SQL query to the internal execution engine failed. | Simplify the query or check it for unsupported functions and constructs. |\n| 7407 | An invalid column was referred to in the SELECT clause. | Verify that every column name exists in the source tables. |\n| 7409 | An unknown table was referred to in the query. | Verify that the table or view name matches an existing view in the workspace. |\n| 7422 | The query table is used as a source by a child view, which prevents this kind of structural change. | Review the dependent views before making incompatible schema changes. |\n| 7429 | A design edit is already in progress for this query table. | Wait for the in-progress operation to complete and then retry. |\n| 7447 | The result of the query would exceed the allowed row or column limit. | Add a filter or reduce the number of selected columns. |",
        "operationId": "editQueryTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/querytable-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/EditQueryTableConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "sqlUpdate": {
                  "description": "Replaces the SQL definition of the query table, leaving it in its current folder.",
                  "summary": "SQL update",
                  "value": {
                    "CONFIG": {
                      "sqlQuery": "SELECT E.FirstName, E.LastName, D.DepartmentName, E.Salary FROM Employee E INNER JOIN Department D ON E.DepartmentID = D.DepartmentID"
                    }
                  }
                },
                "sqlAndFolderUpdate": {
                  "description": "Replaces the SQL definition and moves the query table into a different folder.",
                  "summary": "SQL and folder",
                  "value": {
                    "CONFIG": {
                      "sqlQuery": "SELECT Region, SUM(SalesAmount) AS TotalSales FROM Sales WHERE Year = 2026 GROUP BY Region",
                      "folderId": 20868000000041720
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Query table updated successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Query Tables"
        ],
        "summary": "Get Query Table Details",
        "description": "Returns the full metadata of the specified query table, including its SQL definition, the source views that the statement refers to, and the derived column schema.\n\nThis is the only API that exposes the SQL text of a query table, so use it to audit the definition and to fetch the current statement before calling the Edit Query Table API.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | The user does not have permission to perform this action. | Ensure that the user is a Workspace Admin or has Design Modify permission on the query table. |\n| 7319 | The query table does not belong to the specified workspace. | Confirm that the querytable-id belongs to the workspace identified by workspace-id. |",
        "operationId": "getQueryTableDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/querytable-id"
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Query table details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQueryTableDetailsResponse"
                },
                "examples": {
                  "joinQueryTable": {
                    "description": "A query table built on an inner join, showing both source tables in involvedViews and the alias-prefixed derived column names.",
                    "summary": "Join query table",
                    "value": {
                      "status": "success",
                      "summary": "Get querytable details",
                      "data": {
                        "viewId": "7617000099626164",
                        "viewName": "QT_1",
                        "viewDesc": "",
                        "sqlQuery": "SELECT\n\t\t E.FirstName,\n\t\t E.LastName,\n\t\t D.DepartmentName\nFROM  Employee E\nINNER JOIN Department D ON E.DepartmentID  = D.DepartmentID  \n",
                        "workspaceId": "7617000099626011",
                        "orgId": "700000123456",
                        "createdTime": "1743431919984",
[...]
