{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Data Operations in Zoho Analytics — covering row operations, import/export workflows, and datasource sync/connectivity."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Row Operations",
      "description": "APIs for adding, updating, and deleting rows in a view."
    },
    {
      "name": "Data Import (Synchronous)",
      "description": "APIs for importing data directly into new or existing tables."
    },
    {
      "name": "Data Import (Asynchronous)",
      "description": "APIs for creating and monitoring asynchronous import jobs and batch imports."
    },
    {
      "name": "Data Export (Synchronous)",
      "description": "APIs for exporting view data directly."
    },
    {
      "name": "Data Export (Asynchronous)",
      "description": "APIs for creating export jobs and downloading generated exports."
    },
    {
      "name": "Data Sync & Connectivity",
      "description": "APIs for import history, datasource sync/refetch, datasource updates, and listing datasources."
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/rows": {
      "post": {
        "tags": [
          "Row Operations"
        ],
        "summary": "Add Row",
        "description": "Inserts a single row into a table.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | DDLLOCKSINCEIMPORTINPROGRESS — A batch import is holding a lock on this table. | Retry once the import has finished. |\n| 7104 | METAOBJECTNOTPRESENT — The view does not exist. | Verify . |\n| 7137 | NOTATABLE — The target view is not a table. | Target a table; reports, dashboards, and query tables cannot accept rows. |\n| 7164 | SYSTEMTABLEDATAMOD — System table data cannot be modified. | System tables are managed by Zoho Analytics. Target a user-created table instead. |\n| 7165 | SNAPSHOTTABLEDATAMOD — Snapshot table data cannot be modified. | Target a non-snapshot table. |\n| 7301 | SECURITYNOTPERMITTED — The user cannot add rows to this view. | Ensure the user is an Account Admin, Organization Admin, Workspace Admin, View Owner, or has Add Row permission on the view. |\n| 7405 | DMLNOTALLOWED — Row modification is not allowed for this table. | Use a table that permits DML. |\n| 7512 | INVALIDDATEFORMAT — A pattern in dateFormat / columnDateFormat could not be parsed. | Supply a valid date pattern such as dd-MMM-yyyy. |\n| 7515 | UNKNOWNLOOKUPVALUE — A value for a lookup column does not exist in the parent table. | Add the value to the parent table first, or send an existing one. |\n| 8016 | APINOCOLUMNPRESENT — None of the supplied column names matched a column in the table. | Check the names via Get Columns. |\n| 8504 | LESSTHANMINOCCURANCE — CONFIG was not sent, or columns is missing. | Send a CONFIG object containing columns. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token with scope ZohoAnalytics.data.create. |\n| 101021 | NOTASTREAMTABLE — Row operations are not supported on a stream table. | Target a non-stream table. |",
        "operationId": "addRow",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID (can be obtained using Get Organizations API)."
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AddRowConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "addRow": {
                  "description": "Writes a single row using the column name and value pairs sent in columns.",
                  "summary": "Add a row",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Region": "East",
                        "Sales": "1000"
                      }
                    }
                  }
                },
                "addDateRow": {
                  "description": "Writes a row containing date columns, declaring the format of each date column separately.",
                  "summary": "Add dated row",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Region": "East",
                        "Sales": "1000",
                        "Order Date": "01-Jan-2026",
                        "Ship Date": "15/01/2026"
                      },
                      "columnDateFormat": {
                        "Order Date": "dd-MMM-yyyy",
                        "Ship Date": "dd/MM/yyyy"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRowResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Add row",
                      "data": {
                        "addedColumns": {
                          "region": "East",
                          "Sales": "1000"
                        },
                        "invalidColumns": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "Row Operations"
        ],
        "summary": "Update Rows",
        "description": "Updates the rows of a table that match a filter, or every row. Can optionally insert a row when nothing matches.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | DDLLOCKSINCEIMPORTINPROGRESS — A batch import is holding a lock on this table. | Retry once the import has finished. |\n| 7104 | METAOBJECTNOTPRESENT — The view does not exist. | Verify . |\n| 7137 | NOTATABLE — The target view is not a table. | Target a table. |\n| 7164 | SYSTEMTABLEDATAMOD — System table data cannot be modified. | Target a user-created table instead. |\n| 7165 | SNAPSHOTTABLEDATAMOD — Snapshot table data cannot be modified. | Target a non-snapshot table. |\n| 7301 | SECURITYNOTPERMITTED — The user cannot update rows in this view, or lacks Add Row permission when addIfNotExist fires. | Ensure the user has Update Row permission — and Add Row permission too if addIfNotExist is used. |\n| 7330 | UNKNOWNCOLUMNINFILTERCRITERIA — A column referenced in criteria does not exist in the table. | Verify the column names in criteria via Get Columns. |\n| 7405 | DMLNOTALLOWED — Row modification is not allowed for this table. | Use a table that permits DML. |\n| 7512 | INVALIDDATEFORMAT — A pattern in dateFormat / columnDateFormat could not be parsed. | Supply a valid date pattern. |\n| 7515 | UNKNOWNLOOKUPVALUE — A value for a lookup column does not exist in the parent table. | Send an existing lookup value. |\n| 8016 | APINOCOLUMNPRESENT — None of the supplied column names matched a column in the table. | Check the names via Get Columns. |\n| 8062 | ADDROWREQUESTSTILLINPROGRESS — Another row-write request for this table is still being processed. | Retry after the in-flight request completes. |\n| 8130 | INVALIDUPDATECRITERIACONFIGURATION — Both criteria and updateAllRows were sent, or neither was. | Send exactly one of the two. |\n| 8504 | LESSTHANMINOCCURANCE — CONFIG was not sent, or columns is missing. | Send a CONFIG object containing columns. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token with scope ZohoAnalytics.data.update. |\n| 101021 | NOTASTREAMTABLE — Row operations are not supported on a stream table. | Target a non-stream table. |",
        "operationId": "updateRows",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID (can be obtained using Get Organizations API)."
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateRowsConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "updateMatching": {
                  "description": "Updates only the rows that satisfy the criteria.",
                  "summary": "Update matching rows",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Sales": "2000"
                      },
                      "criteria": "\"SalesTable\".\"Region\"='East'"
                    }
                  }
                },
                "updateAll": {
                  "description": "Updates every row in the table. criteria must not be sent along with updateAllRows.",
                  "summary": "Update all rows",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Sales": "2000"
                      },
                      "updateAllRows": true
                    }
                  }
                },
                "upsertRow": {
                  "description": "Updates the rows matching the criteria, and adds a new row when nothing matches.",
                  "summary": "Update or add",
                  "value": {
                    "CONFIG": {
                      "columns": {
                        "Region": "East",
                        "Sales": "2000"
                      },
                      "criteria": "\"SalesTable\".\"Region\"='East'",
                      "addIfNotExist": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.update"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRowsResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Update row",
                      "data": {
                        "updatedColumns": {
                          "Region": "East",
                          "Sales": "1000"
                        },
                        "updatedRows": 27,
                        "invalidColumns": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Row Operations"
        ],
        "summary": "Delete Row",
        "operationId": "deleteRows",
        "description": "Deletes the rows of a table that match a filter, or every row.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | DDLLOCKSINCEIMPORTINPROGRESS — A batch import is holding a lock on this table. | Retry once the import has finished. |\n| 7104 | METAOBJECTNOTPRESENT — The view does not exist. | Verify . |\n| 7137 | NOTATABLE — The target view is not a table. | Target a table. |\n| 7164 | SYSTEMTABLEDATAMOD — System table data cannot be modified. | Target a user-created table instead. |\n| 7165 | SNAPSHOTTABLEDATAMOD — Snapshot table data cannot be modified. | Target a non-snapshot table. |\n| 7301 | SECURITYNOTPERMITTED — The user cannot delete rows from this view. | Ensure the user is an Account Admin, Organization Admin, Workspace Admin, View Owner, or has Delete All Rows permission on the view. |\n| 7330 | UNKNOWNCOLUMNINFILTERCRITERIA — A column referenced in criteria does not exist in the table. | Verify the column names in criteria via Get Columns. |\n| 7405 | DMLNOTALLOWED — Row modification is not allowed for this table. | Use a table that permits DML. |\n| 8062 | ADDROWREQUESTSTILLINPROGRESS — Another row-write request for this table is still being processed. | Retry after the in-flight request completes. |\n| 8131 | INVALIDDELETECRITERIACONFIGURATION — Both criteria and deleteAllRows were sent, or neither was. | Send exactly one of the two. |\n| 8504 | LESSTHANMINOCCURANCE — CONFIG was not sent. | Send a CONFIG object containing criteria or deleteAllRows. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token with scope ZohoAnalytics.data.delete. |",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID (can be obtained using Get Organizations API)."
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeleteRowsConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "deleteMatching": {
                  "description": "Deletes only the rows that satisfy the criteria.",
                  "summary": "Delete matching rows",
                  "value": {
                    "CONFIG": {
                      "criteria": "\"SalesTable\".\"Region\"='East'"
                    }
                  }
                },
                "deleteAll": {
                  "description": "Deletes every row in the table. criteria must not be sent along with deleteAllRows.",
                  "summary": "Delete all rows",
                  "value": {
                    "CONFIG": {
                      "deleteAllRows": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.delete"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRowsResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Delete row",
                      "data": {
                        "deletedRows": 27
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/data": {
      "post": {
        "tags": [
          "Data Import (Synchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Import Data into a New Table",
        "description": "Creates a new table in the workspace from the uploaded data and returns the new table's ID along with the import result.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | DDLLOCKSINCEIMPORTINPROGRESS — A batch import is holding a lock in this workspace. | Retry once the import has finished. |\n| 7111 | METADBOBJECTNAMEDUPLICATED — An object with this tableName already exists in the workspace. | Choose a different name, or import into the existing table with Import Data into an Existing Table (Synchronous). |\n| 7208 | IMPORTFILENUMBEROFFIELDSEXCEEDSSIZE — A row contains more fields than the header defines. | Correct the source data, or set the right delimiter. |\n| 7232 | IMPORTABORTED — A value could not be parsed and onError is ABORT. errorMessage carries the per-line detail. | Fix the data, or resend with onError set to SKIPROW or SETCOLUMNEMPTY. |\n| 7248 | INVALIDFILECONTENT — The payload could not be parsed as the declared fileType. | Check that fileType matches the actual content. |\n| 7301 | SECURITYNOTPERMITTED — The user cannot create tables in this workspace. | Ensure the user is an Account Admin, Organization Admin, Workspace Admin, or has Create Table permission. |\n| 7478 | MORETHANMAXCOLUMN — The source has more columns than a table can hold. | Reduce the columns, or use selectedColumns to import a subset. |\n| 7512 | INVALIDDATEFORMAT — A pattern in dateFormat / columnDateFormat could not be parsed. | Supply a valid date pattern such as dd-MMM-yyyy. |\n| 8046 | INVALIDCOLUMNSSELECTED — A name in selectedColumns is not present in the source data. | Match the names to the source's header row. |\n| 8079 | ATTRIBUTENOTPRESENTINJSONCONFIGURATION — A mandatory attribute is missing; with autoIdentify: false this is usually delimiter or quoted. | The message names the attribute. |\n| 8119 | INVALIDVALUEFORATTRIBUTE — fileType, onError, delimiter, quoted, thousandSeparator, or decimalSeparator is outside its permitted set. | The message names the attribute and the allowed values. |\n| 8139 | PASTEDDATALIMITEXCEEDED — The DATA parameter exceeds 10,000,000 characters. | Send the payload as a FILE upload instead. |\n| 8148 | DECIMALANDTHOUSANDSEPARATORSAME — The thousand and decimal separators resolve to the same character. | Choose different separators. |\n| 8149 | DECIMALANDTHOUSANDCOLUMNSEPARATORLEGNTHVALIDATION — A columnSeparators entry has fewer than two values. | Send [thousandSeparator, decimalSeparator] for each column. |\n| 8504 | LESSTHANMINOCCURANCE — CONFIG was not sent, or a mandatory key is missing at the template level. | Send a complete CONFIG object. |\n| 8516 | UNABLETOPARSEDATATYPE — A CONFIG value has the wrong JSON type. | Check that booleans are booleans and integers are integers. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token with scope ZohoAnalytics.data.create. |",
        "operationId": "importDataNewTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with either FILE or DATA - exactly one of the two.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be imported. Maximum allowed file size is 20 MB. Send either FILE or DATA, not both."
                  },
                  "DATA": {
                    "type": "string",
                    "description": "The raw string to be imported, in the format declared by fileType in CONFIG. Send either FILE or DATA, not both."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/ImportConfigNewTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "DATA": {
                  "contentType": "text/plain"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "fileImport": {
                  "description": "File upload. The FILE part carries the file contents; the value shown here is a placeholder for the uploaded file.",
                  "summary": "Import using FILE",
                  "value": {
                    "FILE": "@/path/to/Sales.csv",
                    "CONFIG": {
                      "tableName": "Sales",
                      "fileType": "csv",
                      "autoIdentify": true
                    }
                  }
                },
                "dataImport": {
                  "description": "Raw data import. The data is sent inline as a string, with no file upload.",
                  "summary": "Import using DATA",
                  "value": {
                    "DATA": "[{\"Region\":\"East\",\"Sales\":\"1000\"},{\"Region\":\"West\",\"Sales\":\"2000\"}]",
                    "CONFIG": {
                      "tableName": "Sales",
                      "fileType": "json",
                      "autoIdentify": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful import data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Import data",
                      "data": {
                        "viewId": "1767024000003153002",
                        "importSummary": {
                          "importType": "APPEND",
                          "totalColumnCount": 7,
                          "selectedColumnCount": 7,
                          "totalRowCount": 101,
                          "successRowCount": 101,
                          "warnings": 0,
                          "importOperation": "created"
                        },
                        "columnDetails": {
                          "Date": "Date",
                          "Region": "Plain Text",
                          "Product Category": "Plain Text",
                          "Product": "Plain Text",
                          "Customer Name": "Plain Text",
                          "Sales": "Currency",
                          "Cost": "Currency"
                        },
                        "importErrors": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/data": {
      "post": {
        "tags": [
          "Data Import (Synchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Import Data into an Existing Table",
        "description": "Loads the uploaded data into an existing table, appending, replacing, or merging according to importType.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | DDLLOCKSINCEIMPORTINPROGRESS — Another import is holding a DDL lock on this table. | Retry once it has finished. |\n| 7104 | METAOBJECTNOTPRESENT — The view does not exist. | Verify . |\n| 7107 | METAOBJECTNOTPRESENT — A column named in matchingColumns is not present in the table. | Verify the names via Get Columns. |\n| 7164 | SYSTEMTABLEDATAMOD — System table data cannot be modified. | Target a user-created table instead. |\n| 7165 | SNAPSHOTTABLEDATAMOD — Snapshot table data cannot be modified. | Target a non-snapshot table. |\n| 7208 | IMPORTFILENUMBEROFFIELDSEXCEEDSSIZE — A row contains more fields than expected. | Correct the source data or the delimiter. |\n| 7232 | IMPORTABORTED — A value could not be parsed and onError is ABORT. | Fix the data, or resend with SKIPROW / SETCOLUMNEMPTY. |\n| 7248 | INVALIDFILECONTENT — The payload could not be parsed as the declared fileType. | Check that fileType matches the content. |\n| 7301 | SECURITYNOTPERMITTED — The user lacks the import permission matching importType, or is outside the workspace's permitted IP range. | Grant the specific import permission (see Permission Model), or use an importType the user is allowed. |\n| 7319 | OBJIDNOTBELONGSTODB — The table does not belong to the specified workspace. | Ensure and are consistent. |\n| 7478 | MORETHANMAXCOLUMN — The source has more columns than the table can hold. | Reduce the columns, or use selectedColumns. |\n| 7512 | INVALIDDATEFORMAT — A date pattern could not be parsed. | Supply a valid pattern. |\n| 8046 | INVALIDCOLUMNSSELECTED — A name in selectedColumns is not present in the source data. | Match the names to the source's header row. |\n| 8079 | ATTRIBUTENOTPRESENTINJSONCONFIGURATION — A mandatory attribute is missing — commonly matchingColumns for UPDATEADD, or delimiter/quoted when autoIdentify is false. | The message names the attribute. |\n| 8119 | INVALIDVALUEFORATTRIBUTE — importType, fileType, onError, delimiter, quoted, thousandSeparator, or decimalSeparator is outside its permitted set. | The message names the attribute and the allowed values. |\n| 8139 | PASTEDDATALIMITEXCEEDED — The DATA parameter exceeds 10,000,000 characters. | Send the payload as a FILE upload instead. |\n| 8148 | DECIMALANDTHOUSANDSEPARATORSAME — The thousand and decimal separators are the same character. | Choose different separators. |\n| 8149 | DECIMALANDTHOUSANDCOLUMNSEPARATORLEGNTHVALIDATION — A columnSeparators entry has fewer than two values. | Send [thousandSeparator, decimalSeparator] per column. |\n| 8504 | LESSTHANMINOCCURANCE — CONFIG was not sent, or a mandatory key is missing. | Send a complete CONFIG object. |\n| 8516 | UNABLETOPARSEDATATYPE — A CONFIG value has the wrong JSON type. | Check booleans and integers are sent as such. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token with scope ZohoAnalytics.data.create. |",
        "operationId": "importDataExistingTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with either FILE or DATA - exactly one of the two.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be imported. Maximum allowed file size is 20 MB. Send either FILE or DATA, not both."
                  },
                  "DATA": {
                    "type": "string",
                    "description": "The raw string to be imported, in the format declared by fileType in CONFIG. Send either FILE or DATA, not both."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/ImportConfigExistingTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "DATA": {
                  "contentType": "text/plain"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "fileImport": {
                  "description": "File upload using the updateadd import type. Rows whose matchingColumns values match an existing row are updated; the rest are appended.",
                  "summary": "Import using FILE",
                  "value": {
                    "FILE": "@/path/to/Sales.csv",
                    "CONFIG": {
                      "importType": "UPDATEADD",
                      "fileType": "csv",
                      "autoIdentify": true,
                      "matchingColumns": [
                        "Region",
                        "Product"
                      ]
                    }
                  }
                },
                "dataImport": {
                  "description": "Raw data import using the updateadd import type. The data is sent inline as a string, with no file upload.",
                  "summary": "Import using DATA",
                  "value": {
                    "DATA": "[{\"Region\":\"East\",\"Sales\":\"1000\"},{\"Region\":\"West\",\"Sales\":\"2000\"}]",
                    "CONFIG": {
                      "importType": "UPDATEADD",
                      "fileType": "json",
                      "autoIdentify": true,
                      "matchingColumns": [
                        "Region",
                        "Product"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful import data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExistImportSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Import data",
                      "data": {
                        "viewId": "1767024000003153002",
                        "importSummary": {
                          "importType": "APPEND",
                          "totalColumnCount": 7,
                          "selectedColumnCount": 7,
                          "totalRowCount": 101,
                          "successRowCount": 101,
                          "warnings": 0,
                          "importOperation": "updated"
                        },
                        "columnDetails": {
                          "Date": "Date",
                          "Region": "Plain Text",
                          "Product Category": "Plain Text",
                          "Product": "Plain Text",
                          "Customer Name": "Plain Text",
                          "Sales": "Currency",
                          "Cost": "Currency"
                        },
                        "importErrors": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Data Export (Synchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.read"
            ]
          }
        ],
        "summary": "Export Data from a View",
        "description": "Exports the data of a view and returns the generated file in the response body.\n\nNote: Export Data API is restricted for certain resources (given below). For these cases, use the Asynchronous Export APIs instead:\n\n  - Tables having more than one million rows.\n  - Tables and Views from live connect workspaces.\n  - Dashboard and QueryTable view types.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7104 | METAOBJECTNOTPRESENT — The view does not exist. | Verify with Get View List. |\n| 7301 | SECURITYNOTPERMITTED — The caller lacks Export permission on the view, or the view does not belong to . | Ensure the caller is an Account Admin, Organization Admin, Workspace Admin, or View Owner, or holds Export permission on the view. |\n| 7327 | FILTERCRITERIAINVALID — criteria parsed but could not be converted into a query. | Simplify the expression and check operator and value types. |\n| 7330 | UNKNOWNCOLUMNINFILTERCRITERIA — A column named in criteria does not exist in the view. | Check the name against Get Columns. |\n| 7331 | FILTERCRITERIAPARSEERROR — criteria is syntactically malformed. | Check quoting: double quotes around column names, single quotes around string literals. |\n| 7332 | UNKNOWNTABLEINFILTERCRITERIA — A table qualifier in criteria is not part of the view. | Qualify columns only with tables the view actually uses. |\n| 7333 | INVALIDGROUPFUNCUSEINFILTERCRITERIA — An aggregate function was used in criteria. | Remove sum, avg, count, and similar functions; filter on raw column values instead. |\n| 7543 | ONLYBASETABLECOLINTABULARFILTERCRITERIA — criteria on a tabular view referenced a column outside its base table. | Filter using only the base table's own columns. |\n| 7565 | UNVERIFIEDEMAIL — The calling user's primary email address is not verified. | Verify the account's primary email address and retry. |\n| 7801 | MARGINVALUEEXCEEDS — A PDF margin is outside 0–1 inches. | Send a value between 0 and 1. |\n| 7803 | INVALIDDIMENSION — width or height is outside the permitted image range. | Use width 250–2000 and height 200–2000. |\n| 7806 | XLSCELLLIMITEXCEEDS — The XLS export exceeds the per-sheet cell limit. | Narrow the export with criteria or selectedColumns, or export as CSV. |\n| 7807 | XLSCOLLIMITEXCEEDS — More than 256 columns were requested for an XLS export. | Reduce the column count with selectedColumns, or export as CSV. |\n| 7808 | XLSCELLCHARLIMITEXCEEDS — A single cell exceeds 32,767 characters. | Exclude the offending column, or export as CSV. |\n| 7809 | XLSNODATA — The XLS export produced no data. | Widen or remove criteria. |\n| 7824 | EXPORTREQBLOCKED — Export has been blocked for this workspace. | Contact Zoho Analytics support using the address in the error message. |\n| 7827 | EXPPDFRECORDLIMIT — The PDF exceeds 1,000,000 cells (visible columns × rows). | Narrow the export with criteria or selectedColumns, or choose a non-paginated format. |\n| 7830 | EXPALLRECORDLIMIT — The exported payload exceeds 100 MB. | Split the export with criteria, or use the asynchronous export. |\n| 8001 | INVALIDRESPFORMAT — responseFormat is not a supported value. | Send one of csv, json, xml, xls, pdf, html, image. |\n| 8014 | APIIMAGERESPONSENOTPOSSIBLE — image was requested for a view that is not a chart. | Export charts as images; use pdf or html for tables and reports. |\n| 8015 | APIEXPORTCOLUMNNOTPRESENT — A name in selectedColumns does not match any column in the view. | Check the display names with Get Columns. |\n| 8017 | INVALIDIMAGEFORMAT — imageFormat is not png, jpg, or jpeg. | Send one of the three supported values. |\n| 8088 | SECURITYCONTROLSFEATUREDISABLED — Export has been disabled for the organization by an administrator. | Ask an Organization Admin to re-enable export in the organization's security controls. |\n| 8119 | INVALIDVALUEFORATTRIBUTE — A numeric or enumerated attribute is outside its permitted set. The message names the attribute and the accepted values. | Correct the value; see Appendix E. |\n| 8133 | SYNCEXPORTNOTALLOWED — The view is a dashboard, a query table, a live-connect view, or a table above the row limit. | Use the asynchronous export API for this view. |\n| 8188 | EXPORTINVALIDPASSWORD — password is empty, blank, or shorter than 6 characters. | Send a password of 6–256 characters. |\n| 8241 | SYSTEMTAGDATAWARNINGV2VALIDATIONCONFIRMATION — The view carries a restricted DATAWARNING system tag. | Review the warning, then resend with \"validateSystemTags\": false. |\n| 8507 | MORETHANMAXLENGTH — CONFIG exceeds 100,000 characters. | Shorten criteria or selectedColumns. |\n| 8547 | ARRAYSIZEOUTOFRANGE — selectedColumns is empty or holds more than 300 entries. | Send between 1 and 300 column names, or omit the attribute. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token carrying ZohoAnalytics.data.read. |",
        "operationId": "exportDataView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "in": "query",
            "name": "CONFIG",
            "schema": {
              "$ref": "#/components/schemas/ExportConfig"
            },
            "examples": {
              "filteredExport": {
                "description": "Exports only the rows matching the criteria as a CSV file.",
                "summary": "Export using criteria",
                "value": {
                  "responseFormat": "csv",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "delimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "protectedExport": {
                "description": "Exports the selected columns into a password protected CSV file. Shows every attribute the CONFIG accepts; only the mandatory ones need to be sent.",
                "summary": "Export with password",
                "value": {
                  "responseFormat": "csv",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "password": "Zoho@123",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "showHiddenCols": false,
                  "showPersonalCols": false,
                  "validateSystemTags": true,
                  "delimiter": 0,
                  "recordDelimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "jsonExport": {
                "description": "Exports the data as a JSON file with each row returned as column name and value pairs.",
                "summary": "Export as JSON",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "json",
                  "keyValueFormat": true
                }
              },
              "xmlExport": {
                "description": "Exports the data as an XML file. Set keyValueFormat to true to return each row as column name and value pairs.",
                "summary": "Export as XML",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "xml",
                  "keyValueFormat": false
                }
              },
              "xlsExport": {
                "description": "Exports the selected columns into an Excel workbook.",
                "summary": "Export as XLS",
                "value": {
                  "responseFormat": "xls",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "includeHeader": true,
                  "includeRowNums": true
                }
              },
              "pdfExport": {
                "description": "Exports the data as a PDF file using the PDF specific page setup attributes.",
                "summary": "Export as PDF",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "pdf",
                  "paperSize": 4,
                  "paperStyle": "Portrait",
                  "showTitle": 0,
                  "exportLanguage": 0
                }
              },
              "htmlExport": {
                "description": "Exports the data as an HTML file with the title and description placed at the top.",
                "summary": "Export as HTML",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "html",
                  "includeTitle": 0,
                  "includeDesc": 0
                }
              },
              "imageExport": {
                "description": "Exports the view as an image of the given dimensions and format.",
                "summary": "Export as image",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "image",
                  "imageFormat": "png",
                  "width": 500,
                  "height": 400,
                  "legend": true
                }
              }
            },
            "description": "JSONObject with configuration to export data from the specified view. (Refer `ExportConfig` schema). Optional - when it is not sent the whole view is exported as csv with the default settings. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful export data response. The content type will vary based on `responseFormat` in CONFIG.",
            "content": {
              "text/csv": {},
              "application/json": {},
              "application/xml": {},
              "application/vnd.ms-excel": {},
              "application/pdf": {},
              "text/html": {},
              "image/png": {},
              "image/jpeg": {}
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/data": {
      "post": {
        "tags": [
          "Data Import (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Create Import Job for a New Table",
        "description": "Uploads a file, creates a new table from it, and returns a job ID for tracking. The table is created and populated in the background.\n\nWorkflow of Asynchronous Import API:\n\n1. Create Import Job:\n   - Initiate the import by calling the Create Import Job API.\n   - A unique JOBID will be returned in the response, which serves as the reference for tracking the import job.\n\n2. Check Job Status:\n   - Use the Get Import Job Details API to monitor the status of the import job.\n   - The JOBID must be used in the request to check the status periodically (e.g., every 10 seconds).\n   - The response will include a JOBCODE, which indicates the current state of the job.\n\nHandling Import Job Status Based on JOBCODE:\n  - If the JOBCODE is 1001 or 1002, wait for a few seconds and repeat the status check loop.\n  - If the JOBCODE is 1003, stop the status check and inspect the error message for details.\n  - If the JOBCODE is 1005, verify the validity of the JOBID and terminate the status check.\n  - If the JOBCODE is 1004, the job is complete, and the import summary will be returned.\n\nLimitations:\n  - The import job summary is retained only for one hour after job completion.\n  - A maximum of 5 simultaneous import jobs is allowed per organization.\n  - A maximum file size of 100 MB can be imported.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | DDLLOCKSINCEIMPORTINPROGRESS — A batch import is holding a lock in this workspace. | Retry once it has finished. |\n| 7111 | METADBOBJECTNAMEDUPLICATED — An object with this tableName already exists. | Choose a different name, or import into the existing table with Create Import Job for an Existing Table (Asynchronous). |\n| 7203 | IMPORTFILEEMPTY — No file was uploaded, or the uploaded file is empty. | Attach a non-empty FILE part. |\n| 7248 | INVALIDFILECONTENT — The file could not be parsed as the declared fileType. | Check that fileType matches the actual content. |\n| 7301 | SECURITYNOTPERMITTED — The user cannot create tables in this workspace. | Ensure the user is an Account Admin, Organization Admin, Workspace Admin, or has Create Table permission. |\n| 7478 | MORETHANMAXCOLUMN — The source has more columns than a table can hold. | Reduce the columns, or use selectedColumns. |\n| 7512 | INVALIDDATEFORMAT — A date pattern could not be parsed. | Supply a valid pattern such as dd-MMM-yyyy. |\n| 8046 | INVALIDCOLUMNSSELECTED — A name in selectedColumns is not present in the source. | Match the names to the source's header row. |\n| 8079 | ATTRIBUTENOTPRESENTINJSONCONFIGURATION — A mandatory attribute is missing; with autoIdentify: false this is usually delimiter, quoted, or commentChar. | The message names the attribute. |\n| 8119 | INVALIDVALUEFORATTRIBUTE — fileType, onError, delimiter, quoted, thousandSeparator, or decimalSeparator is outside its permitted set. | The message names the attribute and allowed values. |\n| 8125 | CALLBACKURLNOTVALID — callbackUrl is not a well-formed URL. | Supply a valid absolute http/https URL. |\n| 8126 | CALLBACKURLCONNECTIONERROR — The callback endpoint could not be reached. | Ensure the endpoint is publicly reachable. |\n| 8127 | CALLBACKURLRESTRICTED — The callback URL resolves to a private or internal address. | Use a publicly routable endpoint. |\n| 8134 | ASYNCIMPORTLIMITEXCEEDED — The organization already has the maximum number of import jobs in progress. | Wait for a running job to finish and retry. |\n| 8148 | DECIMALANDTHOUSANDSEPARATORSAME — The thousand and decimal separators are the same character. | Choose different separators. |\n| 8149 | DECIMALANDTHOUSANDCOLUMNSEPARATORLEGNTHVALIDATION — A columnSeparators entry has fewer than two values. | Send [thousandSeparator, decimalSeparator] per column. |\n| 8504 | LESSTHANMINOCCURANCE — CONFIG was not sent, or a mandatory key is missing. | Send a complete CONFIG object. |\n| 8516 | UNABLETOPARSEDATATYPE — A CONFIG value has the wrong JSON type. | Check booleans and integers are sent as such. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token with scope ZohoAnalytics.data.create. |",
        "operationId": "createImportJobNewTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with FILE.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "FILE",
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be imported. Format should be multipart/form-data. Maximum allowed file size is 100 MB."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/BulkImportConfigNewTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "csvImport": {
                  "description": "File upload. The FILE part carries the file contents; the value shown here is a placeholder for the uploaded file.",
                  "summary": "CSV file import",
                  "value": {
                    "FILE": "@/path/to/Sales.csv",
                    "CONFIG": {
                      "tableName": "Sales",
                      "fileType": "csv",
                      "autoIdentify": true
                    }
                  }
                },
                "jsonImport": {
                  "description": "File upload. The FILE part carries the file contents; the value shown here is a placeholder for the uploaded file.",
                  "summary": "JSON file import",
                  "value": {
                    "FILE": "@/path/to/Sales.json",
                    "CONFIG": {
                      "tableName": "Sales",
                      "fileType": "json",
                      "autoIdentify": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful import job creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobCreationResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk import job",
                      "data": {
                        "jobId": "1767024000003153087"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Data Export (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.read"
            ]
          }
        ],
        "summary": "Create Export Job using SQL Query",
        "description": "Creates an export job whose source is an ad-hoc SQL SELECT statement rather than a saved view.\n\nWorkflow:\n1. Create Export Job:\n  - Call the Create Export Job API.\n  - Receive a unique JOBID to track the export status.\n\n2. Check Export Job Status:\n  - Use the JOBID with the Get Export Job Details API.\n  - Poll every few seconds to get the current JOBCODE.\n\n   JOBCODEs and Meaning:\n   - 1001: JOB NOT INITIATED\n     → Export job acknowledged but not started. Retry after a short delay.\n   - 1002: JOB IN PROGRESS\n     → Export is currently being processed. Continue polling.\n   - 1003: ERROR OCCURRED\n     → An error occurred. Stop polling and investigate the error.\n   - 1004: JOB COMPLETED\n     → Export process completed. Proceed to download.\n   - 1005: JOB NOT FOUND\n     → Provided JOBID is invalid. Stop polling and verify the JOBID.\n\n3. Download Exported Data:\n  - Once JOBCODE is 1004, use the Download Exported Data API to download the exported file.\n\nLimitations:\n- Exported file will be available only for 1 hour after job completion.\n- Maximum 5 concurrent export jobs are allowed per organization.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | SECURITYNOTPERMITTED — The caller lacks Export permission on at least one table referenced by the query. | Ensure the caller holds Export permission on every table in the statement. |\n| 7401 | The SQL statement is not a valid or allowed construct. | Review the syntax; only SELECT statements over the workspace's own tables are accepted. |\n| 7565 | UNVERIFIEDEMAIL — The calling user's primary email address is not verified. | Verify the account's primary email address and retry. |\n| 7571 | UNKNOWNVIEWIDPASSED — A tableCriteriaList[].viewId does not exist in this workspace. | Verify the IDs with Get View List. |\n| 7801 | MARGINVALUEEXCEEDS — A PDF margin is outside 0–1 inches. | Send a value between 0 and 1. |\n| 7824 | EXPORTREQBLOCKED — Export has been blocked for this workspace. | Contact Zoho Analytics support using the address in the error message. |\n| 7827 | EXPPDFRECORDLIMIT — The PDF exceeds 1,000,000 cells. | Narrow the statement or use selectedColumns. |\n| 7835 | NOTABLESINVOLVEDINSQLEXPORT — The statement references no table. | Query at least one table of the workspace. |\n| 7836 | GIVENTABLENOTINVOLVEDINSQLEXPORT — A tableCriteriaList[].viewId is not used by the statement. | List only tables the query actually references. |\n| 7837 | INVOLVEDTABLEDOESNOTHAVEPERMISSION — A table used by the query has no matching tableCriteriaList entry where one is required. | Supply a criteria entry for every participating table. |\n| 8001 | INVALIDRESPFORMAT — responseFormat is not a supported value. | Send one of csv, json, xml, xls, pdf, html. |\n| 8014 | APIIMAGERESPONSENOTPOSSIBLE — image was requested. | A query result cannot be rendered as an image; choose another format. |\n| 8015 | APIEXPORTCOLUMNNOTPRESENT — A name in selectedColumns is not in the result set. | Match the names to the columns the statement projects. |\n| 8088 | SECURITYCONTROLSFEATUREDISABLED — Export is disabled for the organization. | Ask an Organization Admin to re-enable export. |\n| 8119 | INVALIDVALUEFORATTRIBUTE — A numeric or enumerated attribute is outside its permitted set. | Correct the value; see Appendix E. |\n| 8125 | CALLBACKURLNOTVALID — callbackUrl is malformed. | Send a well-formed absolute http/https URL. |\n| 8126 | CALLBACKURLCONNECTIONERROR — callbackUrl could not be reached during validation. | Make the endpoint publicly reachable before creating the job. |\n| 8127 | CALLBACKURLRESTRICTED — callbackUrl resolves to a private or internal address. | Use a publicly routable host. |\n| 8128 | INTERNALERRORONINITIATINGEXPORT — The job could not be queued. | Retry; if it persists, contact support. |\n| 8132 | ASYNCEXPORTLIMITEXCEEDED — 5 export jobs are already queued or running for the organization. | Wait for an in-flight job to finish, then retry. |\n| 8188 | EXPORTINVALIDPASSWORD — password is blank or shorter than 6 characters. | Send 6–256 characters. |\n| 8241 | SYSTEMTAGDATAWARNINGV2VALIDATIONCONFIRMATION — A source table carries a restricted DATAWARNING system tag. | Review the warning, then resend with \"validateSystemTags\": false. |\n| 8077 | EMPTYJSONCONFIGURATION — CONFIG was not sent, or was sent empty. | Send a CONFIG object containing at least sqlQuery. |\n| 8078 | EMPTYJSONATTRIBUTEFOUND — sqlQuery was sent but is blank. | Send a non-empty SELECT statement. |\n| 8079 | ATTRIBUTENOTPRESENTINJSONCONFIGURATION — A mandatory attribute is missing — sqlQuery on the request itself, or viewId / criteria inside a tableCriteriaList entry. | The message names the attribute. |\n| 8507 | MORETHANMAXLENGTH — CONFIG exceeds 200,000 characters, or sqlQuery exceeds 100,000. | Shorten the statement. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token carrying ZohoAnalytics.data.read. |\n| 8547 | ARRAYSIZEOUTOFRANGE — tableCriteriaList exceeds 25 entries, or selectedColumns is empty or exceeds 300. | Stay within the documented sizes. |",
        "operationId": "createExportJobSQLQuery",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "in": "query",
            "name": "CONFIG",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExportJobConfigSQLQuery"
            },
            "examples": {
              "filteredExport": {
                "description": "Runs the SQL SELECT statement and exports the result as a CSV file.",
                "summary": "Export query result",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "csv",
                  "delimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "tableFilteredExport": {
                "description": "Applies one filter expression per table referenced by the query.",
                "summary": "Export using per-table criteria",
                "value": {
                  "sqlQuery": "SELECT \"Sales\".\"Region\", \"Sales\".\"Amount\" FROM \"Sales\" JOIN \"Targets\" ON \"Sales\".\"Region\" = \"Targets\".\"Region\"",
                  "responseFormat": "csv",
                  "tableCriteriaList": [
                    {
                      "viewId": "466206000000072000",
                      "criteria": "\"Region\"='East'"
                    },
                    {
                      "viewId": "466206000000072500",
                      "criteria": "\"Quota\">100000"
                    }
                  ]
                }
              },
              "protectedExport": {
                "description": "Exports the selected columns into a password protected CSV file. Shows every attribute the CONFIG accepts; only the mandatory ones need to be sent.",
                "summary": "Export with password",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "csv",
                  "password": "Zoho@123",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "showHiddenCols": false,
                  "showPersonalCols": false,
                  "callbackUrl": "https://www.example.com/exportcallback",
                  "validateSystemTags": true,
                  "delimiter": 0,
                  "recordDelimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "jsonExport": {
                "description": "Exports the data as a JSON file with each row returned as column name and value pairs.",
                "summary": "Export as JSON",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "json",
                  "keyValueFormat": true
                }
              },
              "xmlExport": {
                "description": "Exports the data as an XML file. Set keyValueFormat to true to return each row as column name and value pairs.",
                "summary": "Export as XML",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "xml",
                  "keyValueFormat": false
                }
              },
              "xlsExport": {
                "description": "Exports the selected columns into an Excel workbook.",
                "summary": "Export as XLS",
                "value": {
                  "responseFormat": "xls",
                  "sqlQuery": "SELECT \"Region\", \"Sales\" FROM \"SalesTable\"",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "includeHeader": true,
                  "includeRowNums": true
                }
              },
              "pdfExport": {
                "description": "Exports the data as a PDF file using the PDF specific page setup attributes.",
                "summary": "Export as PDF",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "pdf",
                  "paperSize": 4,
                  "paperStyle": "Portrait",
                  "showTitle": 0,
                  "exportLanguage": 0
                }
              },
              "htmlExport": {
                "description": "Exports the data as an HTML file with the title and description placed at the top.",
                "summary": "Export as HTML",
                "value": {
                  "sqlQuery": "select * from Sales",
                  "responseFormat": "html",
                  "includeTitle": 0,
                  "includeDesc": 0
                }
              }
            },
            "description": "JSONObject with configuration to create an export job using an SQL SELECT statement. (Refer `ExportJobConfigSQLQuery` schema). As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful bulk export response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobCreationResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk export job",
                      "data": {
                        "jobId": "1767024000008787011"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/views/{view-id}/data": {
      "post": {
        "tags": [
          "Data Import (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Create Import Job for an Existing Table",
        "description": "Uploads a file and loads it into an existing table in the background, appending, replacing, or merging according to importType.\n\nWorkflow of Asynchronous Import API:\n\n1. Create Import Job:\n   - Initiate the import by calling the Create Import Job API.\n   - A unique JOBID will be returned in the response, which serves as the reference for tracking the import job.\n\n2. Check Job Status:\n   - Use the Get Import Job Details API to monitor the status of the import job.\n   - The JOBID must be used in the request to check the status periodically (e.g., every 10 seconds).\n   - The response will include a JOBCODE, which indicates the current state of the job.\n\nHandling Import Job Status Based on JOBCODE:\n  - If the JOBCODE is 1001 or 1002, wait for a few seconds and repeat the status check loop.\n  - If the JOBCODE is 1003, stop the status check and inspect the error message for details.\n  - If the JOBCODE is 1005, verify the validity of the JOBID and terminate the status check.\n  - If the JOBCODE is 1004, the job is complete, and the import summary will be returned.\n\nLimitations:\n  - The import job summary is retained only for one hour after job completion.\n  - A maximum of 5 simultaneous import jobs is allowed per organization.\n  - A maximum file size of 100 MB can be imported.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | DDLLOCKSINCEIMPORTINPROGRESS — Another import is holding a DDL lock on this table. | Retry once it has finished. |\n| 7104 | METAOBJECTNOTPRESENT — The view does not exist. | Verify . |\n| 7107 | METAOBJECTNOTPRESENT — A column named in matchingColumns is not present in the table. | Verify the names via Get Columns. |\n| 7164 | SYSTEMTABLEDATAMOD — System table data cannot be modified. | Target a user-created table. |\n| 7165 | SNAPSHOTTABLEDATAMOD — Snapshot table data cannot be modified. | Target a non-snapshot table. |\n| 7203 | IMPORTFILEEMPTY — No file was uploaded, or it is empty. | Attach a non-empty FILE part. |\n| 7248 | INVALIDFILECONTENT — The file could not be parsed as the declared fileType. | Check that fileType matches the content. |\n| 7301 | SECURITYNOTPERMITTED — The user lacks the import permission matching importType, or is outside the workspace's permitted IP range. | Grant the specific import permission, or use an importType the user is allowed. |\n| 7319 | OBJIDNOTBELONGSTODB — The table does not belong to the specified workspace. | Ensure and are consistent. |\n| 7478 | MORETHANMAXCOLUMN — The source has more columns than the table can hold. | Reduce the columns, or use selectedColumns. |\n| 7512 | INVALIDDATEFORMAT — A date pattern could not be parsed. | Supply a valid pattern. |\n| 8046 | INVALIDCOLUMNSSELECTED — A name in selectedColumns is not present in the source. | Match the names to the source's header row. |\n| 8079 | ATTRIBUTENOTPRESENTINJSONCONFIGURATION — A mandatory attribute is missing — commonly matchingColumns for UPDATEADD, or the CSV attributes when autoIdentify is false. | The message names the attribute. |\n| 8119 | INVALIDVALUEFORATTRIBUTE — importType, fileType, onError, or a parsing attribute is outside its permitted set. | The message names the attribute and allowed values. |\n| 8125 | CALLBACKURLNOTVALID / CALLBACKURLCONNECTIONERROR / CALLBACKURLRESTRICTED — The callback URL is malformed, unreachable, or points at a private address. | See The callbackUrl Attribute. |\n| 8126 | CALLBACKURLNOTVALID / CALLBACKURLCONNECTIONERROR / CALLBACKURLRESTRICTED — The callback URL is malformed, unreachable, or points at a private address. | See The callbackUrl Attribute. |\n| 8127 | CALLBACKURLNOTVALID / CALLBACKURLCONNECTIONERROR / CALLBACKURLRESTRICTED — The callback URL is malformed, unreachable, or points at a private address. | See The callbackUrl Attribute. |\n| 8134 | ASYNCIMPORTLIMITEXCEEDED — The maximum number of simultaneous import jobs is already in progress. | Wait for a running job to finish. |\n| 8148 | Separator configuration errors. | See Number Separator Values. |\n| 8149 | Separator configuration errors. | See Number Separator Values. |\n| 8504 | LESSTHANMINOCCURANCE — CONFIG was not sent, or a mandatory key is missing. | Send a complete CONFIG object. |\n| 8516 | UNABLETOPARSEDATATYPE — A CONFIG value has the wrong JSON type. | Check booleans and integers. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token with scope ZohoAnalytics.data.create. |",
        "operationId": "createImportJobExistingTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with FILE.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "FILE",
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be imported. Format should be multipart/form-data. Maximum allowed file size is 100 MB."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/BulkImportConfigExistingTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "appendImport": {
                  "description": "Appends every row in the uploaded file to the table.",
                  "summary": "Append import",
                  "value": {
                    "FILE": "@/path/to/Sales.csv",
                    "CONFIG": {
                      "importType": "APPEND",
                      "fileType": "csv",
                      "autoIdentify": true
                    }
                  }
                },
                "updateAddImport": {
                  "description": "Rows whose matchingColumns values match an existing row are updated; the remaining rows are appended as new rows. matchingColumns is mandatory for this import type.",
                  "summary": "Update add import",
                  "value": {
                    "FILE": "@/path/to/Sales.json",
                    "CONFIG": {
                      "importType": "UPDATEADD",
                      "fileType": "json",
                      "autoIdentify": true,
                      "matchingColumns": [
                        "Region",
                        "Product"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful import job creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobCreationResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk import job",
                      "data": {
                        "jobId": "1767024000003153087"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Data Export (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.read"
            ]
          }
        ],
        "summary": "Create Export Job using View ID",
        "description": "Creates an export job whose source is a saved view — including the view types the synchronous export refuses.\n\nWorkflow:\n1. Create Export Job:\n  - Call the Create Export Job API.\n  - Receive a unique JOBID to track the export status.\n\n2. Check Export Job Status:\n  - Use the JOBID with the Get Export Job Details API.\n  - Poll every few seconds to get the current JOBCODE.\n\n   JOBCODEs and Meaning:\n   - 1001: JOB NOT INITIATED\n     → Export job acknowledged but not started. Retry after a short delay.\n   - 1002: JOB IN PROGRESS\n     → Export is currently being processed. Continue polling.\n   - 1003: ERROR OCCURRED\n     → An error occurred. Stop polling and investigate the error.\n   - 1004: JOB COMPLETED\n     → Export process completed. Proceed to download.\n   - 1005: JOB NOT FOUND\n     → Provided JOBID is invalid. Stop polling and verify the JOBID.\n\n3. Download Exported Data:\n  - Once JOBCODE is 1004, use the Download Exported Data API to download the exported file.\n\nLimitations:\n- Exported file will be available only for 1 hour after job completion.\n- Maximum 5 concurrent export jobs are allowed per organization.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7104 | METAOBJECTNOTPRESENT — The view does not exist. | Verify with Get View List. |\n| 7301 | SECURITYNOTPERMITTED — The caller lacks Export permission on the view, or the view does not belong to . | Ensure the caller is an Account Admin, Organization Admin, Workspace Admin, or View Owner, or holds Export permission on the view. |\n| 7327 | FILTERCRITERIAINVALID — criteria parsed but could not be converted into a query. | Simplify the expression and check operator and value types. |\n| 7330 | UNKNOWNCOLUMNINFILTERCRITERIA — A column named in criteria does not exist in the view. | Check the name against Get Columns. |\n| 7331 | FILTERCRITERIAPARSEERROR — criteria is syntactically malformed. | Check quoting: double quotes around column names, single quotes around string literals. |\n| 7332 | UNKNOWNTABLEINFILTERCRITERIA — A table qualifier in criteria is not part of the view. | Qualify columns only with tables the view uses. |\n| 7333 | INVALIDGROUPFUNCUSEINFILTERCRITERIA — An aggregate function was used in criteria. | Filter on raw column values instead. |\n| 7543 | ONLYBASETABLECOLINTABULARFILTERCRITERIA — criteria on a tabular view referenced a column outside its base table. | Filter using only the base table's own columns. |\n| 7565 | UNVERIFIEDEMAIL — The calling user's primary email address is not verified. | Verify the account's primary email address and retry. |\n| 7801 | MARGINVALUEEXCEEDS — A PDF margin is outside 0–1 inches. | Send a value between 0 and 1. |\n| 7803 | INVALIDDIMENSION — width or height is outside the permitted image range. | Use width 250–2000 and height 200–2000. |\n| 7824 | EXPORTREQBLOCKED — Export has been blocked for this workspace. | Contact Zoho Analytics support using the address in the error message. |\n| 7827 | EXPPDFRECORDLIMIT — The PDF exceeds 1,000,000 cells. | Narrow the export with criteria or selectedColumns. |\n| 8001 | INVALIDRESPFORMAT — responseFormat is not a supported value. | Send one of csv, json, xml, xls, pdf, html, image. |\n| 8014 | APIIMAGERESPONSENOTPOSSIBLE — image was requested for a view that is not a chart. | Export charts as images; use pdf or html otherwise. |\n| 8015 | APIEXPORTCOLUMNNOTPRESENT — A name in selectedColumns does not match any column in the view. | Check the display names with Get Columns. |\n| 8017 | INVALIDIMAGEFORMAT — imageFormat is not png, jpg, or jpeg. | Send one of the three supported values. |\n| 8088 | SECURITYCONTROLSFEATUREDISABLED — Export is disabled for the organization. | Ask an Organization Admin to re-enable export. |\n| 8119 | INVALIDVALUEFORATTRIBUTE — A numeric or enumerated attribute is outside its permitted set, or a dashboard was requested in a format other than PDF or HTML. | Correct the value; see Appendix E. |\n| 8125 | CALLBACKURLNOTVALID — callbackUrl is malformed. | Send a well-formed absolute http/https URL. |\n| 8126 | CALLBACKURLCONNECTIONERROR — callbackUrl could not be reached during validation. | Make the endpoint publicly reachable before creating the job. |\n| 8127 | CALLBACKURLRESTRICTED — callbackUrl resolves to a private or internal address. | Use a publicly routable host. |\n| 8128 | INTERNALERRORONINITIATINGEXPORT — The job could not be queued. | Retry; if it persists, contact support. |\n| 8132 | ASYNCEXPORTLIMITEXCEEDED — 5 export jobs are already queued or running for the organization. | Wait for an in-flight job to finish, then retry. |\n| 8188 | EXPORTINVALIDPASSWORD — password is blank or shorter than 6 characters. | Send 6–256 characters. |\n| 8241 | SYSTEMTAGDATAWARNINGV2VALIDATIONCONFIRMATION — The view carries a restricted DATAWARNING system tag. | Review the warning, then resend with \"validateSystemTags\": false. |\n| 8507 | MORETHANMAXLENGTH — CONFIG exceeds 100,000 characters. | Shorten criteria or selectedColumns. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token carrying ZohoAnalytics.data.read. |\n| 8547 | ARRAYSIZEOUTOFRANGE — selectedColumns is empty or holds more than 300 entries. | Send between 1 and 300 column names, or omit the attribute. |",
        "operationId": "createExportJobViewId",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "in": "query",
            "name": "CONFIG",
            "schema": {
              "$ref": "#/components/schemas/ExportJobConfigViewId"
            },
            "examples": {
              "filteredExport": {
                "description": "Exports only the rows matching the criteria as a CSV file.",
                "summary": "Export using criteria",
                "value": {
                  "responseFormat": "csv",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "delimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "protectedExport": {
                "description": "Exports the selected columns into a password protected CSV file. Shows every attribute the CONFIG accepts; only the mandatory ones need to be sent.",
                "summary": "Export with password",
                "value": {
                  "responseFormat": "csv",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "password": "Zoho@123",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "showHiddenCols": false,
                  "showPersonalCols": false,
                  "generateTOC": false,
                  "dashboardLayout": 1,
                  "callbackUrl": "https://www.example.com/exportcallback",
                  "validateSystemTags": true,
                  "delimiter": 0,
                  "recordDelimiter": 0,
                  "quoted": 1,
                  "includeHeader": true
                }
              },
              "jsonExport": {
                "description": "Exports the data as a JSON file with each row returned as column name and value pairs.",
                "summary": "Export as JSON",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "json",
                  "keyValueFormat": true
                }
              },
              "xmlExport": {
                "description": "Exports the data as an XML file. Set keyValueFormat to true to return each row as column name and value pairs.",
                "summary": "Export as XML",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "xml",
                  "keyValueFormat": false
                }
              },
              "xlsExport": {
                "description": "Exports the selected columns into an Excel workbook.",
                "summary": "Export as XLS",
                "value": {
                  "responseFormat": "xls",
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "selectedColumns": [
                    "Region",
                    "Sales"
                  ],
                  "includeHeader": true,
                  "includeRowNums": true
                }
              },
              "pdfExport": {
                "description": "Exports the data as a PDF file using the PDF specific page setup attributes.",
                "summary": "Export as PDF",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "pdf",
                  "paperSize": 4,
                  "paperStyle": "Portrait",
                  "showTitle": 0,
                  "exportLanguage": 0
                }
              },
              "htmlExport": {
                "description": "Exports the data as an HTML file with the title and description placed at the top.",
                "summary": "Export as HTML",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "html",
                  "includeTitle": 0,
                  "includeDesc": 0
                }
              },
              "imageExport": {
                "description": "Exports the view as an image of the given dimensions and format.",
                "summary": "Export as image",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "responseFormat": "image",
                  "imageFormat": "png",
                  "width": 500,
                  "height": 400,
                  "legend": true
                }
              }
            },
            "description": "JSONObject with configuration to initiate an export job for the specified view. (Refer `ExportJobConfigViewId` schema). As this is a GET request, the value must be stringified and URL encoded before it is sent. Optional - when it is not sent, a csv export of the whole view is queued with the default settings.",
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful export job creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobCreationResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk export job",
                      "data": {
                        "jobId": "1767024000008787011"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/data/batch": {
      "post": {
        "tags": [
          "Data Import (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Batch Import Data into New Table",
        "description": "Creates a new table and loads it from several uploads, all belonging to one import job. Called once per batch.\n\n The Batch Import API allows you to upload large amounts of data in batches. A large data file is split into small batches, each batch not exceeding 100 MB, and imported using batch import. Alternatively, you can also use Zoho Analytics SDKs to simplify the batching process.\n\nTo import large amounts of data using Batch Import, follow the steps below:\n\n- Split the large CSV file into batches (each batch not exceeding 100MB) and upload the first batch using the Batch Import API's {\"batchKey\":\"start\"} attribute.\n- The server will generate a unique job ID and batch key for the import job and send them to the user in the response.\n- Use the received batch key to submit the subsequent batches to the Batch Import API.\n- Mark the end of the upload by adding {\"isLastBatch\":true} to the final batch.\n\nYou can check the import job status using the 'Get Import Job Details' API with the jobId received in the response.\n\nNotes:\n- After the first batch is imported, scheduled import of the remaining batches begins automatically.\n- For 'Append' and 'UpdateAdd' import types, each batch is committed individually.\n- For 'TruncateAdd', data is committed only after the final batch is uploaded.\n- Batch order is preserved throughout.\n- An import summary is stored upon job completion or failure.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | DDLLOCKSINCEIMPORTINPROGRESS — A batch import is holding a lock in this workspace. | Retry once it has finished. |\n| 7111 | METADBOBJECTNAMEDUPLICATED — An object with this tableName already exists. | Choose a different name, or use Batch Import Data into Existing Table. |\n| 7203 | IMPORTFILEEMPTY — No file was uploaded for this batch, or it is empty. | Attach a non-empty FILE part to every batch. |\n| 7248 | INVALIDFILECONTENT — The batch could not be parsed as CSV. | Batch import accepts CSV only. |\n| 7301 | SECURITYNOTPERMITTED — The user cannot create tables in this workspace. | Ensure the user has Create Table permission. |\n| 7336 | BATCHIMPORTLIMITEXCEEDED — More than 100 batches were sent for one job. | Use larger batches so the job fits within the limit. |\n| 7337 | BATCHIMPORTLASTBATCHALREADYRECEIVED — A batch was sent after isLastBatch: true. | Start a new job for additional data. |\n| 7338 | BATCHIMPORTINVALIDKEY — The batchKey is not recognised, or its job is no longer active. | Use the batchKey returned by the first batch, and start a new job if it has expired. |\n| 7478 | MORETHANMAXCOLUMN — The source has more columns than a table can hold. | Reduce the columns, or use selectedColumns on the first batch. |\n| 7512 | INVALIDDATEFORMAT — A date pattern could not be parsed. | Supply a valid pattern on the first batch. |\n| 8079 | ATTRIBUTENOTPRESENTINJSONCONFIGURATION — A mandatory attribute is missing; on the first batch this is usually tableName or autoIdentify. | The message names the attribute. |\n| 8119 | INVALIDVALUEFORATTRIBUTE — onError or a parsing attribute is outside its permitted set. | The message names the attribute and allowed values. |\n| 8125 | Callback URL is malformed, unreachable, or private. | See The callbackUrl Attribute. |\n| 8126 | Callback URL is malformed, unreachable, or private. | See The callbackUrl Attribute. |\n| 8127 | Callback URL is malformed, unreachable, or private. | See The callbackUrl Attribute. |\n| 8134 | ASYNCIMPORTLIMITEXCEEDED — The maximum number of simultaneous import jobs is in progress. | Wait for a running job to finish, or close an abandoned batch job. |\n| 8148 | Separator configuration errors. | See Number Separator Values. |\n| 8149 | Separator configuration errors. | See Number Separator Values. |\n| 8504 | LESSTHANMINOCCURANCE — CONFIG was not sent, or batchKey is missing. | Every batch must carry a CONFIG containing batchKey. |\n| 8535 | INVALIDOAUTHTOKEN — Invalid or expired OAuth token. | Provide a valid token with scope ZohoAnalytics.data.create. |",
        "operationId": "batchImportNewTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "description": "Sent as multipart/form-data. CONFIG is mandatory and must be sent as a form field along with FILE.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "FILE",
                  "CONFIG"
                ],
                "properties": {
                  "FILE": {
                    "type": "string",
                    "format": "binary",
                    "description": "The batch file to be imported. Format should be multipart/form-data. Maximum allowed size per batch is 100 MB."
                  },
                  "CONFIG": {
                    "$ref": "#/components/schemas/BatchImportConfigNewTable"
                  }
                }
              },
              "encoding": {
                "FILE": {
                  "contentType": "application/octet-stream"
                },
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "firstBatch": {
                  "description": "Opens the batch import job. batchKey must be \"start\"; the response returns the batchKey to use for every following batch.",
                  "summary": "First batch",
                  "value": {
                    "FILE": "@/path/to/Sales_batch1.csv",
                    "CONFIG": {
                      "batchKey": "start",
                      "isLastBatch": false,
                      "tableName": "SalesTable",
                      "autoIdentify": true,
                      "onError": "SETCOLUMNEMPTY"
                    }
                  }
                },
                "followUpBatch": {
                  "description": "Uploads an intermediate batch using the batchKey returned by the first call.",
                  "summary": "Follow up batch",
                  "value": {
                    "FILE": "@/path/to/Sales_batch2.csv",
                    "CONFIG": {
                      "batchKey": "1694703482470_1767024000008426012_SalesTable",
                      "isLastBatch": false,
                      "tableName": "SalesTable",
                      "autoIdentify": true,
                      "onError": "SETCOLUMNEMPTY"
                    }
                  }
                },
                "lastBatch": {
                  "description": "Uploads the final batch and closes the job. isLastBatch must be true.",
                  "summary": "Last batch",
                  "value": {
                    "FILE": "@/path/to/Sales_batch3.csv",
                    "CONFIG": {
                      "batchKey": "1694703482470_1767024000008426012_SalesTable",
                      "isLastBatch": true,
                      "tableName": "SalesTable",
                      "autoIdentify": true,
                      "onError": "SETCOLUMNEMPTY"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful batch import response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchImportSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "value": {
                      "status": "success",
                      "summary": "Create bulk import job",
                      "data": {
                        "batchKey": "1694703482470_1767024000008426012_SalesTable",
                        "jobId": "1767024000008787011"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/bulk/workspaces/{workspace-id}/views/{view-id}/data/batch": {
      "post": {
        "tags": [
          "Data Import (Asynchronous)"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.data.create"
            ]
          }
        ],
        "summary": "Batch Import Data into Existing Table",
        "description": "Loads an existing table from several uploads belonging to one import job. Called once per batch.\n\n The Batch Import API allows you to upload large amounts of data in batches. A large data file is split into small batches, each batch not exceeding 100 MB, and imported using batch import. Alternatively, you can also use Zoho Analytics SDKs to simplify the batching process.\n\nTo import large amounts of data using Batch Import, follow the steps below:\n\n- Split the large CSV file into batches (each batch not exceeding 100MB) and upload the first batch using the Batch Import API's {\"batchKey\":\"start\"} attribute.\n- The server will generate a unique job ID and batch key for the import job and send them to the user in the response.\n- Use the received batch key to submit the subsequent batches to the Batch Import API.\n- Mark the end of the upload by adding {\"isLastBatch\":true} to the final batch.\n\nYou can check the import job status using the 'Get Import Job Details' API with the jobId received in the response.\n\nNotes:\n- After the first batch is imported, scheduled import of the remaining batches begins automatically.\n- For 'Append' and 'UpdateAdd' import types, each batch is committed individually.\n- For 'TruncateAdd', data is committed only after the final batch is uploaded.\n- Batch order is preserved throughout.\n- An import summary is stored upon job completion or failure.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7092 | DDLLOCKSINCEIMPORTINPROGRESS — Another import holds a DDL lock on this table. | Retry once it has finished. |\n| 7104 | METAOBJECTNOTPRESENT — The view does not exist. | Verify . |\n| 7107 | METAOBJECTNOTPRESENT — A column named in matchingColumns is not present. | Verify the names via Get Columns. |\n| 7164 | SYSTEMTABLEDATAMOD — System table data cannot be modified. | Target a user-created table. |\n| 7165 | SNAPSHOTTABLEDATAMOD — Snapshot table data cannot be modified. | Target a non-snapshot table. |\n| 7203 | IMPORTFILEEMPTY — No file was uploaded for this batch, or it is empty. | Attach a non-empty FILE part. |\n| 7248 | INVALIDFILECONTENT — The batch could not be parsed as CSV. | Batch import accepts CSV only. |\n| 7301 | SECURITYNOTPERMITTED — The user lacks the import permission matching importType. | Grant the specific import permission, or use a permitted importType. |\n| 7319 | OBJIDNOTBELONGSTODB — The table does not belong to the specified workspace. | Ensure and are consistent. |\n| 7336 | BATCHIMPORTLIMITEXCEEDED — More than 100 batches were sent for one job. | Use larger batches. |\n| 7337 | BATCHIMPORTLASTBATCHALREADYRECEIVED — A batch was sent after isLastBatch: true. | Start a new job for additional data. |\n| 7338 | BATCHIMPORTINVALIDKEY — The batchKey is not recognised or is no longer active. | Use the key returned by the first batch. |\n| 7340 | BATCHIMPORTVIEWIDMISMATCH — The batchKey belongs to a different table. | Send every batch of a job to the same . |\n| 7512 | INVALIDDATEFORMAT — A date pattern could not be parsed. | Supply a valid pattern on the first batch. |\n| 8079 | ATTRIBUTENOTPRESENTINJSONCONFIGURAT
[...]
