{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Reports and Dashboards in Zoho Analytics - covering the creation, update and metadata retrieval of analysis views, and the listing, creation, metadata retrieval and update of dashboards."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Reports",
      "description": "APIs for creating a report (chart, pivot or summary view) on an existing table, reading the stored definition back, and rebuilding it. A report is also called a visual, an analysis view or simply a view in API responses and error messages.\n\nA report is defined almost entirely by its drop fields - the `axisColumns` array, where each entry says which column goes on which shelf with which operation; filters, user filters, window functions and formatting hang off that core. The three endpoints are not available on white-label / custom domains, and Update is a full replacement, never a patch."
    },
    {
      "name": "Dashboard",
      "description": "APIs for creating a dashboard, reading its stored layout, settings and themes, replacing any of those three sections, and listing the dashboards a user owns or can see. A dashboard is a canvas of cards on a fixed 80-unit-wide grid; `layout` travels as a JSON-encoded string on write and comes back as an object on read. Tabbed dashboards cannot be managed through these APIs (7511)."
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/reports": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Create Report",
        "description": "Builds a new chart, pivot or summary view on an existing table and returns its view ID.\n\nPermission required: Workspace Admin / Organization Admin, or a shared or group user holding Create Report permission on the base table.\n\n**Notes**\n\n> Note:\n>\n> This API is not available on white-label / custom domains. Call the standard REST host for your data centre (**analyticsapi.zoho.com**, **analyticsapi.zoho.eu**, ...).\n\n> Note:\n>\n> Axis **type** values are returned in lowercase (**xaxis**, **yaxis**, **coloraxis**, **textaxis**, **groupby**, **tooltip**, **latlng**) whatever casing was sent; all of those are accepted on write. A **tooltip** column may be returned as **group**, which Create and Update reject with 8509.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 8504 | baseTableName is absent, or the CONFIG parameter itself is missing. | Send CONFIG with baseTableName. |\n| 7138 | baseTableName does not resolve to a table in this workspace. | Use the exact table display name. |\n| 7016 | title is empty or whitespace-only. | Supply a non-empty title. |\n| 7111 | A view with this title already exists in the workspace. | Choose a unique title. |\n| 8507 | title exceeds 100 characters, description exceeds 250, or an axis displayName exceeds 250. | Shorten the value. |\n| 8252 | reportType is absent or null. | Supply chart, pivot or summary. |\n| 8092 | reportType resolves to a view kind that cannot be saved standalone. | Use chart, pivot or summary. |\n| 8144 | chartType is not a recognised chart name. | See Appendix A. |\n| 8147 | settings was supplied for a non-pivot report. | Remove settings, or change reportType to pivot. |\n| 7362 | folderId does not exist in the workspace. | Supply a valid folder ID or omit the key. |\n| 8051 | A required field is missing — title, reportType, axisColumns, or a mandatory key inside an axis/filter object. | Add the missing field. |\n| 8050 | A value is invalid — unknown columnName, an operation incompatible with the column, a null axisColumns. | Check column names and operations. |\n| 8052 | More than 1000 entries in axisColumns, filters or userFilters. | Reduce the array size. |\n| 8170 | An axis type is not valid for the chosen reportType. | See Appendix B. |\n| 7701 | A chart report has no X-axis or no Y-axis column. | Add at least one of each. |\n| 7703 | A colorAxis column is present alongside more than one Y-axis column. | Drop the colour axis, or reduce to one Y axis. |\n| 7727 | More than 15 Y-axis columns on a chart. | Reduce to 15 or fewer. |\n| 8021 | The pivot or summary structure is invalid — no data column in a pivot, too many data or groupBy columns, or a column in a position its type cannot occupy. On Update, also raised when reportType does not match the stored view's type. | Review the axis configuration. |\n| 8166 | The operation is incompatible with the column's data type. | See Appendix C. |\n| 8167 | The filterType is not valid for the column type + operation combination. | See Appendix D. |\n| 8168 | A values entry does not match the expected format for the filterType. | See Appendix E. |\n| 8191 | An invalid date value was supplied to a date filter. | Use the documented date formats. |\n| 8057 | The column named in windowFunction.baseField cannot be used as a base field here. | Choose a different reference column. |\n| 8059 | The tableName is not part of the workspace or is not joined to the base table. | Use a table reachable through the join graph. |\n| 8162 | rangeSize was supplied as a string, or on an operation that does not support ranges. | Send a JSON number, and only with range grouping. |\n| 8516 | rangeSize was supplied as an array. | Send a plain number. |\n| 8250 | compType is not applicable to the column category — e.g. slider on a dimension, singleSelect on a measure. | Match the widget to the column type. |\n| 8253 | A mandatory userFilters key is missing, typically compType or filterType. | Add the missing key. |\n| 8008 | behaviour was supplied on a daterange or relative user filter. | Remove behaviour. |\n| 8254 | A geoRole value is wrong for the column type. | latitude/longitude for numeric columns; place roles for text columns. |\n| 8255 | geoRole was supplied on a column that cannot be geocoded. | Remove geoRole, or use a geocodable column. |\n| 8256 | More than one geo operation on the same axis. | Keep one geo column per axis. |\n| 8257 | A numeric geo column coexists with a categorical geo column. | Use one or the other. |\n| 8258 | A categorical geo column was placed on an axis other than X. | Move it to xAxis. |\n| 8509 | An enumerated or pattern-constrained value does not match — reportType: \"Chart\" (must be lowercase), type: \"sizeAxis\" (must be sizeaxis), sort: \"descending\", a wildcard expression without parentheses. | Use the exact accepted values. |\n| 8517 | A field has the wrong JSON data type — exclude: \"yes\", isAxisMerge: \"maybe\", compType: 123. | Use real JSON booleans and strings. |\n| 8534 | CONFIG is malformed, or a key has the wrong structural type — axisColumns as {}, mergeAxisInfo as an object, values as a bare string. | Arrays must be [], objects {}. |\n| 8542 | An unknown key is present in CONFIG, or a windowFunction is mis-configured. | Remove the key; check windowFunction.type against the list. |\n| 7005 | A null element inside axisColumns or filters. | Ensure every array element is a JSON object. |\n| 7301 | The caller lacks Create Report permission on the workspace. | Grant the permission. |\n| 8535 | Invalid or expired OAuth token. | Refresh with scope ZohoAnalytics.modeling.create. |",
        "operationId": "createReport",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace in which the analysis view is created.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateReportConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "barChartRegionOnXAndSummedSalesOnY": {
                  "description": "Bar chart, region on X and summed sales on Y, as shown in the API reference.",
                  "summary": "Bar chart, region on X and summed sales on Y",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales by Region",
                      "reportType": "chart",
                      "chartType": "bar",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Region",
                          "operation": "actual"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum",
                          "sort": "desc"
                        }
                      ]
                    }
                  }
                },
                "chartWithAStaticFilterAndAUserFilter": {
                  "description": "Chart with a static filter and a user filter, as shown in the API reference.",
                  "summary": "Chart with a static filter and a user filter",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales Trend",
                      "description": "Monthly trend, excluding returns",
                      "folderId": 466206000000094005,
                      "reportType": "chart",
                      "chartType": "line",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Order Date",
                          "operation": "monthyear"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "filters": [
                        {
                          "columnName": "Status",
                          "tableName": "Sales",
                          "operation": "actual",
                          "filterType": "individualvalues",
                          "values": [
                            "Returned"
                          ],
                          "exclude": true
                        }
                      ],
                      "userFilters": [
                        {
                          "columnName": "Product Category",
                          "tableName": "Sales",
                          "operation": "actual",
                          "compType": "multiSelect",
                          "filterType": "individualvalues",
                          "isallval": false,
                          "values": [
                            "Furniture",
                            "Grocery"
                          ],
                          "defaultFilterValues": [
                            "Furniture"
                          ],
                          "behaviour": "ListAllValues"
                        }
                      ]
                    }
                  }
                },
                "pivotWithATheme": {
                  "description": "Pivot with a theme, as shown in the API reference.",
                  "summary": "Pivot with a theme",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales Pivot",
                      "reportType": "pivot",
                      "axisColumns": [
                        {
                          "type": "row",
                          "columnName": "Region",
                          "operation": "actual"
                        },
                        {
                          "type": "column",
                          "columnName": "Order Date",
                          "operation": "year"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "settings": {
                        "themes": {
                          "themeType": 3,
                          "themeColor": "#2A6FDB",
                          "themeFontSize": 12
                        }
                      }
                    }
                  }
                },
                "summaryReport": {
                  "description": "Summary report, as shown in the API reference.",
                  "summary": "Summary report",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales Summary",
                      "reportType": "summary",
                      "axisColumns": [
                        {
                          "type": "groupBy",
                          "columnName": "Region",
                          "operation": "actual"
                        },
                        {
                          "type": "summarize",
                          "columnName": "Sales",
                          "operation": "sum"
                        },
                        {
                          "type": "summarize",
                          "columnName": "Profit",
                          "operation": "average"
                        }
                      ]
                    }
                  }
                },
                "runningTotalWithAWindowFunction": {
                  "description": "Running total with a window function, as shown in the API reference.",
                  "summary": "Running total with a window function",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Cumulative Sales",
                      "reportType": "chart",
                      "chartType": "line",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Order Date",
                          "operation": "monthyear"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum",
                          "windowFunction": {
                            "type": "runtotal"
                          }
                        }
                      ]
                    }
                  }
                },
                "mapChartWithGeoRoles": {
                  "description": "Map chart with geo roles, as shown in the API reference.",
                  "summary": "Map chart with geo roles",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales by Country",
                      "reportType": "chart",
                      "chartType": "map area",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Country",
                          "operation": "geo",
                          "geoRole": "country"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ]
                    }
                  }
                },
                "wildcardFilter": {
                  "description": "Wildcard filter, as shown in the API reference.",
                  "summary": "Wildcard filter",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Enterprise Accounts",
                      "reportType": "chart",
                      "chartType": "bar",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Customer",
                          "operation": "actual"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "filters": [
                        {
                          "columnName": "Customer",
                          "operation": "actual",
                          "filterType": "wildcard",
                          "exclude": false,
                          "values": [],
                          "wildcard": {
                            "criteria": [
                              {
                                "operation": "CONTAINS",
                                "value": "Corp"
                              },
                              {
                                "operation": "STARTS_WITH",
                                "value": "Acme"
                              }
                            ],
                            "expression": "(1 OR 2)"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The report was created. The summary string varies with reportType: Create Chart View, Create Pivot View or Create Summary View.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                },
                "examples": {
                  "success": {
                    "description": "A successful response, as shown in the API reference.",
                    "summary": "Success",
                    "value": {
                      "status": "success",
                      "summary": "Create Chart View",
                      "data": {
                        "viewId": "466206000000105001"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/reports/{view-id}": {
      "put": {
        "tags": [
          "Reports"
        ],
        "summary": "Update Report",
        "description": "Rebuilds an existing report from a fresh CONFIG.\n\nPermission required: Design Modify on the report — the owner, a Workspace Admin, an Organization Admin, or a shared or group user granted edit rights.\n\n**Notes**\n\n> Note:\n>\n> This is a workspace-scoped API. The **ZANALYTICS-ORGID** header carrying the organization ID that owns the workspace is mandatory.\n\n> Note:\n>\n> This API is not available on white-label / custom domains. Call the standard REST host for your data centre (**analyticsapi.zoho.com**, **analyticsapi.zoho.eu**, ...).\n\n> Note:\n>\n> This API returns no response body on success - only HTTP 204 No Content. Only failure responses carry a JSON error payload.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7104 | The report does not exist, has been deleted, or the caller cannot edit it. | Verify and the caller's permission. |\n| 7106 | The report does not exist, has been deleted, or the caller cannot edit it. | Verify and the caller's permission. |\n| 8021 | reportType does not match the stored view's type, or the target is not an analysis view at all. | Send the report's actual type. |\n| 8145 | folderId was supplied. | Remove folderId — reports cannot be moved through this endpoint. |\n| 8542 | baseTableName, drillActionConfig, modifiedPaths or any other key outside the Update schema is present. | Remove the key. |\n| 7301 | The caller lacks Design Modify permission on the report. | Grant edit access. |\n| 8535 | Invalid or expired OAuth token. | Refresh with scope ZohoAnalytics.modeling.update. |\n| 8504 | baseTableName is absent, or the CONFIG parameter itself is missing. | Send CONFIG with baseTableName. |\n| 7138 | baseTableName does not resolve to a table in this workspace. | Use the exact table display name. |\n| 7016 | title is empty or whitespace-only. | Supply a non-empty title. |\n| 7111 | A view with this title already exists in the workspace. | Choose a unique title. |\n| 8507 | title exceeds 100 characters, description exceeds 250, or an axis displayName exceeds 250. | Shorten the value. |\n| 8252 | reportType is absent or null. | Supply chart, pivot or summary. |\n| 8092 | reportType resolves to a view kind that cannot be saved standalone. | Use chart, pivot or summary. |\n| 8144 | chartType is not a recognised chart name. | See Appendix A. |\n| 8147 | settings was supplied for a non-pivot report. | Remove settings, or change reportType to pivot. |\n| 7362 | folderId does not exist in the workspace. | Supply a valid folder ID or omit the key. |\n| 8051 | A required field is missing — title, reportType, axisColumns, or a mandatory key inside an axis/filter object. | Add the missing field. |\n| 8050 | A value is invalid — unknown columnName, an operation incompatible with the column, a null axisColumns. | Check column names and operations. |\n| 8052 | More than 1000 entries in axisColumns, filters or userFilters. | Reduce the array size. |\n| 8170 | An axis type is not valid for the chosen reportType. | See Appendix B. |\n| 7701 | A chart report has no X-axis or no Y-axis column. | Add at least one of each. |\n| 7703 | A colorAxis column is present alongside more than one Y-axis column. | Drop the colour axis, or reduce to one Y axis. |\n| 7727 | More than 15 Y-axis columns on a chart. | Reduce to 15 or fewer. |\n| 8166 | The operation is incompatible with the column's data type. | See Appendix C. |\n| 8167 | The filterType is not valid for the column type + operation combination. | See Appendix D. |\n| 8168 | A values entry does not match the expected format for the filterType. | See Appendix E. |\n| 8191 | An invalid date value was supplied to a date filter. | Use the documented date formats. |\n| 8057 | The column named in windowFunction.baseField cannot be used as a base field here. | Choose a different reference column. |\n| 8059 | The tableName is not part of the workspace or is not joined to the base table. | Use a table reachable through the join graph. |\n| 8162 | rangeSize was supplied as a string, or on an operation that does not support ranges. | Send a JSON number, and only with range grouping. |\n| 8516 | rangeSize was supplied as an array. | Send a plain number. |\n| 8250 | compType is not applicable to the column category — e.g. slider on a dimension, singleSelect on a measure. | Match the widget to the column type. |\n| 8253 | A mandatory userFilters key is missing, typically compType or filterType. | Add the missing key. |\n| 8008 | behaviour was supplied on a daterange or relative user filter. | Remove behaviour. |\n| 8254 | A geoRole value is wrong for the column type. | latitude/longitude for numeric columns; place roles for text columns. |\n| 8255 | geoRole was supplied on a column that cannot be geocoded. | Remove geoRole, or use a geocodable column. |\n| 8256 | More than one geo operation on the same axis. | Keep one geo column per axis. |\n| 8257 | A numeric geo column coexists with a categorical geo column. | Use one or the other. |\n| 8258 | A categorical geo column was placed on an axis other than X. | Move it to xAxis. |\n| 8509 | An enumerated or pattern-constrained value does not match — reportType: \"Chart\" (must be lowercase), type: \"sizeAxis\" (must be sizeaxis), sort: \"descending\", a wildcard expression without parentheses. | Use the exact accepted values. |\n| 8517 | A field has the wrong JSON data type — exclude: \"yes\", isAxisMerge: \"maybe\", compType: 123. | Use real JSON booleans and strings. |\n| 8534 | CONFIG is malformed, or a key has the wrong structural type — axisColumns as {}, mergeAxisInfo as an object, values as a bare string. | Arrays must be [], objects {}. |\n| 7005 | A null element inside axisColumns or filters. | Ensure every array element is a JSON object. |",
        "operationId": "updateReport",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the analysis view.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          },
          {
            "name": "view-id",
            "in": "path",
            "required": true,
            "description": "ID of the report (view) to update.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000105001"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateReportConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "changeTheChartTypeAndReSort": {
                  "description": "Change the chart type and re-sort, as shown in the API reference.",
                  "summary": "Change the chart type and re-sort",
                  "value": {
                    "CONFIG": {
                      "reportType": "chart",
                      "chartType": "stacked bar",
                      "description": "Monthly trend, excluding returns",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Order Date",
                          "operation": "monthyear"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum",
                          "sort": "asc"
                        }
                      ]
                    }
                  }
                },
                "widenAFilterKeepingEverythingElseNoteTha": {
                  "description": "Widen a filter, keeping everything else**\n\nNote that `userFilters` has to be re-sent in full even though it is unchanged; omitting it would delete it.\n\n```\nCONFIG={\n  \"reportType\": \"chart\",\n  \"chartType\": \"line\",\n  \"description\": \"Monthly trend, excluding returns\",\n  \"axisColumns\": [\n    { \"type\": \"xAxis\", \"columnName\": \"Order Date\", \"operation\": \"monthyear\" },\n    { \"type\": \"yAxis\", \"columnName\": \"Sales\", \"operation\": \"sum\" }\n  ],\n  \"filters\": [\n    { \"columnName\": \"Status\", \"operation\": \"actual\", \"filterType\": \"individualvalues\",\n      \"values\": [\"Returned\", \"Cancelled\"], \"exclude\": true }\n  ],\n  \"userFilters\": [\n    { \"columnName\": \"Product Category\", \"operation\": \"actual\",\n      \"compType\": \"multiSelect\", \"filterType\": \"individualvalues\", \"isallval\": true }\n  ]\n}\n```\n\n**Case 3 — Strip all filters off a report, as shown in the API reference.",
                  "summary": "Widen a filter, keeping everything else**\n\nNote that `userFilters` has to be re-sent in full even though it is unchanged; omitting it would delete it.\n\n```\nCONFIG={\n  \"reportType\": \"chart\",\n  \"chartType\": \"line\",\n  \"description\": \"Monthly trend, excluding returns\",\n  \"axisColumns\": [\n    { \"type\": \"xAxis\", \"columnName\": \"Order Date\", \"operation\": \"monthyear\" },\n    { \"type\": \"yAxis\", \"columnName\": \"Sales\", \"operation\": \"sum\" }\n  ],\n  \"filters\": [\n    { \"columnName\": \"Status\", \"operation\": \"actual\", \"filterType\": \"individualvalues\",\n      \"values\": [\"Returned\", \"Cancelled\"], \"exclude\": true }\n  ],\n  \"userFilters\": [\n    { \"columnName\": \"Product Category\", \"operation\": \"actual\",\n      \"compType\": \"multiSelect\", \"filterType\": \"individualvalues\", \"isallval\": true }\n  ]\n}\n```\n\n**Case 3 — Strip all filters off a report",
                  "value": {
                    "CONFIG": {
                      "reportType": "pivot",
                      "axisColumns": [
                        {
                          "type": "row",
                          "columnName": "Region",
                          "operation": "actual"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "The analysis view was updated successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/reports/{view-id}/metadata": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Read Report Metadata",
        "description": "Returns the stored definition of a chart, pivot or summary view.\n\nPermission required: Design Modify on the report. A read-only shared user cannot call this endpoint.\n\n**Notes**\n\n> Note:\n>\n> This is a workspace-scoped API. The **ZANALYTICS-ORGID** header carrying the organization ID that owns the workspace is mandatory.\n\n> Note:\n>\n> This API is not available on white-label / custom domains. Call the standard REST host for your data centre (**analyticsapi.zoho.com**, **analyticsapi.zoho.eu**, ...).\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify . |\n| 7104 | The report does not exist or has been deleted. | Verify . |\n| 7106 | The report does not exist or has been deleted. | Verify . |\n| 7319 | The report belongs to a different workspace. | Make the two path IDs consistent. |\n| 8021 | The target is not a chart, pivot or summary view. | Use a report ID, not a table or dashboard. |\n| 7301 | The caller lacks Design Modify permission on the report. | Grant edit access. |\n| 8535 | Invalid or expired OAuth token. | Refresh with scope ZohoAnalytics.modeling.read. |",
        "operationId": "getReportMetadata",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the analysis view.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          },
          {
            "name": "view-id",
            "in": "path",
            "required": true,
            "description": "ID of the report (view) whose metadata is returned.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000105001"
              ]
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The stored definition of the report, as a summary. Calling this on a table, query table, dashboard or any non-analysis view raises 8021.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReportMetadataResponse"
                },
                "examples": {
                  "success": {
                    "description": "A successful response, as shown in the API reference.",
                    "summary": "Success",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Sales Trend",
                          "description": "Monthly trend, excluding returns",
                          "reportType": "chart",
                          "chartType": "line",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Order Date",
                              "tableName": "Sales",
                              "operation": "monthyear"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ],
                          "filters": [
                            {
                              "tableName": "Sales",
                              "columnName": "Status",
                              "operation": "actual",
                              "filterType": "individualvalues",
                              "values": [
                                "Returned"
                              ],
                              "exclude": true
                            }
                          ],
                          "userFilters": [
                            {
                              "tableName": "Sales",
                              "columnName": "Product Category",
                              "operation": "actual"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get All Dashboards",
        "description": "Returns all dashboards accessible to the authenticated user - both those owned by the user and those shared with them - across every organization and workspace. The response groups the results into two separate lists, `ownedViews` and `sharedViews`.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user may be any active Zoho Analytics user.\n\n**Notes**\n\n> Note:\n>\n> Get Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | User does not have permission to retrieve dashboards. | Ensure the request uses a valid OAuth token for an active Zoho Analytics user. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token in the Authorization header. |",
        "operationId": "getDashboards",
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardsResponse"
                },
                "examples": {
                  "ownedAndShared": {
                    "description": "The user owns two dashboards and has one more shared with them.",
                    "summary": "Owned and shared",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000108003",
                            "viewName": "Marketing Campaign Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071000",
                            "createdTime": "1720080000000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1720080000000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ],
                        "sharedViews": [
                          {
                            "viewId": "466206000000200010",
                            "viewName": "Finance Overview",
                            "viewDesc": "Finance team quarterly dashboard",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000190001",
                            "createdTime": "1718640000000",
                            "createdBy": "bob@example.com",
                            "lastModifiedTime": "1721001600000",
                            "lastModifiedBy": "bob@example.com",
                            "isFavorite": false,
                            "sharedBy": "bob@example.com",
                            "workspaceId": "466206000000190000",
                            "orgId": "700000123456"
                          }
                        ]
                      }
                    }
                  },
                  "ownedOnly": {
                    "description": "The user owns one dashboard and nothing has been shared with them, so sharedViews comes back empty.",
                    "summary": "Owned only",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ],
                        "sharedViews": []
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "The user has no dashboards at all and both lists come back empty.",
                    "summary": "No dashboards",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [],
                        "sharedViews": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards/owned": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Owned Dashboards",
        "description": "Returns the list of dashboards owned by the authenticated user across every organization, as a single `views` array.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user must be an Account Admin.\n\n**Notes**\n\n> Note:\n>\n> Get Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | User does not have permission to retrieve owned dashboards. | Ensure the authenticated user is an Account Admin. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token in the Authorization header. |",
        "operationId": "getOwnedDashboards",
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardListResponse"
                },
                "examples": {
                  "multipleWorkspaces": {
                    "description": "The Account Admin owns dashboards in two different workspaces and organizations.",
                    "summary": "Multiple workspaces",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000305020",
                            "viewName": "HR Headcount Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000300000",
                            "createdTime": "1716912000000",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1720339200000",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000300000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "singleDashboard": {
                    "description": "The Account Admin owns one dashboard.",
                    "summary": "Single dashboard",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000108003",
                            "viewName": "Marketing Campaign Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071000",
                            "createdTime": "1720080000000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1720080000000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ]
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "The Account Admin owns no dashboards and the list comes back empty.",
                    "summary": "No dashboards",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards/shared": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Shared Dashboards",
        "description": "Returns all dashboards that have been shared with the authenticated user across every organization and workspace, as a single `views` array. Unlike Get All Dashboards, this endpoint returns only shared dashboards, and it is also available on custom domains.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user may be any active Zoho Analytics user.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | User does not have permission to retrieve shared dashboards. | Ensure the request uses a valid OAuth token for an active Zoho Analytics user. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token in the Authorization header. |",
        "operationId": "getSharedDashboards",
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardListResponse"
                },
                "examples": {
                  "multipleShared": {
                    "description": "Two dashboards from different organizations have been shared with the user; sharedBy carries the email of each sharer.",
                    "summary": "Multiple shared",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000200010",
                            "viewName": "Finance Overview",
                            "viewDesc": "Finance team quarterly dashboard",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000190001",
                            "createdTime": "1718640000000",
                            "createdBy": "bob@example.com",
                            "lastModifiedTime": "1721001600000",
                            "lastModifiedBy": "bob@example.com",
                            "isFavorite": false,
                            "sharedBy": "bob@example.com",
                            "workspaceId": "466206000000190000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000410055",
                            "viewName": "Supply Chain Dashboard",
                            "viewDesc": "Inventory and logistics metrics",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000400000",
                            "createdTime": "1714780800000",
                            "createdBy": "carol@example.com",
                            "lastModifiedTime": "1719993600000",
                            "lastModifiedBy": "carol@example.com",
                            "isFavorite": true,
                            "sharedBy": "carol@example.com",
                            "workspaceId": "466206000000400000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "favoriteShared": {
                    "description": "One shared dashboard that the requesting user has marked as a favorite.",
                    "summary": "Favorite shared",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000410055",
                            "viewName": "Supply Chain Dashboard",
                            "viewDesc": "Inventory and logistics metrics",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000400000",
                            "createdTime": "1714780800000",
                            "createdBy": "carol@example.com",
                            "lastModifiedTime": "1719993600000",
                            "lastModifiedBy": "carol@example.com",
                            "isFavorite": true,
                            "sharedBy": "carol@example.com",
                            "workspaceId": "466206000000400000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "Nothing has been shared with the user and the list comes back empty.",
                    "summary": "No dashboards",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/dashboards": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Create Dashboard",
        "description": "Creates a dashboard in the given workspace and returns its ID.\n\nPermission required: Workspace Admin / Organization Admin, or a shared or group user holding Create Report permission on the workspace. A Custom Role user must have the Create Report permission explicitly granted, otherwise the call is rejected before any validation runs.\n\n**Notes**\n\n> Note:\n>\n> Tabbed dashboards are out of scope: Read and Update reject a tabbed dashboard with **7511**.\n\n**Rate limit**\n\n- Up to 10 requests per 60 seconds. Exceeding this blocks further calls for 600 seconds.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7487 | displayName or layout is absent, null or empty. | Supply both. Remember layout is a JSON-encoded string. |\n| 7111 | A dashboard with this displayName already exists in the workspace. | Choose a different name. |\n| 7507 | displayName exceeds 100 characters, or description exceeds 250. | Shorten the value. |\n| 7510 | layout is not parseable JSON, or a themes sub-object is null. | Validate the JSON you embed in the layout string; never send null for card, solid, gradient or image. |\n| 7479 | A card is missing one or more of type, width, height, left, top. | Add the missing positional fields. |\n| 7486 | A positional field has the wrong JSON type. | width, height, left, top must be integers; type must be a string. |\n| 7485 | Unrecognised card type. | Use one of the eight values in Card types. |\n| 7480 | Negative offset, width/height of 1 or less, or left + width > 80. | Keep every card inside the 80-unit grid. |\n| 7512 | A card is smaller than the minimum for its type. | See the min height/width columns in Card types. |\n| 7482 | Two cards overlap. | Reposition so no two rectangles intersect. |\n| 7483 | A HTML, TITLE, PARA, IMAGE or EMBED card has absent, null or empty content. | Supply a non-empty content string. |\n| 7484 | More than 100 cards in the layout. | Split the dashboard. |\n| 8027 | One or more VIEW cards name a view that does not exist in this workspace, or viewName is absent / null / non-string. | Check the view display names. Matching is case-insensitive but the view must exist. |\n| 7481 | The referenced view exists but the caller cannot read it. | Have the view shared with the caller, or remove the card. |\n| 9001 | Every card in the layout is a USERFILTERS card. | Add at least one content-bearing card. |\n| 7491 | The sub-object required by themes.type is missing, or card is absent. | Add the required sub-object. |\n| 7492 | A required field inside the type sub-object or inside card is missing. | See the required-fields table in Themes. |\n| 7493 | A sub-object belonging to a different theme type is present, or a forbidden key accompanies default. | Remove the conflicting key. |\n| 7513 | chartEffect.type supplied while chartEffect.apply is 1. | Remove type, or set apply to 2. |\n| 7514 | chartEffect.apply is 2 but chartEffect.type is absent. | Supply chartEffect.type. |\n| 7488 | A settings or themes key has an empty or null value, or an unrecognised key reached the server. | Remove the key or give it a valid value. |\n| 8509 | An enumerated or pattern-constrained value does not match — a malformed colour, an out-of-range number, layoutType outside 1–4, a non-string colour. | Check the ranges in Themes and Settings. |\n| 8517 | A value has the wrong JSON data type for its schema declaration. | Match the declared types. |\n| 8534 | A theme sub-object was supplied as an array, or CONFIG is malformed JSON. | Use {} for objects. |\n| 8504 | The CONFIG parameter is missing from the request body. | Send CONFIG as a form-encoded parameter. |\n| 8542 | An unknown key is present in CONFIG. | Only displayName, description, layout, themes, settings, layoutType are accepted. |\n| 7103 | Workspace not found. | Verify . |\n| 7301 | The caller lacks Create Report permission on the workspace, or is calling from a white-label domain that is not mapped to this workspace. | Grant the permission, or call the standard data-centre domain. |\n| 7309 | Authorization header absent. | Send Authorization: Zoho-oauthtoken . |\n| 8535 | Invalid or expired OAuth token. | Refresh the token with scope ZohoAnalytics.modeling.create. |",
        "operationId": "createDashboard",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace in which the dashboard is created.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000001001"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateDashboardConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "minimalDashboardWithOneReport": {
                  "description": "Minimal dashboard with one report, as shown in the API reference.",
                  "summary": "Minimal dashboard with one report",
                  "value": {
                    "CONFIG": {
                      "displayName": "Sales Overview",
                      "layout": "{\"1\":{\"type\":\"VIEW\",\"viewName\":\"Sales Chart\",\"width\":80,\"height\":20,\"left\":0,\"top\":0}}"
                    }
                  }
                },
                "filterPanelAHeadingAndTwoSideBySideRepor": {
                  "description": "Filter panel, a heading and two side-by-side reports, as shown in the API reference.",
                  "summary": "Filter panel, a heading and two side-by-side reports",
                  "value": {
                    "CONFIG": {
                      "displayName": "Regional Performance",
                      "description": "Quarterly regional roll-up",
                      "layout": "{\"1\": {\"type\":\"USERFILTERS\",\"width\":80,\"height\":3,\"left\":0,\"top\":0},\"2\": {\"type\":\"TITLE\",\"width\":80,\"height\":3,\"left\":0,\"top\":3,\"content\":\"<b>Q3 Performance</b>\"},\"3\": {\"type\":\"VIEW\",\"width\":40,\"height\":20,\"left\":0,\"top\":6,\"viewName\":\"Sales by Region\"},\"4\": {\"type\":\"VIEW\",\"width\":40,\"height\":20,\"left\":40,\"top\":6,\"viewName\":\"Margin by Region\"}}",
                      "settings": {
                        "allowDrillDown": "true",
                        "fitToWidth": "true",
                        "reportAsFilter": "true",
                        "layoutType": "web"
                      },
                      "themes": {
                        "layoutType": 2,
                        "type": "solid",
                        "solid": {
                          "background": "#333542"
                        },
                        "card": {
                          "background": "#3E3F4D",
                          "border": {
                            "color": "#6F738E",
                            "width": 2
                          },
                          "title": {
                            "border": {
                              "color": "#6F738E"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "letTheServerLayTheCardsOutInTwoColumnsOn": {
                  "description": "Let the server lay the cards out in two columns**\n\nOnly the view names matter here; the geometry is replaced.\n\n```http\nPOST /restapi/v2/workspaces/466206000000071000/dashboards HTTP/1.1\nHost: analyticsapi.zoho.com\nAuthorization: Zoho-oauthtoken 1000.xxxxxx.yyyyyy\nZANALYTICS-ORGID: 700000123456\nContent-Type: application/x-www-form-urlencoded\n\nCONFIG={\"displayName\":\"Auto Layout\",\"layoutType\":2,\"layout\":\"{\\\"1\\\":{\\\"type\\\":\\\"VIEW\\\",\\\"viewName\\\":\\\"Sales Chart\\\",\\\"width\\\":40,\\\"height\\\":20,\\\"left\\\":0,\\\"top\\\":0},\\\"2\\\":{\\\"type\\\":\\\"VIEW\\\",\\\"viewName\\\":\\\"Margin Chart\\\",\\\"width\\\":40,\\\"height\\\":20,\\\"left\\\":40,\\\"top\\\":0}}\"}\n```\n\n**Case 4 — Gradient theme, as shown in the API reference.",
                  "summary": "Let the server lay the cards out in two columns**\n\nOnly the view names matter here; the geometry is replaced.\n\n```http\nPOST /restapi/v2/workspaces/466206000000071000/dashboards HTTP/1.1\nHost: analyticsapi.zoho.com\nAuthorization: Zoho-oauthtoken 1000.xxxxxx.yyyyyy\nZANALYTICS-ORGID: 700000123456\nContent-Type: application/x-www-form-urlencoded\n\nCONFIG={\"displayName\":\"Auto Layout\",\"layoutType\":2,\"layout\":\"{\\\"1\\\":{\\\"type\\\":\\\"VIEW\\\",\\\"viewName\\\":\\\"Sales Chart\\\",\\\"width\\\":40,\\\"height\\\":20,\\\"left\\\":0,\\\"top\\\":0},\\\"2\\\":{\\\"type\\\":\\\"VIEW\\\",\\\"viewName\\\":\\\"Margin Chart\\\",\\\"width\\\":40,\\\"height\\\":20,\\\"left\\\":40,\\\"top\\\":0}}\"}\n```\n\n**Case 4 — Gradient theme",
                  "value": {
                    "CONFIG": {
                      "displayName": "Gradient Demo",
                      "layout": "{\"1\":{\"type\":\"VIEW\",\"viewName\":\"Sales Chart\",\"width\":80,\"height\":20,\"left\":0,\"top\":0}}",
                      "themes": {
                        "type": "gradient",
                        "gradient": {
                          "background": "#1B1C28",
                          "startColor": "#2A2D3E",
                          "endColor": "#13141C",
                          "mode": "linear",
                          "linear": {
                            "angle": 135
                          }
                        },
                        "card": {
                          "background": "#22242F",
                          "opacity": 0.9,
                          "blur": 4
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The dashboard was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDashboardResponse"
                },
                "examples": {
                  "success": {
                    "description": "A successful response, as shown in the API reference.",
                    "summary": "Success",
                    "value": {
                      "status": "success",
                      "summary": "Create dashboard",
                      "data": {
                        "dashboardId": "466206000000106002",
                        "displayName": "Sales Overview"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/dashboards/{dashboard-id}/metadata": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Read Dashboard Metadata",
        "description": "Returns the stored configuration of a dashboard. This is the read half of the read-modify-write cycle that Update Dashboard requires.\n\nPermission required: Read Only or higher on the dashboard. Owners, Workspace Admins, Organization Admins, shared users and group members with read access all qualify.\n\n**Rate limit**\n\n- Up to 20 requests per 60 seconds.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify . |\n| 7104 | The dashboard does not exist, or is 0. | Verify . |\n| 7319 | The dashboard exists but belongs to a different workspace. | Make and consistent. |\n| 7511 | The target is a tabbed dashboard. | Tabbed dashboards cannot be read through this API. |\n| 7018 | Malformed URL — the ID is not a valid numeric path segment. | Use the numeric dashboard ID only. |\n| 8509 | include is not one of all, layout, themes, settings. | Use a single valid section name. |\n| 7301 | The caller lacks read permission on the dashboard, or is on an unmapped white-label domain. | Share the dashboard with the caller. |\n| 7309 | Authorization header absent. | Send the OAuth header. |\n| 8535 | Invalid or expired OAuth token. | Refresh with scope ZohoAnalytics.modeling.read. |",
        "operationId": "getDashboardMetadata",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the dashboard.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000001001"
              ]
            }
          },
          {
            "name": "dashboard-id",
            "in": "path",
            "required": true,
            "description": "ID of the dashboard whose configuration is returned.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000597763"
              ]
            }
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "description": "JSONObject naming which section of the dashboard configuration to return. Omitted: everything. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/GetDashboardMetadataConfig"
            },
            "examples": {
              "fullConfiguration": {
                "description": "Returns objId, displayName, description and all three sections.",
                "summary": "Full configuration",
                "value": {}
              },
              "layoutOnly": {
                "description": "Returns only the layout section of the dashboard.",
                "summary": "Layout only",
                "value": {
                  "include": "layout"
                }
              },
              "themesOnly": {
                "description": "Returns only the theme section of the dashboard.",
                "summary": "Themes only",
                "value": {
                  "include": "themes"
                }
              }
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The metadata of the dashboard was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardMetadataResponse"
                },
                "examples": {
                  "success": {
                    "description": "A successful response, as shown in the API reference.",
                    "summary": "Success",
                    "value": {
                      "status": "success",
                      "summary": "Get dashboard metadata",
                      "data": {
                        "dashboardConfig": {
                          "objId": "466206000000106002",
                          "displayName": "Regional Performance",
                          "description": "Quarterly regional roll-up",
                          "themes": {
                            "default": "true",
                            "layoutType": "2"
                          },
                          "settings": {
                            "allowDrillDown": "true",
                            "hideColumnOptions": "true",
                            "smartAlignCharts": "true",
                            "enableSortMenu": "true",
                            "reportAsFilter": "false",
                            "showContextualOptions": "true",
                            "allowVUD": "true",
                            "allowInsights": "true",
                            "allowEmbedInsights": "true",
                            "fitToWidth": "true",
                            "enableGlobalUF": "false",
                            "applyImmediateUF": "true",
                            "timeSlicer": "false",
                            "layoutType": "web",
                            "layoutWidth": "1279",
                            "allowExport": {
                              "csv": "true",
                              "excel": "true",
                              "html": "true",
                              "image": "true",
                              "pdf": "true",
                              "zohoSheet": "true"
                            }
                          },
                          "layout": {
                            "1": {
                              "type": "USERFILTERS",
                              "width": 80,
                              "height": 3,
                              "left": 0,
                              "top": 0
                            },
                            "2": {
                              "type": "TITLE",
                              "width": 80,
                              "height": 3,
                              "left": 0,
                              "top": 3,
                              "content": "<b>Q3 Performance</b>"
                            },
                            "3": {
                              "type": "VIEW",
                              "width": 40,
                              "height": 20,
                              "left": 0,
                              "top": 6,
                              "viewName": "Sales by Region"
                            },
                            "4": {
                              "type": "VIEW",
                              "width": 40,
                              "height": 20,
                              "left": 40,
                              "top": 6,
                              "viewName": "Margin by Region"
                            }
                          }
                        }
                      }
                    }
                  },
                  "example2": {
                    "description": "A successful response, as shown in the API reference.",
                    "summary": "Success",
                    "value": {
                      "status": "success",
                      "summary": "Get dashboard metadata",
                      "data": {
                        "dashboardConfig": {
                          "layout": {
                            "1": {
                              "type": "USERFILTERS",
                              "width": 80,
                              "height": 3,
                              "left": 0,
                              "top": 0
                            },
                            "2": {
                              "type": "VIEW",
                              "width": 80,
                              "height": 20,
                              "left": 0,
                              "top": 3,
                              "viewName": "Sales Chart"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/dashboards/{dashboard-id}": {
      "put": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Update Dashboard",
        "description": "Replaces one or more sections of an existing dashboard.\n\nPermission required: Design Modify on the dashboard — the owner, a Workspace Admin, an Organization Admin, or a shared user granted edit rights.\n\n**Notes**\n\n> Note:\n>\n> This is a workspace-scoped API. The **ZANALYTICS-ORGID** header carrying the organization ID that owns the workspace is mandatory.\n\n> Note:\n>\n> This API returns no response body on success - only HTTP 204 No Content. Only failure responses carry a JSON error payload.\n\n**Rate limit**\n\n- Up to 10 requests per 60 seconds. Exceeding this blocks further calls for 600 seconds.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7104 | The dashboard does not exist in this workspace. | Verify . |\n| 7319 | The dashboard belongs to a different workspace. | Make the two path IDs consistent. |\n| 7511 | The target is a tabbed dashboard. | Tabbed dashboards cannot be modified through this API. |\n| 8542 | displayName, description, or any other key outside layout / themes / settings / layoutType is present in CONFIG. | Remove the key. Renaming is not supported here. |\n| 7301 | The caller lacks Design Modify permission on the dashboard. | Grant edit access. |\n| 8535 | Invalid or expired OAuth token. | Refresh with scope ZohoAnalytics.modeling.update. |\n| 7487 | displayName or layout is absent, null or empty. | Supply both. Remember layout is a JSON-encoded string. |\n| 7111 | A dashboard with this displayName already exists in the workspace. | Choose a different name. |\n| 7507 | displayName exceeds 100 characters, or description exceeds 250. | Shorten the value. |\n| 7510 | layout is not parseable JSON, or a themes sub-object is null. | Validate the JSON you embed in the layout string; never send null for card, solid, gradient or image. |\n| 7479 | A card is missing one or more of type, width, height, left, top. | Add the missing positional fields. |\n| 7486 | A positional field has the wrong JSON type. | width, height, left, top must be integers; type must be a string. |\n| 7485 | Unrecognised card type. | Use one of the eight values in Card types. |\n| 7480 | Negative offset, width/height of 1 or less, or left + width > 80. | Keep every card inside the 80-unit grid. |\n| 7512 | A card is smaller than the minimum for its type. | See the min height/width columns in Card types. |\n| 7482 | Two cards overlap. | Reposition so no two rectangles intersect. |\n| 7483 | A HTML, TITLE, PARA, IMAGE or EMBED card has absent, null or empty content. | Supply a non-empty content string. |\n| 7484 | More than 100 cards in the layout. | Split the dashboard. |\n| 8027 | One or more VIEW cards name a view that does not exist in this workspace, or viewName is absent / null / non-string. | Check the view display names. Matching is case-insensitive but the view must exist. |\n| 7481 | The referenced view exists but the caller cannot read it. | Have the view shared with the caller, or remove the card. |\n| 9001 | Every card in the layout is a USERFILTERS card. | Add at least one content-bearing card. |\n| 7491 | The sub-object required by themes.type is missing, or card is absent. | Add the required sub-object. |\n| 7492 | A required field inside the type sub-object or inside card is missing. | See the required-fields table in Themes. |\n| 7493 | A sub-object belonging to a different theme type is present, or a forbidden key accompanies default. | Remove the conflicting key. |\n| 7513 | chartEffect.type supplied while chartEffect.apply is 1. | Remove type, or set apply to 2. |\n| 7514 | chartEffect.apply is 2 but chartEffect.type is absent. | Supply chartEffect.type. |\n| 7488 | A settings or themes key has an empty or null value, or an unrecognised key reached the server. | Remove the key or give it a valid value. |\n| 8509 | An enumerated or pattern-constrained value does not match — a malformed colour, an out-of-range number, layoutType outside 1–4, a non-string colour. | Check the ranges in Themes and Settings. |\n| 8517 | A value has the wrong JSON data type for its schema declaration. | Match the declared types. |\n| 8534 | A theme sub-object was supplied as an array, or CONFIG is malformed JSON. | Use {} for objects. |\n| 8504 | The CONFIG parameter is missing from the request body. | Send CONFIG as a form-encoded parameter. |\n| 7103 | Workspace not found. | Verify . |\n| 7309 | Authorization header absent. | Send Authorization: Zoho-oauthtoken . |",
        "operationId": "updateDashboard",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the dashboard.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000001001"
              ]
            }
          },
          {
            "name": "dashboard-id",
            "in": "path",
            "required": true,
            "description": "ID of the dashboard to update.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000597763"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateDashboardConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "changeOnlyTheTheme": {
                  "description": "Change only the theme, as shown in the API reference.",
                  "summary": "Change only the theme",
                  "value": {
                    "CONFIG": {
                      "themes": {
                        "type": "solid",
                        "solid": {
                          "background": "#FFFFFF"
                        },
                        "card": {
                          "background": "#F4F5F7"
                        }
                      }
                    }
                  }
                },
                "replaceTheLayout": {
                  "description": "Replace the layout, as shown in the API reference.",
                  "summary": "Replace the layout",
                  "value": {
                    "CONFIG": {
                      "layout": "{\"1\":{\"type\":\"USERFILTERS\",\"width\":80,\"height\":3,\"left\":0,\"top\":0},\"2\":{\"type\":\"VIEW\",\"viewName\":\"Sales by Region\",\"width\":80,\"height\":25,\"left\":0,\"top\":3}}"
                    }
                  }
                },
                "resetToTheDefaultTheme": {
                  "description": "Reset to the default theme, as shown in the API reference.",
                  "summary": "Reset to the default theme",
                  "value": {
                    "CONFIG": {
                      "themes": {
                        "default": "true"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "The dashboard was updated successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {},
    "securitySchemes": {
      "iam-oauth2-schema": {
        "type": "oauth2",
        "description": "Authentication is based on OAuth2 flow",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
            "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
            "scopes": {
              "ZohoAnalytics.modeling.create": "Create report and dashboard resources",
              "ZohoAnalytics.modeling.read": "Read report and dashboard design metadata",
              "ZohoAnalytics.modeling.update": "Update report and dashboard resources",
              "ZohoAnalytics.metadata.read": "Read dashboard metadata"
            }
          }
        }
      }
    },
    "schemas": {
      "AxisColumn": {
        "type": "object",
        "title": "AxisColumn",
        "description": "Places one column on one shelf of the report.",
        "required": [
          "type",
          "columnName",
          "operation"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Which shelf the column goes on. Exactly these spellings are accepted; using a type outside its report family raises 8170. `sizeaxis` is lowercase only.",
            "enum": [
              "xaxis",
              "xAxis",
              "XAxis",
              "yaxis",
              "yAxis",
              "YAxis",
              "textaxis",
              "textAxis",
              "coloraxis",
              "colorAxis",
              "sizeaxis",
              "latlng",
              "latLng",
              "tooltip",
              "toolTip",
              "custom",
              "row",
              "column",
              "data",
              "groupby",
              "groupBy",
              "summarize"
            ],
            "x-enumDescriptions": {
              "xaxis": "Primary dimension axis (chart)",
              "xAxis": "Primary dimension axis (chart)",
              "XAxis": "Primary dimension axis (chart)",
              "yaxis": "Measure axis (chart), at most 15",
              "yAxis": "Measure axis (chart), at most 15",
              "YAxis": "Measure axis (chart), at most 15",
              "textaxis": "Text/label axis (chart)",
              "textAxis": "Text/label axis (chart)",
              "coloraxis": "Colour-encoding axis (chart)",
              "colorAxis": "Colour-encoding axis (chart)",
              "sizeaxis": "Size-encoding axis for bubble charts (chart); lowercase only",
              "latlng": "Latitude/longitude pair for map charts (chart)",
              "latLng": "Latitude/longitude pair for map charts (chart)",
              "tooltip": "Extra columns surfaced in the tooltip (chart)",
              "toolTip": "Extra columns surfaced in the tooltip (chart)",
              "custom": "Custom-visual field slot (chart)",
              "row": "Row grouping shelf (pivot)",
              "column": "Column grouping shelf (pivot)",
              "data": "Measure shelf (pivot); at least one required",
              "groupby": "Dimension grouping shelf (summary)",
              "groupBy": "Dimension grouping shelf (summary)",
              "summarize": "Aggregate shelf (summary)"
            }
          },
          "columnName": {
            "type": "string",
            "maxLength": 1000,
            "description": "Column display name. Matched case-insensitively."
          },
          "columnId": {
            "type": "integer",
            "format": "int64",
            "description": "Alternative to columnName."
          },
          "tableName": {
            "type": "string",
            "maxLength": 100,
            "description": "Table the column belongs to. Required when the column comes from a joined (lookup) table; may be omitted for base-table columns."
          },
          "tableId": {
            "type": "integer",
            "format": "int64",
            "description": "Alternative to tableName."
          },
          "displayName": {
            "type": "string",
            "maxLength": 250,
            "description": "Override label for the column."
          },
          "operation": {
            "type": "string",
            "description": "Aggregation or date grouping applied to the column. Letters only. Which values apply depends on the column data type and the shelf: see Appendix C of the Reports document. `std` is not a valid axis operation (use `stddev`); `avg` is accepted on charts only (use `average` on a pivot data shelf).",
            "enum": [
              "actual",
              "sum",
              "min",
              "max",
              "average",
              "avg",
              "stddev",
              "median",
              "mode",
              "percentile",
              "count",
              "variance",
              "dc",
              "distinctcount",
              "measure",
              "dimension",
              "range",
              "geo",
              "year",
              "quarter",
              "month",
              "week",
              "weekday",
              "day",
              "hour",
              "quarteryear",
              "absquarter",
              "monthyear",
              "absmonth",
              "weekyear",
              "absweek",
              "fulldate",
              "datetime",
              "maxdate",
              "mindate",
              "ydc",
              "mydc",
              "wydc",
              "qydc",
              "ddc",
              "dtdc",
              "qdc",
              "wdc",
              "wddc",
              "dmdc",
              "hdc",
              "mdc"
            ],
            "x-enumDescriptions": {
              "actual": "Raw value / plain grouping",
              "sum": "Sum",
              "min": "Minimum",
              "max": "Maximum",
              "average": "Average",
              "avg": "Average (chart only)",
              "stddev": "Standard deviation",
              "median": "Median",
              "mode": "Mode",
              "percentile": "Percentile (see windowFunction.percentileVal)",
              "count": "Count",
              "variance": "Variance",
              "dc": "Distinct count",
              "distinctcount": "Distinct count",
              "measure": "Treat as measure",
              "dimension": "Treat numeric as dimension",
              "range": "Numeric range bucket (rangeSize)",
              "geo": "Geo-coded value (needs geoRole)",
              "year": "Group by year",
              "quarter": "Group by quarter (seasonal)",
              "month": "Group by month (seasonal)",
              "week": "Group by week (seasonal)",
              "weekday": "Group by weekday",
              "day": "Group by day of month",
              "hour": "Group by hour",
              "quarteryear": "Group by quarter and year",
              "absquarter": "Alias of quarteryear",
              "monthyear": "Group by month and year",
              "absmonth": "Alias of monthyear",
              "weekyear": "Group by week and year",
              "absweek": "Alias of weekyear",
              "fulldate": "Group by full date",
              "datetime": "Full date and time",
              "maxdate": "Latest date",
              "mindate": "Earliest date",
              "ydc": "Distinct count of years",
              "mydc": "Distinct count of month-years",
              "wydc": "Distinct count of week-years",
              "qydc": "Distinct count of quarter-years",
              "ddc": "Distinct count of dates",
              "dtdc": "Distinct count of date-times",
              "qdc": "Distinct count of quarters",
              "wdc": "Distinct count of weeks",
              "wddc": "Distinct count of weekdays",
              "dmdc": "Distinct count of days of month",
              "hdc": "Distinct count of hours",
              "mdc": "Distinct count of months"
            }
          },
          "sort": {
            "type": "string",
            "description": "Sort direction for this shelf entry.",
            "enum": [
              "asc",
              "desc"
            ],
            "x-enumDescriptions": {
              "asc": "Ascending",
              "desc": "Descending"
            }
          },
          "rangeSize": {
            "type": "number",
            "description": "Bin width for `range` grouping on a numeric column. Must be a JSON number: a quoted string raises 8162, an array 8516."
          },
          "geoRole": {
            "type": "string",
            "description": "Required when operation is `geo`. Place roles apply to text columns on the X axis only; latitude/longitude to numeric columns.",
            "enum": [
              "continent",
              "country",
              "state",
              "province",
              "county",
              "district",
              "city",
              "zipcode",
              "airport",
              "latitude",
              "longitude"
            ],
            "x-enumDescriptions": {
              "continent": "Continent name (text, X axis only)",
              "country": "Country name (text, X axis only)",
              "state": "State name (text, X axis only)",
              "province": "Province name (text, X axis only)",
              "county": "County name (text, X axis only)",
              "district": "District name (text, X axis only)",
              "city": "City name (text, X axis only)",
              "zipcode": "Postal code (text, X axis only)",
              "airport": "Airport code (text, X axis only)",
              "latitude": "Latitude (numeric)",
              "longitude": "Longitude (numeric)"
            }
          },
          "windowFunction": {
            "$ref": "#/components/schemas/WindowFunction"
          },
          "format": {
            "$ref": "#/components/schemas/ColumnFormat"
          }
        },
        "examples": [
          {
            "type": "xAxis",
            "columnName": "Region",
            "operation": "actual"
          }
        ]
      },
      "AxisColumns": {
        "type": "array",
        "title": "AxisColumns",
        "description": "JSONArray of the drop-field configuration: which column goes on which shelf with which operation. Maximum 1000 entries.",
        "items": {
          "$ref": "#/components/schemas/AxisColumn"
        },
        "examples": [
          [
            {
              "type": "xAxis",
              "columnName": "Product",
              "tableName": "Sales",
              "operation": "actual"
            },
            {
              "type": "yAxis",
              "columnName": "Sales",
              "tableName": "Sales",
              "operation": "sum"
            }
          ]
        ],
        "maxItems": 1000
      },
      "ColumnFormat": {
        "type": "object",
        "title": "ColumnFormat",
        "description": "JSONObject controlling how the values of an axis column are rendered.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Format category applied to the column values.",
            "enum": [
              "number",
              "currency",
              "percentage",
              "date",
              "text"
            ]
          },
          "displayName": {
            "type": "string",
            "description": "Override label for this column.",
            "maxLength": 1000,
            "examples": [
              "Revenue"
            ]
          },
          "currencyFormat": {
            "type": "string",
[...]
