{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Share & Publish in Zoho Analytics — covering view sharing, publish configurations, embed URLs, and slideshow management."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Sharing",
      "description": "APIs for sharing workspaces and views with users, and retrieving share details and permissions."
    },
    {
      "name": "Publish",
      "description": "APIs for making views public, managing private URLs, and updating publish configurations."
    },
    {
      "name": "Embed",
      "description": "APIs for retrieving embeddable view URLs."
    },
    {
      "name": "Slideshow Management",
      "description": "APIs for creating, updating, deleting, and listing slideshows and their URLs."
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/share": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "summary": "Get Workspace Shared Details",
        "description": "Returns the shared details of the specified workspace. The response groups the sharing into four blocks - views shared directly with individual users, views shared with groups, views published publicly, and views shared through a private link.",
        "operationId": "getWorkspaceSharedDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceSharedDetailsResponse"
                },
                "examples": {
                  "userShare": {
                    "description": "Workspace in which the views are shared directly with individual users, and one dashboard is published publicly.",
                    "summary": "User share",
                    "value": {
                      "status": "success",
                      "summary": "Get share info",
                      "data": {
                        "userShareInfo": [
                          {
                            "emailId": "user1@example.com",
                            "views": [
                              {
                                "viewId": "1767024000013486001",
                                "viewName": "Region Wise Sales",
                                "sharedBy": "owner@example.com",
                                "permissions": {
                                  "read": true,
                                  "export": true,
                                  "vud": false,
                                  "addRow": false,
                                  "updateRow": false,
                                  "deleteRow": false,
                                  "deleteAllRows": false,
                                  "importAppend": false,
                                  "importAddOrUpdate": false,
                                  "importDeleteAllAdd": false,
                                  "importDeleteUpdateAdd": false,
                                  "drillDown": false,
                                  "share": false,
                                  "discussion": true,
                                  "insight": true,
                                  "drillThrough": false,
                                  "accessAdminPresets": false,
                                  "createPreset": false
                                }
                              }
                            ]
                          }
                        ],
                        "groupShareInfo": [],
                        "publicShareInfo": {
                          "emailId": "Public Visitor",
                          "views": [
                            {
                              "viewId": "1767024000013511013",
                              "viewName": "Sales Dashboard",
                              "sharedBy": "owner@example.com",
                              "permissions": {
                                "read": true,
                                "export": false,
                                "vud": false,
                                "addRow": false,
                                "updateRow": false,
                                "deleteRow": false,
                                "deleteAllRows": false,
                                "importAppend": false,
                                "importAddOrUpdate": false,
                                "importDeleteAllAdd": false,
                                "importDeleteUpdateAdd": false,
                                "drillDown": false,
                                "share": false,
                                "discussion": false,
                                "insight": false,
                                "drillThrough": false,
                                "accessAdminPresets": false,
                                "createPreset": false
                              }
                            }
                          ]
                        },
                        "privateLinkShareInfo": {
                          "emailId": "Private Link",
                          "views": []
                        }
                      }
                    }
                  },
                  "groupShare": {
                    "description": "Workspace in which the views are shared with a group, and one report is shared through a private link.",
                    "summary": "Group share",
                    "value": {
                      "status": "success",
                      "summary": "Get share info",
                      "data": {
                        "userShareInfo": [],
                        "groupShareInfo": [
                          {
                            "groupId": "1767024000013490007",
                            "groupName": "Sales Team",
                            "groupDesc": "Regional sales managers",
                            "groupMembers": [
                              "user1@example.com",
                              "user2@example.com"
                            ],
                            "views": [
                              {
                                "viewId": "1767024000013486001",
                                "viewName": "Region Wise Sales",
                                "sharedBy": "owner@example.com",
                                "permissions": {
                                  "read": true,
                                  "export": false,
                                  "vud": true,
                                  "addRow": false,
                                  "updateRow": false,
                                  "deleteRow": false,
                                  "deleteAllRows": false,
                                  "importAppend": false,
                                  "importAddOrUpdate": false,
                                  "importDeleteAllAdd": false,
                                  "importDeleteUpdateAdd": false,
                                  "drillDown": true,
                                  "share": false,
                                  "discussion": false,
                                  "insight": false,
                                  "drillThrough": false,
                                  "accessAdminPresets": false,
                                  "createPreset": false
                                }
                              }
                            ]
                          }
                        ],
                        "publicShareInfo": {
                          "emailId": "Public Visitor",
                          "views": []
                        },
                        "privateLinkShareInfo": {
                          "emailId": "Private Link",
                          "views": [
                            {
                              "viewId": "1767024000013486001",
                              "viewName": "Region Wise Sales",
                              "sharedBy": "owner@example.com",
                              "permissions": {
                                "read": true,
                                "export": false,
                                "vud": false,
                                "addRow": false,
                                "updateRow": false,
                                "deleteRow": false,
                                "deleteAllRows": false,
                                "importAppend": false,
                                "importAddOrUpdate": false,
                                "importDeleteAllAdd": false,
                                "importDeleteUpdateAdd": false,
                                "drillDown": false,
                                "share": false,
                                "discussion": false,
                                "insight": true,
                                "drillThrough": false,
                                "accessAdminPresets": true,
                                "createPreset": true
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Sharing"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.create"
            ]
          }
        ],
        "summary": "Share Views",
        "description": "Shares the specified views with the specified users or groups, with the selected permissions. A filter criteria can be applied while sharing, so that the shared users see only the matching subset of the data.",
        "operationId": "shareViews",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ShareViewsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "shareWithUsers": {
                  "description": "Shares the listed views with the specified users, granting read and export permission.",
                  "summary": "Share with users",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com"
                      ],
                      "viewIds": [
                        "35130000001055717"
                      ],
                      "permissions": {
                        "read": true,
                        "export": true
                      },
                      "inviteMail": true
                    }
                  }
                },
                "shareWithGroups": {
                  "description": "Shares the listed views with the specified groups instead of individual users.",
                  "summary": "Share with groups",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "groupIds": [
                        "35130000001066001"
                      ],
                      "viewIds": [
                        "35130000001055717"
                      ],
                      "permissions": {
                        "read": true,
                        "vud": true
                      }
                    }
                  }
                },
                "filteredShare": {
                  "description": "Shares a report with a filter criteria, so that the shared user sees only the East region data.",
                  "summary": "Filtered share",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "viewIds": [
                        "35130000001055721"
                      ],
                      "permissions": {
                        "read": true
                      },
                      "criteria": "\"SalesTable\".\"Region\"='East'",
                      "inheritParentFilterCriteria": true
                    }
                  }
                },
                "columnRestrictedShare": {
                  "description": "Shares a view but restricts the shared columns and the columns visible in the underlying data.",
                  "summary": "Column restricted share",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "viewIds": [
                        "35130000001055717"
                      ],
                      "permissions": {
                        "read": true,
                        "vud": true
                      },
                      "columns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region",
                            "Sales"
                          ]
                        }
                      ],
                      "vudColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region"
                          ]
                        }
                      ],
                      "includeAllColsForVUD": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Sharing"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.delete"
            ]
          }
        ],
        "summary": "Remove Share",
        "description": "Removes the shared views for the specified users or groups. The sharing can be removed for a specific set of views, or for every view that is currently shared with those users.",
        "operationId": "removeShare",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RemoveShareConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "removeSpecificViews": {
                  "description": "Removes the sharing of the listed views for the specified users.",
                  "summary": "Remove specific views",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com"
                      ],
                      "viewIds": [
                        "35130000001055717",
                        "35130000001055721"
                      ]
                    }
                  }
                },
                "removeAllSharedViews": {
                  "description": "Removes every view currently shared with the specified users.",
                  "summary": "Remove all views",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "removeAllViews": true
                    }
                  }
                },
                "removeGroupShare": {
                  "description": "Removes the sharing of the listed views for the specified groups.",
                  "summary": "Remove group share",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "groupIds": [
                        "35130000001066001"
                      ],
                      "viewIds": [
                        "35130000001055717"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/share": {
      "put": {
        "tags": [
          "Sharing"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.update"
            ]
          }
        ],
        "summary": "Update Shared Details For View",
        "description": "Updates the existing sharing configuration of the specified view for the given users or groups. The permissions, filter criteria, and column restrictions sent in the config replace the ones currently in effect for that view.",
        "operationId": "UpdateSharedDetailsForView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateSharedDetailsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "updateUserPermissions": {
                  "description": "Grants export and underlying data permission to the users the view is already shared with.",
                  "summary": "Update user permissions",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com"
                      ],
                      "permissions": {
                        "read": true,
                        "export": true,
                        "vud": true
                      }
                    }
                  }
                },
                "updateGroupPermissions": {
                  "description": "Updates the sharing configuration of the view for the specified groups.",
                  "summary": "Update group permissions",
                  "value": {
                    "CONFIG": {
                      "groupIds": [
                        "35130000001066001"
                      ],
                      "permissions": {
                        "read": true,
                        "drillDown": true
                      }
                    }
                  }
                },
                "updateFilterCriteria": {
                  "description": "Replaces the filter criteria applied on the shared report and restricts the columns shared.",
                  "summary": "Update filter criteria",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "permissions": {
                        "read": true
                      },
                      "criteria": "\"SalesTable\".\"Region\"='West'",
                      "inheritParentFilterCriteria": false,
                      "columns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region",
                            "Sales"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/share/shareddetails": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "summary": "Get Shared Details For Views",
        "description": "Returns the shared details of the specified views. For every view, the response lists each user or group it is shared to, along with the permissions granted, the filter criteria applied, and any column level restrictions in effect.",
        "operationId": "getSharedDetailsForViews",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": true,
            "description": "Config parameter that specifies the views whose shared details have to be fetched.\n\nAs this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/GetSharedDetailsConfig"
            },
            "examples": {
              "singleView": {
                "description": "Fetches the shared details of one view.",
                "summary": "Single view",
                "value": {
                  "viewIds": [
                    "1767024000013486001"
                  ]
                }
              },
              "multipleViews": {
                "description": "Fetches the shared details of several views in one call.",
                "summary": "Multiple views",
                "value": {
                  "viewIds": [
                    "1767024000013486001",
                    "1767024000013511013"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSharedDetailsResponse"
                },
                "examples": {
                  "userShare": {
                    "description": "View shared with an individual user, with a filter criteria and a restricted set of shared columns.",
                    "summary": "User share",
                    "value": {
                      "status": "success",
                      "summary": "Get shared details for views",
                      "data": {
                        "sharedDetails": [
                          {
                            "viewId": "1767024000013486001",
                            "shareInfo": [
                              {
                                "sharedTo": "user1@example.com",
                                "sharedBy": "owner@example.com",
                                "sharedToZuId": "65482910",
                                "permissionString": "read,export",
                                "permissions": {
                                  "read": true,
                                  "export": true,
                                  "vud": false,
                                  "addRow": false,
                                  "updateRow": false,
                                  "deleteRow": false,
                                  "deleteAllRows": false,
                                  "importAppend": false,
                                  "importAddOrUpdate": false,
                                  "importDeleteAllAdd": false,
                                  "importDeleteUpdateAdd": false,
                                  "drillDown": false,
                                  "share": false,
                                  "discussion": false,
                                  "insight": false,
                                  "drillThrough": false,
                                  "accessAdminPresets": false,
                                  "createPreset": false
                                },
                                "criteria": "\"SalesTable\".\"Region\"='East'",
                                "inheritParentFilterCriteria": "false",
                                "isInvalidCriteria": false,
                                "sharedColumns": [
                                  "Region",
                                  "Sales"
                                ],
                                "vudColumns": [],
                                "drillColumns": [],
                                "isGroupShare": false,
                                "publicPermLevel": 0,
                                "isROUser": false
                              }
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "groupShare": {
                    "description": "View shared with a group, with the underlying data and drill down options limited to specific columns.",
                    "summary": "Group share",
                    "value": {
                      "status": "success",
                      "summary": "Get shared details for views",
                      "data": {
                        "sharedDetails": [
                          {
                            "viewId": "1767024000013486001",
                            "shareInfo": [
                              {
                                "sharedTo": "Sales Team",
                                "sharedBy": "owner@example.com",
                                "sharedToZuId": "1767024000013490007",
                                "permissionString": "read,vud,drillDown",
                                "permissions": {
                                  "read": true,
                                  "export": false,
                                  "vud": true,
                                  "addRow": false,
                                  "updateRow": false,
                                  "deleteRow": false,
                                  "deleteAllRows": false,
                                  "importAppend": false,
                                  "importAddOrUpdate": false,
                                  "importDeleteAllAdd": false,
                                  "importDeleteUpdateAdd": false,
                                  "drillDown": true,
                                  "share": false,
                                  "discussion": false,
                                  "insight": false,
                                  "drillThrough": false,
                                  "accessAdminPresets": false,
                                  "createPreset": false
                                },
                                "criteria": "",
                                "inheritParentFilterCriteria": "true",
                                "isInvalidCriteria": false,
                                "sharedColumns": [],
                                "vudColumns": [
                                  "Region"
                                ],
                                "drillColumns": [
                                  "Region"
                                ],
                                "isGroupShare": true,
                                "publicPermLevel": 0,
                                "isROUser": false
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/share/mypermissions": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "summary": "Get User Permissions",
        "description": "Returns the permissions that the requesting user holds on the specified view. The permissions returned are the effective ones, whether they were granted directly to the user or inherited through a group.\n\n**Notes**\n\n> Note:\n>\n> - The permissions are returned for the user whose access token is used in the request, not for an arbitrary user.\n> - The endpoint path retains the `mypermissions` segment.",
        "operationId": "getUserPermissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserPermissionsResponse"
                },
                "examples": {
                  "readOnlyAccess": {
                    "description": "User who can only view the report, with no export or underlying data access.",
                    "summary": "Read only access",
                    "value": {
                      "status": "success",
                      "summary": "Get user permissions",
                      "data": {
                        "permissions": {
                          "read": true,
                          "export": false,
                          "vud": false,
                          "addRow": false,
                          "updateRow": false,
                          "deleteRow": false,
                          "deleteAllRows": false,
                          "importAppend": false,
                          "importAddOrUpdate": false,
                          "importDeleteAllAdd": false,
                          "importDeleteUpdateAdd": false,
                          "drillDown": false,
                          "share": false,
                          "discussion": false,
                          "insight": false,
                          "drillThrough": false,
                          "accessAdminPresets": false,
                          "createPreset": false
                        }
                      }
                    }
                  },
                  "fullAccess": {
                    "description": "User who owns the table and therefore holds every permission on it.",
                    "summary": "Full access",
                    "value": {
                      "status": "success",
                      "summary": "Get user permissions",
                      "data": {
                        "permissions": {
                          "read": true,
                          "export": true,
                          "vud": true,
                          "addRow": true,
                          "updateRow": true,
                          "deleteRow": true,
                          "deleteAllRows": true,
                          "importAppend": true,
                          "importAddOrUpdate": true,
                          "importDeleteAllAdd": true,
                          "importDeleteUpdateAdd": true,
                          "drillDown": true,
                          "share": true,
                          "discussion": true,
                          "insight": true,
                          "drillThrough": true,
                          "accessAdminPresets": true,
                          "createPreset": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/publish/public": {
      "post": {
        "tags": [
          "Publish"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.create"
            ]
          }
        ],
        "summary": "Make Views Public",
        "description": "Makes the specified view publicly accessible and returns the public URL. The audience, the permissions granted on the view, and the rows and columns visible through it are all controlled by the config.",
        "operationId": "makeViewsPublic",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/MakeViewsPublicConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "publicOnWeb": {
                  "description": "Publishes the view to anyone on the web, with export permission granted.",
                  "summary": "Public on web",
                  "value": {
                    "CONFIG": {
                      "publicPermLevel": 1,
                      "permissions": {
                        "export": true
                      }
                    }
                  }
                },
                "organizationOnly": {
                  "description": "Publishes the view to everyone in the Zoho Analytics organization, with underlying data access.",
                  "summary": "Organization only",
                  "value": {
                    "CONFIG": {
                      "publicPermLevel": 2,
                      "permissions": {
                        "vud": true,
                        "export": true
                      }
                    }
                  }
                },
                "filteredPublic": {
                  "description": "Publishes the view so that only the East region rows and a restricted set of columns are visible.",
                  "summary": "Filtered public",
                  "value": {
                    "CONFIG": {
                      "publicPermLevel": 1,
                      "permissions": {
                        "vud": true,
                        "drillDown": true
                      },
                      "vudColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region",
                            "Sales"
                          ]
                        }
                      ],
                      "drillColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region"
                          ]
                        }
                      ],
                      "criteria": "\"SalesTable\".\"Region\"='East'",
                      "inheritParentFilterCriteria": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakeViewsPublicResponse"
                },
                "examples": {
                  "publicUrl": {
                    "description": "Public URL generated for the view that has just been published.",
                    "summary": "Public URL",
                    "value": {
                      "status": "success",
                      "summary": "Make view public",
                      "data": {
                        "publicUrl": "https://analytics.zoho.com/open-view/1767024000008125004"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Publish"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.delete"
            ]
          }
        ],
        "summary": "Remove Public Permission",
        "description": "Removes the public access granted on the specified view. Once removed, the public URL generated for the view no longer resolves.",
        "operationId": "removePublicPermission",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/publish/privatelink": {
      "post": {
        "tags": [
          "Publish"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.update"
            ]
          }
        ],
        "summary": "Create Private URL",
        "description": "Creates a private URL for the specified view and returns it. The private URL can be protected with a password and given a validity period, and the permissions granted through it are controlled by the config.\n\n**Notes**\n\n> Note:\n>\n> - `CONFIG` may be omitted entirely. When it is, a private URL is created with the default settings.\n> - `password` and `removePassword` are mutually exclusive, as are `expiryDate` and `removeExpiryDate`.\n> - `vudColumns` is applicable only when the `vud` permission is set to true.\n> - `drillColumns` is applicable only when the `drillDown` permission is set to true.\n> - Setting `regenerateKey` to true disables the private link that was issued previously.",
        "operationId": "createPrivateUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreatePrivateUrlConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "basicPrivateUrl": {
                  "description": "Creates a private URL that grants export permission and applies no further restrictions.",
                  "summary": "Basic private URL",
                  "value": {
                    "CONFIG": {
                      "permissions": {
                        "export": true
                      }
                    }
                  }
                },
                "passwordProtected": {
                  "description": "Creates a private URL protected with a password and valid until the given expiry date.",
                  "summary": "Password protected",
                  "value": {
                    "CONFIG": {
                      "permissions": {
                        "vud": true,
                        "export": true
                      },
                      "password": "Zylker@123",
                      "expiryDate": "2026-12-31",
                      "includeAllColsForVUD": false
                    }
                  }
                },
                "regeneratedKey": {
                  "description": "Generates a new private key, disabling the private link that was issued previously.",
                  "summary": "Regenerate key",
                  "value": {
                    "CONFIG": {
                      "regenerateKey": true,
                      "permissions": {
                        "export": true
                      }
                    }
                  }
                },
                "filteredPrivateUrl": {
                  "description": "Creates a private URL through which only the East region rows and a restricted set of columns are visible.",
                  "summary": "Filtered private URL",
                  "value": {
                    "CONFIG": {
                      "criteria": "\"SalesTable\".\"Region\"='East'",
                      "permissions": {
                        "vud": true,
                        "drillDown": true
                      },
                      "vudColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region",
                            "Sales"
                          ]
                        }
                      ],
                      "drillColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePrivateUrlResponse"
                },
                "examples": {
                  "privateUrl": {
                    "description": "Private URL generated for the view, ending with the newly issued private key.",
                    "summary": "Private URL",
                    "value": {
                      "status": "success",
                      "summary": "Create private url",
                      "data": {
                        "privateUrl": "https://analytics.zoho.com/open-view/1767024000003145011/eee1191ea88d52e486aaecf5f748dc56"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Publish"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "summary": "Get Private URL",
        "description": "Returns the private URL through which the specified view can be accessed. A custom domain can be supplied so that the URL is returned with that domain address.",
        "operationId": "getPrivateUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "description": "Config parameter that controls the domain used to build the private URL.\n\nAs this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/GetPrivateUrlConfig"
            },
            "examples": {
              "defaultDomain": {
                "description": "Returns the private URL on the default Zoho Analytics domain.",
                "summary": "Default domain",
                "value": {}
              },
              "customDomain": {
                "description": "Returns the private URL on the configured white label domain.",
                "summary": "Custom domain",
                "value": {
                  "domainName": "analytics.example.com"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivateUrlResponse"
                },
                "examples": {
                  "privateUrl": {
                    "description": "Private URL currently in effect for the view.",
                    "summary": "Private URL",
                    "value": {
                      "status": "success",
                      "summary": "Get private url",
                      "data": {
                        "privateUrl": "https://analytics.zoho.com/open-view/1767024000003145011/eee1191ea88d52e486aaecf5f748dc56"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Publish"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.delete"
            ]
          }
        ],
        "summary": "Remove Private Access",
        "description": "Removes the private link access granted on the specified view. Once removed, the private URL generated for the view no longer resolves.",
        "operationId": "removePrivateAccess",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/publish/config": {
      "get": {
        "tags": [
          "Publish"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "summary": "Get Publish Configurations",
        "description": "Returns the publish configurations of the specified view. The response groups them into three blocks - the public access settings, the private link settings, and the rendering settings applied when the view is accessed through a published URL.",
        "operationId": "getPublishConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublishConfigurationsResponse"
                },
                "examples": {
                  "publicView": {
                    "description": "View published on the web, with no private link configured.",
                    "summary": "Public view",
                    "value": {
                      "status": "success",
                      "summary": "Get publish configurations",
                      "data": {
                        "publicViewConfig": {
                          "publicPermLevel": 1,
                          "isListed": false,
                          "isOrgPublicAllowed": true,
                          "orgName": "Zylker Analytics",
                          "isBussOrgPublicAllowed": true,
                          "businessOrgName": "Zylker Corporation Private Limited"
                        },
                        "privateLinkConfig": {
                          "isPrivate": false,
                          "isExpired": false,
                          "password": "-1",
                          "expiryDate": "-1"
                        },
                        "publishConfig": {
                          "includeTitle": true,
                          "includeDesc": true,
                          "includeToolBar": false,
                          "includeSocialWidgets": false,
                          "includeSearchBox": false,
                          "includeDatatypeSymbol": false,
                          "includeShowHideOption": false,
                          "isInteractive": true,
                          "legendPosition": "RIGHT",
                          "width": 800,
                          "height": 600,
                          "autoRefresh": -1,
                          "URLCriteria": "",
                          "includeAskZia": true
                        }
                      }
                    }
                  },
                  "privateLinkView": {
                    "description": "View shared through a password protected private link, with a filter criteria applied on the published URL.",
                    "summary": "Private link view",
                    "value": {
                      "status": "success",
                      "summary": "Get publish configurations",
                      "data": {
                        "publicViewConfig": {
                          "publicPermLevel": 2,
                          "isListed": false,
                          "isOrgPublicAllowed": true,
                          "orgName": "Zylker Analytics",
                          "isBussOrgPublicAllowed": false,
                          "businessOrgName": "Zylker Corporation Private Limited"
                        },
                        "privateLinkConfig": {
                          "isPrivate": true,
                          "isExpired": false,
                          "password": "Zylker@123",
                          "expiryDate": "2026-12-31"
                        },
                        "publishConfig": {
                          "includeTitle": true,
                          "includeDesc": true,
                          "includeToolBar": true,
                          "includeSocialWidgets": false,
                          "includeSearchBox": true,
                          "includeDatatypeSymbol": false,
                          "includeShowHideOption": false,
                          "isInteractive": true,
                          "legendPosition": "RIGHT",
                          "width": 800,
                          "height": 600,
                          "autoRefresh": 30,
                          "URLCriteria": "\"SalesTable\".\"Region\"='East'",
                          "includeAskZia": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "Publish"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.update"
            ]
          }
        ],
        "summary": "Update Publish Configurations",
        "description": "Updates the publish configurations of the specified view. These settings control how the view is rendered when it is accessed in the embedded, public, or private link mode.\n\n**Notes**\n\n> Note:\n>\n> - Only the attributes sent in the config are updated; the ones omitted retain their current values.\n> - `autoRefresh` takes the interval in minutes. Send `-1` to disable the automatic refresh.\n> - `isListed` applies to the workspace, not to the individual view.",
        "operationId": "updatePublishConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdatePublishConfigurationsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "minimalEmbed": {
                  "description": "Renders the view on its own, without the title, description, or toolbar.",
                  "summary": "Minimal embed",
                  "value": {
                    "CONFIG": {
                      "includeTitle": false,
                      "includeDesc": false,
                      "includeToolBar": false
                    }
                  }
                },
                "fullToolbar": {
                  "description": "Renders the view with the toolbar, search box, data type symbols, and the Ask Zia bot.",
                  "summary": "Full toolbar",
                  "value": {
                    "CONFIG": {
                      "includeToolBar": true,
                      "includeSearchBox": true,
                      "includeDatatypeSymbol": true,
                      "includeAskZia": true
                    }
                  }
                },
                "filteredEmbed": {
                  "description": "Applies a filter criteria on the published URL and refreshes the view every thirty minutes.",
                  "summary": "Filtered embed",
                  "value": {
                    "CONFIG": {
                      "URLCriteria": "\"SalesTable\".\"Region\"='East'",
                      "autoRefresh": 30,
                      "width": 1024,
                      "height": 768,
                      "isInteractive": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/publish/embed": {
      "get": {
        "tags": [
          "Embed"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "summary": "Get Embed URL",
        "description": "Returns an embed URL through which the specified view can be accessed. The generated URL is short-lived, which adds more security to it. It does not require a login, and what the viewer can see and do is governed entirely by the permissions, filter criteria, and column restrictions sent in the config.\n\n> **Note:** This API is available only to Embedded Analytics customers.",
        "operationId": "getEmbedUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "description": "Config parameter that controls the permissions carried by the embed URL, the rows and columns visible through it, and how long it stays valid.\n\nAs this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/GetEmbedUrlConfig"
            },
            "examples": {
              "defaultEmbed": {
                "description": "Returns an embed URL with the default rendering options and a one hour validity period.",
                "summary": "Default embed",
                "value": {}
              },
              "filteredEmbed": {
                "description": "Returns an embed URL through which only the East region rows are visible, with export permission granted.",
                "summary": "Filtered embed",
                "value": {
                  "criteria": "\"SalesTable\".\"Region\"='East'",
                  "permissions": {
                    "export": true
                  },
                  "includeToolBar": true
                }
              },
              "restrictedColumns": {
                "description": "Returns an embed URL that grants underlying data and drill down access, limited to specific columns.",
                "summary": "Restricted columns",
                "value": {
                  "permissions": {
                    "vud": true,
                    "drillDown": true
                  },
                  "vudColumns": [
                    {
                      "tableName": "SalesTable",
                      "columnNames": [
                        "Region",
                        "Sales"
                      ]
                    }
                  ],
                  "drillColumns": [
                    {
                      "tableName": "SalesTable",
                      "columnNames": [
                        "Region"
                      ]
                    }
                  ],
                  "legendPosition": "BOTTOMCENTER"
                }
              },
              "localizedEmbed": {
                "description": "Returns a long lived embed URL rendered in French on the configured white label domain.",
                "summary": "Localized embed",
                "value": {
                  "language": "french",
                  "domainName": "analytics.example.com",
                  "validityPeriod": 86400,
                  "includeTitle": true,
                  "includeDesc": false
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmbedUrlResponse"
                },
                "examples": {
                  "embedUrl": {
                    "description": "Short-lived embed URL generated for the view, carrying the requested configuration.",
                    "summary": "Embed URL",
                    "value": {
                      "status": "success",
                      "summary": "Get embed url",
                      "data": {
                        "embedUrl": "https://analytics.zoho.com/open-view/1767024000003145011?OS=FS&RSCONFIG=******"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/slides": {
      "post": {
        "tags": [
          "Slideshow Management"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.create"
            ]
          }
        ],
        "summary": "Create Slideshow",
        "description": "Creates a slideshow in the specified workspace from the given set of views, and returns its ID along with the URL through which it can be accessed.",
        "operationId": "createSlideshow",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateSlideshowConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "loginRequired": {
                  "description": "Creates a slideshow that can be opened only by users who are logged in to Zoho Analytics.",
                  "summary": "Login required",
                  "value": {
                    "CONFIG": {
                      "slideName": "Sales Overview",
                      "viewIds": [
                        "1767024000003013087",
                        "1767024000003015001"
                      ],
                      "accessType": 0
                    }
                  }
                },
                "publicSlideshow": {
                  "description": "Creates a slideshow that can be opened without logging in to Zoho Analytics.",
                  "summary": "Public slideshow",
                  "value": {
                    "CONFIG": {
                      "slideName": "Quarterly Highlights",
                      "viewIds": [
                        "1767024000003013087",
                        "1767024000003015001",
                        "1767024000003011002"
                      ],
                      "accessType": 1
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSlideshowResponse"
                },
                "examples": {
                  "slideshowCreated": {
                    "description": "ID and URL of the slideshow that has just been created.",
                    "summary": "Slideshow created",
                    "value": {
                      "status": "success",
                      "summary": "Create slideshow",
                      "data": {
                        "slideId": "1767024000003151001",
                        "slideUrl": "https://analytics.zoho.com/ZDBSlideshow.cc?SLIDEID=1767024000003151001&SLIDEKEY=69ba2ec9bfbe548f494bdf798087db41&AUTOPLAY=true&INTERVAL=25&INCLUDETITLE=true&INCLUDEDESC=true&SOCIALWIDGETS=false"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Slideshow Management"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "summary": "Get Slideshows",
        "description": "Returns the list of slideshows available in the specified workspace, along with the access type of each of them.",
        "operationId": "getSlideshows",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSlideshowsResponse"
                },
                "examples": {
                  "multipleSlideshows": {
                    "description": "Workspace holding two slideshows, one requiring a login and one open without it.",
                    "summary": "Multiple slideshows",
                    "value": {
                      "status": "success",
                      "summary": "Get slideshows",
                      "data": {
                        "slideshows": [
                          {
                            "slideName": "Sales Overview",
                            "slideId": "1767024000003149001",
                            "accessType": 0
                          },
                          {
                            "slideName": "Quarterly Highlights",
                            "slideId": "1767024000003120002",
                            "accessType": 1
                          }
                        ]
                      }
                    }
                  },
                  "noSlideshows": {
                    "description": "Workspace in which no slideshow has been created yet.",
                    "summary": "No slideshows",
                    "value": {
                      "status": "success",
                      "summary": "Get slideshows",
                      "data": {
                        "slideshows": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/slides/{slide-id}": {
      "put": {
        "tags": [
          "Slideshow Management"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.update"
            ]
          }
        ],
        "summary": "Update Slideshow",
        "description": "Updates the details of the specified slideshow. The name, the views it contains, and its access type can all be changed, and the slide key can be regenerated to invalidate the URL issued previously.",
        "operationId": "updateSlideshow",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/slide-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateSlideshowConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "renameSlideshow": {
                  "description": "Changes only the name of the slideshow, leaving its views and access type as they are.",
                  "summary": "Rename slideshow",
                  "value": {
                    "CONFIG": {
                      "slideName": "Sales Overview 2026"
                    }
                  }
                },
                "replaceViews": {
                  "description": "Replaces the set of views in the slideshow and opens it up for access without login.",
                  "summary": "Replace views",
                  "value": {
                    "CONFIG": {
                      "viewIds": [
                        "1767024000003013087",
                        "1767024000003011002"
                      ],
                      "accessType": 1
                    }
                  }
                },
                "regenerateKey": {
                  "description": "Generates a new slide key, disabling the slideshow URL that was issued previously.",
                  "summary": "Regenerate key",
                  "value": {
                    "CONFIG": {
                      "regenerateSlideKey": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Slideshow Management"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.delete"
            ]
          }
        ],
        "summary": "Delete Slideshow",
        "description": "Deletes the specified slideshow from the workspace. The views included in the slideshow are not affected; only the slideshow itself and its URL are removed.",
        "operationId": "deleteSlideshow",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/slide-id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "get": {
        "tags": [
          "Slideshow Management"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "summary": "Get Slideshow Details",
        "description": "Returns the details of the specified slideshow, including its slide key, its access type, and the IDs of the views it contains.",
        "operationId": "getSlideshowDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/slide-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSlideshowDetailsResponse"
                },
                "examples": {
                  "loginRequired": {
                    "description": "Slideshow of three views that can be opened only by users logged in to Zoho Analytics.",
                    "summary": "Login required",
                    "value": {
                      "status": "success",
                      "summary": "Get slideshow details",
                      "data": {
                        "slideInfo": {
                          "slideId": "1767024000003149001",
                          "slideKey": "9a4c1042011ce02fc4a3182fa75a22a9",
                          "slideName": "Sales Overview",
                          "accessType": 0,
                          "viewIds": [
                            "1767024000003013087",
                            "1767024000003015001",
                            "1767024000003011002"
                          ]
                        }
                      }
                    }
                  },
                  "publicSlideshow": {
                    "description": "Slideshow of two views that can be opened without logging in to Zoho Analytics.",
                    "summary": "Public slideshow",
                    "value": {
                      "status": "success",
                      "summary": "Get slideshow details",
                      "data": {
                        "slideInfo": {
                          "slideId": "1767024000003120002",
                          "slideKey": "69ba2ec9bfbe548f494bdf798087db41",
                          "slideName": "Quarterly Highlights",
                          "accessType": 1,
                          "viewIds": [
                            "1767024000003013087",
                            "1767024000003015001"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/slides/{slide-id}/publish": {
      "get": {
        "tags": [
          "Slideshow Management"
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "summary": "Get Slideshow URL",
        "description": "Returns the URL through which the specified slideshow can be accessed. The rendering options sent in the config - the title, description, social widgets, autoplay, and the switching interval - are carried in the query string of the returned URL.",
        "operationId": "getSlideshowUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/slide-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "description": "Config parameter that controls how the slideshow is rendered when it is opened through the returned URL.\n\nAs this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/GetSlideshowUrlConfig"
            },
            "examples": {
              "autoplaySlideshow": {
                "description": "Returns a URL that scrolls through the views automatically every twenty five seconds.",
                "summary": "Autoplay slideshow",
                "value": {
                  "includeTitle": true,
                  "includeDesc": true,
                  "includeSocialWidgets": false,
                  "autoplay": true,
                  "withCustomDomain": false,
                  "slideInterval": 25
                }
              },
              "minimalSlideshow": {
                "description": "Returns a URL that renders the views on their own, without the title or description.",
                "summary": "Minimal slideshow",
                "value": {
                  "includeTitle": false,
                  "includeDesc": false,
                  "autoplay": false
                }
              },
              "customDomainUrl": {
                "description": "Returns the slideshow URL on the configured white label domain.",
                "summary": "Custom domain",
                "value": {
                  "withCustomDomain": true,
                  "autoplay": true,
                  "slideInterval": 60
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSlideshowUrlResponse"
                },
                "examples": {
                  "slideshowUrl": {
                    "description": "Slideshow URL carrying the rendering options that were sent in the config.",
                    "summary": "Slideshow URL",
                    "value": {
                      "status": "success",
                      "summary": "Get slideshow url",
                      "data": {
                        "slideUrl": "https://analytics.zoho.com/ZDBSlideshow.cc?SLIDEID=1767024000003139001&SLIDEKEY=9c4a1042011ce02fc4a3182fa75a22a9&AUTOPLAY=true&INTERVAL=25&INCLUDETITLE=true&INCLUDEDESC=true&SOCIALWIDGETS=false"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "org-id": {
        "name": "ZANALYTICS-ORGID",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Organization ID (can be obtained using Get Organizations API)."
      },
      "slide-id": {
        "name": "slide-id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ID of the slide."
      },
      "view-id": {
        "name": "view-id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ID of the view."
      },
      "workspace-id": {
        "name": "workspace-id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ID of the workspace."
      }
    },
    "securitySchemes": {
      "iam-oauth2-schema": {
        "type": "oauth2",
        "description": "Authentication is based on OAuth2 flow",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
            "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
            "scopes": {
              "ZohoAnalytics.share.create": "Share views with users",
              "ZohoAnalytics.share.update": "Update share and publish configurations",
              "ZohoAnalytics.share.delete": "Remove sharing permissions",
              "ZohoAnalytics.share.read": "Read share details and permissions",
              "ZohoAnalytics.embed.read": "Read embed and publish URLs"
            }
          }
        }
      }
    },
    "schemas": {
      "ColumnPermissionObject": {
        "type": "object",
        "title": "ColumnPermissionObject",
        "description": "JSONObject that maps a table to the set of its columns for which the permission has to be granted.",
        "properties": {
          "tableName": {
            "type": "string",
            "description": "Name of the table that holds the columns.",
            "examples": [
              "table1"
            ]
          },
          "columnNames": {
            "type": "array",
            "description": "JSONArray containing the names of the columns in the table.",
            "items": {
              "type": "string",
              "description": "Name of a column in the table."
            },
            "examples": [
              [
                "column1",
                "column2"
              ]
            ]
          }
        },
        "examples": [
          {
            "tableName": "table1",
            "columnNames": [
              "column1",
              "column2"
            ]
          }
        ]
      },
      "CreatePrivateUrlConfig": {
        "type": "object",
        "title": "CreatePrivateUrlConfig",
        "description": "Config parameter that controls the permissions granted through the private link, the rows and columns visible through it, and its password and expiry settings.",
        "properties": {
          "criteria": {
            "type": "string",
            "description": "Filter criteria to be applied on the published view. When a criteria is sent, only the rows matching it are visible; otherwise all the rows are visible.\n\n> **Note:** Refer to the filter criteria documentation for details on how to construct a criteria.",
            "examples": [
              "\"SalesTable\".\"Region\"='East'"
            ]
          },
          "permissions": {
            "$ref": "#/components/schemas/PublishPermissionAttributes"
          },
          "regenerateKey": {
            "type": "boolean",
            "description": "Controls whether a new private key is generated. When true, the previously generated private link is disabled.",
            "default": false,
            "enum": [
              true,
              false
            ]
          },
          "vudColumns": {
            "$ref": "#/components/schemas/VUDColumns"
          },
          "drillColumns": {
            "$ref": "#/components/schemas/DrillColumns"
          },
          "includeAllColsForVUD": {
            "type": "boolean",
            "description": "Controls whether all the columns in the table are included in the underlying data.",
            "default": false,
            "enum": [
              true,
              false
            ]
          },
          "password": {
            "type": "string",
            "description": "Password that protects the private link. Anyone accessing the link is prompted for it.",
            "examples": [
              "Zylker@123"
            ]
          },
          "removePassword": {
            "type": "boolean",
            "description": "Controls whether the existing access password of the private link is removed.",
            "enum": [
              true,
              false
            ]
          },
          "expiryDate": {
            "type": "string",
            "description": "Date on which the private link expires, in yyyy-MM-dd format.",
            "examples": [
              "2026-12-31"
            ]
          },
          "removeExpiryDate": {
            "type": "boolean",
            "description": "Controls whether the existing validity period of the private link is removed.",
            "enum": [
              true,
              false
            ]
          },
          "validateSystemTags": {
            "type": "boolean",
            "description": "Applicable only when System Tags are enabled for your organization. When true, the request is validated against the System Tags applied to the view specified in the request URI. If that view carries an **Outdated** tag - applied directly, or inherited through lineage from a parent Data Source or Table - the request is rejected. Set this to false to skip the validation and proceed with the request.",
            "default": true,
            "enum": [
              true,
              false
            ]
          }
        },
        "examples": [
          {
            "permissions": {
              "export": true
            }
          }
        ]
      },
      "CreatePrivateUrlResponse": {
        "type": "object",
        "title": "CreatePrivateUrlResponse",
        "description": "Response returned by the Create Private URL API.",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the API request.",
            "examples": [
              "success"
            ]
          },
          "summary": {
            "type": "string",
            "description": "Short summary of the action performed.",
            "examples": [
              "Create private url"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PrivateUrlData"
          }
        },
        "examples": [
          {
            "status": "success",
            "summary": "Create private url",
            "data": {
              "privateUrl": "https://analytics.zoho.com/open-view/1767024000003145011/eee1191ea88d52e486aaecf5f748dc56"
            }
          }
        ]
      },
      "CreateSlideshowConfig": {
        "type": "object",
        "title": "CreateSlideshowConfig",
        "description": "Config parameter that specifies the name of the slideshow, the views it contains, and how it can be accessed.",
        "properties": {
          "slideName": {
            "type": "string",
            "description": "Name of the slideshow.",
            "examples": [
              "Sales Overview"
            ]
          },
          "viewIds": {
            "$ref": "#/components/schemas/SlideViewIds"
          },
          "accessType": {
            "type": "integer",
            "description": "Controls how the slideshow can be accessed.\n\n- **0** - Access with login.\n- **1** - Access without login.\n- **2** - Sort.",
            "default": 0,
            "enum": [
              0,
              1,
              2
            ],
            "x-enumDescriptions": {
              "0": "With login",
              "1": "Without login",
              "2": "Sort"
            },
            "x-enum-varnames": [
              "WITH_LOGIN",
              "WITHOUT_LOGIN",
              "SORT"
            ]
          },
          "validateSystemTags": {
            "type": "boolean",
            "description": "Applicable only when System Tags are enabled for your organization. When true, the request is validated against the System Tags applied to the views listed in `viewIds`. If any of those views carries an **Outdated** tag - applied directly, or inherited through lineage from a parent Data Source or Table - the request is rejected and the slideshow is not saved. Set this to false to skip the validation and proceed with the request.",
            "default": true,
            "enum": [
              true,
              false
            ]
          }
        },
        "required": [
          "slideName",
          "viewIds"
        ],
        "examples": [
          {
            "slideName": "Sales Overview",
            "viewIds": [
              "1767024000003013087",
              "1767024000003015001"
            ],
            "accessType": 0
          }
        ]
      },
      "CreateSlideshowData": {
        "type": "object",
        "title": "CreateSlideshowData",
        "description": "JSONObject that holds the ID and the URL of the slideshow that has been created.",
        "properties": {
          "slideId": {
            "type": "string",
            "description": "ID of the slideshow that has been created.",
            "examples": [
              "1767024000003151001"
            ]
          },
          "slideUrl": {
            "type": "string",
            "description": "URL through which the slideshow can be accessed.",
            "examples": [
              "https://analytics.zoho.com/ZDBSlideshow.cc?SLIDEID=1767024000003151001&SLIDEKEY=69ba2ec9bfbe548f494bdf798087db41&AUTOPLAY=true&INTERVAL=25&INCLUDETITLE=true&INCLUDEDESC=true&SOCIALWIDGETS=false"
            ]
          }
        },
        "examples": [
          {
            "slideId": "1767024000003151001",
            "slideUrl": "https://analytics.zoho.com/ZDBSlideshow.cc?SLIDEID=1767024000003151001&SLIDEKEY=69ba2ec9bfbe548f494bdf798087db41&AUTOPLAY=true&INTERVAL=25&INCLUDETITLE=true&INCLUDEDESC=true&SOCIALWIDGETS=false"
          }
        ]
      },
      "CreateSlideshowResponse": {
        "type": "object",
        "title": "CreateSlideshowResponse",
        "description": "Response returned by the Create Slideshow API.",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the API request.",
            "examples": [
              "success"
            ]
          },
          "summary": {
            "type": "string",
            "description": "Short summary of the action performed.",
            "examples": [
              "Create slideshow"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/CreateSlideshowData"
          }
        },
        "examples": [
          {
            "status": "success",
            "summary": "Create slideshow",
            "data": {
              "slideId": "1767024000003151001",
              "slideUrl": "https://analytics.zoho.com/ZDBSlideshow.cc?SLIDEID=1767024000003151001&SLIDEKEY=69ba2ec9bfbe548f494bdf798087db41&AUTOPLAY=true&INTERVAL=25&INCLUDETITLE=true&INCLUDEDESC=true&SOCIALWIDGETS=false"
            }
          }
        ]
      },
      "DrillColumns": {
        "type": "array",
        "title": "DrillColumns",
        "description": "JSONArray of JSONObjects that limits the drill down option to the specified columns from the specified tables. This is valid only when the `drillDown` permission is set to true.",
        "items": {
          "$ref": "#/components/schemas/ColumnPermissionObject"
        },
        "examples": [
          [
            {
              "tableName": "table1",
              "columnNames": [
                "column1",
                "column2"
              ]
            }
          ]
        ]
      },
      "GetEmbedUrlConfig": {
        "type": "object",
        "title": "GetEmbedUrlConfig",
        "description": "Config parameter that controls the permissions carried by the embed URL, the rows and columns visible through it, how the view is rendered, and how long the URL stays valid.",
        "properties": {
          "criteria": {
            "type": "string",
[...]
