{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for managing users and groups in Zoho Analytics — covering org-level users, workspace-level users, and workspace groups."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Org Users",
      "description": "APIs that allow the Account Admin and the Organization Admins of a Zoho Analytics organization to manage its users - listing, adding, removing, activating, deactivating and changing the org-level role of the users, and listing the users who hold the Organization Admin role.\n\nThese APIs operate at the organization level. They govern the membership and role of a user within the organization, and not their access to individual workspaces, which is handled by the workspace sharing APIs.\n\nZoho Analytics also supports Client Portal (White Label) deployments, where an organization can have one or more custom-branded portal domains. When the Account Admin of the organization is also a Client Portal Admin, the write APIs in this group can be scoped to a specific portal domain using the `domainName` field in CONFIG. Users belonging to a portal domain are managed independently of the main organization domain, and `domainName` must be a valid portal domain owned by the Account Admin of the organization."
    },
    {
      "name": "Custom Roles",
      "description": "APIs that allow the Account Admin and the Organization Admins of a Zoho Analytics organization to define custom roles - named permission bundles that can be granted to users in place of the built-in roles.\n\nA custom role is organization-scoped and is made of three parts: a role name, an access type that decides which kinds of view the role can reach (dashboards only, reports and dashboards, or the underlying data as well), and a set of boolean permissions arranged in seven groups. The access type acts as a ceiling - enabling a permission that lies above the chosen access type is rejected with a specific error rather than being silently ignored.\n\nThese APIs define roles only. Attaching a role to a user or to a workspace is done through the user management and workspace sharing APIs. The custom roles feature must be enabled for the organization and included in its subscription plan, and none of these APIs is available through a Client Portal (White Label) custom domain."
    },
    {
      "name": "Workspace Users",
      "description": "APIs that manage the users and the administrators of a single Zoho Analytics workspace - controlling who has access to the workspace, the role they hold within it, and whether that access is currently active.\n\nThese APIs complement the org-level user management APIs. Org-level management controls who is a member of the organization at all, while workspace-level management controls which of those members can access a specific workspace and in what capacity.\n\nWhen the Account Admin of the organization is also a Client Portal Admin, the operations in this group can be scoped to a specific portal domain using the `domainName` field in CONFIG. Users belonging to a portal domain are listed and managed separately from the standard Zoho Analytics users."
    },
    {
      "name": "Workspace Groups",
      "description": "APIs that manage the groups of a Zoho Analytics workspace. A group is a named collection of users within a single workspace.\n\nGroups are the building block for bulk view-level access management. When a view is shared with a group, every current and future member of that group inherits that sharing - which makes group membership the way to batch-update the sharing permissions of several users at once. Adding a member grants them access to every view currently shared with the group, removing a member revokes that access unless they hold it through another path, and deleting a group revokes it for every member simultaneously.\n\nGroups are scoped to a single workspace, and their members must already be users of that workspace. When the Account Admin of the organization is also a Client Portal Admin, a group can be scoped to a specific portal domain using the `domainName` field at creation. That association is fixed for the life of the group, and the member management APIs resolve the domain context from the group rather than taking it as an attribute."
    }
  ],
  "paths": {
    "/restapi/v2/orgadmins": {
      "get": {
        "tags": [
          "Org Users"
        ],
        "summary": "Get Org Admins",
        "description": "Returns the email addresses of the users who currently hold the Organization Admin role in the specified organization. This is a convenience endpoint that is equivalent to filtering the Get Users response for the Organization Admin role.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Organization not found. | Verify the ZANALYTICS-ORGID header value. |\n| 7301 | The calling user is not the Account Admin of the organization. | This API is strictly restricted to the Account Admin. Organization Admins and other roles cannot call this endpoint. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.share.read. |",
        "operationId": "getOrgAdmins",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrgAdminsResponse"
                },
                "examples": {
                  "singleOrgAdmin": {
                    "description": "Organization with exactly one Organization Admin.",
                    "summary": "Single admin",
                    "value": {
                      "status": "success",
                      "summary": "Get org admins",
                      "data": {
                        "orgAdmins": [
                          "orgadmin@example.com"
                        ]
                      }
                    }
                  },
                  "multipleOrgAdmins": {
                    "description": "Organization with several Organization Admins.",
                    "summary": "Multiple admins",
                    "value": {
                      "status": "success",
                      "summary": "Get org admins",
                      "data": {
                        "orgAdmins": [
                          "orgadmin1@example.com",
                          "orgadmin2@example.com",
                          "regional.admin@example.com"
                        ]
                      }
                    }
                  },
                  "noOrgAdmins": {
                    "description": "Organization where no Organization Admin has been assigned - all admin operations are handled by the Account Admin.",
                    "summary": "No admins",
                    "value": {
                      "status": "success",
                      "summary": "Get org admins",
                      "data": {
                        "orgAdmins": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/users": {
      "get": {
        "tags": [
          "Org Users"
        ],
        "summary": "Get Users",
        "description": "Returns the list of all the users who are members of the specified organization, along with their current status and org-level role.\n\nThe org-level role governs what the user can do across the entire organization. It is distinct from the workspace-level role, which governs what the user can do within a specific workspace and is managed using the workspace sharing APIs.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Organization not found. | Verify the ZANALYTICS-ORGID header value. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization. | Ensure the caller holds the Account Admin or Organization Admin role in the organization. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.usermanagement.read. |",
        "operationId": "getUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUsersResponse"
                },
                "examples": {
                  "mixedRoles": {
                    "description": "Organization holding users across every org-level role, including a deactivated user.",
                    "summary": "Mixed roles",
                    "value": {
                      "status": "success",
                      "summary": "Get users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@acme.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "orgadmin@acme.com",
                            "status": true,
                            "role": "Organization Admin"
                          },
                          {
                            "emailId": "analyst@acme.com",
                            "status": true,
                            "role": "User"
                          },
                          {
                            "emailId": "viewer1@acme.com",
                            "status": true,
                            "role": "Viewer"
                          },
                          {
                            "emailId": "inactive.user@acme.com",
                            "status": false,
                            "role": "User"
                          }
                        ]
                      }
                    }
                  },
                  "smallOrg": {
                    "description": "Organization with only a few members and no Organization Admin assigned.",
                    "summary": "Small organization",
                    "value": {
                      "status": "success",
                      "summary": "Get users",
                      "data": {
                        "users": [
                          {
                            "emailId": "owner@example.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "user1@example.com",
                            "status": true,
                            "role": "User"
                          },
                          {
                            "emailId": "viewer@example.com",
                            "status": true,
                            "role": "Viewer"
                          }
                        ]
                      }
                    }
                  },
                  "clientPortalOrg": {
                    "description": "Response returned when the Account Admin is also a Client Portal Admin - every user entry carries the portal domain it belongs to.",
                    "summary": "Client portal",
                    "value": {
                      "status": "success",
                      "summary": "Get users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@example.com",
                            "status": true,
                            "role": "Account Admin",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "standard.user@example.com",
                            "status": true,
                            "role": "User",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "portal.user1@client.com",
                            "status": true,
                            "role": "User",
                            "domainName": "reports.clientbrand.com"
                          },
                          {
                            "emailId": "portal.user2@client.com",
                            "status": true,
                            "role": "Viewer",
                            "domainName": "reports.clientbrand.com"
                          },
                          {
                            "emailId": "portal.user3@partner.com",
                            "status": false,
                            "role": "User",
                            "domainName": "analytics.partnerportal.io"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Org Users"
        ],
        "summary": "Add Users",
        "description": "Adds one or more users to the specified organization. The invited users receive an email notification. Users who are new to Zoho are prompted to create a Zoho account before accepting the invitation.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Organization not found. | Verify the ZANALYTICS-ORGID header value. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization. | Ensure the caller holds the Account Admin or Organization Admin role in the organization. |\n| 6004 | Adding these users would exceed the organization's user seat limit under the current plan. | Upgrade the plan to accommodate more users, or remove unused user accounts before adding new ones. |\n| 6026 | The current plan does not support adding extra users (free plan restriction). | Upgrade to a paid plan to invite additional users. |\n| 6071 | One or more of the specified email addresses is already a member of this organization. | Remove the already-existing email addresses from the emailIds list and retry. |\n| 6089 | Attempted to assign the ORGADMIN role through a custom domain (domainName). The Organization Admin role cannot be assigned through a custom portal domain. | Omit domainName when assigning the ORGADMIN role, or use a different role for domain-based additions. |\n| 8060 | The specified domainName does not exist. | Provide a valid client portal domain name configured for the organization. |\n| 8061 | The specified domainName does not belong to the calling user or to the organization's Account Admin. | Use a domain name that is administered by the Account Admin of this organization. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.usermanagement.create. |",
        "operationId": "addUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AddUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "defaultRoleInvite": {
                  "description": "Invites two users without specifying a role, so both join with the default USER role.",
                  "summary": "Default role",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "alice@example.com",
                        "bob@example.com"
                      ]
                    }
                  }
                },
                "viewerInvite": {
                  "description": "Invites a user with read-only access to the organization.",
                  "summary": "Viewer role",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "viewer@example.com"
                      ],
                      "role": "VIEWER"
                    }
                  }
                },
                "orgAdminInvite": {
                  "description": "Invites a user as an Organization Admin. Can be invoked only by the Account Admin of the organization.",
                  "summary": "Org Admin",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "orgadmin@example.com"
                      ],
                      "role": "ORGADMIN"
                    }
                  }
                },
                "portalDomainInvite": {
                  "description": "Scopes the addition to a single client portal domain, so the users are added as portal users of that portal.",
                  "summary": "Portal domain",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "client.user1@client.com",
                        "client.user2@client.com"
                      ],
                      "role": "USER",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Org Users"
        ],
        "summary": "Remove Users",
        "description": "Removes one or more users from the specified organization. The removed users immediately lose access to all the workspaces and views in the organization.\n\n**Notes**\n\n> Note:\n>\n> - The Zoho account of the calling user must be confirmed (email verified) to invoke this API.\n> - This is a permanent operation. All the workspace-level share permissions of the removed users are revoked, and the users must be invited again using the Add Users API to regain access.\n> - A maximum of 1000 email addresses can be sent in a single request.\n> - Every email address in the list must already be a member of the organization. The request fails as a whole with error code **8114** on the first non-member email address, and no user is removed.\n> - The Account Admin of the organization cannot be removed using this API. Transfer the ownership of the organization first if the Account Admin has to be removed.\n> - The workspaces owned by a removed user are not deleted. The workspaces and their contents remain intact, though the ownership may have to be transferred separately.\n> - Always specify **domainName** when removing portal-scoped users. Without it, the user is looked up in the standard organization context and the request fails with error code **8114** if the user exists only in the portal domain.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Organization not found. | Verify the ZANALYTICS-ORGID header value. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization. | Ensure the caller holds the Account Admin or Organization Admin role in the organization. |\n| 8114 | One or more of the specified email addresses are not members of this organization. | Verify all email addresses using the Get Users API before calling this API. |\n| 8060 | The specified domainName does not exist. | Provide a valid client portal domain name configured for the organization. |\n| 8061 | The specified domainName does not belong to the calling user or to the organization's Account Admin. | Use a domain name that is administered by the Account Admin of this organization. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.usermanagement.delete. |",
        "operationId": "removeUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RemoveUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleUserRemoval": {
                  "description": "Removes one user from the standard organization context.",
                  "summary": "Single user",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "exemployee@example.com"
                      ]
                    }
                  }
                },
                "bulkRemoval": {
                  "description": "Removes several users in a single request.",
                  "summary": "Multiple users",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com",
                        "user3@example.com"
                      ]
                    }
                  }
                },
                "portalDomainRemoval": {
                  "description": "Scopes the removal to a single client portal, leaving users of the main organization and of other portals untouched.",
                  "summary": "Portal domain",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "former.client@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/users/active": {
      "put": {
        "tags": [
          "Org Users"
        ],
        "summary": "Activate Users",
        "description": "Reactivates one or more previously deactivated users in the specified organization. Once activated, the users regain access to the organization and to all the workspaces that were shared with them earlier.\n\n**Notes**\n\n> Note:\n>\n> - The Zoho account of the calling user must be confirmed (email verified) to invoke this API.\n> - A maximum of 1000 email addresses can be sent in a single request.\n> - The operation is idempotent. Activating an already-active user succeeds silently and raises no error.\n> - Every email address in the list must already be a member of the organization, even if currently deactivated. Non-members cause the request to fail with error code **8114**.\n> - A deactivated user continues to occupy a seat with respect to the plan limits. If the reactivation would exceed the user seat limit, the request fails with error code **6004**.\n> - All the workspace shares of a deactivated user are preserved and are restored on reactivation.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Organization not found. | Verify the ZANALYTICS-ORGID header value. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization. | Ensure the caller holds the Account Admin or Organization Admin role in the organization. |\n| 6004 | Activating these users would exceed the organization's user seat limit. | Check the current user count using the Get Resource Details API. Upgrade the plan or remove unused users before reactivating. |\n| 8114 | One or more of the specified email addresses are not members of this organization. | Verify all email addresses using the Get Users API before calling this API. |\n| 8060 | The specified domainName does not exist. | Provide a valid client portal domain name configured for the organization. |\n| 8061 | The specified domainName does not belong to the calling user or to the organization's Account Admin. | Use a domain name that is administered by the Account Admin of this organization. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.usermanagement.update. |",
        "operationId": "activateUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ActivateUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleReactivation": {
                  "description": "Reactivates one previously deactivated user.",
                  "summary": "Single user",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "returning.employee@example.com"
                      ]
                    }
                  }
                },
                "bulkReactivation": {
                  "description": "Reactivates several users in a single request.",
                  "summary": "Multiple users",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com"
                      ]
                    }
                  }
                },
                "portalDomainReactivation": {
                  "description": "Reactivates a user within a specific client portal domain.",
                  "summary": "Portal domain",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "returning.portal.user@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/users/inactive": {
      "put": {
        "tags": [
          "Org Users"
        ],
        "summary": "Deactivate Users",
        "description": "Deactivates one or more users in the specified organization. Deactivated users cannot log in or access any workspace in the organization. Their data and permissions are retained and can be restored by reactivating them, which makes this the recommended approach for a temporary suspension rather than a permanent removal.\n\n**Notes**\n\n> Note:\n>\n> - The Zoho account of the calling user must be confirmed (email verified) to invoke this API.\n> - A maximum of 1000 email addresses can be sent in a single request.\n> - The operation is idempotent. Deactivating an already-inactive user succeeds silently and raises no error.\n> - Every email address in the list must already be a member of the organization. Non-members cause the request to fail with error code **8114**.\n> - The Account Admin of the organization cannot be deactivated using this API.\n> - All the workspace shares of the user are preserved while they are deactivated, though the user cannot access them. The shares are restored on reactivation.\n> - Deactivation is reversible and preserves the user data, shares and role. Removal, performed using the Remove Users API, is permanent - the shares are revoked and the user has to be invited again.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Organization not found. | Verify the ZANALYTICS-ORGID header value. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization. | Ensure the caller holds the Account Admin or Organization Admin role in the organization. |\n| 8114 | One or more of the specified email addresses are not members of this organization. | Verify all email addresses using the Get Users API before calling this API. |\n| 8060 | The specified domainName does not exist. | Provide a valid client portal domain name configured for the organization. |\n| 8061 | The specified domainName does not belong to the calling user or to the organization's Account Admin. | Use a domain name that is administered by the Account Admin of this organization. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.usermanagement.update. |",
        "operationId": "deActivateUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeactivateUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "temporarySuspension": {
                  "description": "Temporarily suspends the access of one user, for example while they are on extended leave.",
                  "summary": "Single user",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "on.leave@example.com"
                      ]
                    }
                  }
                },
                "bulkDeactivation": {
                  "description": "Deactivates several users in a single request.",
                  "summary": "Multiple users",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "contractor1@example.com",
                        "contractor2@example.com"
                      ]
                    }
                  }
                },
                "portalDomainDeactivation": {
                  "description": "Suspends a portal user while preserving their portal-specific shares and permissions.",
                  "summary": "Portal domain",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "suspended.portal.user@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/users/role": {
      "put": {
        "tags": [
          "Org Users"
        ],
        "summary": "Change User Role",
        "description": "Changes the org-level role of one or more users in the specified organization. The role change takes effect immediately and the access permissions of the users across all the workspaces adjust to reflect the new role.\n\n**Notes**\n\n> Note:\n>\n> - The Zoho account of the calling user must be confirmed (email verified) to invoke this API.\n> - A maximum of 1000 email addresses can be sent in a single request. The same role is applied to every user in the list.\n> - Organization Admins can assign only the **USER** and **VIEWER** roles. Promoting a user to **ORGADMIN** can be done only by the Account Admin of the organization, and any other caller fails with error code **7301**.\n> - The **ORGADMIN** role cannot be assigned along with **domainName**. This combination always fails with error code **6089**, irrespective of the role of the calling user.\n> - Every email address in the list must already be a member of the organization. Non-members cause the request to fail with error code **8114**.\n> - The operation is idempotent. Applying the role that a user already holds succeeds silently and raises no error.\n> - The role of a deactivated user can be changed. The new role takes effect when the user is reactivated.\n> - Demoting an Organization Admin removes their org-wide management capabilities immediately, but does not affect their workspace-level permissions.\n> - Setting the **VIEWER** role for a user who owns workspaces makes them read-only at the org level, but does not transfer the workspaces they own. They may continue to hold Workspace Admin access on those workspaces.\n> - A role change performed within a client portal domain is scoped to that portal. The role of the user in the main organization and in other portals is unaffected.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Organization not found. | Verify the ZANALYTICS-ORGID header value. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization. | Ensure the caller holds the Account Admin or Organization Admin role in the organization. |\n| 6089 | Attempted to assign the ORGADMIN role through a custom domain (domainName). | Omit domainName when assigning the Organization Admin role. |\n| 8114 | One or more of the specified email addresses are not members of this organization. | Verify all email addresses using the Get Users API before calling this API. |\n| 8060 | The specified domainName does not exist. | Provide a valid client portal domain name configured for the organization. |\n| 8061 | The specified domainName does not belong to the calling user or to the organization's Account Admin. | Use a domain name that is administered by the Account Admin of this organization. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.usermanagement.update. |",
        "operationId": "changeUserRole",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ChangeUserRoleConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "promoteToOrgAdmin": {
                  "description": "Promotes a standard user to Organization Admin. Can be invoked only by the Account Admin of the organization.",
                  "summary": "Promote user",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "analyst@example.com"
                      ],
                      "role": "ORGADMIN"
                    }
                  }
                },
                "downgradeToViewer": {
                  "description": "Downgrades several users to read-only Viewer access in a single request.",
                  "summary": "Downgrade users",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "contractor1@example.com",
                        "contractor2@example.com"
                      ],
                      "role": "VIEWER"
                    }
                  }
                },
                "resetToUser": {
                  "description": "Resets an Organization Admin back to the standard USER role.",
                  "summary": "Reset role",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "formeradmin@example.com"
                      ],
                      "role": "USER"
                    }
                  }
                },
                "portalDomainRoleChange": {
                  "description": "Changes the role of a user within a specific client portal domain, leaving their role in the main organization unaffected.",
                  "summary": "Portal domain",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "portal.user@client.com"
                      ],
                      "role": "VIEWER",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/orgs/roles": {
      "get": {
        "tags": [
          "Custom Roles"
        ],
        "summary": "Get Custom Roles",
        "description": "Returns every custom role defined in the organization identified by the ZANALYTICS-ORGID header, along with the complete permission definition of each role.\n\nThis is the only way to read a role definition back - there is no get-by-ID variant. The accessType and permissions returned for a role are in exactly the shape accepted by the Update Custom Role API, so a role can be read, edited and posted back without any transformation.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 6142 | The subscription plan of the organization does not include custom roles. | Upgrade the plan to one that includes custom roles. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization, custom roles are not enabled for the organization, or the request was made through a Client Portal (White Label) custom domain. | Call the API as an Account Admin or Organization Admin from the standard API host, with the custom roles feature enabled for the organization. |\n| 7309 | No authentication was supplied with the request. | Send the Authorization header carrying a valid OAuth token. |\n| 8083 | The ZANALYTICS-ORGID header is missing. | Add the ZANALYTICS-ORGID header to the request. |\n| 8535 | Invalid or expired OAuth token, or the token does not carry the usermanagement scope. | Provide a valid token with the scope ZohoAnalytics.usermanagement.read. |",
        "operationId": "getCustomRoles",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomRolesResponse"
                },
                "examples": {
                  "customRoles": {
                    "description": "Organization holding two custom roles at different access levels. Every permission group and every flag is present, including the ones set to false.",
                    "summary": "Custom roles",
                    "value": {
                      "status": "success",
                      "summary": "Get roles",
                      "data": {
                        "roles": [
                          {
                            "roleId": "35130000012041001",
                            "roleName": "Data Engineer",
                            "accessType": "ALL_DATA_REPORTS_AND_DASHBOARDS",
                            "permissions": {
                              "createPermissions": {
                                "createTable": true,
                                "createQueryTable": true,
                                "createFolder": true,
                                "createFormula": true
                              },
                              "dataPermissions": {
                                "addRow": true,
                                "modifyRow": true,
                                "deleteRow": true,
                                "importAppend": true,
                                "importAddOrUpdate": true,
                                "importDeleteAllAdd": true,
                                "importDeleteUpdateAdd": true,
                                "dataArchives": true
                              },
                              "designPermissions": {
                                "designModify": true
                              },
                              "interactionPermissions": {
                                "read": true,
                                "insight": true,
                                "vud": true,
                                "drillDown": false,
                                "drillThrough": false,
                                "drillActions": false
                              },
                              "sharePermissions": {
                                "share": true,
                                "discussion": true,
                                "privateLinks": true,
                                "accessAdminPresets": true,
                                "createPreset": true
                              },
                              "publishPermissions": {
                                "export": true,
                                "manageEmailSchedules": true,
                                "allEmailSchedulesAccess": true,
                                "manageDataAlerts": true,
                                "allDataAlertsAccess": true,
                                "createSlideshow": true,
                                "publicViews": true
                              },
                              "datasourcePermissions": {
                                "viewDatasource": false,
                                "editDatasource": false,
                                "syncData": false,
                                "useDatasource": false,
                                "removeDatasource": false
                              }
                            }
                          },
                          {
                            "roleId": "35130000012042001",
                            "roleName": "Dashboard Viewer",
                            "accessType": "ALL_DASHBOARDS",
                            "permissions": {
                              "createPermissions": {
                                "createTable": false,
                                "createQueryTable": false,
                                "createFolder": true,
                                "createFormula": false
                              },
                              "dataPermissions": {
                                "addRow": false,
                                "modifyRow": false,
                                "deleteRow": false,
                                "importAppend": false,
                                "importAddOrUpdate": false,
                                "importDeleteAllAdd": false,
                                "importDeleteUpdateAdd": false,
                                "dataArchives": false
                              },
                              "designPermissions": {
                                "designModify": false
                              },
                              "interactionPermissions": {
                                "read": true,
                                "insight": true,
                                "vud": true,
                                "drillDown": true,
                                "drillThrough": true,
                                "drillActions": true
                              },
                              "sharePermissions": {
                                "share": true,
                                "discussion": true,
                                "privateLinks": true,
                                "accessAdminPresets": true,
                                "createPreset": true
                              },
                              "publishPermissions": {
                                "export": true,
                                "manageEmailSchedules": true,
                                "allEmailSchedulesAccess": true,
                                "manageDataAlerts": false,
                                "allDataAlertsAccess": false,
                                "createSlideshow": true,
                                "publicViews": true
                              },
                              "datasourcePermissions": {
                                "viewDatasource": false,
                                "editDatasource": false,
                                "syncData": false,
                                "useDatasource": false,
                                "removeDatasource": false
                              }
                            }
                          }
                        ]
                      }
                    }
                  },
                  "noCustomRoles": {
                    "description": "Organization in which no custom role has been defined yet. An empty array is a success, not an error.",
                    "summary": "No custom roles",
                    "value": {
                      "status": "success",
                      "summary": "Get roles",
                      "data": {
                        "roles": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Custom Roles"
        ],
        "summary": "Create Custom Role",
        "description": "Creates one custom role in the organization identified by the ZANALYTICS-ORGID header, and returns its identifier.\n\nThe role name, the access type and the permissions are all mandatory. The permissions are validated as a whole against the access type and against the cross-group dependency rules before anything is stored, so a rejected request creates nothing and can be corrected and retried safely.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 6142 | The subscription plan of the organization does not include custom roles. | Upgrade the plan to one that includes custom roles. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization, custom roles are not enabled for the organization, or the request was made through a Client Portal (White Label) custom domain. | Call the API as an Account Admin or Organization Admin from the standard API host, with the custom roles feature enabled for the organization. |\n| 7309 | No authentication was supplied with the request. | Send the Authorization header carrying a valid OAuth token. |\n| 7553 | A role with the given roleName already exists in the organization. The check covers built-in role names as well as other custom roles. | Choose a different name for the role. |\n| 7554 | The accessType value did not resolve to a known access level. | Send one of ALL_DASHBOARDS, ALL_REPORTS_AND_DASHBOARDS or ALL_DATA_REPORTS_AND_DASHBOARDS. |\n| 7559 | manageEmailSchedules is enabled but export is not. | Set publishPermissions.export to true, or disable manageEmailSchedules. |\n| 7573 | A dataPermissions flag is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS. | Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or set every dataPermissions flag to false. |\n| 7574 | designModify is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS. | Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable designModify. |\n| 7575 | createTable, createQueryTable or createFormula is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS. | Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable those flags. createFolder is allowed at every level. |\n| 7576 | manageDataAlerts is enabled while accessType is ALL_DASHBOARDS. | Use ALL_REPORTS_AND_DASHBOARDS or ALL_DATA_REPORTS_AND_DASHBOARDS, or disable manageDataAlerts. |\n| 7577 | dataArchives is enabled but not every other dataPermissions flag is enabled. | Enable every dataPermissions flag, or disable dataArchives. |\n| 7578 | designModify is enabled without both accessAdminPresets and createPreset. | Set sharePermissions.accessAdminPresets and sharePermissions.createPreset to true. |\n| 7579 | interactionPermissions.read is missing or false. Read permission must always be enabled. | Set interactionPermissions.read to true. |\n| 7584 | A datasourcePermissions flag is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS. | Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable the datasourcePermissions group. |\n| 7585 | useDatasource is enabled but createTable is not. | Set createPermissions.createTable to true. |\n| 7586 | editDatasource, syncData, useDatasource or removeDatasource is enabled without viewDatasource. | Set datasourcePermissions.viewDatasource to true. |\n| 8078 | A mandatory attribute was sent with an empty value. The error message names the attribute. | Provide a non-empty value for the attribute. |\n| 8083 | The ZANALYTICS-ORGID header is missing. | Add the ZANALYTICS-ORGID header to the request. |\n| 8504 | CONFIG was not sent, or a mandatory attribute is missing from it. | Send a CONFIG object containing every mandatory attribute. |\n| 8507 | roleName exceeds 30 characters, or the serialized permissions object exceeds its size limit. | Shorten the value. |\n| 8509 | roleName contains characters other than letters, digits, spaces, underscore and hyphen, or accessType is not one of the three allowed values. | Correct the value. |\n| 8534 | CONFIG is not valid JSON. | Fix the JSON and URL encode it correctly. |\n| 8539 | An attribute carries a value that is structurally valid but not accepted, such as an empty roleName. | Send a non-empty, valid value. |\n| 8535 | Invalid or expired OAuth token, or the token does not carry the usermanagement scope. | Provide a valid token with the scope ZohoAnalytics.usermanagement.create. |",
        "operationId": "createCustomRole",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateCustomRoleConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "dashboardOnlyRole": {
                  "description": "Creates a role at the most restricted access level. No data, design or datasource permission may appear, and createFolder is the only creation flag available. export is enabled alongside manageEmailSchedules, as the dependency rule requires.",
                  "summary": "Dashboard only",
                  "value": {
                    "CONFIG": {
                      "roleName": "Dashboard Viewer",
                      "accessType": "ALL_DASHBOARDS",
                      "permissions": {
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true,
                          "drillThrough": true,
                          "drillActions": true
                        },
                        "publishPermissions": {
                          "export": true,
                          "publicViews": true,
                          "createSlideshow": true,
                          "manageEmailSchedules": true,
                          "allEmailSchedulesAccess": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true,
                          "accessAdminPresets": true,
                          "createPreset": true,
                          "privateLinks": true
                        },
                        "createPermissions": {
                          "createFolder": true
                        }
                      }
                    }
                  }
                },
                "reportAnalystRole": {
                  "description": "Creates a role that reaches reports as well as dashboards. Raising the access level unlocks manageDataAlerts, which ALL_DASHBOARDS would reject with error 7576.",
                  "summary": "Reports and dashboards",
                  "value": {
                    "CONFIG": {
                      "roleName": "Report Analyst",
                      "accessType": "ALL_REPORTS_AND_DASHBOARDS",
                      "permissions": {
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true,
                          "drillThrough": true,
                          "drillActions": true
                        },
                        "publishPermissions": {
                          "export": true,
                          "publicViews": true,
                          "manageDataAlerts": true,
                          "allDataAlertsAccess": true,
                          "createSlideshow": true,
                          "manageEmailSchedules": true,
                          "allEmailSchedulesAccess": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true,
                          "accessAdminPresets": true,
                          "createPreset": true,
                          "privateLinks": true
                        },
                        "createPermissions": {
                          "createFolder": true
                        }
                      }
                    }
                  }
                },
                "fullAccessRole": {
                  "description": "Creates a role at the only level that allows dataPermissions, designPermissions, datasourcePermissions and the table creation flags. designModify pulls in both preset permissions, useDatasource pulls in createTable, and every other datasource flag pulls in viewDatasource.",
                  "summary": "Full access",
                  "value": {
                    "CONFIG": {
                      "roleName": "Data Engineer",
                      "accessType": "ALL_DATA_REPORTS_AND_DASHBOARDS",
                      "permissions": {
                        "createPermissions": {
                          "createTable": true,
                          "createQueryTable": true,
                          "createFolder": true,
                          "createFormula": true
                        },
                        "dataPermissions": {
                          "addRow": true,
                          "modifyRow": true,
                          "deleteRow": true,
                          "importAppend": true,
                          "importAddOrUpdate": true,
                          "importDeleteAllAdd": true,
                          "importDeleteUpdateAdd": true
                        },
                        "designPermissions": {
                          "designModify": true
                        },
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true,
                          "drillThrough": true,
                          "drillActions": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true,
                          "privateLinks": true,
                          "accessAdminPresets": true,
                          "createPreset": true
                        },
                        "publishPermissions": {
                          "export": true,
                          "manageEmailSchedules": true,
                          "allEmailSchedulesAccess": true,
                          "manageDataAlerts": true,
                          "allDataAlertsAccess": true,
                          "createSlideshow": true,
                          "publicViews": true
                        },
                        "datasourcePermissions": {
                          "viewDatasource": true,
                          "editDatasource": true,
                          "syncData": true,
                          "useDatasource": true,
                          "removeDatasource": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomRoleResponse"
                },
                "examples": {
                  "roleCreated": {
                    "description": "Returns the identifier of the newly created role. This is the only place the identifier is returned on creation.",
                    "summary": "Role created",
                    "value": {
                      "status": "success",
                      "summary": "Create role",
                      "data": {
                        "roleId": "35130000012043001"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/orgs/roles/{role-id}": {
      "put": {
        "tags": [
          "Custom Roles"
        ],
        "summary": "Update Custom Role",
        "description": "Renames a custom role, replaces its access type and permissions, or does both in one call.\n\nThis is a replace, not a merge. Whenever permissions is supplied, the stored definition is discarded and rebuilt from the object sent - every flag left out becomes false. Read the current definition with the Get Custom Roles API, edit it, and send the whole object back. Sending roleName alone is the one edit that leaves the permission definition untouched.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 6142 | The subscription plan of the organization does not include custom roles. | Upgrade the plan to one that includes custom roles. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization, custom roles are not enabled for the organization, or the request was made through a Client Portal (White Label) custom domain. | Call the API as an Account Admin or Organization Admin from the standard API host, with the custom roles feature enabled for the organization. |\n| 7309 | No authentication was supplied with the request. | Send the Authorization header carrying a valid OAuth token. |\n| 7548 | No custom role exists for the given role-id in this organization. | Verify the role identifier using the Get Custom Roles API. |\n| 7553 | A role with the given roleName already exists in the organization. The check covers built-in role names as well as other custom roles. | Choose a different name for the role. |\n| 7554 | The accessType value did not resolve to a known access level. | Send one of ALL_DASHBOARDS, ALL_REPORTS_AND_DASHBOARDS or ALL_DATA_REPORTS_AND_DASHBOARDS. |\n| 7559 | manageEmailSchedules is enabled but export is not. | Set publishPermissions.export to true, or disable manageEmailSchedules. |\n| 7573 | A dataPermissions flag is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS. | Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or set every dataPermissions flag to false. |\n| 7574 | designModify is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS. | Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable designModify. |\n| 7575 | createTable, createQueryTable or createFormula is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS. | Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable those flags. createFolder is allowed at every level. |\n| 7576 | manageDataAlerts is enabled while accessType is ALL_DASHBOARDS. | Use ALL_REPORTS_AND_DASHBOARDS or ALL_DATA_REPORTS_AND_DASHBOARDS, or disable manageDataAlerts. |\n| 7577 | dataArchives is enabled but not every other dataPermissions flag is enabled. | Enable every dataPermissions flag, or disable dataArchives. |\n| 7578 | designModify is enabled without both accessAdminPresets and createPreset. | Set sharePermissions.accessAdminPresets and sharePermissions.createPreset to true. |\n| 7579 | interactionPermissions.read is missing or false. Read permission must always be enabled. | Set interactionPermissions.read to true. |\n| 7580 | One of accessType and permissions was sent without the other. | Send accessType and permissions together, or send neither. |\n| 7581 | The CONFIG contained neither roleName nor accessType, so there is nothing to update. | Send roleName, or accessType together with permissions. |\n| 7584 | A datasourcePermissions flag is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS. | Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable the datasourcePermissions group. |\n| 7585 | useDatasource is enabled but createTable is not. | Set createPermissions.createTable to true. |\n| 7586 | editDatasource, syncData, useDatasource or removeDatasource is enabled without viewDatasource. | Set datasourcePermissions.viewDatasource to true. |\n| 8083 | The ZANALYTICS-ORGID header is missing. | Add the ZANALYTICS-ORGID header to the request. |\n| 8504 | CONFIG was not sent, or a mandatory attribute is missing from it. | Send a CONFIG object containing every mandatory attribute. |\n| 8507 | roleName exceeds 30 characters, or the serialized permissions object exceeds its size limit. | Shorten the value. |\n| 8509 | roleName contains characters other than letters, digits, spaces, underscore and hyphen, or accessType is not one of the three allowed values. | Correct the value. |\n| 8525 | The role-id in the request URI is not numeric, so the request matched no route. | Send a numeric role identifier. |\n| 8534 | CONFIG is not valid JSON. | Fix the JSON and URL encode it correctly. |\n| 8535 | Invalid or expired OAuth token, or the token does not carry the usermanagement scope. | Provide a valid token with the scope ZohoAnalytics.usermanagement.update. |",
        "operationId": "updateCustomRole",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/role-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateCustomRoleConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "renameOnly": {
                  "description": "Renames the role. accessType and permissions are preserved untouched, so this is the one edit that needs no prior read.",
                  "summary": "Rename only",
                  "value": {
                    "CONFIG": {
                      "roleName": "Report Analyst EMEA"
                    }
                  }
                },
                "replacePermissions": {
                  "description": "Replaces the access level and the entire permission set after reading the current definition with the Get Custom Roles API. The role name is preserved. accessType is resent even though it is unchanged, because permissions cannot be sent on its own.",
                  "summary": "Replace permissions",
                  "value": {
                    "CONFIG": {
                      "accessType": "ALL_DATA_REPORTS_AND_DASHBOARDS",
                      "permissions": {
                        "createPermissions": {
                          "createTable": true,
                          "createQueryTable": true,
                          "createFolder": true,
                          "createFormula": true
                        },
                        "dataPermissions": {
                          "addRow": true,
                          "modifyRow": true,
                          "deleteRow": true,
                          "importAppend": true,
                          "importAddOrUpdate": true,
                          "importDeleteAllAdd": true,
                          "importDeleteUpdateAdd": true
                        },
                        "designPermissions": {
                          "designModify": true
                        },
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true,
                          "drillThrough": true,
                          "drillActions": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true,
                          "privateLinks": true,
                          "accessAdminPresets": true,
                          "createPreset": true
                        },
                        "publishPermissions": {
                          "export": true,
                          "manageEmailSchedules": true,
                          "allEmailSchedulesAccess": true,
                          "manageDataAlerts": true,
                          "allDataAlertsAccess": true,
                          "createSlideshow": true,
                          "publicViews": true
                        }
                      }
                    }
                  }
                },
                "renameAndDowngrade": {
                  "description": "Renames the role and lowers it to the dashboard-only level in one call. Every permission above the new ceiling has been removed from the payload - leaving a higher-level flag enabled would fail the request.",
                  "summary": "Rename and downgrade",
                  "value": {
                    "CONFIG": {
                      "roleName": "Dashboard Only",
                      "accessType": "ALL_DASHBOARDS",
                      "permissions": {
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true
                        },
                        "publishPermissions": {
                          "export": true
                        },
                        "createPermissions": {
                          "createFolder": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Roles"
        ],
        "summary": "Delete Custom Role",
        "description": "Deletes a custom role definition from the organization.\n\nOnly the definition is removed. Users who held the role are not deleted, and reassigning them is done through the user management APIs. The operation cannot be undone, and re-creating the same name later produces a new role with a new identifier.\n\n**Notes**\n\n> Note:\n>\n> - The calling user must be an Account Admin or Organization Admin of the organization, custom roles must be enabled for the organization, and the request must not arrive through a Client Portal (White Label) custom domain. Any of these failing yields error code **7301**.\n> - This API removes the role definition only. Users who held the role are not deleted - reassigning them is done through the user management APIs, not here.\n> - The operation is irreversible. The definition cannot be restored, and re-creating the same name produces a new role with a new **roleId** and no history.\n> - The API is not idempotent. A second delete of the same role-id fails with error code **7548** rather than returning 204. Treat that as already deleted rather than as a failure to retry.\n> - The response reports nothing about impact - it does not say how many users held the role. Establish that through the user management APIs before deleting.\n> - A non-numeric role-id never reaches the API and fails at routing with error code **8525**; a numeric but unknown role-id fails with **7548**.\n> - One role is deleted per call. There is no bulk-delete variant.\n> - The API returns HTTP 204 No Content with an empty body on success. Confirm with the Get Custom Roles API.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 6142 | The subscription plan of the organization does not include custom roles. | Upgrade the plan to one that includes custom roles. |\n| 7301 | The calling user is not an Account Admin or Organization Admin of the organization, custom roles are not enabled for the organization, or the request was made through a Client Portal (White Label) custom domain. | Call the API as an Account Admin or Organization Admin from the standard API host, with the custom roles feature enabled for the organization. |\n| 7309 | No authentication was supplied with the request. | Send the Authorization header carrying a valid OAuth token. |\n| 7548 | No custom role exists for the given role-id in this organization. | Verify the role identifier using the Get Custom Roles API. |\n| 8083 | The ZANALYTICS-ORGID header is missing. | Add the ZANALYTICS-ORGID header to the request. |\n| 8525 | The role-id in the request URI is not numeric, so the request matched no route. | Send a numeric role identifier. |\n| 8535 | Invalid or expired OAuth token, or the token does not carry the usermanagement scope. | Provide a valid token with the scope ZohoAnalytics.usermanagement.delete. |",
        "operationId": "deleteCustomRole",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/role-id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/users": {
      "get": {
        "tags": [
          "Workspace Users"
        ],
        "summary": "Get Workspace Users",
        "description": "Returns the list of all the users who have access to the specified workspace, along with their workspace-level role and active status.\n\nThe response covers the Account Admin, the Organization Admins, the Workspace Admins, the standard users, and the users assigned to a custom role.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify the workspace-id value in the request URI. |\n| 7301 | The calling user is not a Workspace Admin, Account Admin or Organization Admin of the workspace. | Ensure that the caller has at least Workspace Admin access to the workspace. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.usermanagement.read. |",
        "operationId": "getWorkspaceUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceUsersResponse"
                },
                "examples": {
                  "mixedRoles": {
                    "description": "Standard organization holding users across every workspace-level role, including a deactivated user.",
                    "summary": "Mixed roles",
                    "value": {
                      "status": "success",
                      "summary": "Get workspace users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@acme.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "orgadmin@acme.com",
                            "status": true,
                            "role": "Organization Admin"
                          },
                          {
                            "emailId": "wsadmin1@acme.com",
                            "status": true,
                            "role": "Workspace Admin"
                          },
                          {
                            "emailId": "wsadmin2@acme.com",
                            "status": true,
                            "role": "Workspace Admin"
                          },
                          {
                            "emailId": "user1@acme.com",
                            "status": true,
                            "role": "User"
                          },
                          {
                            "emailId": "user2@acme.com",
                            "status": false,
                            "role": "User"
                          }
                        ]
                      }
                    }
                  },
                  "customRoleUsers": {
                    "description": "Workspace holding users assigned to a custom role, listed with the exact custom role name.",
                    "summary": "Custom roles",
                    "value": {
                      "status": "success",
                      "summary": "Get workspace users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@acme.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "orgadmin@acme.com",
                            "status": true,
                            "role": "Organization Admin"
                          },
                          {
                            "emailId": "wsadmin@acme.com",
                            "status": true,
                            "role": "Workspace Admin"
                          },
                          {
                            "emailId": "analyst1@acme.com",
                            "status": true,
                            "role": "AnalystRole"
                          },
                          {
                            "emailId": "analyst2@acme.com",
                            "status": false,
                            "role": "AnalystRole"
                          },
                          {
                            "emailId": "user1@acme.com",
                            "status": true,
                            "role": "User"
                          }
                        ]
                      }
                    }
                  },
                  "clientPortalUsers": {
                    "description": "Response returned when the Account Admin is also a Client Portal Admin - every user entry carries the portal domain it was added through.",
                    "summary": "Client portal",
                    "value": {
                      "status": "success",
                      "summary": "Get workspace users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@acme.com",
                            "status": true,
                            "role": "Account Admin",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "orgadmin@acme.com",
                            "status": true,
                            "role": "Organization Admin",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "wsadmin@acme.com",
                            "status": true,
                            "role": "Workspace Admin",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "portal.user1@client.com",
                            "status": true,
                            "role": "User",
                            "domainName": "reports.clientbrand.com"
                          },
                          {
                            "emailId": "portal.user2@client.com",
                            "status": false,
                            "role": "User",
                            "domainName": "reports.clientbrand.com"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Workspace Users"
        ],
        "summary": "Add Workspace Users",
        "description": "Adds one or more users to the specified workspace with a given workspace-level role.\n\nThe users can be supplied in two ways - as a flat list of email addresses that all share a single role, or as up to 20 groups of users that each carry their own role and client portal domain.\n\n**Notes**\n\n> Note:\n>\n> - The Zoho account of the calling user must be confirmed (email verified) to invoke this API.\n> - The calling user must be a Workspace Admin of the workspace. Account Admins and Organization Admins also have access.\n> - A maximum of 1000 email addresses can be sent in a single list, and a maximum of 20 groups can be sent in the **users** array. Split larger operations into multiple calls.\n> - When **role** is not provided, the users are added with the workspace-level **USER** role.\n> - Adding a user who already has access to the workspace updates their role to the specified role. Re-adding a user with the role they already hold succeeds silently.\n> - A custom role name must exactly match an existing custom role defined in the organization. An unknown role name fails with error code **7550**.\n> - Always specify **domainName** for portal users. Portal-only users do not exist in the standard Zoho Analytics domain, and an addition attempted without the domain may fail.\n> - No prerequisite API call is needed to construct the request. Invoke Get Workspace Users afterwards to verify the additions.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify the workspace-id value in the request URI. |\n| 7301 | The calling user is not a Workspace Admin, Account Admin or Organization Admin of the workspace. | Ensure that the caller has at least Workspace Admin access to the workspace. |\n| 7550 | The specified role name does not exist as a custom role in the organization. | Use WORKSPACEADMIN, USER, or the exact name of a custom role defined in the organization. |\n| 8060 | The specified domainName does not exist. | Provide a valid client portal domain name configured for the organization. |\n| 8061 | The specified domainName does not belong to the organization's Account Admin. | Use a domain name that is administered by the Account Admin of this organization. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.usermanagement.create. |",
        "operationId": "addWorkspaceUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AddWorkspaceUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "standardUserAddition": {
                  "description": "Adds two users to the workspace with the standard User role.",
                  "summary": "Standard users",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "alice@acme.com",
                        "bob@acme.com"
                      ],
                      "role": "USER"
                    }
                  }
                },
                "workspaceAdminAddition": {
                  "description": "Adds a user directly with the Workspace Admin role.",
                  "summary": "Workspace Admin",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "wsadmin@acme.com"
                      ],
                      "role": "WORKSPACEADMIN"
                    }
                  }
                },
                "portalDomainAddition": {
                  "description": "Scopes the addition to a single client portal domain, so the user is added as a portal user of that portal.",
                  "summary": "Portal domain",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "portal.user@client.com"
                      ],
                      "role": "USER",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                },
                "bulkRoleAddition": {
                  "description": "Adds two groups of users with different workspace-level roles in a single request.",
                  "summary": "Bulk roles",
                  "value": {
                    "CONFIG": {
                      "users": [
                        {
                          "emailIds": [
                            "lead.analyst@acme.com"
                          ],
                          "role": "WORKSPACEADMIN"
                        },
                        {
                          "emailIds": [
                            "viewer1@acme.com",
                            "viewer2@acme.com"
                          ],
                          "role": "USER"
                        }
                      ]
                    }
                  }
                },
                "bulkPortalAddition": {
                  "description": "Adds users belonging to two different client portal domains in a single request, each group processed in its own portal context.",
                  "summary": "Mixed portals",
                  "value": {
                    "CONFIG": {
                      "users": [
                        {
                          "emailIds": [
                            "user1@client.com",
                            "user2@client.com"
                          ],
                          "role": "USER",
                          "domainName": "reports.clientbrand.com"
                        },
                        {
                          "emailIds": [
                            "partner@partner.io"
                          ],
                          "role": "USER",
                          "domainName": "analytics.partnerportal.io"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace Users"
        ],
        "summary": "Remove Workspace Users",
        "description": "Removes one or more users from the specified workspace. The removed users lose all access to this workspace immediately, while their membership in the organization and their access to other workspaces remain unaffected.\n\n**Notes**\n\n> Note:\n>\n> - The Zoho account of the calling user must be confirmed (email verified) to invoke this API.\n> - The calling user must be a Workspace Admin of the workspace. Account Admins and Organization Admins also have access.\n> - A maximum of 1000 email addresses can be sent in a single request.\n> - This API removes the entire workspace access of the user, including the shared views, the group memberships within the workspace, and the Workspace Admin role if they hold it. All the view-level and workspace-level permissions of the user are deleted immediately.\n> - To revoke only the Workspace Admin role and leave the user in the workspace as a regular user, use the Remove Workspace Admins API instead.\n> - Always specify **domainName** when removing portal users. Without it, the lookup is performed in the standard Zoho Analytics domain and a portal-only user will not be found.\n> - Verify the membership using the Get Workspace Users API before invoking this API. The behaviour for a user who is not in the workspace depends on the domain context.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify the workspace-id value in the request URI. |\n| 7301 | The calling user is not a Workspace Admin, Account Admin or Organization Admin of the workspace. | Ensure that the caller has at least Workspace Admin access to the workspace. |\n| 8060 | The specified domainName does not exist. | Provide a valid client portal domain name configured for the organization. |\n| 8061 | The specified domainName does not belong to the organization's Account Admin. | Use a domain name that is administered by the Account Admin of this organization. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the scope ZohoAnalytics.usermanagement.delete. |",
        "operationId": "deleteWorkspaceUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeleteWorkspaceUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleUserRemoval": {
[...]
