{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Views Management in Zoho Analytics — covering view operations, auto analysis, favorites, and trash management."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "View Operations",
      "description": "APIs for creating, copying, renaming, deleting, and retrieving views."
    },
    {
      "name": "Auto Analysis",
      "description": "APIs to automatically generate a curated set of views - charts, pivot tables and summary views - from an entire table or from a single column of it. Both APIs work only on Tables, Query Tables and Pipeline Tables."
    },
    {
      "name": "View Preferences",
      "description": "APIs to mark a view as a favorite for the authenticated user and to remove it from the favorites list. The favorite status is stored per user."
    },
    {
      "name": "Tags",
      "description": "APIs to create, update, delete and list the tags of a workspace, and to attach those tags to views. A tag is a workspace-scoped label with a name and a hex colour code, used to organise tables, reports, dashboards and other views. Tags carry no permissions - attaching one neither grants nor restricts access. The tag-side APIs attach or detach one tag across many views and require workspace administration; the view-side APIs attach or detach many tags on a single view and are also open to the view owner and to users with Edit Design permission. A view can carry at most 10 tags."
    },
    {
      "name": "Trash Management",
      "description": "APIs to list the views available in the trash of a workspace, restore a trashed view back to the workspace, and permanently delete a view from the trash."
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/saveas": {
      "post": {
        "tags": [
          "View Operations"
        ],
        "summary": "Save As View",
        "description": "Creates a copy of an existing view - a table or an analysis view - within the same workspace.\n\nThe new view is independent of the original once created; later changes to one do not affect the other. For a table, `copyWithData`, `copyWithLookup` and `copyHugeData` control how much of the source is reproduced. For an analysis view those three attributes are ignored and only the view definition is copied.\n\nThe ID of the newly created view is returned in the response and is used to reference the copy in subsequent APIs.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is a valid, accessible workspace. |\n| 7104 | Source view not found. | Verify that the view-id exists within the specified workspace. |\n| 7111 | A view with the given viewName already exists in this workspace. | Choose a different, unique name for the new view. |\n| 7144 | The specified folderId does not exist in this workspace. | Provide a valid folder ID from within the same workspace, or omit folderId to place the view at the root level. |\n| 7301 | The user does not have permission to duplicate this view. | Ensure the user is a Workspace Admin, Account Admin, Organization Admin, or holds Design and Modify permission on the workspace. For analysis views, the user must also hold save permission on the parent table. |\n| 7319 | The source view does not belong to the specified workspace. | Ensure that the workspace-id and the view-id are correct and consistent. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.modeling.create scope. |",
        "operationId": "saveAsView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/SaveAsViewConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "schemaOnlyCopy": {
                  "description": "Duplicates a table with its columns, data types, lookup references and formula definitions but without any row data, and places the copy in a specific folder.",
                  "summary": "Copy table schema",
                  "value": {
                    "CONFIG": {
                      "viewName": "Sales_Archive",
                      "viewDesc": "Copy of Sales table for archival",
                      "copyWithData": false,
                      "copyWithLookup": true,
                      "folderId": "466206000000085001"
                    }
                  }
                },
                "asyncDataCopy": {
                  "description": "Duplicates a large table together with its row data. The copy runs asynchronously in the background so that the request returns without waiting for the data to finish populating.",
                  "summary": "Copy with data",
                  "value": {
                    "CONFIG": {
                      "viewName": "Sales_Backup_Q3",
                      "copyWithData": true,
                      "copyHugeData": true
                    }
                  }
                },
                "analysisViewCopy": {
                  "description": "Duplicates a chart or other analysis view. Only viewName and viewDesc are meaningful here - the table-specific attributes are ignored for analysis views.",
                  "summary": "Copy analysis view",
                  "value": {
                    "CONFIG": {
                      "viewName": "Revenue Trend - Copy",
                      "viewDesc": "Duplicate of Q3 revenue trend chart"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The new view was created and its ID is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveAsViewResponse"
                },
                "examples": {
                  "newViewCreated": {
                    "description": "The ID of the newly created view. When copyHugeData is true this ID is returned before the row data has finished populating.",
                    "summary": "New view created",
                    "value": {
                      "status": "success",
                      "summary": "Saveas view",
                      "data": {
                        "viewId": "466206000000120001"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/copy": {
      "post": {
        "tags": [
          "View Operations"
        ],
        "summary": "Copy Views",
        "description": "Copies one or more views from a source workspace to a destination workspace. The two workspaces may belong to the same organization or to different organizations, which makes this a cross-workspace operation unlike Save As View.\n\nThe source workspace is the `workspace-id` in the URL and the destination workspace is `destWorkspaceId` in the CONFIG. The destination *organization* is resolved from the headers, and which header carries it depends on the caller:\n\n- An **Account Admin** sends the destination organization in `ZANALYTICS-ORGID` and no second header. This is the default route, and it is why `ZANALYTICS-ORGID` means something different here than in every other API in this module.\n- An **Organization Admin** with admin access in several organizations sends their own organization in `ZANALYTICS-ORGID` and the destination in `ZANALYTICS-DEST-ORGID`. The service then checks that the caller is a member of that destination organization before copying.\n\nEither way, when the destination organization differs from the organization of the source workspace, the copy key of the source workspace must also be sent as `workspaceKey`.\n\nThe response maps each source view ID to the ID of the view newly created in the destination workspace.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | The source or the destination workspace was not found. | Verify that the workspace-id in the URL and destWorkspaceId in the CONFIG are valid. |\n| 7104 | One or more view IDs in viewIds do not exist. | Verify that every view ID in the array exists and is accessible. |\n| 7301 | The user does not have permission. Raised when the user is not an Account Admin or Organization Admin of the destination organization, when the caller is not a member of the organization named in ZANALYTICS-DEST-ORGID, or when createAsSystemTable is used outside an authorized internal service. | Ensure the user is an Account Admin or Organization Admin of the destination organization and, when ZANALYTICS-DEST-ORGID is used, a member of that organization. |\n| 7319 | One or more view IDs do not belong to the source workspace given in the URL. | Ensure that every view ID in viewIds comes from the workspace given in the workspace-id path parameter. |\n| 8058 | The organization ID sent in ZANALYTICS-DEST-ORGID does not exist. | Provide a valid, existing organization ID in the ZANALYTICS-DEST-ORGID header. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.modeling.create scope. |\n| 15007 | Cross-organization copy is not authorized. Raised when the resolved destination organization differs from the organization of the source workspace and workspaceKey is missing or incorrect. | Provide the correct workspaceKey of the source workspace for a cross-organization copy. |",
        "operationId": "copyViews",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of an organization, but which one depends on the caller. When ZANALYTICS-DEST-ORGID is not sent - the Account Admin route - this header carries the destination organization, because the permission check validates the caller's admin rights in the destination. When ZANALYTICS-DEST-ORGID is sent - the Organization Admin route - this header carries the caller's own source organization instead. Note that this differs from every other API in this module, where the header always names the organization of the workspace in the URL."
          },
          {
            "name": "ZANALYTICS-DEST-ORGID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of the destination organization. It is meant for an Organization Admin who holds admin access in several organizations and wants to copy into one of them while keeping their own organization in ZANALYTICS-ORGID. When it is sent, it overrides destination resolution and the service validates that the caller is a member of it, failing with error 7301 otherwise and with error 8058 if the organization does not exist. When it is omitted, the destination organization is the one in ZANALYTICS-ORGID."
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the source workspace that holds the views to be copied."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CopyViewsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "sameOrgCopy": {
                  "description": "Copies two listed views into a destination workspace that belongs to the same organization. No workspace key is needed and dependent views are not resolved.",
                  "summary": "Same organization copy",
                  "value": {
                    "CONFIG": {
                      "viewIds": [
                        "466206000000105001",
                        "466206000000106002"
                      ],
                      "destWorkspaceId": "466206000000080000"
                    }
                  }
                },
                "copyWithDependents": {
                  "description": "Copies a table together with every analysis view built on it, and keeps going when an individual view in the expanded set fails to copy.",
                  "summary": "Copy with dependents",
                  "value": {
                    "CONFIG": {
                      "viewIds": [
                        "466206000000105001"
                      ],
                      "destWorkspaceId": "466206000000080000",
                      "copyWithDependentViews": true,
                      "continueOnFailure": true
                    }
                  }
                },
                "crossOrgCopy": {
                  "description": "Copies views into a workspace in another organization. The copy key of the source workspace is mandatory here, and the destination organization travels in ZANALYTICS-ORGID for an Account Admin or in ZANALYTICS-DEST-ORGID for an Organization Admin. The whole operation is rolled back on the first failure.",
                  "summary": "Cross organization copy",
                  "value": {
                    "CONFIG": {
                      "viewIds": [
                        "466206000000105001",
                        "466206000000107003"
                      ],
                      "destWorkspaceId": "467200000000090000",
                      "workspaceKey": "abc123def456",
                      "copyWithDependentViews": true,
                      "continueOnFailure": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The views were copied and each source view ID is mapped to its new destination view ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopyViewsResponse"
                },
                "examples": {
                  "allViewsCopied": {
                    "description": "Every requested view was copied. One entry is returned per view, mapping the source view ID to the newly created destination view ID.",
                    "summary": "All views copied",
                    "value": {
                      "status": "success",
                      "summary": "Copy views",
                      "data": {
                        "views": [
                          {
                            "sourceViewId": "466206000000105001",
                            "destViewId": "467200000000112001"
                          },
                          {
                            "sourceViewId": "466206000000107003",
                            "destViewId": "467200000000112002"
                          }
                        ]
                      }
                    }
                  },
                  "partialCopy": {
                    "description": "With continueOnFailure set to true, only the views that copied successfully are listed. Views that failed are absent from the array and are not reported separately.",
                    "summary": "Partial copy",
                    "value": {
                      "status": "success",
                      "summary": "Copy views",
                      "data": {
                        "views": [
                          {
                            "sourceViewId": "466206000000105001",
                            "destViewId": "467200000000112001"
                          }
                        ]
                      }
                    }
                  },
                  "noViewsCopied": {
                    "description": "With continueOnFailure set to true and every view failing, HTTP 200 is still returned with an empty views array and no error is raised.",
                    "summary": "No views copied",
                    "value": {
                      "status": "success",
                      "summary": "Copy views",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/similarviews": {
      "post": {
        "tags": [
          "View Operations"
        ],
        "summary": "Create Similar Views",
        "description": "Replicates, for a target table, every analysis view - chart, pivot table, summary view and so on - that exists on a reference table in the same workspace. The column bindings in each copied view are remapped automatically to the corresponding columns of the target table.\n\nThe target table is the `view-id` in the URL and the reference table is `referenceViewId` in the CONFIG. This is useful when two tables share a compatible column structure and a whole set of reports needs to be reproduced from one on the other.\n\nAll generated views are placed into the single folder given as `folderId`.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is valid. |\n| 7104 | The target table given as view-id, or the reference table given as referenceViewId, was not found. | Verify that both view IDs exist in the workspace. |\n| 7144 | The specified folderId does not exist in this workspace. | Provide a valid, existing folder ID from within the same workspace. |\n| 7301 | The user is not authorized to create views in this workspace. | Ensure the user is an Account Admin, Organization Admin, or Workspace Admin. |\n| 7319 | One or both view IDs do not belong to the specified workspace. | Ensure that the view-id in the URL and the referenceViewId in the CONFIG both belong to the workspace given in the URL. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.modeling.create scope. |",
        "operationId": "createSimilarViews",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateSimilarViewsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "structureOnlyCopy": {
                  "description": "Replicates the reference table's views on the target table with their axis and filter bindings alone. No formula column of either kind is carried over.",
                  "summary": "Structure only",
                  "value": {
                    "CONFIG": {
                      "referenceViewId": "466206000000105001",
                      "folderId": "466206000000085001"
                    }
                  }
                },
                "allFormulasCopy": {
                  "description": "Replicates the views and carries over both custom formula columns and aggregate formula columns. Use this only when the target table supports the same expressions.",
                  "summary": "All formulas",
                  "value": {
                    "CONFIG": {
                      "referenceViewId": "466206000000105001",
                      "folderId": "466206000000085001",
                      "copyCustomFormula": true,
                      "copyAggFormula": true
                    }
                  }
                },
                "aggFormulaOnly": {
                  "description": "Replicates the views with the summary-level aggregate formulas but leaves the row-level custom formula columns behind.",
                  "summary": "Aggregate formulas only",
                  "value": {
                    "CONFIG": {
                      "referenceViewId": "466206000000105001",
                      "folderId": "466206000000090002",
                      "copyCustomFormula": false,
                      "copyAggFormula": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The similar views were created for the target table."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}": {
      "put": {
        "tags": [
          "View Operations"
        ],
        "summary": "Rename View",
        "description": "Renames an existing view and, optionally, updates its description. It applies to every view type - tables, analysis views, dashboards, query tables and others.\n\nThe description is always overwritten. If `viewDesc` is not sent, the existing description is cleared to an empty string, so the current description has to be passed explicitly whenever it should be retained.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7104 | View not found. | Verify that the view-id exists in the specified workspace. |\n| 7111 | A view with the given viewName already exists in this workspace. | Choose a unique name for the view. |\n| 7301 | The user does not have permission to rename this view. | Ensure the user is a Workspace Admin, Account Admin, Organization Admin, or the view owner. |\n| 7319 | The view does not belong to the specified workspace. | Verify that the workspace-id and the view-id are correct and consistent. |\n| 7413 | viewName is empty. | Provide a non-empty, valid view name. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.modeling.update scope. |",
        "operationId": "renameView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RenameViewConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "renameOnly": {
                  "description": "Changes the view name alone. Because viewDesc is not sent, the existing description of the view is cleared to an empty string.",
                  "summary": "Rename only",
                  "value": {
                    "CONFIG": {
                      "viewName": "Sales_Q3_2024"
                    }
                  }
                },
                "renameWithDescription": {
                  "description": "Changes the view name and sets a new description in the same call. This is the form to use whenever the description must survive the rename.",
                  "summary": "Rename and describe",
                  "value": {
                    "CONFIG": {
                      "viewName": "Revenue Chart - Q3",
                      "viewDesc": "Monthly revenue breakdown for Q3 2024"
                    }
                  }
                },
                "renameDashboard": {
                  "description": "Renames a dashboard. The new name is reflected wherever the dashboard is referenced, without any further update call.",
                  "summary": "Rename dashboard",
                  "value": {
                    "CONFIG": {
                      "viewName": "Executive Dashboard v2",
                      "viewDesc": "Consolidated KPIs for Q3 review"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The view was renamed."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "View Operations"
        ],
        "summary": "Delete View",
        "description": "Deletes a view from a workspace. The delete is a soft delete - the view is moved to the workspace Trash, from where it can be restored within the retention period. It applies to every view type.\n\nIf other views depend on the view being deleted - analysis views built on a table, charts embedded in a dashboard, or a query table referencing the table - the call fails unless `deleteDependentViews` is set to `true`, in which case those dependents are deleted alongside it.\n\n**Notes**\n\n> Note:\n>\n> - This is a soft delete. The view is moved to the workspace Trash and can be brought back with the Restore Trash View API within the retention period, after which it is purged permanently.\n> - The CONFIG parameter is optional. When it is omitted, **deleteDependentViews** is taken as false.\n> - When **deleteDependentViews** is false and another view depends on this one, the request fails with a dependency error and nothing is deleted. Use the Get View Details API with **withInvolvedMetaInfo** as true to identify the dependents first.\n> - When **deleteDependentViews** is true, direct and transitive dependents go with the view in the same operation. A table with 50 analysis views loses all 50, and an analysis view embedded in dashboards takes those dashboards with it.\n> - Deleting an individual dashboard tab removes that tab and every view it holds from the parent tabbed dashboard. If it is the last remaining tab, the parent tabbed dashboard itself may be affected.\n> - Deleting a tabbed dashboard deletes the parent object, and its constituent tabs count as dependents. Send **deleteDependentViews** as true to remove them in the same call.\n> - Deleting a table that acts as a lookup source leaves orphaned lookup columns in the tables that reference it. Send **deleteDependentViews** as true, or remove the lookup relationship first.\n> - Every view removed by this call goes to Trash separately and must be restored individually from there.\n> - The API returns HTTP 204 No Content with an empty body on success.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7104 | View not found. | Verify that the view-id exists in the specified workspace. |\n| 7301 | The user does not have permission to delete this view. Raised when the user is neither a Workspace Admin, Account Admin, Organization Admin, nor the view owner. | Ensure the user holds one of the required roles. |\n| 7319 | The view does not belong to the specified workspace. | Verify that the workspace-id and the view-id are correct and consistent. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.modeling.delete scope. |",
        "operationId": "deleteView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeleteViewConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "deleteStandalone": {
                  "description": "Deletes a view that nothing else depends on, such as a chart or a dashboard. Sending deleteDependentViews as false is the explicit form of the default behaviour.",
                  "summary": "Delete standalone view",
                  "value": {
                    "CONFIG": {
                      "deleteDependentViews": false
                    }
                  }
                },
                "deleteWithDependents": {
                  "description": "Deletes a table together with every view that depends on it, direct and transitive. All of them are moved to Trash and have to be restored individually.",
                  "summary": "Delete with dependents",
                  "value": {
                    "CONFIG": {
                      "deleteDependentViews": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.delete"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The view was moved to the workspace Trash."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "summary": "Get View List",
        "description": "Returns the list of views accessible to the authenticated user within a workspace, together with the folder, creator and last-modifier metadata of each view.\n\nThe result can be narrowed by view type, by a keyword matched against the view name, and by the user who created or last modified the view, and it can be paged and sorted. The scope of the list depends on the caller: an admin receives every view in the workspace, while a shared user or group member receives only the views shared with them.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7301 | The user does not have permission to list the views of this workspace. | Ensure the user has at least Read permission on the workspace. |\n| 8119 | Invalid value for sortedColumn, which must be 0 to 2, or for sortedOrder, which must be 0 to 1. | Use only the documented integer values for the sort attributes. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.metadata.read scope. |",
        "operationId": "getViews",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "description": "JSONObject that filters, pages and sorts the view list. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "schema": {
              "$ref": "#/components/schemas/GetViewListConfig"
            },
            "examples": {
              "dashboardsAndTables": {
                "description": "Returns only the dashboards and the base tables of the workspace, ordered by last modified time with the most recently changed view first.",
                "summary": "Filter by type",
                "value": {
                  "viewTypes": [
                    7,
                    0
                  ],
                  "sortedColumn": 2,
                  "sortedOrder": 1
                }
              },
              "keywordSearchPaged": {
                "description": "Returns the first ten views whose name contains Revenue, ordered by name ascending. Increase startIndex by noOfResult to walk through the remaining pages.",
                "summary": "Keyword with paging",
                "value": {
                  "keyword": "Revenue",
                  "startIndex": 0,
                  "noOfResult": 10,
                  "sortedColumn": 0,
                  "sortedOrder": 0
                }
              },
              "viewsByUser": {
                "description": "Returns only the views created or last modified by one user, identified by ZUID, with the newest created view first.",
                "summary": "Filter by user",
                "value": {
                  "criteriaZuid": "64035928",
                  "sortedColumn": 1,
                  "sortedOrder": 1
                }
              }
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The list of views accessible to the calling user in the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViewsResponse"
                },
                "examples": {
                  "adminViewList": {
                    "description": "An admin receives every view in the workspace. The analysis view carries parentViewId pointing at the table it is built on, and sharedBy is empty for admins.",
                    "summary": "Admin view list",
                    "value": {
                      "status": "success",
                      "summary": "Get views",
                      "data": {
                        "views": [
                          {
                            "viewId": "137687000000471835",
                            "viewName": "Sales",
                            "viewDesc": "",
                            "viewType": "Table",
                            "parentViewId": "",
                            "folderId": "137687000000471834",
                            "createdTime": "1619175390377",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1683178935825",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": ""
                          },
                          {
                            "viewId": "137687000000471836",
                            "viewName": "Average Sales in a Day",
                            "viewDesc": "",
                            "viewType": "AnalysisView",
                            "parentViewId": "137687000000471835",
                            "folderId": "137687000000471834",
                            "createdTime": "1619175390377",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1619175390377",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": ""
                          },
                          {
                            "viewId": "137687000000471844",
                            "viewName": "Dashboard",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "137687000000471834",
                            "createdTime": "1619175390377",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1619175390377",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": ""
                          }
                        ]
                      }
                    }
                  },
                  "sharedUserList": {
                    "description": "A shared user receives only the views shared explicitly with them, and sharedBy names the user who shared each one.",
                    "summary": "Shared user list",
                    "value": {
                      "status": "success",
                      "summary": "Get views",
                      "data": {
                        "views": [
                          {
                            "viewId": "137687000000471835",
                            "viewName": "Sales",
                            "viewDesc": "",
                            "viewType": "Table",
                            "parentViewId": "",
                            "folderId": "137687000000471834",
                            "createdTime": "1619175390377",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1683178935825",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": "admin@example.com"
                          }
                        ]
                      }
                    }
                  },
                  "emptyResult": {
                    "description": "A filter that matches nothing still returns HTTP 200 with an empty views array rather than an error.",
                    "summary": "No match",
                    "value": {
                      "status": "success",
                      "summary": "Get views",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/views/{view-id}": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "summary": "Get View Details",
        "description": "Returns the metadata of a single view identified by its view ID. The view is resolved globally, so unlike the other APIs in this module no workspace ID is needed in the URL - the workspace is derived from the view itself.\n\nBy default only the base attributes are returned. Setting `withInvolvedMetaInfo` to `true` adds extended metadata whose shape depends on the view type: column definitions and a row count for tables and query tables, the tab structure for a tabbed dashboard, and the list of parent views for an analysis view or a regular dashboard. Some of those extended fields are restricted to Workspace Admins.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7104 | View not found. | Verify that the view-id is valid and accessible. |\n| 7301 | The user does not have Read Only permission on the view. | Ensure the user has been granted at least Read Only access to the view. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.metadata.read scope. |",
        "operationId": "getViewDetails",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of the organization. It is not required by this API, since the view is resolved globally by its ID, but sending it is harmless and is recommended for consistency with the other APIs."
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "description": "JSONObject that controls whether extended metadata is returned along with the base view attributes. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "schema": {
              "$ref": "#/components/schemas/GetViewDetailsConfig"
            },
            "examples": {
              "baseDetails": {
                "description": "Returns the base attributes of the view alone. This is the same result as omitting the CONFIG parameter entirely.",
                "summary": "Base details",
                "value": {
                  "withInvolvedMetaInfo": false
                }
              },
              "extendedDetails": {
                "description": "Adds the extended metadata for the view type - column definitions and row count for a table or query table, tab structure for a tabbed dashboard, parent views for an analysis view.",
                "summary": "Extended details",
                "value": {
                  "withInvolvedMetaInfo": true
                }
              }
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The metadata of the requested view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViewDetailsResponse"
                },
                "examples": {
                  "baseTableDetails": {
                    "description": "The base attributes of a table, returned when withInvolvedMetaInfo is false or the CONFIG parameter is omitted.",
                    "summary": "Table base details",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000000471835",
                          "viewName": "Sales",
                          "viewDesc": "",
                          "viewType": "Table",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1619175390377",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1619175390377",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928"
                        }
                      }
                    }
                  },
                  "tableWithColumns": {
                    "description": "A table requested with withInvolvedMetaInfo as true. The column definitions are returned to every user with access, while the row count is restricted to Workspace Admins.",
                    "summary": "Table with columns",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000000471835",
                          "viewName": "Sales",
                          "viewDesc": "",
                          "viewType": "Table",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1619175390377",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1619175390377",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928",
                          "rowCount": 4820,
                          "columns": [
                            {
                              "columnId": "137687000000471840",
                              "columnName": "Date",
                              "dataType": "DATE_AS_DATE",
                              "dataTypeId": 22,
                              "dataTypeName": "Date",
                              "columnIndex": 1,
                              "columnDesc": "",
                              "columnMaxSize": 19,
                              "isNullable": true,
                              "defaultValue": "",
                              "pkTableName": "",
                              "pkColumnName": "",
                              "formulaDisplayName": "",
                              "dateFormat": "dd MMMM, yyyy",
                              "isHidden": false,
                              "sortedOrder": 0,
                              "sortedIndex": -1
                            },
                            {
                              "columnId": "137687000000471841",
                              "columnName": "Region",
                              "dataType": "PLAIN",
                              "dataTypeId": 1,
                              "dataTypeName": "Plain Text",
                              "columnIndex": 2,
                              "columnDesc": "",
                              "columnMaxSize": 253,
                              "isNullable": true,
                              "defaultValue": "",
                              "pkTableName": "",
                              "pkColumnName": "",
                              "formulaDisplayName": "",
                              "isHidden": false,
                              "sortedOrder": 0,
                              "sortedIndex": -1
                            }
                          ]
                        }
                      }
                    }
                  },
                  "tabbedDashboardDetails": {
                    "description": "A tabbed dashboard requested by a Workspace Admin with withInvolvedMetaInfo as true. Each tab lists the views it holds.",
                    "summary": "Tabbed dashboard",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000015400002",
                          "viewName": "TabbedDashboard",
                          "viewDesc": "",
                          "viewType": "Dashboard",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1650282725951",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1650282868999",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928",
                          "isTabbedDashboard": true,
                          "tabs": [
                            {
                              "tabId": "137687000015400051",
                              "tabName": "Tab1",
                              "involvedViews": [
                                {
                                  "viewId": "137687000000471835",
                                  "viewName": "Sales",
                                  "viewType": "Table"
                                },
                                {
                                  "viewId": "137687000000471839",
                                  "viewName": "ProfitindifferentProducts.",
                                  "viewType": "Pivot View"
                                },
                                {
                                  "viewId": "137687000000471842",
                                  "viewName": "SalesVsProfit",
                                  "viewType": "Chart View"
                                }
                              ]
                            },
                            {
                              "tabId": "137687000015400059",
                              "tabName": "Tab2",
                              "involvedViews": [
                                {
                                  "viewId": "137687000000471836",
                                  "viewName": "Average Sales in a Day",
                                  "viewType": "Chart View"
                                },
                                {
                                  "viewId": "137687000000471840",
                                  "viewName": "Sales and Profit in each Region",
                                  "viewType": "Chart View"
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "dashboardTabDetails": {
                    "description": "An individual tab requested by its own view ID. parentViewId points at the tabbed dashboard the tab belongs to.",
                    "summary": "Dashboard tab",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000015400059",
                          "viewName": "Tab2",
                          "viewDesc": "",
                          "viewType": "Tab",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1650282855067",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1650282868991",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928",
                          "parentViewId": "137687000015400002"
                        }
                      }
                    }
                  },
                  "queryTableDetails": {
                    "description": "A query table requested by a Workspace Admin with withInvolvedMetaInfo as true, showing its columns alongside the parent tables the query is built on.",
                    "summary": "Query table",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000000471848",
                          "viewName": "SalesQT",
                          "viewDesc": "SQL-joined query table",
                          "viewType": "QueryTable",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1619175390377",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1619175390377",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928",
                          "rowCount": 0,
                          "columns": [
                            {
                              "columnId": "137687000000471860",
                              "columnName": "Cost",
                              "dataType": "CURRENCY",
                              "dataTypeId": 7,
                              "dataTypeName": "Currency",
                              "columnIndex": 1,
                              "columnDesc": "",
                              "columnMaxSize": 19,
                              "isNullable": true,
                              "defaultValue": "",
                              "pkTableName": "",
                              "pkColumnName": "",
                              "formulaDisplayName": "",
                              "isHidden": false,
                              "sortedOrder": 0,
                              "sortedIndex": -1
                            }
                          ],
                          "involvedViews": [
                            {
                              "viewId": "137687000000471835",
                              "viewName": "Sales",
                              "viewType": "Table"
                            },
                            {
                              "viewId": "137687000000471836",
                              "viewName": "Products",
                              "viewType": "Table"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/publish": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "summary": "Get View URL",
        "description": "Generates and returns the publicly accessible URL of a view. The URL opens directly in a browser without authentication, which allows the view to be shared outside Zoho Analytics.\n\nThe generated URL carries the visual customisations sent in the CONFIG - theme, title and description visibility, toolbar, legend position - and can also apply a data filter through `criteria`, so that whoever opens the link sees only the filtered subset.\n\nWhen the view has been made public with a private key, that key is embedded in the URL path and the link works only for someone who holds it.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7104 | View not found. | Verify that the view-id exists in the specified workspace. |\n| 7301 | The user does not have Publish or Make Public permission on the workspace. | Ensure the user is a Workspace Admin, Account Admin, Organization Admin, or has been granted Publish or Make Public permission. |\n| 7319 | The view does not belong to the specified workspace. | Verify that the workspace-id and the view-id are correct and consistent. |\n| 8060 | The specified domainName does not exist. | Provide a valid custom domain name configured for the workspace. |\n| 8061 | The specified domain does not belong to the workspace or the calling user. | Use a domain that is associated with the workspace. |\n| 8062 | withCustomDomain is true but no custom domain is configured for this workspace. | Configure a custom domain for the workspace first, or omit withCustomDomain to use the standard domain. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.embed.read scope. |",
        "operationId": "getViewUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "description": "JSONObject that controls the appearance of the view in the generated URL and, optionally, the data filter applied to it. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "schema": {
              "$ref": "#/components/schemas/GetViewUrlConfig"
            },
            "examples": {
              "themedWithFilter": {
                "description": "Generates a URL with the green theme and no toolbar or description, showing only the rows that match the criteria when the link is opened.",
                "summary": "Theme and filter",
                "value": {
                  "theme": "green",
                  "includeTitle": true,
                  "includeDesc": false,
                  "includeToolBar": false,
                  "criteria": "\"Region\"='East'"
                }
              },
              "tableDisplayOptions": {
                "description": "Generates a URL for a table with the search box, the data type symbols and the column visibility toggle turned on. These three attributes have no effect on other view types.",
                "summary": "Table display options",
                "value": {
                  "includeSearchBox": true,
                  "includeDatatypeSymbol": true,
                  "includeShowHideOption": true
                }
              },
              "customDomainUrl": {
                "description": "Generates the URL on a custom client portal domain configured for the workspace instead of the standard Zoho Analytics domain.",
                "summary": "Custom domain",
                "value": {
                  "theme": "bluedark",
                  "domainName": "analytics.zylker.com"
                }
              }
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The generated URL of the view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViewUrlResponse"
                },
                "examples": {
                  "publicUrl": {
                    "description": "The standard shareable URL of a view that has no private key configured, carrying only the theme.",
                    "summary": "Public URL",
                    "value": {
                      "status": "success",
                      "summary": "Get view URL",
                      "data": {
                        "viewUrl": "https://analytics.zoho.com/open-view/466206000000105001?ZDB_THEME_NAME=blue"
                      }
                    }
                  },
                  "filteredUrl": {
                    "description": "A URL carrying the display attributes and the filter criteria, both appended as URL-encoded query parameters.",
                    "summary": "Filtered URL",
                    "value": {
                      "status": "success",
                      "summary": "Get view URL",
                      "data": {
                        "viewUrl": "https://analytics.zoho.com/open-view/466206000000105001?ZDB_THEME_NAME=green&INCLUDEDESC=false&CRITERIA=%22Region%22%3D%27East%27"
                      }
                    }
                  },
                  "privateKeyUrl": {
                    "description": "A view made public with a private key returns the key as a segment of the URL path. Opening the link without that segment is denied.",
                    "summary": "Private key URL",
                    "value": {
                      "status": "success",
                      "summary": "Get view URL",
                      "data": {
                        "viewUrl": "https://analytics.zoho.com/open-view/466206000000105001/d7f69c7581b1974af438b42c4aaaed98?ZDB_THEME_NAME=blue"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/dependents": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "summary": "Get View Dependents",
        "description": "Returns every active view that depends on the specified view. A dependent view is one that cannot exist without the source view - a chart built on a table, a pivot table built on a query table, or a query table built on another query table.\n\nThe whole transitive chain is resolved, so the result is the complete set of views that would break if the source view were deleted. That makes this API a useful check before calling Delete View.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7104 | View not found. | Verify that the view-id exists in the specified workspace. |\n| 7301 | The user is not a Workspace Admin, Account Admin, or Organization Admin. | Ensure the user holds a Workspace Admin or higher role in this workspace. |\n| 7319 | The view does not belong to the specified workspace. | Verify that the workspace-id and the view-id are correct and consistent. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.metadata.read scope. |",
        "operationId": "getViewDependents",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The active views that depend on the specified view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViewDependentsResponse"
                },
                "examples": {
                  "tableDependents": {
                    "description": "A table returns the analysis views built on it together with the dashboard that embeds them. The dashboard appears even though it depends on the table only indirectly.",
                    "summary": "Table dependents",
                    "value": {
                      "status": "success",
                      "summary": "Get view dependents",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000105010",
                            "viewName": "Revenue Trend",
                            "viewTypeId": 2,
                            "viewType": "Chart View"
                          },
                          {
                            "viewId": "466206000000105011",
                            "viewName": "Sales by Region",
                            "viewTypeId": 3,
                            "viewType": "Pivot View"
                          },
                          {
                            "viewId": "466206000000105012",
                            "viewName": "Monthly Summary",
                            "viewTypeId": 4,
                            "viewType": "Summary View"
                          },
                          {
                            "viewId": "466206000000109002",
                            "viewName": "Executive Dashboard",
                            "viewTypeId": 7,
                            "viewType": "Dashboard"
                          }
                        ]
                      }
                    }
                  },
                  "queryTableDependents": {
                    "description": "A query table returns the child query table built on top of it as well as the analysis views built on either of them.",
                    "summary": "Query table dependents",
                    "value": {
                      "status": "success",
                      "summary": "Get view dependents",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000115010",
                            "viewName": "SalesQT_Child",
                            "viewTypeId": 6,
                            "viewType": "Query Table"
                          },
                          {
                            "viewId": "466206000000115011",
                            "viewName": "QT_Chart_Analysis",
                            "viewTypeId": 2,
                            "viewType": "Chart View"
                          },
                          {
                            "viewId": "466206000000115012",
                            "viewName": "QT_Pivot_Analysis",
                            "viewTypeId": 3,
                            "viewType": "Pivot View"
                          }
                        ]
                      }
                    }
                  },
                  "noDependents": {
                    "description": "A dashboard, or any other view that nothing is built on, returns an empty array with HTTP 200 rather than an error.",
                    "summary": "No dependents",
                    "value": {
                      "status": "success",
                      "summary": "Get view dependents",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/recentviews": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "summary": "Get Recent Views",
        "description": "Returns the views most recently accessed by the authenticated user, ordered with the most recent first.\n\nThe API is user-scoped and spans workspaces: views from every workspace and organization the user can reach are returned together in one list, each carrying the workspace it belongs to. No workspace ID is needed in the URL, and the history returned is personal to the token used to make the call.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.metadata.read scope. |",
        "operationId": "getRecentViews",
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The views recently accessed by the authenticated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecentViewsResponse"
                },
                "examples": {
                  "crossWorkspaceHistory": {
                    "description": "Views of several types drawn from more than one workspace, ordered by the time the calling user last opened each of them.",
                    "summary": "Cross workspace history",
                    "value": {
                      "status": "success",
                      "summary": "Get recent views",
                      "data": {
                        "views": [
                          {
                            "viewId": "137687000000005744",
                            "viewName": "Column Sales",
                            "viewType": "Table",
                            "workspaceId": "137687000000005620",
                            "workspaceName": "Q3 Sales Workspace",
                            "viewLastAccessedTime": "1623165599255"
                          },
                          {
                            "viewId": "137687000001859027",
                            "viewName": "tabular_1",
                            "viewType": "Report",
                            "workspaceId": "137687000001859022",
                            "workspaceName": "DBOwner-Backup",
                            "viewLastAccessedTime": "1622797899143"
                          },
                          {
                            "viewId": "137687000001859035",
                            "viewName": "dashboard1",
                            "viewType": "Dashboard",
                            "workspaceId": "137687000001859022",
                            "workspaceName": "DBOwner-Backup",
                            "viewLastAccessedTime": "1622741330331"
                          },
                          {
                            "viewId": "137687000001859030",
                            "viewName": "summary",
                            "viewType": "SummaryView",
                            "workspaceId": "137687000001859022",
                            "workspaceName": "DBOwner-Backup",
                            "viewLastAccessedTime": "1622741297744"
                          },
                          {
                            "viewId": "137687000001859029",
                            "viewName": "pivot1",
                            "viewType": "Pivot",
                            "workspaceId": "137687000001859022",
                            "workspaceName": "DBOwner-Backup",
                            "viewLastAccessedTime": "1622741261238"
                          }
                        ]
                      }
                    }
                  },
                  "sharedUserHistory": {
                    "description": "A shared user sees only the views they currently have access to. A view later unshared from them no longer appears here.",
                    "summary": "Shared user history",
                    "value": {
                      "status": "success",
                      "summary": "Get recent views",
                      "data": {
                        "views": [
                          {
                            "viewId": "138022000000002005",
                            "viewName": "Sales",
                            "viewType": "Table",
                            "workspaceId": "138022000000002015",
                            "workspaceName": "SharedUser Sales",
                            "viewLastAccessedTime": "1607076349147"
                          },
                          {
                            "viewId": "138022000000002105",
                            "viewName": "Cost Across Years by Region",
                            "viewType": "AnalysisView",
                            "workspaceId": "138022000000002015",
                            "workspaceName": "SharedUser Sales",
                            "viewLastAccessedTime": "1606987675756"
                          }
                        ]
                      }
                    }
                  },
                  "noRecentViews": {
                    "description": "A user who has not opened any view yet receives an empty array with HTTP 200 rather than an error.",
                    "summary": "No history",
                    "value": {
                      "status": "success",
                      "summary": "Get recent views",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/{column-id}/autoanalyse": {
      "post": {
        "tags": [
          "Auto Analysis"
        ],
        "summary": "Auto Analyse Column",
        "description": "Runs auto analysis on a single column of a table and creates a focused set of views for it - a category breakdown for a dimension column such as Region, or a trend over time for a date column such as Order Date.\n\nUnlike the full-table Auto Analyse View API, this operation keeps no record of having been run, so there is no re-run guard and no `analyseAgain` attribute. Each call produces a fresh set of views for the column and may be repeated freely, which makes it suited to exploring one column after a data or schema change.\n\nThe API works on Tables, Query Tables and Pipeline Tables only, and not every column type is eligible.\n\n**Notes**\n\n> Note:\n>\n> - This API has no CONFIG parameter. The only inputs are the **workspace-id**, **view-id** and **column-id** path parameters, so no Content-Type header is required.\n> - Only Tables, Query Tables and Pipeline Tables can be analysed. Passing any other view type as **view-id** fails with error 7397.\n> - Column-level analysis keeps no completion state, so there is no equivalent of the **analyseAgain** guard used by the Auto Analyse View API. Every call runs fresh.\n> - Repeated calls on the same column each succeed and accumulate views. Delete the previously generated column views manually if the duplicates are not wanted.\n> - Not every column is eligible. Auto-Number, Multi-Line Text, URL and Geometry columns are unsupported, as are hidden columns and system columns such as the row ID. An ineligible column fails with error 8116.\n> - A column that has been disabled in a Query Table definition cannot be analysed and fails with error 14037. Enable it in the query table configuration first, or choose another column.\n> - A Geo Number latitude or longitude column is eligible only when both are present and visible as a pair. A lone latitude or longitude column cannot be analysed on its own.\n> - The views generated are targeted at the selected column - a category breakdown for a dimension column, a time series for a date column - rather than the comprehensive set produced by the Auto Analyse View API.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7104 | View, or table, not found. | Verify that the view-id exists in the specified workspace. |\n| 7107 | Column not found in the specified table. | Verify that the column-id belongs to the table identified by the view-id. |\n| 7301 | The user does not have Create Report permission on the workspace. | Ensure the user is a Workspace Admin, Account Admin, Organization Admin, or has been granted Create Report permission on this workspace. |\n| 7319 | The view does not belong to the specified workspace. | Verify that the workspace-id and the view-id are correct and consistent. |\n| 7397 | The view is not a Table, Query Table, or Pipeline Table. | Auto analysis works on base table types only. Pass the ID of a valid table view. |\n| 8116 | The selected column type is not supported for auto analysis, such as an Auto-Number, Multi-Line Text, URL or Geometry column, or a hidden or system column. | Choose an eligible column. The unsupported column characteristics are listed in the notes for this API. |\n| 14037 | The column is disabled in its Query Table definition and cannot be used for analysis. | Enable the column in the query table configuration, or choose a different column. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.modeling.create scope. |",
        "operationId": "autoAnalyseColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "$ref": "#/components/parameters/column-id"
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The views were generated for the column.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoAnalyseResponse"
                },
                "examples": {
                  "reportsGenerated": {
                    "description": "The same body is returned whatever the type of the analysed column. A dimension column and a date column both report success this way, though the views created differ.",
                    "summary": "Reports generated",
                    "value": {
                      "status": "success",
                      "summary": "Auto Generate Reports",
                      "data": {
                        "status": "Reports generated successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/autoanalyse": {
      "post": {
        "tags": [
          "Auto Analysis"
        ],
        "summary": "Auto Analyse View",
        "description": "Runs auto analysis on an entire table. Every column is scanned, the role of each is inferred - dimension or measure, geographic, temporal - and a curated set of views is created directly in the workspace.\n\nThe operation tracks its own completion state. Once a table has been analysed successfully it is marked internally as analysed, and a second call is rejected with error 8116 unless `analyseAgain` is set to `true`. That guard exists to stop auto-generated views being duplicated by an accidental repeat call; setting the flag signals deliberate intent, and the previous set of views is then replaced rather than added to.\n\nThe API works on Tables, Query Tables and Pipeline Tables only.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7104 | View, or table, not found. | Verify that the view-id exists in the specified workspace. |\n| 7301 | The user does not have Create Report permission on the workspace. | Ensure the user is a Workspace Admin, Account Admin, Organization Admin, or has been granted Create Report permission on this workspace. |\n| 7319 | The view does not belong to the specified workspace. | Verify that the workspace-id and the view-id are correct and consistent. |\n| 7397 | The view is not a Table, Query Table, or Pipeline Table. | Auto analysis works on base table types only. Pass the ID of a valid table view. |\n| 8116 | Auto analysis has already been completed for this table and analyseAgain was not set to true. | Send CONFIG with analyseAgain as true to re-run the analysis and replace the previously generated views. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.modeling.create scope. |",
        "operationId": "autoAnalyseView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AutoAnalyseViewConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "firstAnalysis": {
                  "description": "Runs auto analysis on a table for the first time. Sending analyseAgain as false is the explicit form of the default, and is equivalent to omitting the CONFIG parameter entirely.",
                  "summary": "First analysis",
                  "value": {
                    "CONFIG": {
                      "analyseAgain": false
                    }
                  }
                },
                "reAnalysis": {
                  "description": "Re-runs auto analysis on a table that has already been analysed, for instance after new columns were added or the SQL of a query table was changed. The earlier set of auto-generated views is replaced.",
                  "summary": "Re-run analysis",
                  "value": {
                    "CONFIG": {
                      "analyseAgain": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The views were generated for the table.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoAnalyseResponse"
                },
                "examples": {
                  "reportsGenerated": {
                    "description": "The same body is returned for a first-time run and for a re-run with analyseAgain as true. The difference lies in the request, not the response.",
                    "summary": "Reports generated",
                    "value": {
                      "status": "success",
                      "summary": "Auto Generate Reports",
                      "data": {
                        "status": "Reports generated successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/favorite": {
      "post": {
        "tags": [
          "View Preferences"
        ],
        "summary": "Add Favorite View",
        "description": "Marks the specified view as a favorite for the authenticated user.\n\nThe favorite status is a per-user preference - marking a view as a favorite does not change what any other user sees. Once the view is marked, the `isFavorite` field returned by the listing APIs such as Get All Dashboards and Get Shared Dashboards reads `true` for the same user.\n\nThe call is idempotent. Marking a view that the user has already marked as a favorite succeeds silently without raising an error.\n\n**Notes**\n\n> Note:\n>\n> - The favorite status is stored per user. Marking or unmarking a view has no effect on any other user's preferences.\n> - The authenticated user must have at least Read Only permission on the view. Account Admins, Organization Admins, Workspace Admins and view owners qualify by default.\n> - Any view type the user can access can be marked as a favorite - Tables, Analysis Views, Pivot Tables, Summary Views, Query Tables and Dashboards.\n> - This API has no CONFIG parameter. The only inputs are the **workspace-id** and **view-id** path parameters, so no Content-Type header is required.\n> - The API is idempotent and returns HTTP 204 No Content with an empty body on success.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7104 | View not found. | Verify that the view-id exists in the specified workspace. |\n| 7301 | The user does not have permission to modify the favorite status of this view. | Ensure the user has at least Read Only permission on the view. |\n| 7319 | The specified view does not belong to the specified workspace. | Ensure that the workspace-id and the view-id are consistent and correct. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired token with the ZohoAnalytics.metadata.update scope. |",
        "operationId": "addFavoriteView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The view was marked as a favorite for the authenticated user."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "View Preferences"
        ],
        "summary": "Remove Favorite View",
        "description": "Removes the specified view from the favorites list of the authenticated user.\n\nThe favorite status is a per-user preference - unmarking a view does not change what any other user sees. Once the view is unmarked, the `isFavorite` field returned by the listing APIs such as Get All Dashboards and Get Shared Dashboards reads `false` or is omitted for the same user.\n\nThe call is idempotent. Removing a view that is not currently a favorite succeeds silently without raising an error.\n\n**Notes**\n\n> Note:\n>\n> - The favorite status is stored per user. Marking or unmarking a view has no effect on any other user's preferences.\n> - The authenticated user must have at least Read Only permission on the view. Account Admins, Organization Admins, Workspace Admins and view owners qualify by default.\n> - Any view type the user can access can be marked as a favorite - Tables, Analysis Views, Pivot Tables, Summary Views, Query Tables and Dashboards.\n> - This API has no CONFIG parameter. The only inputs are the **workspace-id** and **view-id** path parameters, so no Content-Type header is required.\n> - The API is idempotent and returns HTTP 204 No Content with an empty body on success.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7104 | View not found. | Verify that the view-id exists in the specified workspace. |\n| 7301 | The user does not have permission to modify the favorite status of this view. | Ensure the user has at least Read Only permission on the view. |\n| 7319 | The specified view does not belong to the specified workspace. | Ensure that the workspace-id and the view-id are consistent and correct. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired token with the ZohoAnalytics.metadata.update scope. |",
        "operationId": "removeFavoriteView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The view was removed from the favorites of the authenticated user."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get Tags List",
        "description": "Returns every tag that exists in the workspace, with its identifier, name and colour code.\n\nA tag is listed whether or not it is attached to any view. To find out which views a tag labels, use the Get Tagged Views API. Every user who can open the workspace can read the list, including shared users on custom roles.\n\n**Notes**\n\n> Note:\n>\n> - Any user with access to the workspace can invoke this API - Account Admins, Organization Admins, Workspace Admins and every shared user, including users holding a custom role.\n> - This API lists tags, not associations. A tag appears here whether or not it is attached to a view. Use the Get Tagged Views API to find out what a tag labels.\n> - The **id** values returned here are the tag-id path parameter of the Update Tag, Delete Tag, Get Tagged Views, Add Tag To Multiple Views and Remove Tag From Multiple Views APIs, and the **tagIds** entries of the Add Multiple Tags To View and Remove Multiple Tags From View APIs.\n> - There is no lookup-by-name API. To resolve a tag name to an identifier, list the tags and match client-side.\n> - The list is not paginated and its order is not guaranteed. Sort client-side if presentation order matters.\n> - An empty **tags** array is a success, not an error. It means the workspace has no tags yet.\n> - This API is available in Client Portal (White Label) contexts, subject to the same permissions.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace-id in the URL is correct and accessible. |\n| 7301 | The calling user has no access to the workspace. | Ensure the workspace is shared with the calling user. |\n| 7390 | The workspace does not belong to the organization in the ZANALYTICS-ORGID header. | Send the organization ID that owns the workspace. |\n| 8083 | The ZANALYTICS-ORGID header is missing. | Add the ZANALYTICS-ORGID header to the request. |\n| 8535 | Invalid or expired OAuth token. | Provide a valid token with the ZohoAnalytics.metadata.read scope. |",
        "operationId": "getTags",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The tags defined in the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTagsResponse"
                },
                "examples": {
                  "workspaceTags": {
                    "description": "Workspace holding four tags. Two of them share the same colour - colours are not unique.",
                    "summary": "Workspace tags",
                    "value": {
                      "status": "success",
                      "summary": "Get tags",
                      "data": {
                        "tags": [
                          {
                            "id": "320873000000425158",
                            "name": "Finance",
                            "colorCode": "#e72d35"
                          },
[...]
