{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Reports and Dashboards in Zoho Analytics - covering the creation, update and metadata retrieval of analysis views, and the listing, creation, metadata retrieval and update of dashboards."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Reports",
      "x-zenesis-description-pageName": "Reports Overview",
      "description": "APIs for creating a report (chart, pivot or summary view) on an existing table, reading the stored definition back, and rebuilding it. A report is also called a visual, an analysis view or simply a view in API responses and error messages.\n\nA report is defined almost entirely by its drop fields - the `axisColumns` array, where each entry says which column goes on which shelf with which operation; filters, user filters, window functions and formatting hang off that core. The three endpoints are not available on white-label / custom domains, and Update is a full replacement, never a patch."
    },
    {
      "name": "Dashboard",
      "x-zenesis-description-pageName": "Dashboards Overview",
      "description": "APIs for creating a dashboard, reading its stored layout, settings and themes, replacing any of those three sections, and listing the dashboards a user owns or can see. A dashboard is a canvas of cards on a fixed 80-unit-wide grid; `layout` travels as a JSON-encoded string on write and comes back as an object on read. Tabbed dashboards cannot be managed through these APIs (7511)."
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/reports": {
      "post": {
        "tags": [
          "Reports"
        ],
        "x-zenesis-title": "Create Report",
        "summary": "Create Report",
        "description": "Builds a new chart, pivot or summary view on an existing table and returns its view ID.\n\nPermission required: Workspace Admin / Organization Admin, or a shared or group user holding Create Report permission on the base table.",
        "operationId": "createReport",
        "x-zenesis-sections": {
          "apiRequest": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "orgIdHeader",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a workspace-scoped API. The <b>ZANALYTICS-ORGID</b> header carrying the organization ID that owns the workspace is mandatory.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "customDomainDisabled",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis API is not available on white-label / custom domains. Call the standard REST host for your data centre (<b>analyticsapi.zoho.com</b>, <b>analyticsapi.zoho.eu</b>, ...).\n</span></blockquote>"
            }
          },
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "configUrlEncoded",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter must be sent as a URL encoded JSON string in a form field named <b>CONFIG</b>, with the content type <b>application/x-www-form-urlencoded</b>.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "chartOnlyAttributes",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<b>chartType</b>, <b>isAxisMerge</b> and <b>mergeAxisInfo</b> apply only when <b>reportType</b> is chart. <b>mergeAxisInfo</b> is required when merging and <b>isAxisMerge</b> must be true whenever it is non-empty.\n</span></blockquote>"
            },
            "3": {
              "type": "editor",
              "x-zenesis-shared-note": "configSizeLimit",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter has a maximum encoded size of 10,000,000 characters. Each of <b>axisColumns</b>, <b>filters</b> and <b>userFilters</b> holds at most 1000 entries (8052).\n</span></blockquote>"
            }
          },
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "axisTypeCasing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nAxis <b>type</b> values are returned in lowercase (<b>xaxis</b>, <b>yaxis</b>, <b>coloraxis</b>, <b>textaxis</b>, <b>groupby</b>, <b>tooltip</b>, <b>latlng</b>) whatever casing was sent; all of those are accepted on write. A <b>tooltip</b> column may be returned as <b>group</b>, which Create and Update reject with 8509.\n</span></blockquote>"
            }
          }
        },
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace in which the analysis view is created.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateReportConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "barChartRegionOnXAndSummedSalesOnY": {
                  "description": "Bar chart, region on X and summed sales on Y",
                  "summary": "Bar chart, region on X and summed sales on Y, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales by Region",
                      "reportType": "chart",
                      "chartType": "bar",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Region",
                          "operation": "actual"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum",
                          "sort": "desc"
                        }
                      ]
                    }
                  }
                },
                "chartWithAStaticFilterAndAUserFilter": {
                  "description": "Chart with a static filter and a user filter",
                  "summary": "Chart with a static filter and a user filter, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales Trend",
                      "description": "Monthly trend, excluding returns",
                      "folderId": 466206000000094005,
                      "reportType": "chart",
                      "chartType": "line",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Order Date",
                          "operation": "monthyear"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "filters": [
                        {
                          "columnName": "Status",
                          "tableName": "Sales",
                          "operation": "actual",
                          "filterType": "individualvalues",
                          "values": [
                            "Returned"
                          ],
                          "exclude": true
                        }
                      ],
                      "userFilters": [
                        {
                          "columnName": "Product Category",
                          "tableName": "Sales",
                          "operation": "actual",
                          "compType": "multiSelect",
                          "filterType": "individualvalues",
                          "isallval": false,
                          "values": [
                            "Furniture",
                            "Grocery"
                          ],
                          "defaultFilterValues": [
                            "Furniture"
                          ],
                          "behaviour": "ListAllValues"
                        }
                      ]
                    }
                  }
                },
                "pivotWithATheme": {
                  "description": "Pivot with a theme",
                  "summary": "Pivot with a theme, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales Pivot",
                      "reportType": "pivot",
                      "axisColumns": [
                        {
                          "type": "row",
                          "columnName": "Region",
                          "operation": "actual"
                        },
                        {
                          "type": "column",
                          "columnName": "Order Date",
                          "operation": "year"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "settings": {
                        "themes": {
                          "themeType": 3,
                          "themeColor": "#2A6FDB",
                          "themeFontSize": 12
                        }
                      }
                    }
                  }
                },
                "summaryReport": {
                  "description": "Summary report",
                  "summary": "Summary report, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales Summary",
                      "reportType": "summary",
                      "axisColumns": [
                        {
                          "type": "groupBy",
                          "columnName": "Region",
                          "operation": "actual"
                        },
                        {
                          "type": "summarize",
                          "columnName": "Sales",
                          "operation": "sum"
                        },
                        {
                          "type": "summarize",
                          "columnName": "Profit",
                          "operation": "average"
                        }
                      ]
                    }
                  }
                },
                "runningTotalWithAWindowFunction": {
                  "description": "Running total with a window function",
                  "summary": "Running total with a window function, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Cumulative Sales",
                      "reportType": "chart",
                      "chartType": "line",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Order Date",
                          "operation": "monthyear"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum",
                          "windowFunction": {
                            "type": "runtotal"
                          }
                        }
                      ]
                    }
                  }
                },
                "mapChartWithGeoRoles": {
                  "description": "Map chart with geo roles",
                  "summary": "Map chart with geo roles, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Sales by Country",
                      "reportType": "chart",
                      "chartType": "map area",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Country",
                          "operation": "geo",
                          "geoRole": "country"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ]
                    }
                  }
                },
                "wildcardFilter": {
                  "description": "Wildcard filter",
                  "summary": "Wildcard filter, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "title": "Enterprise Accounts",
                      "reportType": "chart",
                      "chartType": "bar",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Customer",
                          "operation": "actual"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "filters": [
                        {
                          "columnName": "Customer",
                          "operation": "actual",
                          "filterType": "wildcard",
                          "exclude": false,
                          "values": [],
                          "wildcard": {
                            "criteria": [
                              {
                                "operation": "CONTAINS",
                                "value": "Corp"
                              },
                              {
                                "operation": "STARTS_WITH",
                                "value": "Acme"
                              }
                            ],
                            "expression": "(1 OR 2)"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The report was created. The summary string varies with reportType: Create Chart View, Create Pivot View or Create Summary View.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                },
                "examples": {
                  "success": {
                    "description": "Success",
                    "summary": "A successful response, as shown in the API reference.",
                    "value": {
                      "status": "success",
                      "summary": "Create Chart View",
                      "data": {
                        "viewId": "466206000000105001"
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "8504",
                "description": "baseTableName is absent, or the CONFIG parameter itself is missing.",
                "resolution": "Send CONFIG with baseTableName."
              },
              {
                "name": "7138",
                "description": "baseTableName does not resolve to a table in this workspace.",
                "resolution": "Use the exact table display name."
              },
              {
                "name": "7016",
                "description": "title is empty or whitespace-only.",
                "resolution": "Supply a non-empty title."
              },
              {
                "name": "7111",
                "description": "A view with this title already exists in the workspace.",
                "resolution": "Choose a unique title."
              },
              {
                "name": "8507",
                "description": "title exceeds 100 characters, description exceeds 250, or an axis displayName exceeds 250.",
                "resolution": "Shorten the value."
              },
              {
                "name": "8252",
                "description": "reportType is absent or null.",
                "resolution": "Supply chart, pivot or summary."
              },
              {
                "name": "8092",
                "description": "reportType resolves to a view kind that cannot be saved standalone.",
                "resolution": "Use chart, pivot or summary."
              },
              {
                "name": "8144",
                "description": "chartType is not a recognised chart name.",
                "resolution": "See Appendix A."
              },
              {
                "name": "8147",
                "description": "settings was supplied for a non-pivot report.",
                "resolution": "Remove settings, or change reportType to pivot."
              },
              {
                "name": "7362",
                "description": "folderId does not exist in the workspace.",
                "resolution": "Supply a valid folder ID or omit the key."
              },
              {
                "name": "8051",
                "description": "A required field is missing — title, reportType, axisColumns, or a mandatory key inside an axis/filter object.",
                "resolution": "Add the missing field."
              },
              {
                "name": "8050",
                "description": "A value is invalid — unknown columnName, an operation incompatible with the column, a null axisColumns.",
                "resolution": "Check column names and operations."
              },
              {
                "name": "8052",
                "description": "More than 1000 entries in axisColumns, filters or userFilters.",
                "resolution": "Reduce the array size."
              },
              {
                "name": "8170",
                "description": "An axis type is not valid for the chosen reportType.",
                "resolution": "See Appendix B."
              },
              {
                "name": "7701",
                "description": "A chart report has no X-axis or no Y-axis column.",
                "resolution": "Add at least one of each."
              },
              {
                "name": "7703",
                "description": "A colorAxis column is present alongside more than one Y-axis column.",
                "resolution": "Drop the colour axis, or reduce to one Y axis."
              },
              {
                "name": "7727",
                "description": "More than 15 Y-axis columns on a chart.",
                "resolution": "Reduce to 15 or fewer."
              },
              {
                "name": "8021",
                "description": "The pivot or summary structure is invalid — no data column in a pivot, too many data or groupBy columns, or a column in a position its type cannot occupy. On Update, also raised when reportType does not match the stored view's type.",
                "resolution": "Review the axis configuration."
              },
              {
                "name": "8166",
                "description": "The operation is incompatible with the column's data type.",
                "resolution": "See Appendix C."
              },
              {
                "name": "8167",
                "description": "The filterType is not valid for the column type + operation combination.",
                "resolution": "See Appendix D."
              },
              {
                "name": "8168",
                "description": "A values entry does not match the expected format for the filterType.",
                "resolution": "See Appendix E."
              },
              {
                "name": "8191",
                "description": "An invalid date value was supplied to a date filter.",
                "resolution": "Use the documented date formats."
              },
              {
                "name": "8057",
                "description": "The column named in windowFunction.baseField cannot be used as a base field here.",
                "resolution": "Choose a different reference column."
              },
              {
                "name": "8059",
                "description": "The tableName is not part of the workspace or is not joined to the base table.",
                "resolution": "Use a table reachable through the join graph."
              },
              {
                "name": "8162",
                "description": "rangeSize was supplied as a string, or on an operation that does not support ranges.",
                "resolution": "Send a JSON number, and only with range grouping."
              },
              {
                "name": "8516",
                "description": "rangeSize was supplied as an array.",
                "resolution": "Send a plain number."
              },
              {
                "name": "8250",
                "description": "compType is not applicable to the column category — e.g. slider on a dimension, singleSelect on a measure.",
                "resolution": "Match the widget to the column type."
              },
              {
                "name": "8253",
                "description": "A mandatory userFilters key is missing, typically compType or filterType.",
                "resolution": "Add the missing key."
              },
              {
                "name": "8008",
                "description": "behaviour was supplied on a daterange or relative user filter.",
                "resolution": "Remove behaviour."
              },
              {
                "name": "8254",
                "description": "A geoRole value is wrong for the column type.",
                "resolution": "latitude/longitude for numeric columns; place roles for text columns."
              },
              {
                "name": "8255",
                "description": "geoRole was supplied on a column that cannot be geocoded.",
                "resolution": "Remove geoRole, or use a geocodable column."
              },
              {
                "name": "8256",
                "description": "More than one geo operation on the same axis.",
                "resolution": "Keep one geo column per axis."
              },
              {
                "name": "8257",
                "description": "A numeric geo column coexists with a categorical geo column.",
                "resolution": "Use one or the other."
              },
              {
                "name": "8258",
                "description": "A categorical geo column was placed on an axis other than X.",
                "resolution": "Move it to xAxis."
              },
              {
                "name": "8509",
                "description": "An enumerated or pattern-constrained value does not match — reportType: \"Chart\" (must be lowercase), type: \"sizeAxis\" (must be sizeaxis), sort: \"descending\", a wildcard expression without parentheses.",
                "resolution": "Use the exact accepted values."
              },
              {
                "name": "8517",
                "description": "A field has the wrong JSON data type — exclude: \"yes\", isAxisMerge: \"maybe\", compType: 123.",
                "resolution": "Use real JSON booleans and strings."
              },
              {
                "name": "8534",
                "description": "CONFIG is malformed, or a key has the wrong structural type — axisColumns as {}, mergeAxisInfo as an object, values as a bare string.",
                "resolution": "Arrays must be [], objects {}."
              },
              {
                "name": "8542",
                "description": "An unknown key is present in CONFIG, or a windowFunction is mis-configured.",
                "resolution": "Remove the key; check windowFunction.type against the list."
              },
              {
                "name": "7005",
                "description": "A null element inside axisColumns or filters.",
                "resolution": "Ensure every array element is a JSON object."
              },
              {
                "name": "7301",
                "description": "The caller lacks Create Report permission on the workspace.",
                "resolution": "Grant the permission."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Refresh with scope ZohoAnalytics.modeling.create."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/reports/{view-id}": {
      "put": {
        "tags": [
          "Reports"
        ],
        "x-zenesis-title": "Update Report",
        "summary": "Update Report",
        "description": "Rebuilds an existing report from a fresh CONFIG.\n\nPermission required: Design Modify on the report — the owner, a Workspace Admin, an Organization Admin, or a shared or group user granted edit rights.",
        "operationId": "updateReport",
        "x-zenesis-sections": {
          "apiInfo": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "reportFullReset",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nUpdate Report rebuilds the report from scratch on every call; there is no field-level patching.<ul><li>Omitting <b>filters</b> or <b>userFilters</b> removes them all.</li><li>Omitting <b>description</b> clears it.</li><li>Omitting <b>chartType</b> falls back to the server's BEST selection.</li><li><b>axisColumns</b> is mandatory.</li></ul>\n</span></blockquote>"
            }
          },
          "apiRequest": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "orgIdHeader",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a workspace-scoped API. The <b>ZANALYTICS-ORGID</b> header carrying the organization ID that owns the workspace is mandatory.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "customDomainDisabled",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis API is not available on white-label / custom domains. Call the standard REST host for your data centre (<b>analyticsapi.zoho.com</b>, <b>analyticsapi.zoho.eu</b>, ...).\n</span></blockquote>"
            }
          },
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "configUrlEncoded",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter must be sent as a URL encoded JSON string in a form field named <b>CONFIG</b>, with the content type <b>application/x-www-form-urlencoded</b>.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "chartOnlyAttributes",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<b>chartType</b>, <b>isAxisMerge</b> and <b>mergeAxisInfo</b> apply only when <b>reportType</b> is chart. <b>mergeAxisInfo</b> is required when merging and <b>isAxisMerge</b> must be true whenever it is non-empty.\n</span></blockquote>"
            },
            "3": {
              "type": "editor",
              "x-zenesis-shared-note": "configSizeLimit",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter has a maximum encoded size of 10,000,000 characters. Each of <b>axisColumns</b>, <b>filters</b> and <b>userFilters</b> holds at most 1000 entries (8052).\n</span></blockquote>"
            },
            "4": {
              "type": "editor",
              "x-zenesis-shared-note": "reportRoundTrip",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe <b>reportConfig</b> returned by Read Report Metadata is a summary of the stored definition, not a Create or Update payload. It omits <b>folderId</b>, <b>settings</b>, <b>drillActionConfig</b>, <b>modifiedPaths</b>, every per-column <b>displayName</b>, <b>sort</b>, <b>rangeSize</b>, <b>windowFunction</b>, <b>format</b> and <b>geoRole</b>, the <b>wildcard</b>, <b>rankingColumn</b> and <b>additionalDetails</b> of filters, and every user-filter key except <b>tableName</b>, <b>columnName</b> and <b>operation</b>. Remove <b>baseTableName</b> and add <b>reportType</b> before using it as an update payload; for anything beyond trivial edits keep the CONFIG you submitted at create time and modify that.\n</span></blockquote>"
            }
          },
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "noBody204",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis API returns no response body on success - only HTTP 204 No Content. Only failure responses carry a JSON error payload.\n</span></blockquote>"
            }
          }
        },
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the analysis view.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          },
          {
            "name": "view-id",
            "in": "path",
            "required": true,
            "description": "ID of the report (view) to update.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000105001"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateReportConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "changeTheChartTypeAndReSort": {
                  "description": "Change the chart type and re-sort",
                  "summary": "Change the chart type and re-sort, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "reportType": "chart",
                      "chartType": "stacked bar",
                      "description": "Monthly trend, excluding returns",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Order Date",
                          "operation": "monthyear"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "operation": "sum",
                          "sort": "asc"
                        }
                      ]
                    }
                  }
                },
                "widenAFilterKeepingEverythingElseNoteTha": {
                  "description": "Widen a filter, keeping everything else**\n\nNote that `userFilters` has to be re-sent in full even though it is unchanged; omitting it would delete it.\n\n```\nCONFIG={\n  \"reportType\": \"chart\",\n  \"chartType\": \"line\",\n  \"description\": \"Monthly trend, excluding returns\",\n  \"axisColumns\": [\n    { \"type\": \"xAxis\", \"columnName\": \"Order Date\", \"operation\": \"monthyear\" },\n    { \"type\": \"yAxis\", \"columnName\": \"Sales\", \"operation\": \"sum\" }\n  ],\n  \"filters\": [\n    { \"columnName\": \"Status\", \"operation\": \"actual\", \"filterType\": \"individualvalues\",\n      \"values\": [\"Returned\", \"Cancelled\"], \"exclude\": true }\n  ],\n  \"userFilters\": [\n    { \"columnName\": \"Product Category\", \"operation\": \"actual\",\n      \"compType\": \"multiSelect\", \"filterType\": \"individualvalues\", \"isallval\": true }\n  ]\n}\n```\n\n**Case 3 — Strip all filters off a report",
                  "summary": "Widen a filter, keeping everything else**\n\nNote that `userFilters` has to be re-sent in full even though it is unchanged; omitting it would delete it.\n\n```\nCONFIG={\n  \"reportType\": \"chart\",\n  \"chartType\": \"line\",\n  \"description\": \"Monthly trend, excluding returns\",\n  \"axisColumns\": [\n    { \"type\": \"xAxis\", \"columnName\": \"Order Date\", \"operation\": \"monthyear\" },\n    { \"type\": \"yAxis\", \"columnName\": \"Sales\", \"operation\": \"sum\" }\n  ],\n  \"filters\": [\n    { \"columnName\": \"Status\", \"operation\": \"actual\", \"filterType\": \"individualvalues\",\n      \"values\": [\"Returned\", \"Cancelled\"], \"exclude\": true }\n  ],\n  \"userFilters\": [\n    { \"columnName\": \"Product Category\", \"operation\": \"actual\",\n      \"compType\": \"multiSelect\", \"filterType\": \"individualvalues\", \"isallval\": true }\n  ]\n}\n```\n\n**Case 3 — Strip all filters off a report, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "reportType": "pivot",
                      "axisColumns": [
                        {
                          "type": "row",
                          "columnName": "Region",
                          "operation": "actual"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "operation": "sum"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "The analysis view was updated successfully. No response body is returned.",
            "x-zenesis-statuscodes": [
              {
                "name": "7104",
                "description": "The report does not exist, has been deleted, or the caller cannot edit it.",
                "resolution": "Verify <report-id> and the caller's permission."
              },
              {
                "name": "7106",
                "description": "The report does not exist, has been deleted, or the caller cannot edit it.",
                "resolution": "Verify <report-id> and the caller's permission."
              },
              {
                "name": "8021",
                "description": "reportType does not match the stored view's type, or the target is not an analysis view at all.",
                "resolution": "Send the report's actual type."
              },
              {
                "name": "8145",
                "description": "folderId was supplied.",
                "resolution": "Remove folderId — reports cannot be moved through this endpoint."
              },
              {
                "name": "8542",
                "description": "baseTableName, drillActionConfig, modifiedPaths or any other key outside the Update schema is present.",
                "resolution": "Remove the key."
              },
              {
                "name": "7301",
                "description": "The caller lacks Design Modify permission on the report.",
                "resolution": "Grant edit access."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Refresh with scope ZohoAnalytics.modeling.update."
              },
              {
                "name": "8504",
                "description": "baseTableName is absent, or the CONFIG parameter itself is missing.",
                "resolution": "Send CONFIG with baseTableName."
              },
              {
                "name": "7138",
                "description": "baseTableName does not resolve to a table in this workspace.",
                "resolution": "Use the exact table display name."
              },
              {
                "name": "7016",
                "description": "title is empty or whitespace-only.",
                "resolution": "Supply a non-empty title."
              },
              {
                "name": "7111",
                "description": "A view with this title already exists in the workspace.",
                "resolution": "Choose a unique title."
              },
              {
                "name": "8507",
                "description": "title exceeds 100 characters, description exceeds 250, or an axis displayName exceeds 250.",
                "resolution": "Shorten the value."
              },
              {
                "name": "8252",
                "description": "reportType is absent or null.",
                "resolution": "Supply chart, pivot or summary."
              },
              {
                "name": "8092",
                "description": "reportType resolves to a view kind that cannot be saved standalone.",
                "resolution": "Use chart, pivot or summary."
              },
              {
                "name": "8144",
                "description": "chartType is not a recognised chart name.",
                "resolution": "See Appendix A."
              },
              {
                "name": "8147",
                "description": "settings was supplied for a non-pivot report.",
                "resolution": "Remove settings, or change reportType to pivot."
              },
              {
                "name": "7362",
                "description": "folderId does not exist in the workspace.",
                "resolution": "Supply a valid folder ID or omit the key."
              },
              {
                "name": "8051",
                "description": "A required field is missing — title, reportType, axisColumns, or a mandatory key inside an axis/filter object.",
                "resolution": "Add the missing field."
              },
              {
                "name": "8050",
                "description": "A value is invalid — unknown columnName, an operation incompatible with the column, a null axisColumns.",
                "resolution": "Check column names and operations."
              },
              {
                "name": "8052",
                "description": "More than 1000 entries in axisColumns, filters or userFilters.",
                "resolution": "Reduce the array size."
              },
              {
                "name": "8170",
                "description": "An axis type is not valid for the chosen reportType.",
                "resolution": "See Appendix B."
              },
              {
                "name": "7701",
                "description": "A chart report has no X-axis or no Y-axis column.",
                "resolution": "Add at least one of each."
              },
              {
                "name": "7703",
                "description": "A colorAxis column is present alongside more than one Y-axis column.",
                "resolution": "Drop the colour axis, or reduce to one Y axis."
              },
              {
                "name": "7727",
                "description": "More than 15 Y-axis columns on a chart.",
                "resolution": "Reduce to 15 or fewer."
              },
              {
                "name": "8166",
                "description": "The operation is incompatible with the column's data type.",
                "resolution": "See Appendix C."
              },
              {
                "name": "8167",
                "description": "The filterType is not valid for the column type + operation combination.",
                "resolution": "See Appendix D."
              },
              {
                "name": "8168",
                "description": "A values entry does not match the expected format for the filterType.",
                "resolution": "See Appendix E."
              },
              {
                "name": "8191",
                "description": "An invalid date value was supplied to a date filter.",
                "resolution": "Use the documented date formats."
              },
              {
                "name": "8057",
                "description": "The column named in windowFunction.baseField cannot be used as a base field here.",
                "resolution": "Choose a different reference column."
              },
              {
                "name": "8059",
                "description": "The tableName is not part of the workspace or is not joined to the base table.",
                "resolution": "Use a table reachable through the join graph."
              },
              {
                "name": "8162",
                "description": "rangeSize was supplied as a string, or on an operation that does not support ranges.",
                "resolution": "Send a JSON number, and only with range grouping."
              },
              {
                "name": "8516",
                "description": "rangeSize was supplied as an array.",
                "resolution": "Send a plain number."
              },
              {
                "name": "8250",
                "description": "compType is not applicable to the column category — e.g. slider on a dimension, singleSelect on a measure.",
                "resolution": "Match the widget to the column type."
              },
              {
                "name": "8253",
                "description": "A mandatory userFilters key is missing, typically compType or filterType.",
                "resolution": "Add the missing key."
              },
              {
                "name": "8008",
                "description": "behaviour was supplied on a daterange or relative user filter.",
                "resolution": "Remove behaviour."
              },
              {
                "name": "8254",
                "description": "A geoRole value is wrong for the column type.",
                "resolution": "latitude/longitude for numeric columns; place roles for text columns."
              },
              {
                "name": "8255",
                "description": "geoRole was supplied on a column that cannot be geocoded.",
                "resolution": "Remove geoRole, or use a geocodable column."
              },
              {
                "name": "8256",
                "description": "More than one geo operation on the same axis.",
                "resolution": "Keep one geo column per axis."
              },
              {
                "name": "8257",
                "description": "A numeric geo column coexists with a categorical geo column.",
                "resolution": "Use one or the other."
              },
              {
                "name": "8258",
                "description": "A categorical geo column was placed on an axis other than X.",
                "resolution": "Move it to xAxis."
              },
              {
                "name": "8509",
                "description": "An enumerated or pattern-constrained value does not match — reportType: \"Chart\" (must be lowercase), type: \"sizeAxis\" (must be sizeaxis), sort: \"descending\", a wildcard expression without parentheses.",
                "resolution": "Use the exact accepted values."
              },
              {
                "name": "8517",
                "description": "A field has the wrong JSON data type — exclude: \"yes\", isAxisMerge: \"maybe\", compType: 123.",
                "resolution": "Use real JSON booleans and strings."
              },
              {
                "name": "8534",
                "description": "CONFIG is malformed, or a key has the wrong structural type — axisColumns as {}, mergeAxisInfo as an object, values as a bare string.",
                "resolution": "Arrays must be [], objects {}."
              },
              {
                "name": "7005",
                "description": "A null element inside axisColumns or filters.",
                "resolution": "Ensure every array element is a JSON object."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/reports/{view-id}/metadata": {
      "get": {
        "tags": [
          "Reports"
        ],
        "x-zenesis-title": "Read Report Metadata",
        "summary": "Read Report Metadata",
        "description": "Returns the stored definition of a chart, pivot or summary view.\n\nPermission required: Design Modify on the report. A read-only shared user cannot call this endpoint.",
        "operationId": "getReportMetadata",
        "x-zenesis-sections": {
          "apiRequest": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "orgIdHeader",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a workspace-scoped API. The <b>ZANALYTICS-ORGID</b> header carrying the organization ID that owns the workspace is mandatory.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "customDomainDisabled",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis API is not available on white-label / custom domains. Call the standard REST host for your data centre (<b>analyticsapi.zoho.com</b>, <b>analyticsapi.zoho.eu</b>, ...).\n</span></blockquote>"
            }
          },
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "reportRoundTrip",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe <b>reportConfig</b> returned by Read Report Metadata is a summary of the stored definition, not a Create or Update payload. It omits <b>folderId</b>, <b>settings</b>, <b>drillActionConfig</b>, <b>modifiedPaths</b>, every per-column <b>displayName</b>, <b>sort</b>, <b>rangeSize</b>, <b>windowFunction</b>, <b>format</b> and <b>geoRole</b>, the <b>wildcard</b>, <b>rankingColumn</b> and <b>additionalDetails</b> of filters, and every user-filter key except <b>tableName</b>, <b>columnName</b> and <b>operation</b>. Remove <b>baseTableName</b> and add <b>reportType</b> before using it as an update payload; for anything beyond trivial edits keep the CONFIG you submitted at create time and modify that.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "axisTypeCasing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nAxis <b>type</b> values are returned in lowercase (<b>xaxis</b>, <b>yaxis</b>, <b>coloraxis</b>, <b>textaxis</b>, <b>groupby</b>, <b>tooltip</b>, <b>latlng</b>) whatever casing was sent; all of those are accepted on write. A <b>tooltip</b> column may be returned as <b>group</b>, which Create and Update reject with 8509.\n</span></blockquote>"
            }
          }
        },
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the analysis view.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          },
          {
            "name": "view-id",
            "in": "path",
            "required": true,
            "description": "ID of the report (view) whose metadata is returned.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000105001"
              ]
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The stored definition of the report, as a summary. Calling this on a table, query table, dashboard or any non-analysis view raises 8021.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReportMetadataResponse"
                },
                "examples": {
                  "success": {
                    "description": "Success",
                    "summary": "A successful response, as shown in the API reference.",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Sales Trend",
                          "description": "Monthly trend, excluding returns",
                          "reportType": "chart",
                          "chartType": "line",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Order Date",
                              "tableName": "Sales",
                              "operation": "monthyear"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ],
                          "filters": [
                            {
                              "tableName": "Sales",
                              "columnName": "Status",
                              "operation": "actual",
                              "filterType": "individualvalues",
                              "values": [
                                "Returned"
                              ],
                              "exclude": true
                            }
                          ],
                          "userFilters": [
                            {
                              "tableName": "Sales",
                              "columnName": "Product Category",
                              "operation": "actual"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify <workspace-id>."
              },
              {
                "name": "7104",
                "description": "The report does not exist or has been deleted.",
                "resolution": "Verify <report-id>."
              },
              {
                "name": "7106",
                "description": "The report does not exist or has been deleted.",
                "resolution": "Verify <report-id>."
              },
              {
                "name": "7319",
                "description": "The report belongs to a different workspace.",
                "resolution": "Make the two path IDs consistent."
              },
              {
                "name": "8021",
                "description": "The target is not a chart, pivot or summary view.",
                "resolution": "Use a report ID, not a table or dashboard."
              },
              {
                "name": "7301",
                "description": "The caller lacks Design Modify permission on the report.",
                "resolution": "Grant edit access."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Refresh with scope ZohoAnalytics.modeling.read."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "x-zenesis-title": "Get All Dashboards",
        "summary": "Get All Dashboards",
        "description": "Returns all dashboards accessible to the authenticated user - both those owned by the user and those shared with them - across every organization and workspace. The response groups the results into two separate lists, `ownedViews` and `sharedViews`.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user may be any active Zoho Analytics user.",
        "operationId": "getDashboards",
        "x-zenesis-sections": {
          "apiInfo": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "userScopeListing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a user service level API - it returns dashboards across every organization the caller belongs to.<ul><li>The <b>ZANALYTICS-ORGID</b> header is not required.</li><li>The OAuth token must be issued with user level scope.</li></ul>\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardCustomDomain",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nGet Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n</span></blockquote>"
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardsResponse"
                },
                "examples": {
                  "ownedAndShared": {
                    "description": "Owned and shared",
                    "summary": "The user owns two dashboards and has one more shared with them.",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000108003",
                            "viewName": "Marketing Campaign Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071000",
                            "createdTime": "1720080000000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1720080000000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ],
                        "sharedViews": [
                          {
                            "viewId": "466206000000200010",
                            "viewName": "Finance Overview",
                            "viewDesc": "Finance team quarterly dashboard",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000190001",
                            "createdTime": "1718640000000",
                            "createdBy": "bob@example.com",
                            "lastModifiedTime": "1721001600000",
                            "lastModifiedBy": "bob@example.com",
                            "isFavorite": false,
                            "sharedBy": "bob@example.com",
                            "workspaceId": "466206000000190000",
                            "orgId": "700000123456"
                          }
                        ]
                      }
                    }
                  },
                  "ownedOnly": {
                    "description": "Owned only",
                    "summary": "The user owns one dashboard and nothing has been shared with them, so sharedViews comes back empty.",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ],
                        "sharedViews": []
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "No dashboards",
                    "summary": "The user has no dashboards at all and both lists come back empty.",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [],
                        "sharedViews": []
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7301",
                "description": "User does not have permission to retrieve dashboards.",
                "resolution": "Ensure the request uses a valid OAuth token for an active Zoho Analytics user."
              },
              {
                "name": "8535",
                "description": "Invalid OAuth token.",
                "resolution": "Provide a valid, non-expired OAuth token in the Authorization header."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards/owned": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "x-zenesis-title": "Get Owned Dashboards",
        "summary": "Get Owned Dashboards",
        "description": "Returns the list of dashboards owned by the authenticated user across every organization, as a single `views` array.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user must be an Account Admin.",
        "operationId": "getOwnedDashboards",
        "x-zenesis-sections": {
          "apiInfo": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "userScopeListing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a user service level API - it returns dashboards across every organization the caller belongs to.<ul><li>The <b>ZANALYTICS-ORGID</b> header is not required.</li><li>The OAuth token must be issued with user level scope.</li></ul>\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardCustomDomain",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nGet Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n</span></blockquote>"
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardListResponse"
                },
                "examples": {
                  "multipleWorkspaces": {
                    "description": "Multiple workspaces",
                    "summary": "The Account Admin owns dashboards in two different workspaces and organizations.",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000305020",
                            "viewName": "HR Headcount Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000300000",
                            "createdTime": "1716912000000",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1720339200000",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000300000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "singleDashboard": {
                    "description": "Single dashboard",
                    "summary": "The Account Admin owns one dashboard.",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000108003",
                            "viewName": "Marketing Campaign Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071000",
                            "createdTime": "1720080000000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1720080000000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ]
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "No dashboards",
                    "summary": "The Account Admin owns no dashboards and the list comes back empty.",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7301",
                "description": "User does not have permission to retrieve owned dashboards.",
                "resolution": "Ensure the authenticated user is an Account Admin."
              },
              {
                "name": "8535",
                "description": "Invalid OAuth token.",
                "resolution": "Provide a valid, non-expired OAuth token in the Authorization header."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards/shared": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "x-zenesis-title": "Get Shared Dashboards",
        "summary": "Get Shared Dashboards",
        "description": "Returns all dashboards that have been shared with the authenticated user across every organization and workspace, as a single `views` array. Unlike Get All Dashboards, this endpoint returns only shared dashboards, and it is also available on custom domains.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user may be any active Zoho Analytics user.",
        "operationId": "getSharedDashboards",
        "x-zenesis-sections": {
          "apiInfo": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "userScopeListing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a user service level API - it returns dashboards across every organization the caller belongs to.<ul><li>The <b>ZANALYTICS-ORGID</b> header is not required.</li><li>The OAuth token must be issued with user level scope.</li></ul>\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardCustomDomain",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nGet Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n</span></blockquote>"
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardListResponse"
                },
                "examples": {
                  "multipleShared": {
                    "description": "Multiple shared",
                    "summary": "Two dashboards from different organizations have been shared with the user; sharedBy carries the email of each sharer.",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000200010",
                            "viewName": "Finance Overview",
                            "viewDesc": "Finance team quarterly dashboard",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000190001",
                            "createdTime": "1718640000000",
                            "createdBy": "bob@example.com",
                            "lastModifiedTime": "1721001600000",
                            "lastModifiedBy": "bob@example.com",
                            "isFavorite": false,
                            "sharedBy": "bob@example.com",
                            "workspaceId": "466206000000190000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000410055",
                            "viewName": "Supply Chain Dashboard",
                            "viewDesc": "Inventory and logistics metrics",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000400000",
                            "createdTime": "1714780800000",
                            "createdBy": "carol@example.com",
                            "lastModifiedTime": "1719993600000",
                            "lastModifiedBy": "carol@example.com",
                            "isFavorite": true,
                            "sharedBy": "carol@example.com",
                            "workspaceId": "466206000000400000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "favoriteShared": {
                    "description": "Favorite shared",
                    "summary": "One shared dashboard that the requesting user has marked as a favorite.",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000410055",
                            "viewName": "Supply Chain Dashboard",
                            "viewDesc": "Inventory and logistics metrics",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000400000",
                            "createdTime": "1714780800000",
                            "createdBy": "carol@example.com",
                            "lastModifiedTime": "1719993600000",
                            "lastModifiedBy": "carol@example.com",
                            "isFavorite": true,
                            "sharedBy": "carol@example.com",
                            "workspaceId": "466206000000400000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "No dashboards",
                    "summary": "Nothing has been shared with the user and the list comes back empty.",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7301",
                "description": "User does not have permission to retrieve shared dashboards.",
                "resolution": "Ensure the request uses a valid OAuth token for an active Zoho Analytics user."
              },
              {
                "name": "8535",
                "description": "Invalid OAuth token.",
                "resolution": "Provide a valid, non-expired OAuth token in the Authorization header."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/dashboards": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "x-zenesis-title": "Create Dashboard",
        "summary": "Create Dashboard",
        "description": "Creates a dashboard in the given workspace and returns its ID.\n\nPermission required: Workspace Admin / Organization Admin, or a shared or group user holding Create Report permission on the workspace. A Custom Role user must have the Create Report permission explicitly granted, otherwise the call is rejected before any validation runs.",
        "operationId": "createDashboard",
        "x-zenesis-sections": {
          "apiRequest": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "orgIdHeader",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a workspace-scoped API. The <b>ZANALYTICS-ORGID</b> header carrying the organization ID that owns the workspace is mandatory.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardTabbedUnsupported",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nTabbed dashboards are out of scope: Read and Update reject a tabbed dashboard with <b>7511</b>.\n</span></blockquote>"
            }
          },
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "configUrlEncoded",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter must be sent as a URL encoded JSON string in a form field named <b>CONFIG</b>, with the content type <b>application/x-www-form-urlencoded</b>.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardLayoutIsString",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe <b>layout</b> attribute inside CONFIG is a JSON-encoded <b>string</b>, not a nested object: CONFIG={\"displayName\":\"Sales Overview\",\"layout\":\"{\\\"1\\\":{\\\"type\\\":\\\"VIEW\\\",\\\"viewName\\\":\\\"Sales Chart\\\",\\\"width\\\":80,\\\"height\\\":20,\\\"left\\\":0,\\\"top\\\":0}}\"}. <b>themes</b> and <b>settings</b> are ordinary nested objects. Read Dashboard Metadata returns <b>layout</b> as a genuine object, so it must be re-serialised to a string before being written back.\n</span></blockquote>"
            },
            "3": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardViewNameByName",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nA VIEW card identifies a report by its display name in <b>viewName</b>, matched case-insensitively. The view must exist in the workspace (8027) and be readable by the caller (7481). Two cards may reference the same view.\n</span></blockquote>"
            },
            "4": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardLayoutTypePreset",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nWhen <b>layoutType</b> is 1 to 4 the supplied geometry is discarded and a 1/2/3/4-column layout is generated: a full-width USERFILTERS card, one HTML card per <b>content</b> value, then one VIEW card per distinct <b>viewName</b>. Omit <b>layoutType</b>, or send 0, to keep the layout as submitted. Auto-layout is not recorded in the read response.\n</span></blockquote>"
            },
            "5": {
              "type": "editor",
              "x-zenesis-shared-note": "configSizeLimit",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter has a maximum encoded size of 5,000,000 characters; the encoded <b>layout</b> string at most 1,000,000.\n</span></blockquote>"
            }
          },
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardIdEquivalence",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<b>dashboardConfig.objId</b> in the metadata response, <b>data.dashboardId</b> in the Create Dashboard response and <b>viewId</b> in the listing APIs are the same value under three field names. Any of them can be used as the dashboard ID in the URL path.\n</span></blockquote>"
            }
          }
        },
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace in which the dashboard is created.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000001001"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateDashboardConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "minimalDashboardWithOneReport": {
                  "description": "Minimal dashboard with one report",
                  "summary": "Minimal dashboard with one report, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "displayName": "Sales Overview",
                      "layout": "{\"1\":{\"type\":\"VIEW\",\"viewName\":\"Sales Chart\",\"width\":80,\"height\":20,\"left\":0,\"top\":0}}"
                    }
                  }
                },
                "filterPanelAHeadingAndTwoSideBySideRepor": {
                  "description": "Filter panel, a heading and two side-by-side reports",
                  "summary": "Filter panel, a heading and two side-by-side reports, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "displayName": "Regional Performance",
                      "description": "Quarterly regional roll-up",
                      "layout": "{\"1\": {\"type\":\"USERFILTERS\",\"width\":80,\"height\":3,\"left\":0,\"top\":0},\"2\": {\"type\":\"TITLE\",\"width\":80,\"height\":3,\"left\":0,\"top\":3,\"content\":\"<b>Q3 Performance</b>\"},\"3\": {\"type\":\"VIEW\",\"width\":40,\"height\":20,\"left\":0,\"top\":6,\"viewName\":\"Sales by Region\"},\"4\": {\"type\":\"VIEW\",\"width\":40,\"height\":20,\"left\":40,\"top\":6,\"viewName\":\"Margin by Region\"}}",
                      "settings": {
                        "allowDrillDown": "true",
                        "fitToWidth": "true",
                        "reportAsFilter": "true",
                        "layoutType": "web"
                      },
                      "themes": {
                        "layoutType": 2,
                        "type": "solid",
                        "solid": {
                          "background": "#333542"
                        },
                        "card": {
                          "background": "#3E3F4D",
                          "border": {
                            "color": "#6F738E",
                            "width": 2
                          },
                          "title": {
                            "border": {
                              "color": "#6F738E"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "letTheServerLayTheCardsOutInTwoColumnsOn": {
                  "description": "Let the server lay the cards out in two columns**\n\nOnly the view names matter here; the geometry is replaced.\n\n```http\nPOST /restapi/v2/workspaces/466206000000071000/dashboards HTTP/1.1\nHost: analyticsapi.zoho.com\nAuthorization: Zoho-oauthtoken 1000.xxxxxx.yyyyyy\nZANALYTICS-ORGID: 700000123456\nContent-Type: application/x-www-form-urlencoded\n\nCONFIG={\"displayName\":\"Auto Layout\",\"layoutType\":2,\"layout\":\"{\\\"1\\\":{\\\"type\\\":\\\"VIEW\\\",\\\"viewName\\\":\\\"Sales Chart\\\",\\\"width\\\":40,\\\"height\\\":20,\\\"left\\\":0,\\\"top\\\":0},\\\"2\\\":{\\\"type\\\":\\\"VIEW\\\",\\\"viewName\\\":\\\"Margin Chart\\\",\\\"width\\\":40,\\\"height\\\":20,\\\"left\\\":40,\\\"top\\\":0}}\"}\n```\n\n**Case 4 — Gradient theme",
                  "summary": "Let the server lay the cards out in two columns**\n\nOnly the view names matter here; the geometry is replaced.\n\n```http\nPOST /restapi/v2/workspaces/466206000000071000/dashboards HTTP/1.1\nHost: analyticsapi.zoho.com\nAuthorization: Zoho-oauthtoken 1000.xxxxxx.yyyyyy\nZANALYTICS-ORGID: 700000123456\nContent-Type: application/x-www-form-urlencoded\n\nCONFIG={\"displayName\":\"Auto Layout\",\"layoutType\":2,\"layout\":\"{\\\"1\\\":{\\\"type\\\":\\\"VIEW\\\",\\\"viewName\\\":\\\"Sales Chart\\\",\\\"width\\\":40,\\\"height\\\":20,\\\"left\\\":0,\\\"top\\\":0},\\\"2\\\":{\\\"type\\\":\\\"VIEW\\\",\\\"viewName\\\":\\\"Margin Chart\\\",\\\"width\\\":40,\\\"height\\\":20,\\\"left\\\":40,\\\"top\\\":0}}\"}\n```\n\n**Case 4 — Gradient theme, as shown in the API reference.",
                  "value": {
                    "CONFIG": {
                      "displayName": "Gradient Demo",
                      "layout": "{\"1\":{\"type\":\"VIEW\",\"viewName\":\"Sales Chart\",\"width\":80,\"height\":20,\"left\":0,\"top\":0}}",
                      "themes": {
                        "type": "gradient",
                        "gradient": {
                          "background": "#1B1C28",
                          "startColor": "#2A2D3E",
                          "endColor": "#13141C",
                          "mode": "linear",
                          "linear": {
                            "angle": 135
                          }
                        },
                        "card": {
                          "background": "#22242F",
                          "opacity": 0.9,
                          "blur": 4
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The dashboard was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDashboardResponse"
                },
                "examples": {
                  "success": {
                    "description": "Success",
                    "summary": "A successful response, as shown in the API reference.",
                    "value": {
                      "status": "success",
                      "summary": "Create dashboard",
                      "data": {
                        "dashboardId": "466206000000106002",
                        "displayName": "Sales Overview"
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7487",
                "description": "displayName or layout is absent, null or empty.",
                "resolution": "Supply both. Remember layout is a JSON-encoded string."
              },
              {
                "name": "7111",
                "description": "A dashboard with this displayName already exists in the workspace.",
                "resolution": "Choose a different name."
              },
              {
                "name": "7507",
                "description": "displayName exceeds 100 characters, or description exceeds 250.",
                "resolution": "Shorten the value."
              },
              {
                "name": "7510",
                "description": "layout is not parseable JSON, or a themes sub-object is null.",
                "resolution": "Validate the JSON you embed in the layout string; never send null for card, solid, gradient or image."
              },
              {
                "name": "7479",
                "description": "A card is missing one or more of type, width, height, left, top.",
                "resolution": "Add the missing positional fields."
              },
              {
                "name": "7486",
                "description": "A positional field has the wrong JSON type.",
                "resolution": "width, height, left, top must be integers; type must be a string."
              },
              {
                "name": "7485",
                "description": "Unrecognised card type.",
                "resolution": "Use one of the eight values in Card types."
              },
              {
                "name": "7480",
                "description": "Negative offset, width/height of 1 or less, or left + width > 80.",
                "resolution": "Keep every card inside the 80-unit grid."
              },
              {
                "name": "7512",
                "description": "A card is smaller than the minimum for its type.",
                "resolution": "See the min height/width columns in Card types."
              },
              {
                "name": "7482",
                "description": "Two cards overlap.",
                "resolution": "Reposition so no two rectangles intersect."
              },
              {
                "name": "7483",
                "description": "A HTML, TITLE, PARA, IMAGE or EMBED card has absent, null or empty content.",
                "resolution": "Supply a non-empty content string."
              },
              {
                "name": "7484",
                "description": "More than 100 cards in the layout.",
                "resolution": "Split the dashboard."
              },
              {
                "name": "8027",
                "description": "One or more VIEW cards name a view that does not exist in this workspace, or viewName is absent / null / non-string.",
                "resolution": "Check the view display names. Matching is case-insensitive but the view must exist."
              },
              {
                "name": "7481",
                "description": "The referenced view exists but the caller cannot read it.",
                "resolution": "Have the view shared with the caller, or remove the card."
              },
              {
                "name": "9001",
                "description": "Every card in the layout is a USERFILTERS card.",
                "resolution": "Add at least one content-bearing card."
              },
              {
                "name": "7491",
                "description": "The sub-object required by themes.type is missing, or card is absent.",
                "resolution": "Add the required sub-object."
              },
              {
                "name": "7492",
                "description": "A required field inside the type sub-object or inside card is missing.",
                "resolution": "See the required-fields table in Themes."
              },
              {
                "name": "7493",
                "description": "A sub-object belonging to a different theme type is present, or a forbidden key accompanies default.",
                "resolution": "Remove the conflicting key."
              },
              {
                "name": "7513",
                "description": "chartEffect.type supplied while chartEffect.apply is 1.",
                "resolution": "Remove type, or set apply to 2."
              },
              {
                "name": "7514",
                "description": "chartEffect.apply is 2 but chartEffect.type is absent.",
                "resolution": "Supply chartEffect.type."
              },
              {
                "name": "7488",
                "description": "A settings or themes key has an empty or null value, or an unrecognised key reached the server.",
                "resolution": "Remove the key or give it a valid value."
              },
              {
                "name": "8509",
                "description": "An enumerated or pattern-constrained value does not match — a malformed colour, an out-of-range number, layoutType outside 1–4, a non-string colour.",
                "resolution": "Check the ranges in Themes and Settings."
              },
              {
                "name": "8517",
                "description": "A value has the wrong JSON data type for its schema declaration.",
                "resolution": "Match the declared types."
              },
              {
                "name": "8534",
                "description": "A theme sub-object was supplied as an array, or CONFIG is malformed JSON.",
                "resolution": "Use {} for objects."
              },
              {
                "name": "8504",
                "description": "The CONFIG parameter is missing from the request body.",
                "resolution": "Send CONFIG as a form-encoded parameter."
              },
              {
                "name": "8542",
                "description": "An unknown key is present in CONFIG.",
                "resolution": "Only displayName, description, layout, themes, settings, layoutType are accepted."
              },
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify <workspace-id>."
              },
              {
                "name": "7301",
                "description": "The caller lacks Create Report permission on the workspace, or is calling from a white-label domain that is not mapped to this workspace.",
                "resolution": "Grant the permission, or call the standard data-centre domain."
              },
              {
                "name": "7309",
                "description": "Authorization header absent.",
                "resolution": "Send Authorization: Zoho-oauthtoken <token>."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Refresh the token with scope ZohoAnalytics.modeling.create."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathishkumar-ks-8646/analytics-api/refs/heads/main/v2.0/zenesis-oas/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-security": {
          "throttles": [
            {
              "duration": 60,
[...]
