{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Share & Publish in Zoho Analytics — covering view sharing, publish configurations, embed URLs, and slideshow management."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Sharing",
      "description": "APIs for sharing workspaces and views with users, and retrieving share details and permissions."
    },
    {
      "name": "Publish",
      "description": "APIs for making views public, managing private URLs, and updating publish configurations."
    },
    {
      "name": "Embed",
      "description": "APIs for retrieving embeddable view URLs."
    },
    {
      "name": "Slideshow Management",
      "description": "APIs for creating, updating, deleting, and listing slideshows and their URLs."
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/share": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "x-zenesis-title": "Get Workspace Shared Details",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "summary": "Get Workspace Shared Details",
        "description": "Returns a consolidated view of every share that exists in the workspace — grouped by user, by group, plus any public/private-link shares — in a single call. Intended for workspace-level share auditing/administration.",
        "operationId": "getWorkspaceSharedDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceSharedDetailsResponse"
                },
                "examples": {
                  "userShare": {
                    "description": "User share",
                    "summary": "Workspace in which the views are shared directly with individual users, and one dashboard is published publicly.",
                    "value": {
                      "status": "success",
                      "summary": "Get share info",
                      "data": {
                        "userShareInfo": [
                          {
                            "emailId": "user1@example.com",
                            "views": [
                              {
                                "viewId": "1767024000013486001",
                                "viewName": "Region Wise Sales",
                                "sharedBy": "owner@example.com",
                                "permissions": {
                                  "read": true,
                                  "export": true,
                                  "vud": false,
                                  "addRow": false,
                                  "updateRow": false,
                                  "deleteRow": false,
                                  "deleteAllRows": false,
                                  "importAppend": false,
                                  "importAddOrUpdate": false,
                                  "importDeleteAllAdd": false,
                                  "importDeleteUpdateAdd": false,
                                  "drillDown": false,
                                  "share": false,
                                  "discussion": true,
                                  "insight": true,
                                  "drillThrough": false,
                                  "accessAdminPresets": false,
                                  "createPreset": false
                                }
                              }
                            ]
                          }
                        ],
                        "groupShareInfo": [],
                        "publicShareInfo": {
                          "emailId": "Public Visitor",
                          "views": [
                            {
                              "viewId": "1767024000013511013",
                              "viewName": "Sales Dashboard",
                              "sharedBy": "owner@example.com",
                              "permissions": {
                                "read": true,
                                "export": false,
                                "vud": false,
                                "addRow": false,
                                "updateRow": false,
                                "deleteRow": false,
                                "deleteAllRows": false,
                                "importAppend": false,
                                "importAddOrUpdate": false,
                                "importDeleteAllAdd": false,
                                "importDeleteUpdateAdd": false,
                                "drillDown": false,
                                "share": false,
                                "discussion": false,
                                "insight": false,
                                "drillThrough": false,
                                "accessAdminPresets": false,
                                "createPreset": false
                              }
                            }
                          ]
                        },
                        "privateLinkShareInfo": {
                          "emailId": "Private Link",
                          "views": []
                        }
                      }
                    }
                  },
                  "groupShare": {
                    "description": "Group share",
                    "summary": "Workspace in which the views are shared with a group, and one report is shared through a private link.",
                    "value": {
                      "status": "success",
                      "summary": "Get share info",
                      "data": {
                        "userShareInfo": [],
                        "groupShareInfo": [
                          {
                            "groupId": "1767024000013490007",
                            "groupName": "Sales Team",
                            "groupDesc": "Regional sales managers",
                            "groupMembers": [
                              "user1@example.com",
                              "user2@example.com"
                            ],
                            "views": [
                              {
                                "viewId": "1767024000013486001",
                                "viewName": "Region Wise Sales",
                                "sharedBy": "owner@example.com",
                                "permissions": {
                                  "read": true,
                                  "export": false,
                                  "vud": true,
                                  "addRow": false,
                                  "updateRow": false,
                                  "deleteRow": false,
                                  "deleteAllRows": false,
                                  "importAppend": false,
                                  "importAddOrUpdate": false,
                                  "importDeleteAllAdd": false,
                                  "importDeleteUpdateAdd": false,
                                  "drillDown": true,
                                  "share": false,
                                  "discussion": false,
                                  "insight": false,
                                  "drillThrough": false,
                                  "accessAdminPresets": false,
                                  "createPreset": false
                                }
                              }
                            ]
                          }
                        ],
                        "publicShareInfo": {
                          "emailId": "Public Visitor",
                          "views": []
                        },
                        "privateLinkShareInfo": {
                          "emailId": "Private Link",
                          "views": [
                            {
                              "viewId": "1767024000013486001",
                              "viewName": "Region Wise Sales",
                              "sharedBy": "owner@example.com",
                              "permissions": {
                                "read": true,
                                "export": false,
                                "vud": false,
                                "addRow": false,
                                "updateRow": false,
                                "deleteRow": false,
                                "deleteAllRows": false,
                                "importAppend": false,
                                "importAddOrUpdate": false,
                                "importDeleteAllAdd": false,
                                "importDeleteUpdateAdd": false,
                                "drillDown": false,
                                "share": false,
                                "discussion": false,
                                "insight": true,
                                "drillThrough": false,
                                "accessAdminPresets": true,
                                "createPreset": true
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — User does not have permission to view workspace share info.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, or Workspace Admin."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li><code>publicShareInfo</code> and <code>privateLinkShareInfo</code> are always returned, with an empty <code>views</code> array when nothing is published publicly or through a private link.</li><li>The <code>emailId</code> returned inside <code>publicShareInfo</code> and <code>privateLinkShareInfo</code> is a fixed placeholder, not a real user.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sharing"
        ],
        "x-zenesis-title": "Share Views",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.create"
            ]
          }
        ],
        "summary": "Share Views",
        "description": "Shares one or more views with a set of users and/or groups, with a specific permission set, optional column/row restrictions, and optional invite email.",
        "operationId": "shareViews",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ShareViewsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "shareWithUsers": {
                  "description": "Share with users",
                  "summary": "Shares the listed views with the specified users, granting read and export permission.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com"
                      ],
                      "viewIds": [
                        "35130000001055717"
                      ],
                      "permissions": {
                        "read": true,
                        "export": true
                      },
                      "inviteMail": true
                    }
                  }
                },
                "shareWithGroups": {
                  "description": "Share with groups",
                  "summary": "Shares the listed views with the specified groups instead of individual users.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "groupIds": [
                        "35130000001066001"
                      ],
                      "viewIds": [
                        "35130000001055717"
                      ],
                      "permissions": {
                        "read": true,
                        "vud": true
                      }
                    }
                  }
                },
                "filteredShare": {
                  "description": "Filtered share",
                  "summary": "Shares a report with a filter criteria, so that the shared user sees only the East region data.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "viewIds": [
                        "35130000001055721"
                      ],
                      "permissions": {
                        "read": true
                      },
                      "criteria": "\"SalesTable\".\"Region\"='East'",
                      "inheritParentFilterCriteria": true
                    }
                  }
                },
                "columnRestrictedShare": {
                  "description": "Column restricted share",
                  "summary": "Shares a view but restricts the shared columns and the columns visible in the underlying data.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "viewIds": [
                        "35130000001055717"
                      ],
                      "permissions": {
                        "read": true,
                        "vud": true
                      },
                      "columns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region",
                            "Sales"
                          ]
                        }
                      ],
                      "vudColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region"
                          ]
                        }
                      ],
                      "includeAllColsForVUD": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "x-zenesis-statuscodes": [
              {
                "name": "8074",
                "description": "READPERMSHOULDBETRUEFORSHARING — permissions.read was false or omitted.",
                "resolution": "Set permissions.read to true."
              },
              {
                "name": "7321",
                "description": "VIEWALREADYSHARED — The view is already shared with this user.",
                "resolution": "Use Update Shared Details to modify the existing share instead."
              },
              {
                "name": "7322",
                "description": "VIEWALREADYSHARED (group form) — The view is already shared with this group.",
                "resolution": "Use Update Shared Details to modify the existing share instead."
              },
              {
                "name": "7323",
                "description": "CANNOTSHAREDTOOBJOWNER — Attempted to share the view with its own owner.",
                "resolution": "Remove the owner's email/group from the share request."
              },
              {
                "name": "7307",
                "description": "OWNERCANNOTSHAREHIMSELF — The sharer attempted to share a view to themselves.",
                "resolution": "Remove the sharer's own email from emailIds."
              },
              {
                "name": "7320",
                "description": "CANNOTSHARETOSELF — Same as above (alternate path).",
                "resolution": "Same as above."
              },
              {
                "name": "7541",
                "description": "FILTERCRITERIANOTSUPPORTEDFORMULTIVIEWSHARE — criteria supplied with more than one viewIds entry.",
                "resolution": "Share one view at a time when using row-level criteria."
              },
              {
                "name": "7543",
                "description": "VUDORDRILLCOLUMNSEDITNOTSUPPORTEDFORMULTIVIEWSHARE — vudColumns/drillColumns supplied with more than one view.",
                "resolution": "Share one view at a time when restricting VUD/drill columns."
              },
              {
                "name": "7545",
                "description": "SHAREANDWRITEPERMISSIONSNOTALLOWEDFORROUSERS — A Read-Only/embedded user was granted share together with a write permission.",
                "resolution": "Do not combine share: true with write permissions for Read-Only users."
              },
              {
                "name": "7533",
                "description": "CANNOTSHAREOBJECTTOGROUP — The view's type does not support group sharing.",
                "resolution": "Share to individual emailIds instead."
              },
              {
                "name": "7535",
                "description": "CANNOTSHARETOMEMBERSNOTPARTOFORG — One or more emailIds do not belong to the organization.",
                "resolution": "Verify the recipients are valid organization/portal users."
              },
              {
                "name": "7549",
                "description": "CANNOTSHARETOCUSTOMROLEUSER — Attempted to share directly to a user who only has a custom-role-based org-level permission.",
                "resolution": "Share via the appropriate group/role mechanism instead."
              },
              {
                "name": "8029",
                "description": "SHAREINVALIDEMAILADDRESS — One or more emailIds entries is not a valid email address.",
                "resolution": "Correct the malformed email address(es)."
              },
              {
                "name": "8085",
                "description": "SHAREDTOEXTERNALDOMAINNOTALLOWED — Sharing to an email outside the allowed domain(s) is disabled by org policy.",
                "resolution": "Share only to users within the permitted domain(s), or contact the Org Admin to adjust the policy."
              },
              {
                "name": "8086",
                "description": "SHAREDTOEXTERNALDOMAINNOTALLOWED — Sharing to an email outside the allowed domain(s) is disabled by org policy.",
                "resolution": "Share only to users within the permitted domain(s), or contact the Org Admin to adjust the policy."
              },
              {
                "name": "8241",
                "description": "SYSTEMTAGDATAWARNINGV2VALIDATIONCONFIRMATION (HTTP 409) — A view being shared carries a restricted DATAWARNING system tag.",
                "resolution": "Review the warning, then resend with \"validateSystemTags\": false to confirm."
              },
              {
                "name": "8080",
                "description": "INVALIDJSONCONFIGURATION — CONFIG is malformed or missing a required field.",
                "resolution": "Validate the CONFIG JSON against the parameter table above."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — User does not have Share permission on one or more viewIds.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, or Workspace Admin, or has Share permission on all specified views."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li><code>vudColumns</code> is applicable only when the <code>vud</code> permission is set to true.</li><li><code>drillColumns</code> is applicable only when the <code>drillDown</code> permission is set to true.</li><li><code>inheritParentFilterCriteria</code> is applicable only for reports, not for tables.</li><li><code>validateSystemTags</code> is applicable only when System Tags are enabled for your organization.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sharing"
        ],
        "x-zenesis-title": "Remove Share",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.delete"
            ]
          }
        ],
        "summary": "Remove Share",
        "description": "Removes an existing share of one or more views from a set of users and/or groups, or removes all of a user's/group's shared views in the workspace at once.",
        "operationId": "removeShare",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RemoveShareConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "removeSpecificViews": {
                  "description": "Remove specific views",
                  "summary": "Removes the sharing of the listed views for the specified users.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com"
                      ],
                      "viewIds": [
                        "35130000001055717",
                        "35130000001055721"
                      ]
                    }
                  }
                },
                "removeAllSharedViews": {
                  "description": "Remove all views",
                  "summary": "Removes every view currently shared with the specified users.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "removeAllViews": true
                    }
                  }
                },
                "removeGroupShare": {
                  "description": "Remove group share",
                  "summary": "Removes the sharing of the listed views for the specified groups.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "groupIds": [
                        "35130000001066001"
                      ],
                      "viewIds": [
                        "35130000001055717"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "x-zenesis-statuscodes": [
              {
                "name": "8031",
                "description": "REMOVESHAREAPIPARAMS — Neither viewIds nor removeAllViews: true was supplied.",
                "resolution": "Supply either a viewIds array or set removeAllViews: true."
              },
              {
                "name": "8105",
                "description": "REMOVESHAREALLVIEWSPRESENT — Both viewIds and removeAllViews: true were supplied together.",
                "resolution": "Supply only one of the two — viewIds for a targeted removal, or removeAllViews: true alone for a bulk removal."
              },
              {
                "name": "8032",
                "description": "VIEWNOTSHARED — The specified view is not currently shared with this user.",
                "resolution": "Verify the share exists via Get Shared Details before removing."
              },
              {
                "name": "8150",
                "description": "VIEWNOTSHAREDTOGROUP — The specified view is not currently shared with this group.",
                "resolution": "Verify the share exists via Get Shared Details before removing."
              },
              {
                "name": "8080",
                "description": "INVALIDJSONCONFIGURATION — CONFIG is malformed or missing a required field.",
                "resolution": "Validate the CONFIG JSON against the parameter table above."
              },
              {
                "name": "7533",
                "description": "CANNOTSHAREOBJECTTOGROUP — The view's type does not support group-based sharing/unsharing.",
                "resolution": "Only applicable to user-based (emailIds) removal for this view type."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — User lacks Share permission on the targeted view(s), or attempted removeAllViews: true without Workspace Admin privileges.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, or Workspace Admin (required for removeAllViews), or has Share permission on the specified views."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>Specify either <code>viewIds</code> to remove the sharing of particular views, or set <code>removeAllViews</code> to true to remove every view shared with the specified users.</li><li><code>domainName</code> is required only when the shared views have to be removed from a white label domain.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/share": {
      "put": {
        "tags": [
          "Sharing"
        ],
        "x-zenesis-title": "Update Shared Details For View",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.update"
            ]
          }
        ],
        "summary": "Update Shared Details For View",
        "description": "Updates the permission set, column/row restrictions, or filter criteria of an existing share on a single view, for the users/groups specified.",
        "operationId": "UpdateSharedDetailsForView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateSharedDetailsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "updateUserPermissions": {
                  "description": "Update user permissions",
                  "summary": "Grants export and underlying data permission to the users the view is already shared with.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com"
                      ],
                      "permissions": {
                        "read": true,
                        "export": true,
                        "vud": true
                      }
                    }
                  }
                },
                "updateGroupPermissions": {
                  "description": "Update group permissions",
                  "summary": "Updates the sharing configuration of the view for the specified groups.",
                  "value": {
                    "CONFIG": {
                      "groupIds": [
                        "35130000001066001"
                      ],
                      "permissions": {
                        "read": true,
                        "drillDown": true
                      }
                    }
                  }
                },
                "updateFilterCriteria": {
                  "description": "Update filter criteria",
                  "summary": "Replaces the filter criteria applied on the shared report and restricts the columns shared.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com"
                      ],
                      "permissions": {
                        "read": true
                      },
                      "criteria": "\"SalesTable\".\"Region\"='West'",
                      "inheritParentFilterCriteria": false,
                      "columns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region",
                            "Sales"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "x-zenesis-statuscodes": [
              {
                "name": "8032",
                "description": "VIEWNOTSHARED — The view is not currently shared with the specified user.",
                "resolution": "Share the view first via Share Views."
              },
              {
                "name": "8150",
                "description": "VIEWNOTSHAREDTOGROUP — The view is not currently shared with the specified group.",
                "resolution": "Share the view to this group first via Share Views."
              },
              {
                "name": "8074",
                "description": "READPERMSHOULDBETRUEFORSHARING — permissions.read was explicitly set to false.",
                "resolution": "Keep permissions.read as true."
              },
              {
                "name": "7545",
                "description": "SHAREANDWRITEPERMISSIONSNOTALLOWEDFORROUSERS — A Read-Only user was granted share together with a write permission.",
                "resolution": "Do not combine share: true with write permissions for Read-Only users."
              },
              {
                "name": "7542",
                "description": "FILTERCRITERIANOTPERMITTEDFORSHAREDUSER — criteria update is not permitted for this share type.",
                "resolution": "Remove or adjust the criteria field."
              },
              {
                "name": "8241",
                "description": "SYSTEMTAGDATAWARNINGV2VALIDATIONCONFIRMATION (HTTP 409) — <view-id> carries a restricted DATAWARNING system tag.",
                "resolution": "Review the warning, then resend with \"validateSystemTags\": false to confirm."
              },
              {
                "name": "8080",
                "description": "INVALIDJSONCONFIGURATION — CONFIG is malformed or missing a required field.",
                "resolution": "Validate the CONFIG JSON against the parameter table above."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — User does not have Share permission on <view-id>.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, or Workspace Admin, or has Share permission on the view."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>At least one of <code>emailIds</code> or <code>groupIds</code> must be specified, to identify the users or the groups whose sharing configuration has to be updated.</li><li><code>vudColumns</code> is applicable only when the <code>vud</code> permission is set to true.</li><li><code>drillColumns</code> is applicable only when the <code>drillDown</code> permission is set to true.</li><li><code>inheritParentFilterCriteria</code> is applicable only for reports, not for tables.</li><li><code>validateSystemTags</code> is applicable only when System Tags are enabled for your organization.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/share/shareddetails": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "x-zenesis-title": "Get Shared Details For Views",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "summary": "Get Shared Details For Views",
        "description": "Returns detailed share information — per user and per group, including permission booleans, a human-readable permissionString, filter criteria, and restricted columns — for one or more specific views.",
        "operationId": "getSharedDetailsForViews",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": true,
            "description": "Config parameter that specifies the views whose shared details have to be fetched.\n\nAs this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/GetSharedDetailsConfig"
            },
            "examples": {
              "singleView": {
                "description": "Single view",
                "summary": "Fetches the shared details of one view.",
                "value": {
                  "viewIds": [
                    "1767024000013486001"
                  ]
                }
              },
              "multipleViews": {
                "description": "Multiple views",
                "summary": "Fetches the shared details of several views in one call.",
                "value": {
                  "viewIds": [
                    "1767024000013486001",
                    "1767024000013511013"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSharedDetailsResponse"
                },
                "examples": {
                  "userShare": {
                    "description": "User share",
                    "summary": "View shared with an individual user, with a filter criteria and a restricted set of shared columns.",
                    "value": {
                      "status": "success",
                      "summary": "Get shared details for views",
                      "data": {
                        "sharedDetails": [
                          {
                            "viewId": "1767024000013486001",
                            "shareInfo": [
                              {
                                "sharedTo": "user1@example.com",
                                "sharedBy": "owner@example.com",
                                "sharedToZuId": "65482910",
                                "permissionString": "read,export",
                                "permissions": {
                                  "read": true,
                                  "export": true,
                                  "vud": false,
                                  "addRow": false,
                                  "updateRow": false,
                                  "deleteRow": false,
                                  "deleteAllRows": false,
                                  "importAppend": false,
                                  "importAddOrUpdate": false,
                                  "importDeleteAllAdd": false,
                                  "importDeleteUpdateAdd": false,
                                  "drillDown": false,
                                  "share": false,
                                  "discussion": false,
                                  "insight": false,
                                  "drillThrough": false,
                                  "accessAdminPresets": false,
                                  "createPreset": false
                                },
                                "criteria": "\"SalesTable\".\"Region\"='East'",
                                "inheritParentFilterCriteria": "false",
                                "isInvalidCriteria": false,
                                "sharedColumns": [
                                  "Region",
                                  "Sales"
                                ],
                                "vudColumns": [],
                                "drillColumns": [],
                                "isGroupShare": false,
                                "publicPermLevel": 0,
                                "isROUser": false
                              }
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "groupShare": {
                    "description": "Group share",
                    "summary": "View shared with a group, with the underlying data and drill down options limited to specific columns.",
                    "value": {
                      "status": "success",
                      "summary": "Get shared details for views",
                      "data": {
                        "sharedDetails": [
                          {
                            "viewId": "1767024000013486001",
                            "shareInfo": [
                              {
                                "sharedTo": "Sales Team",
                                "sharedBy": "owner@example.com",
                                "sharedToZuId": "1767024000013490007",
                                "permissionString": "read,vud,drillDown",
                                "permissions": {
                                  "read": true,
                                  "export": false,
                                  "vud": true,
                                  "addRow": false,
                                  "updateRow": false,
                                  "deleteRow": false,
                                  "deleteAllRows": false,
                                  "importAppend": false,
                                  "importAddOrUpdate": false,
                                  "importDeleteAllAdd": false,
                                  "importDeleteUpdateAdd": false,
                                  "drillDown": true,
                                  "share": false,
                                  "discussion": false,
                                  "insight": false,
                                  "drillThrough": false,
                                  "accessAdminPresets": false,
                                  "createPreset": false
                                },
                                "criteria": "",
                                "inheritParentFilterCriteria": "true",
                                "isInvalidCriteria": false,
                                "sharedColumns": [],
                                "vudColumns": [
                                  "Region"
                                ],
                                "drillColumns": [
                                  "Region"
                                ],
                                "isGroupShare": true,
                                "publicPermLevel": 0,
                                "isROUser": false
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "8080",
                "description": "INVALIDJSONCONFIGURATION — viewIds missing or malformed.",
                "resolution": "Supply a valid, non-empty viewIds JSONArray."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — User does not have Share permission on one or more requested viewIds.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, or Workspace Admin, or has Share permission on all requested views."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>As this is a GET request, the CONFIG value must be stringified and URL encoded before it is sent.</li><li>When <code>viewIds</code> is omitted, no view is selected and the shared details are not returned.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/share/userpermissions": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "x-zenesis-title": "Get User Permissions",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "summary": "Get User Permissions",
        "description": "Returns the effective permission set the calling user currently has on a specific view.\n\nThe original path `/share/mypermissions` is a deprecated alias of this API and continues to function; use `/share/userpermissions`.",
        "operationId": "getUserPermissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserPermissionsResponse"
                },
                "examples": {
                  "readOnlyAccess": {
                    "description": "Read only access",
                    "summary": "User who can only view the report, with no export or underlying data access.",
                    "value": {
                      "status": "success",
                      "summary": "Get user permissions",
                      "data": {
                        "permissions": {
                          "read": true,
                          "export": false,
                          "vud": false,
                          "addRow": false,
                          "updateRow": false,
                          "deleteRow": false,
                          "deleteAllRows": false,
                          "importAppend": false,
                          "importAddOrUpdate": false,
                          "importDeleteAllAdd": false,
                          "importDeleteUpdateAdd": false,
                          "drillDown": false,
                          "share": false,
                          "discussion": false,
                          "insight": false,
                          "drillThrough": false,
                          "accessAdminPresets": false,
                          "createPreset": false
                        }
                      }
                    }
                  },
                  "fullAccess": {
                    "description": "Full access",
                    "summary": "User who owns the table and therefore holds every permission on it.",
                    "value": {
                      "status": "success",
                      "summary": "Get user permissions",
                      "data": {
                        "permissions": {
                          "read": true,
                          "export": true,
                          "vud": true,
                          "addRow": true,
                          "updateRow": true,
                          "deleteRow": true,
                          "deleteAllRows": true,
                          "importAppend": true,
                          "importAddOrUpdate": true,
                          "importDeleteAllAdd": true,
                          "importDeleteUpdateAdd": true,
                          "drillDown": true,
                          "share": true,
                          "discussion": true,
                          "insight": true,
                          "drillThrough": true,
                          "accessAdminPresets": true,
                          "createPreset": true
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — The calling user has no access at all to <view-id> (view does not belong to the workspace, or user has neither ownership nor a share).",
                "resolution": "Verify <view-id> belongs to <workspace-id> and that the calling user has been shared this view."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiInfo": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The permissions are returned for the user whose access token is used in the request, not for an arbitrary user.</li><li>The endpoint path retains the <code>mypermissions</code> segment.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/publish/public": {
      "post": {
        "tags": [
          "Publish"
        ],
        "x-zenesis-title": "Make Views Public",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.create"
            ]
          }
        ],
        "summary": "Make Views Public",
        "description": "Publishes a view as a Public URL and, in the same call, defines the read-only permission set, the row-level filter criteria, and the column restrictions that apply to public visitors. Calling it again on an already-public view updates the existing public share in place.",
        "operationId": "makeViewsPublic",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/MakeViewsPublicConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "publicOnWeb": {
                  "description": "Public on web",
                  "summary": "Publishes the view to anyone on the web, with export permission granted.",
                  "value": {
                    "CONFIG": {
                      "publicPermLevel": 1,
                      "permissions": {
                        "export": true
                      }
                    }
                  }
                },
                "organizationOnly": {
                  "description": "Organization only",
                  "summary": "Publishes the view to everyone in the Zoho Analytics organization, with underlying data access.",
                  "value": {
                    "CONFIG": {
                      "publicPermLevel": 2,
                      "permissions": {
                        "vud": true,
                        "export": true
                      }
                    }
                  }
                },
                "filteredPublic": {
                  "description": "Filtered public",
                  "summary": "Publishes the view so that only the East region rows and a restricted set of columns are visible.",
                  "value": {
                    "CONFIG": {
                      "publicPermLevel": 1,
                      "permissions": {
                        "vud": true,
                        "drillDown": true
                      },
                      "vudColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region",
                            "Sales"
                          ]
                        }
                      ],
                      "drillColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region"
                          ]
                        }
                      ],
                      "criteria": "\"SalesTable\".\"Region\"='East'",
                      "inheritParentFilterCriteria": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakeViewsPublicResponse"
                },
                "examples": {
                  "publicUrl": {
                    "description": "Public URL",
                    "summary": "Public URL generated for the view that has just been published.",
                    "value": {
                      "status": "success",
                      "summary": "Make view public",
                      "data": {
                        "publicUrl": "https://analytics.zoho.com/open-view/1767024000008125004"
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "6054",
                "description": "PUBLISHCNTVIOLATION — The current plan does not allow this publish operation.",
                "resolution": "Upgrade the plan, or publish as a private link instead."
              },
              {
                "name": "7103",
                "description": "METAOBJECTNOTPRESENT — Workspace not found.",
                "resolution": "Verify <workspace-id> and that the ZANALYTICS-ORGID header matches it."
              },
              {
                "name": "7104",
                "description": "METAOBJECTNOTPRESENT — View not found.",
                "resolution": "Verify <view-id> exists."
              },
              {
                "name": "7138",
                "description": "METAOBJECTNOTPRESENT — A tableName in vudColumns / drillColumns is not a table involved in this view.",
                "resolution": "Use only tables that the view actually reads from."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — The user cannot make this view public (no Make Public permission, or the workspace/view is restricted).",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, Workspace Admin, or has Make Public permission on the view."
              },
              {
                "name": "7319",
                "description": "OBJIDNOTBELONGSTODB — The view does not belong to the specified workspace.",
                "resolution": "Ensure <workspace-id> and <view-id> are consistent."
              },
              {
                "name": "7500",
                "description": "UNAUTHORIZEDORGCANNOTMAKEPUBLIC — publicPermLevel: \"3\" requested but the caller does not belong to the workspace admin's business organization.",
                "resolution": "Use publicPermLevel 1 or 2, or call as a user of the same business organization."
              },
              {
                "name": "7531",
                "description": "PUBLICTOORGNOTSUPPORTEDINFREE — publicPermLevel 2 or 3 is not supported on the Free plan.",
                "resolution": "Upgrade the plan, or use publicPermLevel: \"1\"."
              },
              {
                "name": "7565",
                "description": "UNVERIFIEDEMAIL — The calling user's primary email address is not verified.",
                "resolution": "Verify the account's primary email address and retry."
              },
              {
                "name": "8054",
                "description": "INVALIDFILTERCRITERIA — criteria could not be parsed.",
                "resolution": "Correct the criteria syntax (e.g. \"Table\".\"Column\"='Value')."
              },
              {
                "name": "8060",
                "description": "DOMAINNOTEXIST — The domainName supplied does not exist.",
                "resolution": "Use a domain returned by the Domain and White Label APIs."
              },
              {
                "name": "8061",
                "description": "DOMAINDOESNOTBELONGSTOUSER — The caller is not an admin of the supplied domainName.",
                "resolution": "Call as an admin of that portal domain, or omit domainName."
              },
              {
                "name": "8074",
                "description": "READPERMSHOULDBETRUEFORSHARING — permissions.read was sent as false.",
                "resolution": "Omit read or set it to true."
              },
              {
                "name": "8080",
                "description": "INVALIDJSONCONFIGURATION — CONFIG is not valid JSON, contains an unsupported key, or violates a type/length/allowed-value constraint (e.g. publicPermLevel outside 1/2/3).",
                "resolution": "Send only the documented keys with the documented types."
              },
              {
                "name": "8088",
                "description": "SECURITYCONTROLSFEATUREDISABLED — Public sharing has been disabled for this organization/workspace by security controls.",
                "resolution": "Ask the Organization Admin to re-enable public sharing in Security Controls."
              },
              {
                "name": "8154",
                "description": "COLUMNNOTPRESENTINTABLE — A column in vudColumns / drillColumns (or in criteria) does not exist in the given table.",
                "resolution": "Verify column names via Get Columns."
              },
              {
                "name": "8241",
                "description": "SYSTEMTAGDATAWARNINGV2VALIDATIONCONFIRMATION — The view carries a restricted DATAWARNING system tag.",
                "resolution": "Review the warning, then resend with \"validateSystemTags\": false to confirm."
              },
              {
                "name": "8535",
                "description": "INVALIDOAUTHTOKEN — Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with scope ZohoAnalytics.embed.create."
              },
              {
                "name": "12052",
                "description": "WORKSPACENOTENABLEDFORDOMAINACCESS — The workspace is not enabled for access through the requested portal domain.",
                "resolution": "Enable the workspace for that Client Portal domain first."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li><code>CONFIG</code> may be omitted entirely. When it is, the view is published with the default settings.</li><li><code>vudColumns</code> is applicable only when the <code>vud</code> permission is set to true.</li><li><code>drillColumns</code> is applicable only when the <code>drillDown</code> permission is set to true.</li><li><code>inheritParentFilterCriteria</code> is applicable only for reports, not for tables.</li><li><code>validateSystemTags</code> is applicable only when System Tags are enabled for your organization.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Publish"
        ],
        "x-zenesis-title": "Remove Public Permission",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.delete"
            ]
          }
        ],
        "summary": "Remove Public Permission",
        "description": "Un-publishes the view's Public URL, revoking access for all public visitors. The private link (if any) and the publish configuration are left untouched.",
        "operationId": "removePublicPermission",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "METAOBJECTNOTPRESENT — Workspace not found.",
                "resolution": "Verify <workspace-id> and the ZANALYTICS-ORGID header."
              },
              {
                "name": "7104",
                "description": "METAOBJECTNOTPRESENT — View not found.",
                "resolution": "Verify <view-id> exists."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — The user cannot un-publish this view.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, Workspace Admin, or has Make Public / Share permission on the view."
              },
              {
                "name": "7319",
                "description": "OBJIDNOTBELONGSTODB — The view does not belong to the specified workspace.",
                "resolution": "Ensure <workspace-id> and <view-id> are consistent."
              },
              {
                "name": "7565",
                "description": "UNVERIFIEDEMAIL — The calling user's primary email address is not verified.",
                "resolution": "Verify the account's primary email address and retry."
              },
              {
                "name": "8032",
                "description": "VIEWNOTSHARED — The view is not shared to anyone, so there is no public permission to remove.",
                "resolution": "Confirm the view is public via Get Publish Configurations before calling."
              },
              {
                "name": "8535",
                "description": "INVALIDOAUTHTOKEN — Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with scope ZohoAnalytics.embed.delete."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/publish/privatelink": {
      "post": {
        "tags": [
          "Publish"
        ],
        "x-zenesis-title": "Create Private URL",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.update"
            ]
          }
        ],
        "summary": "Create Private URL",
        "description": "Creates a Private URL for a view — generating the secret private key if one does not exist — and, in the same call, sets the link's permission set, row-level filter criteria, column restrictions, password, and expiry date. The freshly built private URL is returned in the response.",
        "operationId": "createPrivateUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreatePrivateUrlConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "basicPrivateUrl": {
                  "description": "Basic private URL",
                  "summary": "Creates a private URL that grants export permission and applies no further restrictions.",
                  "value": {
                    "CONFIG": {
                      "permissions": {
                        "export": true
                      }
                    }
                  }
                },
                "passwordProtected": {
                  "description": "Password protected",
                  "summary": "Creates a private URL protected with a password and valid until the given expiry date.",
                  "value": {
                    "CONFIG": {
                      "permissions": {
                        "vud": true,
                        "export": true
                      },
                      "password": "Zylker@123",
                      "expiryDate": "2026-12-31",
                      "includeAllColsForVUD": false
                    }
                  }
                },
                "regeneratedKey": {
                  "description": "Regenerate key",
                  "summary": "Generates a new private key, disabling the private link that was issued previously.",
                  "value": {
                    "CONFIG": {
                      "regenerateKey": true,
                      "permissions": {
                        "export": true
                      }
                    }
                  }
                },
                "filteredPrivateUrl": {
                  "description": "Filtered private URL",
                  "summary": "Creates a private URL through which only the East region rows and a restricted set of columns are visible.",
                  "value": {
                    "CONFIG": {
                      "criteria": "\"SalesTable\".\"Region\"='East'",
                      "permissions": {
                        "vud": true,
                        "drillDown": true
                      },
                      "vudColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region",
                            "Sales"
                          ]
                        }
                      ],
                      "drillColumns": [
                        {
                          "tableName": "SalesTable",
                          "columnNames": [
                            "Region"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePrivateUrlResponse"
                },
                "examples": {
                  "privateUrl": {
                    "description": "Private URL",
                    "summary": "Private URL generated for the view, ending with the newly issued private key.",
                    "value": {
                      "status": "success",
                      "summary": "Create private url",
                      "data": {
                        "privateUrl": "https://analytics.zoho.com/open-view/1767024000003145011/eee1191ea88d52e486aaecf5f748dc56"
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "6055",
                "description": "REGENERATEVIOLATION — The current plan does not allow regenerating a private-link key.",
                "resolution": "Upgrade the plan, or omit regenerateKey."
              },
              {
                "name": "6057",
                "description": "SHAREDUSRREGENERATEVIOLATION — A shared user attempted a plan-restricted key regeneration.",
                "resolution": "Ask the workspace owner to regenerate the key, or upgrade the plan."
              },
              {
                "name": "6054",
                "description": "PUBLISHCNTVIOLATION — The current plan does not allow private links.",
                "resolution": "Upgrade the plan."
              },
              {
                "name": "6056",
                "description": "SHAREDUSRPUBLISHCNTVIOLATION — A shared user attempted a plan-restricted private-link creation.",
                "resolution": "Ask the workspace owner to create the link, or upgrade the plan."
              },
              {
                "name": "6121",
                "description": "EXCEEDINGUSRPLNPRIVATELINKS — The organization has used all private links allowed by its plan.",
                "resolution": "Remove an unused private link via Remove Private Access, or upgrade the plan."
              },
              {
                "name": "6122",
                "description": "EXCEEDINGUSRPLNPRIVATELINKSDM — Same limit, reported to a non-super-admin caller.",
                "resolution": "Ask the Organization Admin to free up a private link or upgrade the plan."
              },
              {
                "name": "7103",
                "description": "METAOBJECTNOTPRESENT — Workspace not found.",
                "resolution": "Verify <workspace-id> and the ZANALYTICS-ORGID header."
              },
              {
                "name": "7104",
                "description": "METAOBJECTNOTPRESENT — View not found.",
                "resolution": "Verify <view-id> exists."
              },
              {
                "name": "7138",
                "description": "METAOBJECTNOTPRESENT — A tableName in vudColumns / drillColumns is not a table involved in this view.",
                "resolution": "Use only tables that the view actually reads from."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — The user does not have Publish permission on the view, or publishing is restricted for the workspace.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, Workspace Admin, or has Publish permission on the view."
              },
              {
                "name": "7319",
                "description": "OBJIDNOTBELONGSTODB — The view does not belong to the specified workspace.",
                "resolution": "Ensure <workspace-id> and <view-id> are consistent."
              },
              {
                "name": "7565",
                "description": "UNVERIFIEDEMAIL — The calling user's primary email address is not verified.",
                "resolution": "Verify the account's primary email address and retry."
              },
              {
                "name": "8054",
                "description": "INVALIDFILTERCRITERIA — criteria could not be parsed.",
                "resolution": "Correct the criteria syntax (e.g. \"Table\".\"Column\"='Value')."
              },
              {
                "name": "8060",
                "description": "DOMAINNOTEXIST — The domainName supplied does not exist.",
                "resolution": "Use a domain returned by the Domain and White Label APIs."
              },
              {
                "name": "8061",
                "description": "DOMAINDOESNOTBELONGSTOUSER — The caller is not an admin of the supplied domainName.",
                "resolution": "Call as an admin of that portal domain, or omit domainName."
              },
              {
                "name": "8074",
                "description": "READPERMSHOULDBETRUEFORSHARING — permissions.read was sent as false.",
                "resolution": "Omit read or set it to true."
              },
              {
                "name": "8080",
                "description": "INVALIDJSONCONFIGURATION — CONFIG is not valid JSON, contains an unsupported key, or violates a constraint (e.g. password shorter than 6 characters, malformed expiryDate).",
                "resolution": "Send only the documented keys with the documented types and formats."
              },
              {
                "name": "8088",
                "description": "SECURITYCONTROLSFEATUREDISABLED — Private links have been disabled for this organization/workspace by security controls.",
                "resolution": "Ask the Organization Admin to re-enable private links in Security Controls."
              },
              {
                "name": "8154",
                "description": "COLUMNNOTPRESENTINTABLE — A column in vudColumns / drillColumns (or in criteria) does not exist in the given table.",
                "resolution": "Verify column names via Get Columns."
              },
              {
                "name": "8241",
                "description": "SYSTEMTAGDATAWARNINGV2VALIDATIONCONFIRMATION — The view carries a restricted DATAWARNING system tag.",
                "resolution": "Review the warning, then resend with \"validateSystemTags\": false to confirm."
              },
              {
                "name": "8535",
                "description": "INVALIDOAUTHTOKEN — Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with scope ZohoAnalytics.embed.update."
              },
              {
                "name": "12052",
                "description": "WORKSPACENOTENABLEDFORDOMAINACCESS — The workspace is not enabled for access through the requested portal domain.",
                "resolution": "Enable the workspace for that Client Portal domain first."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li><code>CONFIG</code> may be omitted entirely. When it is, a private URL is created with the default settings.</li><li><code>password</code> and <code>removePassword</code> are mutually exclusive, as are <code>expiryDate</code> and <code>removeExpiryDate</code>.</li><li><code>vudColumns</code> is applicable only when the <code>vud</code> permission is set to true.</li><li><code>drillColumns</code> is applicable only when the <code>drillDown</code> permission is set to true.</li><li>Setting <code>regenerateKey</code> to true disables the private link that was issued previously.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Publish"
        ],
        "x-zenesis-title": "Get Private URL",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "summary": "Get Private URL",
        "description": "Returns the existing Private URL of a view — the open-view URL with the view's secret 32-character private key appended. Read-only: it neither creates nor regenerates a key.",
        "operationId": "getPrivateUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "description": "Config parameter that controls the domain used to build the private URL.\n\nAs this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/GetPrivateUrlConfig"
            },
            "examples": {
              "defaultDomain": {
                "description": "Default domain",
                "summary": "Returns the private URL on the default Zoho Analytics domain.",
                "value": {}
              },
              "customDomain": {
                "description": "Custom domain",
                "summary": "Returns the private URL on the configured white label domain.",
                "value": {
                  "domainName": "analytics.example.com"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivateUrlResponse"
                },
                "examples": {
                  "privateUrl": {
                    "description": "Private URL",
                    "summary": "Private URL currently in effect for the view.",
                    "value": {
                      "status": "success",
                      "summary": "Get private url",
                      "data": {
                        "privateUrl": "https://analytics.zoho.com/open-view/1767024000003145011/eee1191ea88d52e486aaecf5f748dc56"
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "METAOBJECTNOTPRESENT — Workspace not found.",
                "resolution": "Verify <workspace-id> and the ZANALYTICS-ORGID header."
              },
              {
                "name": "7104",
                "description": "METAOBJECTNOTPRESENT — View not found.",
                "resolution": "Verify <view-id> exists."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — The user does not have Publish permission on the view.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, Workspace Admin, or has Publish permission on the view."
              },
              {
                "name": "7319",
                "description": "OBJIDNOTBELONGSTODB — The view does not belong to the specified workspace.",
                "resolution": "Ensure <workspace-id> and <view-id> are consistent."
              },
              {
                "name": "8060",
                "description": "DOMAINNOTEXIST — The domainName supplied does not exist.",
                "resolution": "Use a domain returned by the Domain and White Label APIs."
              },
              {
                "name": "8061",
                "description": "DOMAINDOESNOTBELONGSTOUSER — The caller is not an admin of the supplied domainName.",
                "resolution": "Call as an admin of that portal domain, or omit domainName."
              },
              {
                "name": "8080",
                "description": "INVALIDJSONCONFIGURATION — CONFIG is not valid JSON or contains an unsupported key.",
                "resolution": "Send only domainName and/or withCustomDomain."
              },
              {
                "name": "8115",
                "description": "VIEWNOTPUBLISHEDASPRIVATE — The view has no private link.",
                "resolution": "Call Create Private URL first."
              },
              {
                "name": "8535",
                "description": "INVALIDOAUTHTOKEN — Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with scope ZohoAnalytics.embed.read."
              },
              {
                "name": "12052",
                "description": "WORKSPACENOTENABLEDFORDOMAINACCESS — The workspace is not enabled for access through the requested portal domain.",
                "resolution": "Enable the workspace for that Client Portal domain first."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>As this is a GET request, the CONFIG value must be stringified and URL encoded before it is sent.</li><li><code>CONFIG</code> may be omitted entirely, in which case the private URL is returned on the default domain.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Publish"
        ],
        "x-zenesis-title": "Remove Private Access",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.delete"
            ]
          }
        ],
        "summary": "Remove Private Access",
        "description": "Removes the view's Private URL entirely — the private key, the associated permission set, the password, and the expiry date. Every previously distributed private URL for the view stops working. The public URL (if any) and the publish configuration are left untouched.",
        "operationId": "removePrivateAccess",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "METAOBJECTNOTPRESENT — Workspace not found.",
                "resolution": "Verify <workspace-id> and the ZANALYTICS-ORGID header."
              },
              {
                "name": "7104",
                "description": "METAOBJECTNOTPRESENT — View not found.",
                "resolution": "Verify <view-id> exists."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — The user does not have Publish permission on the workspace or Share permission on the view.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, Workspace Admin, or has Publish / Share permission."
              },
              {
                "name": "7319",
                "description": "OBJIDNOTBELONGSTODB — The view does not belong to the specified workspace.",
                "resolution": "Ensure <workspace-id> and <view-id> are consistent."
              },
              {
                "name": "7565",
                "description": "UNVERIFIEDEMAIL — The calling user's primary email address is not verified.",
                "resolution": "Verify the account's primary email address and retry."
              },
              {
                "name": "8115",
                "description": "VIEWNOTPUBLISHEDASPRIVATE — The view has no private link.",
                "resolution": "Nothing to remove; the link is already absent."
              },
              {
                "name": "8535",
                "description": "INVALIDOAUTHTOKEN — Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with scope ZohoAnalytics.embed.delete."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/publish/config": {
      "get": {
        "tags": [
          "Publish"
        ],
        "x-zenesis-title": "Get Publish Configurations",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "summary": "Get Publish Configurations",
        "description": "Returns the complete publish state of a view in one call: the public channel's audience and listing state, the private channel's password/expiry state, and the presentation configuration used to render the published page.",
        "operationId": "getPublishConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublishConfigurationsResponse"
                },
                "examples": {
                  "publicView": {
                    "description": "Public view",
                    "summary": "View published on the web, with no private link configured.",
                    "value": {
                      "status": "success",
                      "summary": "Get publish configurations",
                      "data": {
                        "publicViewConfig": {
                          "publicPermLevel": 1,
                          "isListed": false,
                          "isOrgPublicAllowed": true,
                          "orgName": "Zylker Analytics",
                          "isBussOrgPublicAllowed": true,
                          "businessOrgName": "Zylker Corporation Private Limited"
                        },
                        "privateLinkConfig": {
                          "isPrivate": false,
                          "isExpired": false,
                          "password": "-1",
                          "expiryDate": "-1"
                        },
                        "publishConfig": {
                          "includeTitle": true,
                          "includeDesc": true,
                          "includeToolBar": false,
                          "includeSocialWidgets": false,
                          "includeSearchBox": false,
                          "includeDatatypeSymbol": false,
                          "includeShowHideOption": false,
                          "isInteractive": true,
                          "legendPosition": "RIGHT",
                          "width": 800,
                          "height": 600,
                          "autoRefresh": -1,
                          "URLCriteria": "",
                          "includeAskZia": true
                        }
                      }
                    }
                  },
                  "privateLinkView": {
                    "description": "Private link view",
                    "summary": "View shared through a password protected private link, with a filter criteria applied on the published URL.",
                    "value": {
                      "status": "success",
                      "summary": "Get publish configurations",
                      "data": {
                        "publicViewConfig": {
                          "publicPermLevel": 2,
                          "isListed": false,
                          "isOrgPublicAllowed": true,
                          "orgName": "Zylker Analytics",
                          "isBussOrgPublicAllowed": false,
                          "businessOrgName": "Zylker Corporation Private Limited"
                        },
                        "privateLinkConfig": {
                          "isPrivate": true,
                          "isExpired": false,
                          "password": "Zylker@123",
                          "expiryDate": "2026-12-31"
                        },
                        "publishConfig": {
                          "includeTitle": true,
                          "includeDesc": true,
                          "includeToolBar": true,
                          "includeSocialWidgets": false,
                          "includeSearchBox": true,
                          "includeDatatypeSymbol": false,
                          "includeShowHideOption": false,
                          "isInteractive": true,
                          "legendPosition": "RIGHT",
                          "width": 800,
                          "height": 600,
                          "autoRefresh": 30,
                          "URLCriteria": "\"SalesTable\".\"Region\"='East'",
                          "includeAskZia": false
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "METAOBJECTNOTPRESENT — Workspace not found.",
                "resolution": "Verify <workspace-id> and the ZANALYTICS-ORGID header."
              },
              {
                "name": "7104",
                "description": "METAOBJECTNOTPRESENT — View not found.",
                "resolution": "Verify <view-id> exists."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — The user has neither Publish nor Make Public permission on the view.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, Workspace Admin, or has Publish / Make Public permission on the view."
              },
              {
                "name": "7319",
                "description": "OBJIDNOTBELONGSTODB — The view does not belong to the specified workspace.",
                "resolution": "Ensure <workspace-id> and <view-id> are consistent."
              },
              {
                "name": "8535",
                "description": "INVALIDOAUTHTOKEN — Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with scope ZohoAnalytics.embed.read."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>In <code>privateLinkConfig</code>, a <code>password</code> or <code>expiryDate</code> of <code>-1</code> means that no password or validity period is set.</li><li><code>legendPosition</code> and <code>includeShowHideOption</code> are returned by this API but cannot be set through Update Publish Configurations.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Publish"
        ],
        "x-zenesis-title": "Update Publish Configurations",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.update"
            ]
          }
        ],
        "summary": "Update Publish Configurations",
        "description": "Updates the presentation configuration of the view's published page — title, description, toolbar, search box, dimensions, auto-refresh interval, legend position, URL-level criteria, Ask Zia — and, when the workspace is public, its public-listing flag.",
        "operationId": "updatePublishConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdatePublishConfigurationsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "minimalEmbed": {
                  "description": "Minimal embed",
                  "summary": "Renders the view on its own, without the title, description, or toolbar.",
                  "value": {
                    "CONFIG": {
                      "includeTitle": false,
                      "includeDesc": false,
                      "includeToolBar": false
                    }
                  }
                },
                "fullToolbar": {
                  "description": "Full toolbar",
                  "summary": "Renders the view with the toolbar, search box, data type symbols, and the Ask Zia bot.",
                  "value": {
                    "CONFIG": {
                      "includeToolBar": true,
                      "includeSearchBox": true,
                      "includeDatatypeSymbol": true,
                      "includeAskZia": true
                    }
                  }
                },
                "filteredEmbed": {
                  "description": "Filtered embed",
                  "summary": "Applies a filter criteria on the published URL and refreshes the view every thirty minutes.",
                  "value": {
                    "CONFIG": {
                      "URLCriteria": "\"SalesTable\".\"Region\"='East'",
                      "autoRefresh": 30,
                      "width": 1024,
                      "height": 768,
                      "isInteractive": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "METAOBJECTNOTPRESENT — Workspace not found.",
                "resolution": "Verify <workspace-id> and the ZANALYTICS-ORGID header."
              },
              {
                "name": "7104",
                "description": "METAOBJECTNOTPRESENT — View not found.",
                "resolution": "Verify <view-id> exists."
              },
              {
                "name": "7301",
                "description": "SECURITYNOTPERMITTED — The user has neither Publish nor Make Public permission on the view.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, Workspace Admin, or has Publish / Make Public permission on the view."
              },
              {
                "name": "7319",
                "description": "OBJIDNOTBELONGSTODB — The view does not belong to the specified workspace.",
[...]
